<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    我想看的电影(547)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img1.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/shire/204847ecc7d679de915c283531d14f16cfbee65e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/shire/0b4cdb02dd620693709d9314196b617f17c2f9ea/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/shire/4888ee2fda6812f70a064a51c93b84fde8e4a3c2/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img1.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://img1.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img1.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/94e8e44/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>MewX的帐号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">帐号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=lCAN">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;82160871&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;82160871&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;82160871&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;82160871&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;82160871&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;82160871&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;82160871&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;82160871&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "82160871",
    UPLOAD_AUTH_TOKEN: "82160871:a78ed044282201620dca758e206a9bc6de4f5b46",
    SSE_TOKEN: "1edd44746f7082f96feed9ad199211f3135b292e",
    SSE_TIMESTAMP: "1672012128",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/94e8e44/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/94e8e44/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2021?source=navigation"
     >2021年度榜单</a>
    </li>
    <li    ><a href="https://www.douban.com/standbyme/2021?fullscreen=true&hidenav=true&autorotate=false&source=movie_navigation"
            target="_blank"
     >2021书影音报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2021?source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/94e8e44/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="/people/mewcatcher/">
                <img height="48" width="48" alt="MewX" src="https://img2.doubanio.com/icon/u82160871-12.jpg" />
            </a>
        </div>
        <div class="info">
            <h1>我想看的电影(547)</h1>
            <ul>
                    
        <li><a href="/people/mewcatcher/">电影主页</a></li>
    
                    
        <li><a href="/people/mewcatcher/reviews">影评</a></li>
    
                    
        <li><a href="/people/mewcatcher/question">问答</a></li>
    
                    
        <li><a href="/people/mewcatcher/do">在看</a></li>
    
                    
        <li><a href="/people/mewcatcher/wish">想看</a></li>
    
                    
        <li><a href="/people/mewcatcher/collect">看过</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/doulists">豆列</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/subject_doulists/movie">片单</a></li>
    
                    
        <li><a href="https://movie.douban.com/ticket/mine">电影票</a></li>
    
                    
        <li><a href="https://movie.douban.com/notifications">电影提醒</a></li>
    
                    
        <li><a href="/settings/">设置</a></li>
    
                    
        <li class="sep">|</li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a></li>
    
            </ul>
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按评分排序</a><span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;start=0&amp;amp;filter=schedule&amp;amp;mode=grid&amp;amp;tags_sort=count">正在热映</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;start=0&amp;amp;filter=video&amp;amp;mode=grid&amp;amp;tags_sort=count">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                136-150&nbsp;/&nbsp;547
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="/people/mewcatcher/wish?sort=time&amp;amp;start=135&amp;amp;filter=all&amp;amp;mode=list&amp;amp;tags_sort=count">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item" >
            <div class="pic">
                <a title="Jurassic World" href="https://movie.douban.com/subject/10440138/" class="nbg">
                    <img alt="Jurassic World" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2246217861.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/10440138/" class="">
                            <em>侏罗纪世界 / Jurassic World</em>
                             / 侏罗纪公园4 / Jurassic Park IV
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-06-10(中国大陆) / 2015-06-12(美国) / 克里斯·帕拉特 / 布莱丝·达拉斯·霍华德 / 文森特·多诺费奥 / 泰·辛普金斯 / 尼克·罗宾森 / 奥玛·希 / 黄荣亮 / 伊尔凡·可汗 / 朱迪·格雷尔 / 杰克·约翰逊 / 劳伦·拉普库斯 / 凯蒂·麦克格雷斯 / 布莱恩·泰 / 埃迪·J.费尔南德斯 / 因德尔·库马尔 / 安迪·巴克利 / 吉米·法伦 / 杰夫·奎卡 / 布里安娜·威廉姆斯 / 玉木宏 / 布茹克·哈特佐格 / 周帅 / 帕特里克·克劳利 / 科尔比·布斯曼 / 莫娜·西肖迪亚 / 布拉德·伯德 / 迈克尔·帕帕约翰 / 爱德华·J·德尔莫尔三世 / 科林·特莱沃若 / 埃里克·埃德尔斯坦 / 詹姆斯·杜蒙特 / 加里·维克斯 / 克洛伊·佩兰 / 朱莉娅·霍特 / 美国 / www.jurassicworld.com / 科林·特莱沃若 / 124分钟 / 侏罗纪世界 / 动作 / 科幻 / 冒险 / 里克·杰法 Rick Jaffa / 阿曼达·斯尔沃 Amanda Silver / 德里克·康纳利 Derek Connolly / 科林·特雷沃罗 Colin Trevorrow / 迈克尔·克莱顿 Michael Crichton / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-02-10</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-10440138" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="10440138:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="Jurassic World: Dominion" href="https://movie.douban.com/subject/26873582/" class="nbg">
                    <img alt="Jurassic World: Dominion" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2873135507.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26873582/" class="">
                            <em>侏罗纪世界3 / Jurassic World: Dominion</em>
                             / 侏罗纪世界3：统治 / 侏罗纪世界：统治霸权(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2022-06-01(韩国) / 2022-06-10(美国/中国大陆) / 克里斯·帕拉特 / 布莱丝·达拉斯·霍华德 / 劳拉·邓恩 / 山姆·尼尔 / 杰夫·高布伦 / 德汪达·怀斯 / 马莫多·阿西 / 伊莎贝拉·瑟蒙 / 坎贝尔·斯科特 / 黄荣亮 / 奥玛·希 / 贾斯蒂斯·史密斯 / 丹妮艾拉·皮内达 / 斯科特·黑兹 / 迪辰·拉克曼 / 克里斯托弗·普拉哈 / 芙蕾雅·帕克 / 亚历山大·欧文 / 埃尔娃·崔尔 / 特蕾莎·森登·加西亚 / 瓦拉达·塞图 / 本·阿什登 / 小恩佐·斯奎利诺 / 格利尼斯·戴维斯 / 摩西·布林斯·普兰提 / 柯基·法尔考 / 迪米特里“维加斯”蒂瓦约 / 乔·阿佐帕迪 / 本·库克 / 伯纳多·桑托斯 / 莎拉·盖林 / 美国 / 马耳他 / 科林·特莱沃若 / 146分钟 / 147分钟(中国大陆) / 161分钟(加长版) / 侏罗纪世界3 / 动作 / 科幻 / 冒险 / 艾米丽·卡迈克尔 Emily Carmichael / 科林·特莱沃若 Colin Trevorrow / 德里克·康纳利 Derek Connolly / 迈克尔·克莱顿 Michael Crichton / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-02-10</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26873582" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26873582:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="The Northman" href="https://movie.douban.com/subject/34861178/" class="nbg">
                    <img alt="The Northman" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2791746867.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/34861178/" class="">
                            <em>北欧人 / The Northman</em>
                             / 北方人(台) / 北族人(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2022-04-15(英国) / 2022-04-22(美国) / 2022-05-13(美国网络) / 亚历山大·斯卡斯加德 / 妮可·基德曼 / 克拉斯·邦 / 伊桑·霍克 / 安雅·泰勒-乔伊 / 古斯塔夫·林德 / 威廉·达福 / 艾略特·罗斯 / 菲尔·马丁 / 埃尔达·斯卡 / 欧文·弗热瑞 / 埃德加·阿布拉姆 / 杰克·加斯曼 / 英格瓦·埃盖特·西古德松 / 奥斯卡·诺瓦克 / 杰克·沃尔什 / 比约克 / 伊恩·怀特 / 凯蒂·帕廷森 / 凯特·迪基 / 谢默斯·奥哈拉 / 塔格·墨菲 / 哈弗波·朱利尔斯·比昂森 / 拉尔夫·伊内森 / 默里·麦克阿瑟 / 乔恩·坎普林 / Faoileann Cunningham / 詹姆斯·哈珀-琼斯 / 美国 / 罗伯特·艾格斯 / 2022-04-01 00:00 / 137分钟 / 北欧人 / 剧情 / 秀恩·西古尔德森 Sjón Sigurdsson / 罗伯特·艾格斯 Robert Eggers / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-02-10</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34861178" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34861178:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="The Lost City" href="https://movie.douban.com/subject/35303842/" class="nbg">
                    <img alt="The Lost City" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2876461859.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35303842/" class="">
                            <em>迷失之城 / The Lost City</em>
                             / 迷失D城 / Lost City of D
                        </a>
                    </li>
                        <li class="intro">2022-03-25(美国) / 2022-07-29(中国大陆) / 桑德拉·布洛克 / 查宁·塔图姆 / 丹尼尔·雷德克里夫 / 达明·乔伊·伦道夫 / 布拉德·皮特 / 奥斯卡·努内斯 / 帕蒂·哈里森 / 杨伯文 / 乔安·普林格尔 / 赫克托·阿尼巴尔 / 托马斯·福布斯·约翰逊 / 斯莱·刘易斯 / 亚当·尼 / 雷蒙德·李 / 安东尼·阿尔瓦雷斯 / 马西·哈罗 / 瑞恩·贾德 / 美国 / 艾伦·尼 / 亚当·尼 / 112分钟 / 110分钟(中国大陆) / 迷失之城 / 喜剧 / 动作 / 冒险 / 奥伦·尤济尔 Oren Uziel / 达纳·福克斯 Dana Fox / 亚当·尼 Adam Nee / 艾伦·尼 Aaron Nee / 赛斯·戈登 Seth Gordon / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-02-10</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35303842" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35303842:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="The Batman" href="https://movie.douban.com/subject/6424756/" class="nbg">
                    <img alt="The Batman" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2868425292.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/6424756/" class="">
                            <em>新蝙蝠侠 / The Batman</em>
                             / 蝙蝠侠(港/台) / 重启版蝙蝠侠
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2022-03-01(韩国) / 2022-03-04(美国) / 2022-03-18(中国大陆) / 2022-04-19(美国网络) / 罗伯特·帕丁森 / 佐伊·克罗维兹 / 保罗·达诺 / 科林·法瑞尔 / 杰弗里·怀特 / 安迪·瑟金斯 / 约翰·特托罗 / 彼得·萨斯加德 / 巴里·基奥恩 / 杰米·劳森 / 吉尔·佩雷斯-亚伯拉罕 / 彼得·麦克唐纳德 / 康·奥尼尔 / 亚历克斯·费恩斯 / 鲁伯特·彭利-琼斯 / 科莎·恩格勒 / 杰宁·哈瑞妮 / 卢克·罗伯茨 / 斯特拉·斯托克尔 / 桑德拉·迪金森 / 杰克·班尼特 / 约瑟夫·巴德拉玛 / 詹姆斯·伊莱斯 / 小利莫尔·马雷特 / 斯图尔特·亚历山大 / 马库斯·奥尼卢德 / 埃琳娜·沙雷 / 托德·博伊斯 / 道格拉斯·罗素 / 查尔斯·卡维尔 / 马克斯·卡维尔 / 马克·基林 / 洛娜·布朗 / 埃利奥特·沃伦 / 小田部阿基 / 布隆森·韦伯 / 阿瑟·李 / 派瑞 格拉斯普 / 娜塔丽·阿明 / 何塞‧帕尔马 / 玛吉·巴基尔 / 露丝·霍洛克斯 / 贝恩·科拉科 / 丹尼尔·厄根 / 雷切尔·汉德肖 / 爵克·哈迪 / 奥斯卡·诺瓦克 / 吉米·斯达 / 妮可拉·吉恩·马祖尔 / 杰伊·利库戈 / 美国 / 马特·里夫斯 / 176分钟 / 新蝙蝠侠 / 剧情 / 动作 / 犯罪 / 悬疑 / 马特·里夫斯 Matt Reeves / 彼得·克莱格 Peter Craig / 比尔·芬格 Bill Finger / 鲍勃·凯恩 Bob Kane / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-02-10</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-6424756" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="6424756:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="Cyrano" href="https://movie.douban.com/subject/35210635/" class="nbg">
                    <img alt="Cyrano" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2691582705.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35210635/" class="">
                            <em>西拉诺 / Cyrano</em>
                             / 大鼻子情圣(港) / 情圣西哈诺(台)
                        </a>
                    </li>
                        <li class="intro">2021-09-02(特柳赖德电影节) / 2022-01-28(美国) / 彼特·丁拉基 / 海莉·贝内特 / 小凯文·哈里森 / 巴希尔·萨拉赫丁 / 本·门德尔森 / 莫妮卡·杜兰 / 乔舒亚·詹姆斯 / 安贾纳·瓦桑 / 鲁斯·西恩 / 格伦·汉塞德 / 马克·本顿 / 理查德·麦凯布 / 彼得·怀特 / 蒂姆·迈克穆兰 / 迈克·谢泼德 / 科林·梅斯 / 布莱恩·泰里·亨利 / 塞莱斯特·多德威尔 / 英国 / 美国 / 加拿大 / 乔·赖特 / 124分钟 / 西拉诺 / 剧情 / 爱情 / 歌舞 / 艾莉卡·史密德 / 艾德蒙德·罗斯坦德 Edmond Rostand / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-02-10</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35210635" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35210635:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="Death on the Nile" href="https://movie.douban.com/subject/27203644/" class="nbg">
                    <img alt="Death on the Nile" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2854856216.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/27203644/" class="">
                            <em>尼罗河上的惨案 / Death on the Nile</em>
                             / 尼罗河谋杀案(港/台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2022-02-11(美国) / 2022-02-19(中国大陆) / 肯尼思·布拉纳 / 盖尔·加朵 / 露丝·莱斯利 / 利蒂希娅·赖特 / 艾玛·麦基 / 艾米·汉莫 / 珍妮弗·桑德斯 / 苏菲·奥康内多 / 安妮特·贝宁 / 妮基塔·查达哈 / 汤姆·巴特曼 / 亚当·加西亚 / 拉塞尔·布兰德 / 唐·弗兰奇 / 里克·沃登 / 阿里·法扎勒 / 尼亚姆·林奇 / 埃莉诺·德·罗汉 / 爱德华·刘易斯·弗伦奇 / 拉普洛斯·卡伦福佐斯 / George Jaques / 劳伦·亚历珊德拉 / 弗朗西斯·洛夫霍尔 / 维克多·阿里 / 丹尼尔·库克 / 罗茜·德怀尔 / 迈克尔·劳斯 / 阿拉·萨菲 / 苏珊娜·菲尔丁 / 查理·安森 / 奥兰多·希尔 / 美国 / 英国 / 肯尼思·布拉纳 / 127分钟 / 尼罗河上的惨案 / 剧情 / 犯罪 / 悬疑 / 迈克尔·格林 Michael Green / 阿加莎·克里斯蒂 Agatha Christie / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-02-10</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27203644" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27203644:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="West Side Story" href="https://movie.douban.com/subject/26820621/" class="nbg">
                    <img alt="West Side Story" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2762894040.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26820621/" class="">
                            <em>西区故事 / West Side Story</em>
                             / 西城故事(港/台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-12-10(美国) / 2022-03-02(美国网络) / 安塞尔·艾尔高特 / 瑞秋·泽格勒 / 阿丽亚娜·德博斯 / 大卫·阿尔瓦雷茨 / 迈克·费斯特 / 寇瑞·斯托尔 / 布莱恩·达西·詹姆斯 / 丽塔·莫雷诺 / 寇蒂斯·库克 / 凯文·科索拉克 / 麦迪·齐格勒 / 朱利叶斯·卢比奥 / 杰米·哈里斯 / 阿蒂夫·拉尼尔 / 何塞·拉蒙·罗萨里奥 / 克丽丝·怀特赫德 / 凯尔·艾伦 / 塔莉娅·莱德 / 贝尔·迈克尔斯  / 哈维·埃文斯 / 戴维·比恩 / 凯尔·休斯 / 基思·勒克里德·哈里斯 / 克劳黛特·拉利 / 纳蒂亚·奎恩 / 维克多·克鲁兹 / 雷金纳德·巴恩斯 / 伊薇特·帕里什 / 乔什·安德烈斯·里维拉 / 美国 / 史蒂文·斯皮尔伯格 / 156分钟 / 西区故事 / 剧情 / 爱情 / 犯罪 / 歌舞 / 托尼·库什纳 Tony Kushner / 亚瑟·劳伦特斯 Arthur Laurents / 英语 / 西班牙语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-02-10</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26820621" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26820621:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="The Tragedy of Macbeth" href="https://movie.douban.com/subject/33386178/" class="nbg">
                    <img alt="The Tragedy of Macbeth" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2722980045.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/33386178/" class="">
                            <em>麦克白的悲剧 / The Tragedy of Macbeth</em>
                             / Macbeth
                        </a>
                    </li>
                        <li class="intro">2021-09-24(纽约电影节) / 2021-12-25(美国) / 2022-01-14(美国网络) / 丹泽尔·华盛顿 / 弗兰西斯·麦克多蒙德 / 阿历克斯·哈赛尔 / 博迪·卡维尔 / 布莱丹·格里森 / 科里·霍金斯 / 哈利·米尔林 / 迈尔斯·安德森 / 马特·赫尔姆 / 摩西·英格拉姆 / 凯瑟琳·亨特 / 布莱恩·汤普森 / 斯蒂芬·鲁特 / 罗伯特·吉尔贝托 / 伊桑·哈钦森 / 理查德·肖特 / 西恩·帕特里克·汤玛斯 / 拉尔夫·伊内森 / 杰弗森·梅斯 / 奥利维亚·华盛顿 / 韦恩·T·卡尔 / 雅各布·麦卡锡 / 麦克斯·贝克 / 美国 / 乔尔·科恩 / 105分钟 / 麦克白的悲剧 / 剧情 / 乔尔·科恩 Joel Coen / 威廉·莎士比亚 William Shakespeare / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-02-10</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-33386178" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="33386178:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="The King&#39;s Man" href="https://movie.douban.com/subject/27038228/" class="nbg">
                    <img alt="The King&#39;s Man" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2614322167.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/27038228/" class="">
                            <em>王牌特工：源起 / The King&#39;s Man</em>
                             / 皇家特工：第一任务(港) / 金牌特务：金士曼起源(台)
                        </a>
                    </li>
                        <li class="intro">2021-12-22(美国) / 2022-02-18(美国网络) / 拉尔夫·费因斯 / 哈里斯·迪金森 / 瑞斯·伊凡斯 / 杰曼·翰苏 / 杰玛·阿特登 / 马修·古迪 / 丹尼尔·布鲁赫 / 查尔斯·丹斯 / 亚伦·泰勒-约翰逊 / 奥古斯特·迪赫 / 汤姆·霍兰德尔 / 艾莉森·斯戴曼 / 斯坦利·图齐 / 乔尔·巴斯曼 / 亚历山德拉·玛丽亚·拉娜 / 尼尔·杰克逊 / 奥利维尔·里希特斯 / 罗伯特·阿拉马约 / 布兰卡·卡蒂奇 / 罗斯·安德森 / 玛雅·西蒙森 / 托德·博伊斯 / 哈尔·福勒 / 康斯坦丁·格雷戈里 / 雷纳斯·拉特科夫斯基 / 史蒂威·戴维斯 / 杰茜·维宁 / 保罗·菲利普·克拉克 / 亚伦·沃多沃兹 / 查理·詹恩威 / 皮帕·温斯洛 / 瓦莱丽·帕赫纳 / 克洛伊·布耶斯 / 皮埃尔·伯格曼 / 大卫·克劳斯 / 英国 / 美国 / 马修·沃恩 / 130分钟 / 王牌特工：源起 / 动作 / 冒险 / 马修·沃恩 Matthew Vaughn / 卡尔·盖杜谢克 Karl Gajdusek / 马克·米勒 Mark Millar / 戴夫·吉布森 Dave Gibbons / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-02-10</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27038228" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27038228:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="Mulholland Dr." href="https://movie.douban.com/subject/1292217/" class="nbg">
                    <img alt="Mulholland Dr." src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p792248233.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1292217/" class="">
                            <em>穆赫兰道 / Mulholland Dr.</em>
                             / 失忆大道(港) / 穆荷兰大道(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2001-05-16(戛纳电影节) / 2001-10-12(美国) / 2001-11-21(法国) / 娜奥米·沃茨 / 劳拉·哈灵 / 安·米勒 / 贾斯汀·塞洛克斯 / 斯科特·科菲 / 梅利莎·乔治 / 布兰特·布里斯科 / 罗伯特·福斯特 / 凯瑟琳·汤 / 李·格兰特 / 比利·雷·赛勒斯 / 查德·艾微特 / 丽塔·塔格特 / 詹姆斯·凯伦 / 洛里·海瑞 / 安哲罗·巴达拉曼提 / 迈克尔·德·巴雷斯 / 马库斯·格雷厄姆 / 丹·哈达亚 / 马克·佩雷格里诺 / 蒙蒂·蒙哥马利 / 迈克尔·J·安德森 / 邦妮·阿伦斯 / 米歇尔·希克斯 / 派特里克·费斯克勒 / 米西·克里德 / 格诺·席尔瓦 / Charles Croughwell / 丹尼尔·雷伊 / 无 / 马亚·邦德 / 法国 / 美国 / 大卫·林奇 / 147分钟 / 穆赫兰道 / 剧情 / 悬疑 / 惊悚 / 大卫·林奇 David Lynch / 英语 / 西班牙语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-02-08</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1292217" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1292217:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="L&#39;amant" href="https://movie.douban.com/subject/1291868/" class="nbg">
                    <img alt="L&#39;amant" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p1674536431.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1291868/" class="">
                            <em>情人 / L&#39;amant</em>
                             / The Lover
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1992-01-22(法国) / 1992-06-19(英国) / 珍·玛奇 / 梁家辉 / 弗雷德丽克·梅南热 / 阿诺·乔瓦尼内蒂 / 梅尔维尔·珀波 / 丽萨·福克纳 / 让娜·莫罗 / 弗里德里克·奥伯汀 / 法国 / 英国 / 越南 / 让-雅克·阿诺 / 115分钟 / 情人 / 剧情 / 传记 / 爱情 / 情色 / 让-雅克·阿诺 Jean-Jacques Annaud / Gérard Brach / 玛格丽特·杜拉斯 Marguerite Duras / 英语 / 粤语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-02-08</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1291868" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1291868:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="The Tinder Swindler" href="https://movie.douban.com/subject/35732660/" class="nbg">
                    <img alt="The Tinder Swindler" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2841987393.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35732660/" class="">
                            <em>Tinder 诈骗王 / The Tinder Swindler</em>
                             / Tinder 大骗徒
                        </a>
                    </li>
                        <li class="intro">2022-02-02(美国网络) / 英国 / 菲丽希缇·莫里斯 /  / 114分钟 / Tinder 诈骗王 / 犯罪 / 纪录片 / 英语 / 挪威语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-02-08</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35732660" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35732660:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="长津湖之水门桥" href="https://movie.douban.com/subject/35613853/" class="nbg">
                    <img alt="长津湖之水门桥" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2846021991.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35613853/" class="">
                            <em>长津湖之水门桥</em>
                             / 水门桥 / 长津湖2
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2022-02-01(中国大陆) / 吴京 / 易烊千玺 / 朱亚文 / 李晨 / 韩东君 / 张涵予 / 耿乐 / 杜淳 / 段奕宏 / 胡军 / 王丽坤 / 杨一威 / 李卓扬 / 何跃飞 / 唐志强 / 刘治威 / 庄小龙 / 辛玉波 / 张跃 / 许明虎 / 王宁 / 王振威 / 陈泽轩 / 李小锋 / 詹姆斯·菲尔伯德 / 约翰·克鲁兹 / 史磊 / 胡学良 / 贺广治  / 黄晓航 / 曹敖日格勒 / 章小磊 / 宋玉臣 / 张志坤 / 爱琳 / 基里洛·舒尔加 / 本·奥伦斯坦 / 马蒂亚斯·洛里里 / 黎艾蒙 / 中国大陆 / 中国香港 / 徐克 / 149分钟 / 剧情 / 历史 / 战争 / 兰晓龙 Xiaolong Lan / 黄建新 Jianxin Huang / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-02-08</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35613853" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35613853:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="四海" href="https://movie.douban.com/subject/35337517/" class="nbg">
                    <img alt="四海" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2867433563.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35337517/" class="">
                            <em>四海</em>
                             / 年轻的故事 / Only Fools Rush In
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2022-02-01(中国大陆) / 刘昊然 / 刘浩存 / 沈腾 / 尹正 / 乔杉 / 周奇 / 张宥浩 / 冯绍峰 / 黄晓明 / 王彦霖 / 陈小春 / 吴彦姝 / 万梓良 / 赵子琪 / 高华阳 / 中国大陆 / 韩寒 / 128分钟 / 喜剧 / 动作 / 爱情 / 韩寒 Han Han / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-02-08</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35337517" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35337517:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/mewcatcher/wish?start=120&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid"/>
            <a href="/people/mewcatcher/wish?start=120&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >&lt;前页</a>
        </span>
        
        

                
            <a href="/people/mewcatcher/wish?start=0&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >1</a>
        
                
            <a href="/people/mewcatcher/wish?start=15&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >2</a>
        
                
            <a href="/people/mewcatcher/wish?start=30&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >3</a>
        
                
            <a href="/people/mewcatcher/wish?start=45&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >4</a>
        
                
            <a href="/people/mewcatcher/wish?start=60&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >5</a>
        
                
            <a href="/people/mewcatcher/wish?start=75&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >6</a>
        
                
            <a href="/people/mewcatcher/wish?start=90&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >7</a>
        
                
            <a href="/people/mewcatcher/wish?start=105&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >8</a>
        
                
            <a href="/people/mewcatcher/wish?start=120&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >9</a>
        
                <span class="thispage" data-total-page="37">10</span>
                
            <a href="/people/mewcatcher/wish?start=150&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >11</a>
        
                
            <a href="/people/mewcatcher/wish?start=165&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >12</a>
        
                
            <a href="/people/mewcatcher/wish?start=180&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >13</a>
        
                
            <a href="/people/mewcatcher/wish?start=195&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >14</a>
        
            <span class="break">...</span>
                
            <a href="/people/mewcatcher/wish?start=525&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >36</a>
        
            <a href="/people/mewcatcher/wish?start=540&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >37</a>
        
        <span class="next">
            <link rel="next" href="/people/mewcatcher/wish?start=150&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid"/>
            <a href="/people/mewcatcher/wish?start=150&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="https://www.douban.com/people/mewcatcher/" class="side-info-avatar"><img height="48" width="48" alt="MewX" src="https://img2.doubanio.com/icon/u82160871-12.jpg" /></a>
    <div class="side-info-txt">
        <h3>MewX</h3>
        &gt;&nbsp;<a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a>
    </div>
    <div class="user-content">
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="/people/mewcatcher/">我的电影主页</a>
        </p>
    </div>
            
    <h2>
        想看的标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

        
        
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=time&amp;start=135&amp;filter=all&amp;mode=grid&amp;tags_sort=name">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">


    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E7%A7%91%E5%B9%BB&amp;mode=grid" title="科幻">科幻</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E5%8A%A8%E7%94%BB&amp;mode=grid" title="动画">动画</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=2018&amp;mode=grid" title="2018">2018</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E6%97%A5%E6%9C%AC&amp;mode=grid" title="日本">日本</a>
        <span>1</span>
    </li>
</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"count","filter":"all","tag":"日本","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/mewcatcher/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "wish"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/mewcatcher/wish?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2022 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-684b75c55-jprh8-->

  <script>_SPLITTEST=''</script>
</body>

</html>


