<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    我想看的电影(547)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img1.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/shire/204847ecc7d679de915c283531d14f16cfbee65e/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/shire/0b4cdb02dd620693709d9314196b617f17c2f9ea/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/movie/252bef058b97005c6a41e8f1b9f7b06b84bc71b3/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/shire/4888ee2fda6812f70a064a51c93b84fde8e4a3c2/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/shire/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img1.doubanio.com/f/shire/7ff3fca4c2cba066a444f5f05c715c108ea61ef3/css/ui/mypage.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://img1.doubanio.com/f/shire/2c0c1c6b83f9a457b0f38c38a32fc43a42ec9bad/js/do.js" data-cfg-autoload="false"></script>

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img1.doubanio.com/misc/mixed_static/7f9d0fabbdb1fe29.css">

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/94e8e44/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>MewX的帐号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">帐号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=lCAN">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;82160871&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;82160871&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;82160871&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;82160871&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;82160871&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;82160871&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;82160871&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;82160871&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "82160871",
    UPLOAD_AUTH_TOKEN: "82160871:a78ed044282201620dca758e206a9bc6de4f5b46",
    SSE_TOKEN: "964b6d2dc0ac17638998fdb9d8d71ef6a54a5466",
    SSE_TIMESTAMP: "1672012143",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/94e8e44/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/94e8e44/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2021?source=navigation"
     >2021年度榜单</a>
    </li>
    <li    ><a href="https://www.douban.com/standbyme/2021?fullscreen=true&hidenav=true&autorotate=false&source=movie_navigation"
            target="_blank"
     >2021书影音报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2021?source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/94e8e44/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="/people/mewcatcher/">
                <img height="48" width="48" alt="MewX" src="https://img2.doubanio.com/icon/u82160871-12.jpg" />
            </a>
        </div>
        <div class="info">
            <h1>我想看的电影(547)</h1>
            <ul>
                    
        <li><a href="/people/mewcatcher/">电影主页</a></li>
    
                    
        <li><a href="/people/mewcatcher/reviews">影评</a></li>
    
                    
        <li><a href="/people/mewcatcher/question">问答</a></li>
    
                    
        <li><a href="/people/mewcatcher/do">在看</a></li>
    
                    
        <li><a href="/people/mewcatcher/wish">想看</a></li>
    
                    
        <li><a href="/people/mewcatcher/collect">看过</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/doulists">豆列</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/subject_doulists/movie">片单</a></li>
    
                    
        <li><a href="https://movie.douban.com/ticket/mine">电影票</a></li>
    
                    
        <li><a href="https://movie.douban.com/notifications">电影提醒</a></li>
    
                    
        <li><a href="/settings/">设置</a></li>
    
                    
        <li class="sep">|</li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a></li>
    
            </ul>
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按评分排序</a><span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url("/pics/icon/tongcheng_tab_down.gif") no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url("/pics/icon/tongcheng_tab_up.gif") no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;start=0&amp;amp;filter=schedule&amp;amp;mode=grid&amp;amp;tags_sort=count">正在热映</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;start=0&amp;amp;filter=video&amp;amp;mode=grid&amp;amp;tags_sort=count">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                331-345&nbsp;/&nbsp;547
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="/people/mewcatcher/wish?sort=time&amp;amp;start=330&amp;amp;filter=all&amp;amp;mode=list&amp;amp;tags_sort=count">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item" >
            <div class="pic">
                <a title="Ahsoka" href="https://movie.douban.com/subject/35284486/" class="nbg">
                    <img alt="Ahsoka" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2628138782.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35284486/" class="">
                            <em>阿索卡 / Ahsoka</em>
                             / 曼达洛人衍生剧：阿索卡 / Ahsoka Tano
                        </a>
                    </li>
                        <li class="intro">罗莎里奥·道森 / 海登·克里斯滕森 / 刘承羽 / 玛丽·伊丽莎白·温斯特德 / 雷·史蒂文森 / 伊万娜·萨赫诺 / 艾曼·埃斯凡迪 / 美国 / 戴夫·菲洛尼 / 彼得·拉姆齐 / 阿索卡·塔诺 / 阿索卡 / 剧情 / 动作 / 科幻 / 奇幻 / 冒险 / 戴夫·菲洛尼 Dave Filoni / 乔治·卢卡斯 George Lucas / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-02-02</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35284486" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35284486:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="Obi-Wan Kenobi" href="https://movie.douban.com/subject/27668664/" class="nbg">
                    <img alt="Obi-Wan Kenobi" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2872516470.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/27668664/" class="">
                            <em>欧比旺 / Obi-Wan Kenobi</em>
                             / 欧比-旺·克诺比 / 星球大战外传：欧比旺
                        </a>
                    </li>
                        <li class="intro">2022-05-27(美国) / 伊万·麦克格雷格 / 海登·克里斯滕森 / 詹姆斯·厄尔·琼斯 / 维维恩·莱拉·布莱尔 / 摩西·英格拉姆 / 库梅尔·南贾尼 / 连姆·尼森 / 伊恩·麦克迪阿梅德 / 姜成镐 / 因迪拉·瓦玛 / 鲁伯特·弗兰德 / 本·萨弗迪 / 乔尔·埃哲顿 / 邦妮·皮耶斯 / 格兰特·菲利 / 吉米·斯密茨 / 西蒙娜·凯塞尔 / 特穆拉·莫里森 / 伊斯特-罗丝·麦克格雷格 / 小奥谢拉·杰克逊 / 马里斯·阿尔瓦雷斯 / 玛雅·厄斯金 / 莱亚·吉斯特德 / 赖德·麦克劳克林 / 弗利 / 扎克·布拉夫 / Ming Qiu / 威尔·韦斯特沃特 / 乔什·罗森格兰特 / Cha-Lee Yoon / 德里克·巴斯科 / 罗伯塔·斯巴达 / 安东尼·丹尼尔斯 / 约纳斯·基布雷亚布 / 美国 / 黛博拉·周 / 未命名欧比旺剧集 / 36-55分钟 / 欧比旺 / 动作 / 科幻 / 冒险 / 卓比·哈罗德 Joby Harold / 汉娜·弗里德曼 Hannah Friedman / 霍辛·阿米尼 Hossein Amini / 斯图尔特·贝亚蒂耶 Stuart Beattie / 安德鲁·斯坦顿 Andrew Stanton / 乔治·卢卡斯 George Lucas / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-02-02</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27668664" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27668664:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="The Book of Boba Fett" href="https://movie.douban.com/subject/35291777/" class="nbg">
                    <img alt="The Book of Boba Fett" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2713401318.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35291777/" class="">
                            <em>波巴·费特之书 / The Book of Boba Fett</em>
                             / 曼达洛人衍生剧
                        </a>
                    </li>
                        <li class="intro">2021-12-29(美国) / 特穆拉·莫里森 / 温明娜 / 佩德罗·帕斯卡 / 马克·哈米尔 / 艾米·塞德丽丝 / 索菲·撒切尔 / 乔丹·博尔格 / 科里·伯顿 / 大卫·帕斯奎斯 / 凯瑞·琼斯 / 马特·贝里 / 罗莎里奥·道森 / 斯蒂芬·鲁特 / 蒂莫西·奥利芬特 / 詹妮弗·比尔斯 / 丹尼·特雷霍 / 格雷厄姆·汉密尔顿 / 罗伯特·罗德里格兹 / 菲尔·拉马 / 丹尼尔·洛根 / 艾米莉·斯沃洛 / 海伦·萨德勒 / Frank Trigg / 马克斯·洛伊德-琼斯 / 李善亨 / Jeffrey J. Dashnaw / W·厄尔·布朗 / 斯凯勒·拜布尔 / 邢思杰 / 乔·奥斯蒙德 / 阿兰·格拉夫 / 乔安娜·贝内特 / 美国 / 罗伯特·罗德里格兹 / 斯戴芙·格林 / 凯文·坦查隆 / 布莱丝·达拉斯·霍华德 / 戴夫·菲洛尼 / 波巴·费特之书 / 38-59分钟 / 波巴·费特之书 / 动作 / 科幻 / 冒险 / 乔恩·费儒 Jon Favreau / 戴夫·菲洛尼 Dave Filoni / Noah Kloor / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-02-02</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35291777" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35291777:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="Andor" href="https://movie.douban.com/subject/30376895/" class="nbg">
                    <img alt="Andor" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2877106534.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30376895/" class="">
                            <em>安多 第一季 / Andor Season 1</em>
                             / 星球大战外传：侠盗一号角色前传剧 / 安道尔(台)
                        </a>
                    </li>
                        <li class="intro">2022-09-21(美国) / 迭戈·卢纳 / 斯特兰·斯卡斯加德 / 吉娜薇·欧瑞丽 / 丹妮斯·高夫 / 凯尔·索列尔 / 阿德里娅·阿霍纳 / 费奥纳·肖 / 安迪·瑟金斯 / 福里斯特·惠特克 / 乔普林·西伯顿 / 费伊·马赛 / 瓦拉达·塞图 / 伊丽莎白·杜劳 / 阿拉斯塔尔·麦肯泽 / 安东·莱瑟 / 本·迈尔斯 / 邓肯·鲍 / 戴夫·查普曼 / 詹姆斯·麦卡德尔 / 亚历克斯·费恩斯 / 加里·比德尔 / 安东尼奥·维纳 / 凯瑟琳·亨特 / 勃朗特·卡迈克尔 / 鲁珀特·范西塔特 / 斯坦利·汤森德 / 艾邦·摩斯-巴克拉赫 / 埃里克斯·劳瑟 / 小格什温·尤斯塔什 / 雅各布·詹姆斯·贝西克 / 理查德·迪兰 / 萨勒·利米 / 罗伯特·埃姆斯 / 比蒂·埃德尼 / 乔舒亚·詹姆斯 / 诺弗·迈克伊万 / 亚力克斯·布莱克 / 克里斯托弗·法里班克 / 约瑟夫·戴维斯 / 克雷蒙斯·施伊克 / 布莱恩·博维尔 / 艾丹·库克 / 基兰·奥布莱恩 / 汤姆·里德 / 拉萨克·库科伊 / 维尔夫·斯科尔丁 / 李·罗斯 / 迈克尔·吉恩 / 本·福克斯 / 本·贝利·史密斯 / 安东·桑德斯 / 阿宾·格雷亚 / 露西·拉塞尔 / 安迪·加什古德 / 罗莎琳德·霍尔斯特德 / 哈利·安东 / 迈克尔·奥丁·卡特赖特 / John Joseph / 艾丽丝·奥尔尤因 / 美国 / 托比·海恩斯 / 苏珊娜·怀特 / 本·卡隆 / 安多 / 40-55分钟 / 安多 / 剧情 / 动作 / 科幻 / 惊悚 / 冒险 / 托尼·吉尔罗伊 Tony Gilroy / 丹·吉尔罗伊 Dan Gilroy / 史蒂芬·希夫 Stephen Schiff / 鲍尔·威利蒙 Beau Willimon / 乔治·卢卡斯 George Lucas / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-02-02</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30376895" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30376895:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="The Mandalorian" href="https://movie.douban.com/subject/35048728/" class="nbg">
                    <img alt="The Mandalorian" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2873654616.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35048728/" class="">
                            <em>曼达洛人 第三季 / The Mandalorian Season 3</em>
                            
                        </a>
                    </li>
                        <li class="intro">2023-03-01(美国) / 佩德罗·帕斯卡 / 卡尔·韦瑟斯 / 吉安卡罗·埃斯波西托 / 凯缇·萨克霍夫 / 克里斯托弗·洛伊德 / 特穆拉·莫里森 / 温明娜 / 艾米·塞德丽丝 / 蒂莫西·奥利芬特 / 艾米莉·斯沃洛 / 奥米德·阿布塔西 / 李善亨 / 比尔·伯尔 / 美国 / 卡尔·韦瑟斯 / 布莱丝·达拉斯·霍华德 / 黛博拉·周 / 塔伊加·维迪提 / 佩顿·里德 / 罗伯特·罗德里格兹 / 曼达洛人 / 40分钟 / 曼达洛人 / 动作 / 科幻 / 奇幻 / 冒险 / 乔恩·费儒 Jon Favreau / 乔治·卢卡斯 George Lucas / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-02-02</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35048728" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35048728:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="The Witcher: Blood Origin" href="https://movie.douban.com/subject/35158177/" class="nbg">
                    <img alt="The Witcher: Blood Origin" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2884694248.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35158177/" class="">
                            <em>猎魔人：血源 / The Witcher: Blood Origin</em>
                             / 猎魔士：血源 / 猎魔士：血缘
                        </a>
                    </li>
                        <li class="intro">2022-12-25(美国) / 杨紫琼 / 索菲亚·布朗 / 劳伦斯·欧弗林 / 伦尼·亨利 / 米伦·麦克 / 迪兰·莫兰 / 雅各布·柯林斯-莱维 / 弗朗西斯卡·米尔斯 / 纳撒尼尔·库蒂斯 / 赫柏·贝尔德索尔 / 金·阿迪斯 / 明妮·德里弗 / 丹尼尔·法瑟斯 / 亚当·扬 / 伊娃·索尔维 / 理查德·萨墨斯-卡尔维特 / 卡里什马·纳维卡 / Natasha Patel / 盖伊·瑞斯 / 朱迪·特纳-史密斯 / Julia Frith / Antonio Galas / Ronan Doyle / Jordan Whitby / Lucas Button / James Barnes / Vilhelm Þór Neto / Shanika Ocean / Chris Jarman / Zach Wyatt / Huw Novelli / Lizzie Annis / Amy Murray / Hjörtur Jóhann Jónsson / Isla Gie / Joshua Neil / Faoileann Cunningham / Aidan O&#39;Callaghan / 美国 / 波兰 / 莎拉·奥格曼 / 维姬·朱森 /  / 猎魔人：血源 / 剧情 / 动作 / 悬疑 / 奇幻 / 冒险 / 德克兰·德·巴拉 Declan De Barra / 安杰·萨普科夫斯基 Andrzej Sapkowski / Kiersten Van Horne / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-01-27</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35158177" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35158177:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="Wolf Creek 2" href="https://movie.douban.com/subject/10745412/" class="nbg">
                    <img alt="Wolf Creek 2" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2188440503.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/10745412/" class="">
                            <em>狼溪2 / Wolf Creek 2</em>
                            
                        </a>
                    </li>
                        <li class="intro">2014-02-20(澳大利亚) / 约翰·贾瑞特 / 瑞安·柯尔 / 香努·艾诗琳 / 菲利普·克劳斯 / 尚恩·康纳 / 本·杰拉德 / 杰拉德·肯尼迪 / 安妮·拜伦 / 克洛伊·博勒姆 / 嘉莉·丹妮尔 / 尼克·英格里希 / 莎拉·罗伯茨 / 玛莎·瓦西列芙斯卡娅 / 乔丹·科万 / 澳大利亚 / 克瑞格·麦克林恩 / 106分钟 / 狼溪2 / 惊悚 / 克瑞格·麦克林恩 Greg Mclean / 亚伦·斯特恩 Aaron Sterns / 英语 / 德语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-01-14</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-10745412" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="10745412:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="Wolf Creek" href="https://movie.douban.com/subject/1424661/" class="nbg">
                    <img alt="Wolf Creek" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p1467752743.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1424661/" class="">
                            <em>狼溪 / Wolf Creek</em>
                             / 狼溪
                        </a>
                    </li>
                        <li class="intro">2005-11-03(澳大利亚) / 约翰·贾瑞特 / 卡桑德拉·玛格拉斯 / 凯斯蒂·莫拉西 / 内森·菲利普斯 / 安迪·麦克菲 / 亚伦·斯特恩 / Eddie White / 盖伊·奥唐纳 / 克瑞格·麦克林恩 / Aaron J. March / 泰莉莎·帕尔墨 / 肖恩·甘农 / 澳大利亚 / 克瑞格·麦克林恩 / 99 分钟 / 104 分钟(unrated version) / 狼溪 / 恐怖 / 克瑞格·麦克林恩 Greg Mclean / 英语 / 瑞典语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-01-14</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1424661" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1424661:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="Finding Neverland" href="https://movie.douban.com/subject/1308831/" class="nbg">
                    <img alt="Finding Neverland" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2165586020.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1308831/" class="">
                            <em>寻找梦幻岛 / Finding Neverland</em>
                             / 不老的传说 / 寻找新乐园
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2004-09-04(威尼斯电影节) / 2004-11-12(美国) / 约翰尼·德普 / 凯特·温丝莱特 / 达斯汀·霍夫曼 / 弗莱迪·海默 / 朱莉·克里斯蒂 / 拉达·米切尔 / 伊恩·哈特 / 凯特·马伯里 / 凯莉·麦克唐纳 / 麦肯锡·克鲁克 / 托比·琼斯 / 马克·福斯特 / 托比亚斯·门基斯 / 艾琳·伊赛尔 / Nick Roud / 蒂姆·波特 / Joe Prospero / Luke Spill / 安格斯·巴尼特 / 简·布克 / 美国 / 英国 / 马克·福斯特 / 106分钟 / 101分钟(DVD) / 寻找梦幻岛 / 传记 / 剧情 / 家庭 / Allan Knee / David Magee / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-01-12</span>

                            
                    </li>
                    <li>
                        <span class="comment">Finding Nevernland 音乐圈粉</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1308831" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1308831:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="ねらわれた学園" href="https://movie.douban.com/subject/10740299/" class="nbg">
                    <img alt="ねらわれた学園" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p1749595098.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/10740299/" class="">
                            <em>被狙击的学园 / ねらわれた学園</em>
                             / 通灵学园大作战(台) / 瞄准学校
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2012-11-10(日本) / 本城雄太郎 / 渡边麻友 / 花泽香菜 / 小野大辅 / 户松遥 / 平田广明 / 内田直哉 / 木内秀信 / 木村良平 / 石川由依 / 菊本平 / 伊藤加奈惠 / 佐仓绫音 / 吉永拓斗 / 日本 / www.neragaku.com / 中村亮介 / 105分钟 / 被狙击的学园 / 动画 / 眉村卓 / 中村亮介 Nakamura Ryousuke / 内藤裕子 / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-01-10</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-10740299" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="10740299:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="Death to 2020" href="https://movie.douban.com/subject/35275115/" class="nbg">
                    <img alt="Death to 2020" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2628834126.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35275115/" class="">
                            <em>2020去死 / Death to 2020</em>
                             / 死于2020 / 再也不见2020
                        </a>
                    </li>
                        <li class="intro">2020-12-27(美国网络) / 塞缪尔·杰克逊 / 休·格兰特 / 丽莎·库卓 / 库梅尔·南贾尼 / 崔茜·尤玛 / 萨姆森·卡约 / 莱斯莉·琼斯 / 戴安·摩根 / 克里斯汀·米利欧缇 / 乔·基瑞 / 劳伦斯·菲什伯恩 / 莉莉·沙利文 / 查理·布鲁克 / 美国 / 阿尔·坎贝尔 / 查理·布鲁克 / 70分钟 / 2020去死 / 喜剧 / 查理·布鲁克 Charlie Brooker / 安娜贝尔·琼斯 Annabel Jones / Tom Baker / Kemah Bob / Ken Bordell / Munya Chawawa / Constance Cheng / Alan Connor / Erika Ehler / Charlie George / Eli Goldstone / Mollie Goodfellow / Jason Hazeley / Angelo Irving / Kae Kurd / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-01-06</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35275115" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35275115:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="四个春天" href="https://movie.douban.com/subject/27191492/" class="nbg">
                    <img alt="四个春天" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2540578887.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/27191492/" class="">
                            <em>四个春天</em>
                             / Four Springs
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-12-30(UCCA艺术放映) / 2018-07-23(FIRST青年影展) / 2019-01-04(中国大陆) / 陆运坤 / 李桂贤 / 陆庆伟 / 陆庆松 / 陆庆屹 / 中国大陆 / 陆庆屹 / 105分钟 / 纪录片 / 家庭 / 贵州独山话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-01-05</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27191492" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27191492:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="Neujahrskonzert der Wiener Philharmoniker 2021" href="https://movie.douban.com/subject/35305937/" class="nbg">
                    <img alt="Neujahrskonzert der Wiener Philharmoniker 2021" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2629624015.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35305937/" class="">
                            <em>2021年维也纳新年音乐会 / Neujahrskonzert der Wiener Philharmoniker 2021</em>
                             / New Year&#39;s Concert 2021
                        </a>
                    </li>
                        <li class="intro">2021-01-01(奥地利) / 里卡尔多·穆蒂 / 维也纳爱乐管弦乐团 / 奥地利 / www.wienerphilharmoniker.at/de/newyearsconcert/newyearsconcert2021 / 2021年维也纳新年音乐会 / 纪录片 / 德语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-01-04</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35305937" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35305937:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="Julie &amp; Julia" href="https://movie.douban.com/subject/2996640/" class="nbg">
                    <img alt="Julie &amp; Julia" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p596884844.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/2996640/" class="">
                            <em>朱莉与朱莉娅 / Julie &amp; Julia</em>
                             / 朱莉对朱莉亚隔代厨神(港) / 美味关系(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2009-08-07 / 梅丽尔·斯特里普 / 艾米·亚当斯 / 斯坦利·图齐 / 克里斯·梅西纳 / 琳达·伊蒙 / 海伦·凯莉 / 玛丽·莱恩·莱杰斯库 / 简·林奇 / 范妮莎·费丽托 / 凯西·威尔逊 / 弗朗西斯·斯特恩哈根  / 玛丽·凯·普莱斯 / 吉莉安 巴赫 / 奥黛丽·欧塔维阿诺 / 海伦·考克斯 / 黛伯拉·拉什 / 达林·德·保罗 / 克里斯特尔·科尼尔 / 理查德·贝金斯 / Lou D&#39;Amato / Dianne Dreyer / Corby Kummer / Jonah Triebwasser / Nancy Digonis / 汤姆·斯特拉特福 / Pamela Stewart / 布莱恩·阿维尔斯 / Stephen Bogardus / George Bartenieff / Jeff Brooks / 马塞林·休格特 / 雷马克拉姆齐 / Peter Riga / Paul Thornton / 艾琳·迪利 / 肯·斯拉迪克 / 美国 / 诺拉·艾芙隆 / 123分钟 / 朱莉与朱莉娅 / 剧情 / 传记 / 诺拉·艾芙隆 Nora Ephron / 英语 / 法语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-01-04</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-2996640" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="2996640:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item" >
            <div class="pic">
                <a title="Begin Again" href="https://movie.douban.com/subject/6874403/" class="nbg">
                    <img alt="Begin Again" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2250287733.jpg" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/6874403/" class="">
                            <em>再次出发之纽约遇见你 / Begin Again</em>
                             / 再次出发 / 歌曲改变人生
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2013-09-07(多伦多电影节) / 2014-07-11(美国) / 2015-06-26(中国大陆) / 凯拉·奈特莉 / 马克·鲁弗洛 / 亚当·莱文 / 詹姆斯·柯登 / 海莉·斯坦菲尔德 / 凯瑟琳·基纳 / 茅斯·达夫 / 罗伯·莫洛 / 伊恩·布罗茨基 / 香农·沃尔什 / 大卫·埃伯利斯 / 马科·阿桑特 / 玛丽·凯瑟琳·歌瑞森 / 詹·雅各布 / 席洛·格林 / 詹妮弗·李·杰克逊 / 特里·刘易斯 / 吉米·帕伦博 / 西蒙·德兰尼 / 丹妮尔·布里瑟布瓦 / 基恩·鲁弗洛 / 尼古拉斯·丹尼尔·冈萨雷斯 / 麦迪·科尔曼 / 阿雅·卡什 / 大卫·彭德尔顿 / 保罗·罗梅罗 / 安德鲁·塞伦 / 凯伦·皮特曼 / 罗恩·沃斯 / 美国 / 约翰·卡尼 / 104分钟 / 再次出发之纽约遇见你 / 喜剧 / 爱情 / 音乐 / 约翰·卡尼 John Carney / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-01-04</span>

                            
                    </li>
                    <li>
                        <span class="comment">musical</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-6874403" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="6874403:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/mewcatcher/wish?start=315&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid"/>
            <a href="/people/mewcatcher/wish?start=315&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >&lt;前页</a>
        </span>
        
        
            
            <a href="/people/mewcatcher/wish?start=0&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >1</a>
        
            <a href="/people/mewcatcher/wish?start=15&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >2</a>
        <span class="break">...</span>

                
            <a href="/people/mewcatcher/wish?start=270&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >19</a>
        
                
            <a href="/people/mewcatcher/wish?start=285&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >20</a>
        
                
            <a href="/people/mewcatcher/wish?start=300&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >21</a>
        
                
            <a href="/people/mewcatcher/wish?start=315&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >22</a>
        
                <span class="thispage" data-total-page="37">23</span>
                
            <a href="/people/mewcatcher/wish?start=345&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >24</a>
        
                
            <a href="/people/mewcatcher/wish?start=360&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >25</a>
        
                
            <a href="/people/mewcatcher/wish?start=375&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >26</a>
        
                
            <a href="/people/mewcatcher/wish?start=390&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >27</a>
        
            <span class="break">...</span>
                
            <a href="/people/mewcatcher/wish?start=525&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >36</a>
        
            <a href="/people/mewcatcher/wish?start=540&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >37</a>
        
        <span class="next">
            <link rel="next" href="/people/mewcatcher/wish?start=345&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid"/>
            <a href="/people/mewcatcher/wish?start=345&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                
    
    


<div class="side-info">
    <a href="https://www.douban.com/people/mewcatcher/" class="side-info-avatar"><img height="48" width="48" alt="MewX" src="https://img2.doubanio.com/icon/u82160871-12.jpg" /></a>
    <div class="side-info-txt">
        <h3>MewX</h3>
        &gt;&nbsp;<a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a>
    </div>
    <div class="user-content">
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="/people/mewcatcher/">我的电影主页</a>
        </p>
    </div>
            
    <h2>
        想看的标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

        
        
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=time&amp;start=330&amp;filter=all&amp;mode=grid&amp;tags_sort=name">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">


    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E7%A7%91%E5%B9%BB&amp;mode=grid" title="科幻">科幻</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E5%8A%A8%E7%94%BB&amp;mode=grid" title="动画">动画</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=2018&amp;mode=grid" title="2018">2018</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E6%97%A5%E6%9C%AC&amp;mode=grid" title="日本">日本</a>
        <span>1</span>
    </li>
</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"count","filter":"all","tag":"日本","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/mewcatcher/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "wish"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/mewcatcher/wish?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2022 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-684b75c55-jsr6h-->

  <script>_SPLITTEST=''</script>
</body>

</html>


