<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    我想看的电影(588)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img1.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/02814fbb5bee25484516bd0a642af695f7ec5a83/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/movie/cb1cb6aaa244dff6a281d103ff26d445debd130a/dist/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/aa9559674f2476cdc16f755b3cdc4ebc478db669/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img1.doubanio.com/f/vendors/e83b5821d4d376b18130d73c7bffc8a78fe82947/css/ui/mypage.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <style type="text/css">
        #db-usr-profile .info ul li { margin-right: 10px;}
    
    .side-info {
        overflow: hidden;
        *zoom: 1;
        margin-bottom: 20px;
        padding: 16px;
        background: #F0F3F5;
    }
    .side-info-avatar {
        float: left;
        margin-right: 14px;
    }
    .side-info-txt {
        word-wrap: break-word;
        overflow: hidden;
        *zoom: 1;
    }
    .side-info .user-content{
        margin-top:15px;
    }
    .side-info-txt h3 {
        margin: 0;
        font-size: 16px;
        background: none;
        color: #111;
    }
</style>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/164cfd8/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>MewX的账号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">账号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=itS8">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;82160871&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;82160871&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;82160871&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;82160871&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;82160871&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;82160871&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;82160871&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;82160871&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "82160871",
    UPLOAD_AUTH_TOKEN: "82160871:dc21e2b5320d9cb31a88bd4c16fabca3620337f0",
    SSE_TOKEN: "0d59497b18139df9cf947fe5efcd31815aac5bff",
    SSE_TIMESTAMP: "1702901428",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/164cfd8/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/164cfd8/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2022/?fullscreen=1&source=navigation"
     >2022年度榜单</a>
    </li>
    <li    ><a href="https://standbyme2022.douban.com/?autorotate=false&fullscreen=true&hidenav=true&source=web_navigation"
            target="_blank"
     >2022书影音报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2022/?fullscreen=1&source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/164cfd8/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="/people/mewcatcher/">
                <img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" />
            </a>
        </div>
        <div class="info">
            <h1>我想看的电影(588)</h1>
            <ul>
                    
        <li><a href="/people/mewcatcher/">电影主页</a></li>
    
                    
        <li><a href="/people/mewcatcher/reviews">影评</a></li>
    
                    
        <li><a href="/people/mewcatcher/question">问答</a></li>
    
                    
        <li><a href="/people/mewcatcher/do">在看</a></li>
    
                    
        <li><a href="/people/mewcatcher/wish">想看</a></li>
    
                    
        <li><a href="/people/mewcatcher/collect">看过</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/doulists">豆列</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/subject_doulists/movie">片单</a></li>
    
                    
        <li><a href="https://movie.douban.com/ticket/mine">电影票</a></li>
    
                    
        <li><a href="https://movie.douban.com/notifications">电影提醒</a></li>
    
                    
        <li><a href="/settings/">设置</a></li>
    
                    
        <li class="sep">|</li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a></li>
    
            </ul>
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按评分排序</a><span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url('https://img1.doubanio.com/f/movie/479b9d6dcc35cd548d9cd1a2d826f23213f5868c/pics/movie/icons/tongcheng_tab_down.gif') no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url('https://img1.doubanio.com/f/movie/0badd8bb59652acb2f2823388150bdf1c02502f8/pics/movie/icons/tongcheng_tab_up.gif') no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url('https://img1.doubanio.com/f/movie/479b9d6dcc35cd548d9cd1a2d826f23213f5868c/pics/movie/icons/tongcheng_tab_down.gif') no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url('https://img1.doubanio.com/f/movie/0badd8bb59652acb2f2823388150bdf1c02502f8/pics/movie/icons/tongcheng_tab_up.gif') no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;start=0&amp;amp;filter=schedule&amp;amp;mode=grid&amp;amp;tags_sort=count">正在热映</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;start=0&amp;amp;filter=video&amp;amp;mode=grid&amp;amp;tags_sort=count">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                61-75&nbsp;/&nbsp;588
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="/people/mewcatcher/wish?sort=time&amp;amp;start=60&amp;amp;filter=all&amp;amp;mode=list&amp;amp;tags_sort=count">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item comment-item" data-cid="3716921342" >
            <div class="pic">
                <a title="Poker Face" href="https://movie.douban.com/subject/35402785/" class="nbg">
                    <img alt="Poker Face" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2886311509.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35402785/" class="">
                            <em>扑克脸 第一季 / Poker Face Season 1</em>
                             / 阴面纸牌
                        </a>
                    </li>
                        <li class="intro">2023-01-26(美国) / 娜塔莎·雷昂 / 阿德里安·布罗迪 / 约瑟夫·高登-莱维特 / 朗·普尔曼 / 科洛·塞维尼 / 许玮伦 / 艾伦·巴金 / 周洪 / 蒂姆·布雷克·尼尔森 / 梅根·苏丽 / 科尔顿·瑞安 / 布兰登·迈克尔·霍尔 / 尼克·诺特 / 本杰明·布拉特 / 查尔斯·梅尔顿 / 里尔·莱尔·哈瓦瑞 / 埃帕莎·默克森 / 大卫·卡斯塔尼达 / 帕特里克·克莱因 / 贾米拉·贾米尔 / 朱迪斯·赖特 / K·卡兰 / 蒂姆·麦道斯 / 陈大卫 / Erik McKay / 丹妮尔·麦克唐纳 / 雷亚·普尔曼 / 莫莉·法瑞尔-萨维奇 / 奥德丽·科尔萨 / 美国 / 莱恩·约翰逊 / 扑克脸 / 58分钟 / 扑克脸 / 犯罪 / 悬疑 / 莱恩·约翰逊 Rian Johnson / 查理·佩珀 / 爱丽丝·朱 Alice Ju / 瓦耶特·凯恩 / 克里斯廷·博伊兰 Christine Boylan / 乔·劳森 Joe Lawson / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-03-11</span>

                            
                    </li>
                    <li>
                        <span class="comment">stan的广告封面</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35402785" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35402785:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3699362348" >
            <div class="pic">
                <a title="三体：大史" href="https://movie.douban.com/subject/36231260/" class="nbg">
                    <img alt="三体：大史" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2893464507.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36231260/" class="">
                            <em>三体：大史</em>
                             / 三体真人版衍生剧
                        </a>
                    </li>
                        <li class="intro">于和伟 / 中国大陆 / 杨磊 / 剧情 / 科幻 / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-02-21</span>

                            
                    </li>
                    <li>
                        <span class="comment">这也可以？</span>
                        
                            <span class="pl">(3 有用)</span>
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36231260" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36231260:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3675782306" >
            <div class="pic">
                <a title="The Commuter" href="https://movie.douban.com/subject/7056414/" class="nbg">
                    <img alt="The Commuter" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2517770792.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/7056414/" class="">
                            <em>通勤营救 / The Commuter</em>
                             / 疾速救援(台) / 追命列车(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2018-01-12(美国) / 2018-03-30(中国大陆) / 连姆·尼森 / 维拉·法米加 / 帕特里克·威尔森 / 乔纳森·班克斯 / 山姆·尼尔 / 伊丽莎白·麦戈文 / 基连·斯科特 / 沙扎德·拉蒂夫 / 安迪·尼曼 / 克拉拉·拉戈 / 罗兰·默勒 / 弗洛伦丝·皮尤 / 迪恩-查尔斯·查普曼 / 埃拉-雷·史密斯 / 妮拉·阿利亚 / 柯林·麦克法兰 / 寇布勒·霍尔德布鲁克-史密斯 / 亚当·那加提斯 / 金斯利·本-阿迪尔 / 戴姆森·伊德瑞斯 / 本·卡普兰 / 利蒂希娅·赖特 / 杰米·比米什 / 斯图尔特·惠兰 / 阿拉娜·玛丽亚 / 杰米·梅内德斯 / 爱德华·布卢梅尔 / 美国 / 英国 / 佐米·希尔拉 / 105分钟 / 104分钟(中国大陆) / 通勤营救 / 动作 / 犯罪 / 惊悚 / 拜伦·维林格 Byron Willinger / 菲利普·德·布拉西 Philip de Blasi / 瑞安·恩格尔 Ryan Engle / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-02-01</span>

                            
                    </li>
                    <li>
                        <span class="comment">在硬盘里躺的有点旧，得抓紧看掉</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-7056414" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="7056414:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3659853518" >
            <div class="pic">
                <a title="The Fall Guy" href="https://movie.douban.com/subject/35268614/" class="nbg">
                    <img alt="The Fall Guy" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2900342897.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35268614/" class="">
                            <em>特技狂人 / The Fall Guy</em>
                             / 特技玩家(台) / 特技猎人
                        </a>
                    </li>
                        <li class="intro">2024-05-03(美国) / 瑞恩·高斯林 / 艾米莉·布朗特 / 温斯顿·杜克 / 亚伦·泰勒-约翰逊 / 汉娜·沃丁厄姆 / 许玮伦 / 泰莉莎·帕尔墨 / 李·迈杰斯 / 本·奈特 / 亚当·杜恩 / 罗伯特·麦克法兰 / 贝丝·钱皮恩 / 玛德琳·琼斯 / 杰克·多尔蒂 / 拉克尔·罗斯 / 塔什里夫·伊斯拉姆 / 内森·贝茨 / 马丁·科恩 / 塔利亚·克里尼斯 / 乔纳·埃罗菲耶夫 / 沙克里亚·塔里亚瓦特 / 美国 / 大卫·雷奇 / 156分钟 / 特技狂人 / 剧情 / 动作 / 惊悚 / 德鲁·皮尔斯 Drew Pearce / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-01-23</span>

                            
                    </li>
                    <li>
                        <span class="comment">哟，前几天在海港大桥拍的？</span>
                        
                            <span class="pl">(1 有用)</span>
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35268614" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35268614:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3655424874" >
            <div class="pic">
                <a title="中国奇谭" href="https://movie.douban.com/subject/35674355/" class="nbg">
                    <img alt="中国奇谭" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2885130077.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35674355/" class="">
                            <em>中国奇谭</em>
                             / Yao-Chinese Folktales
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2023-01-01(中国大陆) / 中国大陆 / 陈廖宇 / 於水 / 胡睿 / 杨木 / 刘毛宁 / 陈莲华 / 周小琳 / 潘斌 / 顾杨 / 刘旷 / 徐宁 / 20分钟 / 动画 / 奇幻 / 短片 / 於水 / 胡睿 Rui Hu / 杨木 Woody / 汪洋 Yang Wang / 刘毛宁 Maoning Liu / 陈莲华 Xi Chen / 周小琳 Xiaolin Zhou / 魏诗芮 / 顾杨 Yang Gu / 刘旷 Kuang Liu / 潘斌 Bin Pan / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-01-21</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35674355" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35674355:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3655351542" >
            <div class="pic">
                <a title="Alice Through the Looking Glass" href="https://movie.douban.com/subject/21441132/" class="nbg">
                    <img alt="Alice Through the Looking Glass" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2349374680.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/21441132/" class="">
                            <em>爱丽丝梦游仙境2：镜中奇遇记 / Alice Through the Looking Glass</em>
                             / 爱丽丝镜中奇遇记 / 爱丽丝梦游仙境2：穿越魔镜(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-05-10(伦敦首映) / 2016-05-27(中国大陆) / 2016-05-27(美国) / 约翰尼·德普 / 米娅·华希科沃斯卡 / 海伦娜·伯翰·卡特 / 安妮·海瑟薇 / 萨莎·拜伦·科恩 / 瑞斯·伊凡斯 / 马特·卢卡斯 / 琳赛·邓肯 / 里奥·比尔 / 杰拉丁妮·詹姆斯 / 安德鲁·斯科特 / 理查德·阿米蒂奇 / 艾德·斯皮伊尔斯 / 艾伦·瑞克曼 / 保罗·怀特豪斯 / 斯蒂芬·弗雷 / 马特·沃格尔 / 芭芭拉·温德索 / 麦克·辛 / 蒂莫西·斯波 / 托比·琼斯 / 哈蒂·莫拉汉 / 阿梅利亚·克劳奇 / 梅拉·沙尔 / 莱拉·德·梅扎 / 赛奥汉·雷门 / 路易斯·阿什伯恩·瑟金斯 / 克雷格·马瑟 / 希沃恩·麦克斯维尼 / 瓦利·维吉尔特 / 弗朗西斯·德·拉·图瓦 / 乔安娜·波宾 / 美国 / 英国 / 詹姆斯·博宾 / 115分钟(中国大陆) / 113分钟 / 爱丽丝梦游仙境2：镜中奇遇记 / 奇幻 / 冒险 / 琳达·伍尔芙顿 Linda Woolverton / 刘易斯·卡罗尔 Lewis Carroll / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-01-21</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-21441132" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="21441132:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3655351387" >
            <div class="pic">
                <a title="Alice in Wonderland" href="https://movie.douban.com/subject/2336785/" class="nbg">
                    <img alt="Alice in Wonderland" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p481556187.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/2336785/" class="">
                            <em>爱丽丝梦游仙境 / Alice in Wonderland</em>
                             / 魔境梦游(台) / 爱丽丝漫游仙境
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2010-03-05(美国) / 2010-03-26(中国大陆) / 米娅·华希科沃斯卡 / 约翰尼·德普 / 海伦娜·伯翰·卡特 / 安妮·海瑟薇 / 克里斯平·格洛弗 / 马特·卢卡斯 / 斯蒂芬·弗雷 / 麦克·辛 / 艾伦·瑞克曼 / 克里斯托弗·李 / 加里·西弗斯 / 罗茜 / 张杰 / 艾美达·斯丹顿 / 索菲-安娜·布拉夫 / 杰玛·鲍威尔 / 杰西卡·奥伊罗 / 乔尔·斯维唐 / 约翰·霍普金斯 / 陆建艺 / 深田恭子 / 马尔顿·索克斯 / 杰拉丁妮·詹姆斯 / 蒂莫西·斯波 / 阿什莉·道林 / 芭芭拉·温德索 / 埃莉诺·汤姆林森 / 吉姆·卡特 / 杰弗里·古尔德 / 考特妮·帕姆 / Matisse Mazur / 蒂姆·皮戈特-史密斯 / David &#39;Elsewhere&#39; Bernal / Chris Grabher / 伊森·科恩 / 迈克尔·高夫 / 弗朗西斯·德·拉·图瓦 / 弗兰克·维尔克 / 琳赛·邓肯 / 尼克·托马斯-韦伯斯特 / 保罗·怀特豪斯 / 艾琳·沙基 / 里奥·比尔 / 美国 / 蒂姆·波顿 / 108 分钟 / 爱丽丝梦游仙境 / 奇幻 / 冒险 / 琳达·伍尔芙顿 Linda Woolverton / 刘易斯·卡罗尔 Lewis Carroll / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-01-21</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-2336785" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="2336785:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3649767893" >
            <div class="pic">
                <a title="응답하라 1988" href="https://movie.douban.com/subject/26302614/" class="nbg">
                    <img alt="응답하라 1988" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2272563445.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26302614/" class="">
                            <em>请回答1988 / 응답하라 1988</em>
                             / 回应吧1988 / Reply 1988
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-11-06(韩国) / 成东日 / 李一花 / 罗美兰 / 金成畇 / 崔武成 / 金善映 / 柳慧英 / 李惠利 / 柳俊烈 / 高庚杓 / 朴宝剑 / 安宰弘 / 李东辉 / 崔胜元 / 金秀路 / 李美妍 / 金柱赫 / 全美善 / 李世英 / 金英玉 / 朴智允 / 李秀卿 / 金太勋 / 朴正民 / 高昌锡 / 丁海寅 / 刘在明 / 金雪 / 李敏智 / 郑元中 / 吕会铉 / 禹贤 / 郑侑敏 / 李文贞 / 李在均 / 孙珊 / 裴侑蓝 / 宋英奎 / 宋英才 / 孙荣顺 / 李清美 / 朴胜泰 / 金仲基 / 车烨 / 车顺裴 / 韩兑一 / 吴东旻 / 赵昌根 / 金旲兴 / 李振权 / 沈勋基 / 闵俊贤 / 正宇 / 孙恩书 / 李钟赫 / 高雅拉 / 任哲秀 / 郑贤锡 / 沈惠妍 / 申秀贤 / 刘贤宗 / 吕运福 / 申英珍 / 刘智秀 / 申菲 / 金秀妍 / 韩国 / program.interest.me/tvn/reply1988 / 申元浩 / 刘学灿 / 90分钟 / 请回答1988 / 剧情 / 喜剧 / 爱情 / 李有静 Woo-Jeong Lee / 韩语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-01-16</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26302614" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26302614:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3646937422" >
            <div class="pic">
                <a title="Puss in Boots" href="https://movie.douban.com/subject/2028585/" class="nbg">
                    <img alt="Puss in Boots" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p877184561.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/2028585/" class="">
                            <em>穿靴子的猫 / Puss in Boots</em>
                             / 靴猫外传 / 鞋猫剑客(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2011-10-28(美国) / 安东尼奥·班德拉斯 / 萨尔玛·海耶克 / 扎克·加利凡纳基斯 / 比利·鲍伯·松顿 / 艾米·塞德丽丝 / 康斯坦斯·马丽 / 吉尔莫·德尔·托罗 / 迈克·米切尔 / 汤姆·惠勒 / 康拉德·弗农 / 汤姆·麦格拉思 / 鲍勃·乔尔斯 / 鲍勃·佩尔西凯蒂 / 杰西卡·舒尔特 / Sergio Bruna / 乔萨拉·吉娜罗 / 拉拉·吉尔·米勒 / 约书亚·拉什 / 古明华 / 美国 / 克里斯·米勒 / 90 分钟 / 穿靴子的猫 / 喜剧 / 动画 / 奇幻 / 冒险 / 家庭 / 汤姆·惠勒 Tom Wheeler / 布莱恩·林奇 Brian Lynch / 威廉姆·戴维斯 William Davies / 安德鲁·亚当森 Andrew Adamson / 夏尔·佩罗 Charles Perrault / 大卫·H·斯坦伯格 David H. Steinberg / 英语 / 西班牙语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-01-14</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-2028585" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="2028585:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3646936991" >
            <div class="pic">
                <a title="Puss in Boots: The Last Wish" href="https://movie.douban.com/subject/25868125/" class="nbg">
                    <img alt="Puss in Boots: The Last Wish" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2885032978.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/25868125/" class="">
                            <em>穿靴子的猫2 / Puss in Boots: The Last Wish</em>
                             / 无敌猫剑侠2 / 鞋猫剑客2(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2022-12-07(法国) / 2022-12-21(美国) / 2022-12-23(中国大陆) / 安东尼奥·班德拉斯 / 萨尔玛·海耶克 / 哈维·吉兰 / 弗洛伦丝·皮尤 / 约翰·木兰尼 / 瓦格纳·马拉 / 雷·温斯顿 / 萨姆森·卡约 / 奥利维娅·科尔曼 / 达明·乔伊·伦道夫 / 安东尼·门德斯 / 科迪·卡梅伦 / 乔尔·克劳福德 / 娜塔莉亚·克朗博尔德 / 保罗·费舍尔 / 贾努埃尔·梅尔卡多 / 亚提米丝·帕博达尼 / 詹姆斯·雷恩 / 贝琪·索达罗 / 康拉德·弗农 / 凯莉·艾莉莎·弗拉纳根 / 克里斯·米勒 / 美国 / 乔尔·克劳福德 / 贾努埃尔·梅尔卡多 / 102分钟 / 穿靴子的猫2 / 喜剧 / 爱情 / 动画 / 悬疑 / 奇幻 / 冒险 / 歌舞 / 汤米·斯威德洛 Tommy Swerdlow / 汤姆·惠勒 Tom Wheeler / 保罗·费舍尔 Paul Fisher / 英语 / 西班牙语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-01-14</span>

                            
                    </li>
                    <li>
                        <span class="comment">被同事安利了</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25868125" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25868125:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3641885157" >
            <div class="pic">
                <a title="ぼっち・ざ・ろっく！" href="https://movie.douban.com/subject/35366293/" class="nbg">
                    <img alt="ぼっち・ざ・ろっく！" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2880400525.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35366293/" class="">
                            <em>孤独摇滚！ / ぼっち・ざ・ろっく！</em>
                             / Bocchi the Rock!
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2022-10-08(日本) / 青山吉能 / 铃代纱弓 / 水野朔 / 长谷川育美 / 间岛淳司 / 末柄里惠 / 和多田美咲 / 小岩井小鸟 / 内田真礼 / 千本木彩花 / 天城莎莉 / 河濑茉希 / 市之濑加那 / 岛袋美由利 / 橘龙丸 / 观世智显 / 大塚刚央 / 日本 / bocchi.rocks / 斋藤圭一郎 / 24分钟 / 孤独摇滚！ / 动画 / 音乐 / 吉田惠里香 Erika Yoshida / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-01-10</span>

                            
                    </li>
                    <li>
                        <span class="comment">貌似很火</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35366293" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35366293:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3637506126" >
            <div class="pic">
                <a title="The Banshees of Inisherin" href="https://movie.douban.com/subject/34969348/" class="nbg">
                    <img alt="The Banshees of Inisherin" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2877252828.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/34969348/" class="">
                            <em>伊尼舍林的报丧女妖 / The Banshees of Inisherin</em>
                             / 伊尼舍林的女妖(港/台) / 伊尼希尔的女妖
                        </a>
                    </li>
                        <li class="intro">2022-09-05(威尼斯电影节) / 2022-10-21(美国) / 科林·法瑞尔 / 布莱丹·格里森 / 凯瑞·康顿 / 巴里·基奥恩 / 盖瑞·莱登 / 帕特·绍特 / 希拉·弗里顿 / 布里·尼·内奇廷 / 乔·肯尼 / 艾伦·莫纳汉 / 大卫·皮尔斯 / 爱尔兰 / 英国 / 美国 / 马丁·麦克唐纳 / 114分钟 / 伊尼舍林的报丧女妖 / 剧情 / 喜剧 / 马丁·麦克唐纳 Martin McDonagh / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-01-07</span>

                            
                    </li>
                    <li>
                        <span class="comment">爱尔兰真的漂亮</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34969348" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34969348:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3637501513" >
            <div class="pic">
                <a title="Thirteen Lives" href="https://movie.douban.com/subject/35056243/" class="nbg">
                    <img alt="Thirteen Lives" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2877798713.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35056243/" class="">
                            <em>十三条命 / Thirteen Lives</em>
                             / 13条命
                        </a>
                    </li>
                        <li class="intro">2022-07-29(美国) / 2022-08-05(美国网络) / 维果·莫腾森 / 科林·法瑞尔 / 乔尔·埃哲顿 / 汤姆·巴特曼 / 乔什·赫尔曼 / 简·拉金 / 扎赫拉·纽曼 / 保拉·加西亚 / 刘易斯·菲茨-杰拉德 / 维他亚·潘斯林加姆 / 保罗·格里森 / 萨哈贾克·波斯安吉特 / 阿汀·约翰 / 彼得·奈特 / 披纳若·苏潘平佑 / 凯文·斯宾克 / 布莱克·麦克法兰 / 苏格拉瓦·卡那诺 / 提拉·丘迪库尔 / 沙克里亚·塔里亚瓦特 / 提拉瓦特·穆维莱 / 努弗恩·布艾 / 文森特·B·拉戈斯 / 提拉帕·萨扎顾 /  查恰瓦·卡蒙萨皮塔克 / 陂帕同·颂通亚纳奇 / 普洛伊·帕特拉科恩·唐苏帕昆 / 凯·潘塔诺 / 美国 / 加拿大 / 英国 / 朗·霍华德 / 2022-07-29 / 149分钟 / 十三条命 / 剧情 / 传记 / 惊悚 / 威廉姆·尼克尔森 William Nicholson / 丹·麦克弗森 Don MacPherson / 英语 / 泰语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-01-07</span>

                            
                    </li>
                    <li>
                        <span class="comment">记得当年看到了铺天盖地的新闻，漂亮的国际合作</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35056243" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35056243:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3635956806" >
            <div class="pic">
                <a title="The Legend of Heroes 閃の軌跡 Northern War" href="https://movie.douban.com/subject/35391269/" class="nbg">
                    <img alt="The Legend of Heroes 閃の軌跡 Northern War" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2887754105.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35391269/" class="">
                            <em>英雄传说 闪之轨迹 北方战役 / The Legend of Heroes 閃の軌跡 Northern War</em>
                             / 闪之轨迹
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2023-01-08(日本) / 小市真琴 / 布里德卡特·塞拉·惠美 / 小野友树 / 中村悠一 / 内山昂辉 / 小岩井小鸟 / 水濑祈 / 园崎未惠 / 近藤孝行 / 白石凉子 / 佐藤拓也 / 三浦祥朗 / 丰口惠美 / 藤冈沙也香 / 日本 / 佐藤英一 / 则座诚 / 矢野孝典 / 上野史博 / 安藤健 / 粟井重纪 / 五月女有作 / 24分钟 / 英雄传说 闪之轨迹 北方战役 / 动作 / 战争 / 科幻 / 动画 / 日本Falcon / 大西信介 Nobusuke Ônishi / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-01-06</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35391269" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35391269:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3632271712" >
            <div class="pic">
                <a title="Blueback" href="https://movie.douban.com/subject/35748464/" class="nbg">
                    <img alt="Blueback" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2882560607.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35748464/" class="">
                            <em>蓝背鱼 / Blueback</em>
                             / 梦回蓝海(台)
                        </a>
                    </li>
                        <li class="intro">2022-09-10(多伦多电影节) / 2023-01-01(澳大利亚) / 米娅·华希科沃斯卡 / 艾瑞克·巴纳 / 拉达·米切尔 / 达利普·索地 / Eddie Baroo / 澳大利亚 / 罗伯特·康诺利 / 102分钟 / 蓝背鱼 / 剧情 / 家庭 / 罗伯特·康诺利 Robert Connolly / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-01-04</span>

                            
                    </li>
                    <li>
                        <span class="comment">top ryde看到了广告</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35748464" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35748464:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/mewcatcher/wish?start=45&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid"/>
            <a href="/people/mewcatcher/wish?start=45&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >&lt;前页</a>
        </span>
        
        

                
            <a href="/people/mewcatcher/wish?start=0&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >1</a>
        
                
            <a href="/people/mewcatcher/wish?start=15&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >2</a>
        
                
            <a href="/people/mewcatcher/wish?start=30&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >3</a>
        
                
            <a href="/people/mewcatcher/wish?start=45&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >4</a>
        
                <span class="thispage" data-total-page="40">5</span>
                
            <a href="/people/mewcatcher/wish?start=75&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >6</a>
        
                
            <a href="/people/mewcatcher/wish?start=90&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >7</a>
        
                
            <a href="/people/mewcatcher/wish?start=105&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >8</a>
        
                
            <a href="/people/mewcatcher/wish?start=120&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >9</a>
        
            <span class="break">...</span>
                
            <a href="/people/mewcatcher/wish?start=570&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >39</a>
        
            <a href="/people/mewcatcher/wish?start=585&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >40</a>
        
        <span class="next">
            <link rel="next" href="/people/mewcatcher/wish?start=75&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid"/>
            <a href="/people/mewcatcher/wish?start=75&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                

    <!-- 加载 raikiri.js -->

    
    


<div class="side-info">
    <a href="https://www.douban.com/people/mewcatcher/" class="side-info-avatar"><img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" /></a>
    <div class="side-info-txt">
        <h3>MewX</h3>
        &gt;&nbsp;<a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="/people/mewcatcher/">我的电影主页</a>
        </p>
    </div>
            
    <h2>
        想看的标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

        
        
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=time&amp;start=60&amp;filter=all&amp;mode=grid&amp;tags_sort=name">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">


    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E7%A7%91%E5%B9%BB&amp;mode=grid" title="科幻">科幻</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E5%8A%A8%E7%94%BB&amp;mode=grid" title="动画">动画</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=2018&amp;mode=grid" title="2018">2018</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E6%97%A5%E6%9C%AC&amp;mode=grid" title="日本">日本</a>
        <span>1</span>
    </li>
</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"count","filter":"all","tag":"日本","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/mewcatcher/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "wish"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/mewcatcher/wish?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2023 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-5fcb8c6bf8-8wc64-->

  <script>_SPLITTEST=''</script>
</body>

</html>


