<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    我想看的电影(588)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img1.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/02814fbb5bee25484516bd0a642af695f7ec5a83/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/movie/cb1cb6aaa244dff6a281d103ff26d445debd130a/dist/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/aa9559674f2476cdc16f755b3cdc4ebc478db669/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img1.doubanio.com/f/vendors/e83b5821d4d376b18130d73c7bffc8a78fe82947/css/ui/mypage.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <style type="text/css">
        #db-usr-profile .info ul li { margin-right: 10px;}
    
    .side-info {
        overflow: hidden;
        *zoom: 1;
        margin-bottom: 20px;
        padding: 16px;
        background: #F0F3F5;
    }
    .side-info-avatar {
        float: left;
        margin-right: 14px;
    }
    .side-info-txt {
        word-wrap: break-word;
        overflow: hidden;
        *zoom: 1;
    }
    .side-info .user-content{
        margin-top:15px;
    }
    .side-info-txt h3 {
        margin: 0;
        font-size: 16px;
        background: none;
        color: #111;
    }
</style>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/164cfd8/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>MewX的账号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">账号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=itS8">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;82160871&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;82160871&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;82160871&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;82160871&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;82160871&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;82160871&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;82160871&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;82160871&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "82160871",
    UPLOAD_AUTH_TOKEN: "82160871:dc21e2b5320d9cb31a88bd4c16fabca3620337f0",
    SSE_TOKEN: "aee7536839425a918857fa23035814b15cafb4d9",
    SSE_TIMESTAMP: "1702901485",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/164cfd8/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/164cfd8/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2022/?fullscreen=1&source=navigation"
     >2022年度榜单</a>
    </li>
    <li    ><a href="https://standbyme2022.douban.com/?autorotate=false&fullscreen=true&hidenav=true&source=web_navigation"
            target="_blank"
     >2022书影音报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2022/?fullscreen=1&source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/164cfd8/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="/people/mewcatcher/">
                <img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" />
            </a>
        </div>
        <div class="info">
            <h1>我想看的电影(588)</h1>
            <ul>
                    
        <li><a href="/people/mewcatcher/">电影主页</a></li>
    
                    
        <li><a href="/people/mewcatcher/reviews">影评</a></li>
    
                    
        <li><a href="/people/mewcatcher/question">问答</a></li>
    
                    
        <li><a href="/people/mewcatcher/do">在看</a></li>
    
                    
        <li><a href="/people/mewcatcher/wish">想看</a></li>
    
                    
        <li><a href="/people/mewcatcher/collect">看过</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/doulists">豆列</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/subject_doulists/movie">片单</a></li>
    
                    
        <li><a href="https://movie.douban.com/ticket/mine">电影票</a></li>
    
                    
        <li><a href="https://movie.douban.com/notifications">电影提醒</a></li>
    
                    
        <li><a href="/settings/">设置</a></li>
    
                    
        <li class="sep">|</li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a></li>
    
            </ul>
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按评分排序</a><span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url('https://img1.doubanio.com/f/movie/479b9d6dcc35cd548d9cd1a2d826f23213f5868c/pics/movie/icons/tongcheng_tab_down.gif') no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url('https://img1.doubanio.com/f/movie/0badd8bb59652acb2f2823388150bdf1c02502f8/pics/movie/icons/tongcheng_tab_up.gif') no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url('https://img1.doubanio.com/f/movie/479b9d6dcc35cd548d9cd1a2d826f23213f5868c/pics/movie/icons/tongcheng_tab_down.gif') no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url('https://img1.doubanio.com/f/movie/0badd8bb59652acb2f2823388150bdf1c02502f8/pics/movie/icons/tongcheng_tab_up.gif') no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;start=0&amp;amp;filter=schedule&amp;amp;mode=grid&amp;amp;tags_sort=count">正在热映</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;start=0&amp;amp;filter=video&amp;amp;mode=grid&amp;amp;tags_sort=count">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                271-285&nbsp;/&nbsp;588
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="/people/mewcatcher/wish?sort=time&amp;amp;start=270&amp;amp;filter=all&amp;amp;mode=list&amp;amp;tags_sort=count">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item comment-item" data-cid="3047578703" >
            <div class="pic">
                <a title="王様ランキング" href="https://movie.douban.com/subject/34927946/" class="nbg">
                    <img alt="王様ランキング" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2681362557.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/34927946/" class="">
                            <em>国王排名 / 王様ランキング</em>
                             / Ranking of Kings / Ousama Ranking
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-10-15(日本) / 日向未南 / 村濑步 / 梶裕贵 / 佐藤利奈 / 江口拓也 / 上田耀司 / 安元洋贵 / 田所阳向 / 山下大辉 / 三宅健太 / 本田贵子 / 坂本真绫 / 下山吉光 / 樱井孝宏 / 日本 / osama-ranking.com / 八田洋介 / 今井有文 / 中川淳 / 24分钟 / 国王排名 / 剧情 / 动画 / 冒险 / 十日草辅 Sosuke Toka / 岸本卓 Taku Kishimoto / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-09-24</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34927946" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34927946:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3047574879" >
            <div class="pic">
                <a title="マギアレコード 魔法少女まどか☆マギカ外伝" href="https://movie.douban.com/subject/30317887/" class="nbg">
                    <img alt="マギアレコード 魔法少女まどか☆マギカ外伝" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2592913962.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30317887/" class="">
                            <em>魔法纪录：魔法少女小圆外传 / マギアレコード 魔法少女まどか☆マギカ外伝</em>
                             / Magia Record: Puella Magi Madoka Magica Side Story
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-01-04(日本) / 麻仓桃 / 雨宫天 / 夏川椎菜 / 佐仓绫音 / 小仓唯 / 悠木碧 / 加藤英美里 / 花泽香菜 / 小松未可子 / 大桥彩香 / 石原夏织 / 斋藤千和 / 水桥香织 / 宫下早纪 / 陶山惠实里 / 鸡冠井美智子 / 堀江由衣 / 石见舞菜香 / 钉宫理惠 / 竹达彩奈 / 须藤沙织 / 下鹤直幸 / 中村樱 / 中原麻衣 / 胜杏里 / 高尾奏音 / 日本 / anime.magireco.com / 宫本幸裕 / 冈田坚二朗 / 吉泽翠 / 大石美绘 / 24分钟 / 魔法纪录：魔法少女小圆外传 / 剧情 / 动作 / 动画 / 奇幻 / 穴井洋輔 / 小川楓 / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-09-24</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30317887" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30317887:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3047574698" >
            <div class="pic">
                <a title="マギアレコード 魔法少女まどか☆マギカ外伝 2nd SEASON -覚醒前夜-" href="https://movie.douban.com/subject/35026036/" class="nbg">
                    <img alt="マギアレコード 魔法少女まどか☆マギカ外伝 2nd SEASON -覚醒前夜-" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2657047488.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35026036/" class="">
                            <em>魔法纪录：魔法少女小圆外传 第二季 -觉醒前夜- / マギアレコード 魔法少女まどか☆マギカ外伝 2nd SEASON -覚醒前夜-</em>
                             / Magia Record: Puella Magi Madoka Magica Side Story - Season 2: Eve of Awakening
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-07-31(日本) / 麻仓桃 / 雨宫天 / 夏川椎菜 / 佐仓绫音 / 小仓唯 / 小松未可子 / 大桥彩香 / 石原夏织 / 花泽香菜 / 斋藤千和 / 悠木碧 / 喜多村英梨 / 野中蓝 / 水桥香织 / 高尾奏音 / 钉宫理惠 / 加藤英美里 / 河濑茉希 / 日本 / anime.magireco.com / 穴井洋輔 / 宫本幸裕 / 24分钟 / 魔法纪录：魔法少女小圆外传 第二季 -觉醒前夜- / 动画 / 奇幻 / 穴井洋輔 / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-09-24</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35026036" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35026036:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3047574565" >
            <div class="pic">
                <a title="劇場版 魔法少女まどか☆マギカ [新編] 叛逆の物語" href="https://movie.douban.com/subject/10569151/" class="nbg">
                    <img alt="劇場版 魔法少女まどか☆マギカ [新編] 叛逆の物語" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2151582333.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/10569151/" class="">
                            <em>剧场版魔法少女小圆 新篇 叛逆的故事 / 劇場版 魔法少女まどか☆マギカ [新編] 叛逆の物語</em>
                             / Puella Magi Madoka Magica the Movie: Rebellion
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2013-10-26(日本) / 悠木碧 / 斋藤千和 / 水桥香织 / 喜多村英梨 / 加藤英美里 / 野中蓝 / 阿澄佳奈 / 后藤邑子 / 岩永哲哉 / 吉田圣子 / 新谷良子 / 岩男润子 / 松冈祯丞 / 赤崎千夏 / 五十岚裕美 / 上田丽奈 / 木岛隆一 / 河西健吾 / 阿座上洋平 / 日本 / www.madoka-magica.com/ / 宫本幸裕 / 新房昭之 / 116分钟 / 剧场版魔法少女小圆 新篇 叛逆的故事 / 动画 / 虚渊玄 Gen Urobuchi / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-09-24</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-10569151" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="10569151:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3047569628" >
            <div class="pic">
                <a title="ブルーピリオド" href="https://movie.douban.com/subject/35304720/" class="nbg">
                    <img alt="ブルーピリオド" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2636756429.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35304720/" class="">
                            <em>蓝色时期 / ブルーピリオド</em>
                             / Blue Period
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-10-01(日本) / 峰田大梦 / 花守由美里 / 山下大辉 / 河西健吾 / 宫本侑芽 / 平野文 / 福西胜也 / 神尾晋一郎 / 橘龙丸 / 长谷川育美 / 古贺葵 / 陶山惠实里 / 村田太志 / 大西沙织 / 青耶木真有 / 和优希 / 根本优奈 / 竹田海渡 / 日本 / blue-period.jp / 舛成孝二 / 浅野胜也 / 仁科邦康 / 河原龙太 / 萩原弘光 / 深濑重 / 小野田雄亮 / 松村树里亚 / 福元信一 / 24分钟 / 蓝色时期 / 动画 / 山口飞翔 / 吉田玲子 Reiko Yoshida / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-09-24</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35304720" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35304720:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3047567586" >
            <div class="pic">
                <a title="180秒で君の耳を幸せにできるか？" href="https://movie.douban.com/subject/35459125/" class="nbg">
                    <img alt="180秒で君の耳を幸せにできるか？" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2690029971.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35459125/" class="">
                            <em>180秒能让你的耳朵幸福吗？ / 180秒で君の耳を幸せにできるか？</em>
                             / 180-byou de Kimi no Mimi wo Shiawase ni Dekiru ka?
                        </a>
                    </li>
                        <li class="intro">2021-10-15(日本) / 三上枝织 / 三森铃子 / 和气杏未 / 伊藤加奈惠 / 芹泽优 / 古贺葵 / 速水奖 / 日本 / 180-kimimimi.jp / 3分钟 / 180秒能让你的耳朵幸福吗？ / 动画 / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-09-24</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35459125" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35459125:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3040400547" >
            <div class="pic">
                <a title="Little Women" href="https://movie.douban.com/subject/26348103/" class="nbg">
                    <img alt="Little Women" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2572928166.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26348103/" class="">
                            <em>小妇人 / Little Women</em>
                             / 她们(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-12-25(美国) / 2020-08-25(中国大陆) / 西尔莎·罗南 / 艾玛·沃森 / 弗洛伦丝·皮尤 / 伊莱扎·斯坎伦 / 劳拉·邓恩 / 提莫西·查拉梅 / 梅丽尔·斯特里普 / 鲍勃·奥登科克 / 詹姆斯·诺顿 / 路易·加瑞尔 / 克里斯·库珀 / 崔西·莱茨 / 艾比·奎因 / 萨沙·弗若洛娃 / 莉莉·恩格勒特 / 爱德华德·弗莱彻 / 杰妮·霍蒂谢尔 / 多梅尼克·阿尔迪诺 / 汤姆·斯特拉特福 / 托马斯·马里亚诺 / 哈德莉·罗宾逊 / 杰米·加扎里安 / 泰勒·乔格森 / 玛丽安·普朗科特 / 埃德加·达马提安 / Mikayla Soo-ni Campbell / 美国 / www.littlewomen.movie/ / 格蕾塔·葛韦格 / 135分钟 / 小妇人 / 剧情 / 爱情 / 格蕾塔·葛韦格 Greta Gerwig / 路易莎·梅·奥尔科特 Louisa May Alcott / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-09-17</span>

                            
                    </li>
                    <li>
                        <span class="comment">躺在硬盘里</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26348103" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26348103:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3038912323" >
            <div class="pic">
                <a title="Journey 2: The Mysterious Island" href="https://movie.douban.com/subject/3606973/" class="nbg">
                    <img alt="Journey 2: The Mysterious Island" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1557589605.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/3606973/" class="">
                            <em>地心历险记2：神秘岛 / Journey 2: The Mysterious Island</em>
                             / 地心冒险2：神秘岛(台) / 地心探险记2：世外秘岛(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2012-02-10(中国大陆) / 2012-02-10(美国) / 道恩·强森 / 乔什·哈切森 / 迈克尔·凯恩 / 凡妮莎·哈金斯 / 克里斯汀·戴维斯 / 路易斯·古兹曼 / 美国 / www.themysteriousisland.com / 布拉德·佩顿 / 94分钟 / 地心历险记2：神秘岛 / 动作 / 科幻 / 冒险 / 理查德·奥腾 Richard Outten / 布莱恩·戈恩 Brian Gunn / 马克·戈恩 Mark Gunn / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-09-16</span>

                            
                    </li>
                    <li>
                        <span class="comment">fed by google</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-3606973" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="3606973:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3038912184" >
            <div class="pic">
                <a title="Journey to the Center of the Earth" href="https://movie.douban.com/subject/2037833/" class="nbg">
                    <img alt="Journey to the Center of the Earth" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p453461145.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/2037833/" class="">
                            <em>地心历险记 / Journey to the Center of the Earth</em>
                             / 地心冒险 / 地心游记
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2008-07-11(美国) / 2008-09-29(中国大陆) / 布兰登·费舍 / 乔什·哈切森 / 安妮塔·布瑞姆 / 塞斯·梅耶斯 / 简·惠勒 / 弗兰克·方丹 / 贾卡洛·卡尔塔比亚诺 / 卡内赫迪奥·霍恩 / 加斯·吉尔克 / 美国 / 埃里克·布雷维格 / 93分钟 / 地心历险记 / 动作 / 科幻 / 冒险 / Michael D. Weiss / 珍妮佛·弗莱基特 Jennifer Flackett / 马克·莱温 Mark Levin / 儒勒·凡尔纳 Jules Verne / 英语 / 冰岛语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-09-16</span>

                            
                    </li>
                    <li>
                        <span class="comment">小学的时候最早的3d电影，一直没机会看</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-2037833" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="2037833:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3038910842" >
            <div class="pic">
                <a title="十三人の刺客" href="https://movie.douban.com/subject/3726986/" class="nbg">
                    <img alt="十三人の刺客" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p656541463.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/3726986/" class="">
                            <em>十三刺客 / 十三人の刺客</em>
                             / 13人刺客：殊死血战(台) / 13刺客
                        </a>
                    </li>
                        <li class="intro">2010-09-25(日本) / 役所广司 / 山田孝之 / 伊势谷友介 / 泽村一树 / 古田新太 / 高冈奏辅 / 六角精儿 / 波冈一喜 / 近藤公园 / 石垣佑磨 / 洼田正孝 / 伊原刚志 / 松方弘树 / 吹石一惠 / 谷村美月 / 斋藤工 / 阿部进之介 / 斋藤步 / 井上肇 / 高川裕也 / 神乐坂惠 / 内野圣阳 / 光石研 / 岸部一德 / 平干二朗 / 松本白鹦 / 稻垣吾郎 / 市村正亲 / 福本清三 / 加贺谷圭 / 日本 / 英国 / 三池崇史 / 141分钟 / 125分钟(国际版) / 十三刺客 / 动作 / 古装 / 天愿大介 Daisuke Tengan / 池上金男 Kaneo Ikegami / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-09-16</span>

                            
                    </li>
                    <li>
                        <span class="comment">fed by G</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-3726986" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="3726986:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3038909851" >
            <div class="pic">
                <a title="Jungle" href="https://movie.douban.com/subject/26726261/" class="nbg">
                    <img alt="Jungle" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2498434192.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26726261/" class="">
                            <em>丛林 / Jungle</em>
                             / 逃出亚马逊(台) / 丛林炼狱
                        </a>
                    </li>
                        <li class="intro">2017-08-03(墨尔本电影节) / 丹尼尔·雷德克里夫 / 亚历克斯·罗素 / 托马斯·克莱舒曼 / 莉莉·沙利文 / 娅丝明·卡西姆 / 乔尔·杰克逊 / 约翰·布鲁塞尔 / 亚采克·科曼 / 帕里斯·莫莱蒂 / 安琪·米利肯 / 路易斯·乔斯·洛佩斯 / 乔伊·维埃拉 / 卢乔·韦拉斯科 / 娜塔莎·普鲁克尼维奇 / 澳大利亚 / 克瑞格·麦克林恩 / 115分钟 / 丛林 / 剧情 / 惊悚 / 冒险 / 贾斯廷·蒙霍 Justin Monjo / 约西·金斯贝格 Yossi Ghinsberg / 西班牙语 / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-09-16</span>

                            
                    </li>
                    <li>
                        <span class="comment">又是google投喂</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26726261" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26726261:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3038909072" >
            <div class="pic">
                <a title="泣きたい私は猫をかぶる" href="https://movie.douban.com/subject/34964061/" class="nbg">
                    <img alt="泣きたい私は猫をかぶる" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2601636217.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/34964061/" class="">
                            <em>想哭的我戴上了猫的面具 / 泣きたい私は猫をかぶる</em>
                             / 无限 / 想哭的我戴上了猫
                        </a>
                    </li>
                        <li class="intro">2020-06-18(日本) / 2020-06-18(中国大陆网络) / 志田未来 / 花江夏树 / 山寺宏一 / 小木博明 / 寿美菜子 / 小野贤章 / 浪川大辅 / 千叶进步 / 川澄绫子 / 大原沙耶香 / 日本 / 佐藤顺一 / 柴山智隆 / 104分钟 / 想哭的我戴上了猫的面具 / 动画 / 奇幻 / 冈田麿里 Mari Okada / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-09-16</span>

                            
                    </li>
                    <li>
                        <span class="comment">竟然被google投喂</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34964061" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34964061:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3028601828" >
            <div class="pic">
                <a title="イバラード時間" href="https://movie.douban.com/subject/2378756/" class="nbg">
                    <img alt="イバラード時間" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2528668849.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/2378756/" class="">
                            <em>依巴拉度～时间篇 / イバラード時間</em>
                             / Iblard Jikan
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2007-07-04(日本) / 日本 / 30 分钟 / 依巴拉度～时间篇 / 动画 / 短片 / 奇幻 / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-09-06</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-2378756" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="2378756:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3023768522" >
            <div class="pic">
                <a title="半分の月がのぼる空" href="https://movie.douban.com/subject/2301049/" class="nbg">
                    <img alt="半分の月がのぼる空" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2257391805.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/2301049/" class="">
                            <em>仰望半月的夜空 / 半分の月がのぼる空</em>
                             / 仰望半月的天空 / Looking up at the Half-Moon
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2006-01-12(日本) / 铃村健一 / 高桥美佳子 / 小平有希 / 平田广明 / 小伏伸之 / 松冈由贵 / 笹沼晃 / 矢田耕司 / 松来未祐 / 小林沙苗 / 高冢正也 / 永野善一 / 堀越真己 / 重松朋 / 北川胜博 / 中山卓也 / 日本 / www.hantsuki.com / 福岛宏之 / 谷田部胜义 / 武内宣之 / 饭村正之 / 平田丰 / 24分钟 / 仰望半月的夜空 / 动画 / 高山克彦 Katsuhiko Takayama / 桥本纺 / 日语 / 铃村健一 / 高桥美佳子</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-09-02</span>

                            
                    </li>
                    <li>
                        <span class="comment">好耳熟啊，到底看没看过呢</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-2301049" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="2301049:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3023766303" >
            <div class="pic">
                <a title="貧乏姉妹物語" href="https://movie.douban.com/subject/2245692/" class="nbg">
                    <img alt="貧乏姉妹物語" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2550299918.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/2245692/" class="">
                            <em>贫乏姐妹物语 / 貧乏姉妹物語</em>
                             / Binbou shimai monogatari / 贫乏姐妹物语
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2006-06-29(日本) / 坂本真绫 / 金田朋子 / 久川绫 / 麦人 / 平松晶子 / 岸尾大辅 / 进藤尚美 / 小樱悦子 / 酒井香奈子 / 白石凉子 / 织田优成 / 吉川未来 / 松原大典 / 田中大文 / 粕谷雄太 / 菅沼久义 / 茅原实里 / 吉原夏希 / 日本 / 贝泽幸男 / 宇田钢之助 / 冈佳广 / 御厨恭辅 / 杉山庆一 / 渡边纯央 / 神原敏昭 / 24min / 贫乏姐妹物语 / 剧情 / 动画 / 和泉鹤 / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-09-02</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-2245692" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="2245692:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/mewcatcher/wish?start=255&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid"/>
            <a href="/people/mewcatcher/wish?start=255&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >&lt;前页</a>
        </span>
        
        
            
            <a href="/people/mewcatcher/wish?start=0&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >1</a>
        
            <a href="/people/mewcatcher/wish?start=15&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >2</a>
        <span class="break">...</span>

                
            <a href="/people/mewcatcher/wish?start=210&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >15</a>
        
                
            <a href="/people/mewcatcher/wish?start=225&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >16</a>
        
                
            <a href="/people/mewcatcher/wish?start=240&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >17</a>
        
                
            <a href="/people/mewcatcher/wish?start=255&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >18</a>
        
                <span class="thispage" data-total-page="40">19</span>
                
            <a href="/people/mewcatcher/wish?start=285&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >20</a>
        
                
            <a href="/people/mewcatcher/wish?start=300&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >21</a>
        
                
            <a href="/people/mewcatcher/wish?start=315&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >22</a>
        
                
            <a href="/people/mewcatcher/wish?start=330&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >23</a>
        
            <span class="break">...</span>
                
            <a href="/people/mewcatcher/wish?start=570&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >39</a>
        
            <a href="/people/mewcatcher/wish?start=585&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >40</a>
        
        <span class="next">
            <link rel="next" href="/people/mewcatcher/wish?start=285&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid"/>
            <a href="/people/mewcatcher/wish?start=285&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                

    <!-- 加载 raikiri.js -->

    
    


<div class="side-info">
    <a href="https://www.douban.com/people/mewcatcher/" class="side-info-avatar"><img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" /></a>
    <div class="side-info-txt">
        <h3>MewX</h3>
        &gt;&nbsp;<a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="/people/mewcatcher/">我的电影主页</a>
        </p>
    </div>
            
    <h2>
        想看的标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

        
        
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=time&amp;start=270&amp;filter=all&amp;mode=grid&amp;tags_sort=name">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">


    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E7%A7%91%E5%B9%BB&amp;mode=grid" title="科幻">科幻</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E5%8A%A8%E7%94%BB&amp;mode=grid" title="动画">动画</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=2018&amp;mode=grid" title="2018">2018</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E6%97%A5%E6%9C%AC&amp;mode=grid" title="日本">日本</a>
        <span>1</span>
    </li>
</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"count","filter":"all","tag":"日本","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/mewcatcher/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "wish"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/mewcatcher/wish?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2023 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-5fcb8c6bf8-khqmg-->

  <script>_SPLITTEST=''</script>
</body>

</html>


