<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    我想看的电影(588)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img1.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/02814fbb5bee25484516bd0a642af695f7ec5a83/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/movie/cb1cb6aaa244dff6a281d103ff26d445debd130a/dist/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/aa9559674f2476cdc16f755b3cdc4ebc478db669/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img1.doubanio.com/f/vendors/e83b5821d4d376b18130d73c7bffc8a78fe82947/css/ui/mypage.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <style type="text/css">
        #db-usr-profile .info ul li { margin-right: 10px;}
    
    .side-info {
        overflow: hidden;
        *zoom: 1;
        margin-bottom: 20px;
        padding: 16px;
        background: #F0F3F5;
    }
    .side-info-avatar {
        float: left;
        margin-right: 14px;
    }
    .side-info-txt {
        word-wrap: break-word;
        overflow: hidden;
        *zoom: 1;
    }
    .side-info .user-content{
        margin-top:15px;
    }
    .side-info-txt h3 {
        margin: 0;
        font-size: 16px;
        background: none;
        color: #111;
    }
</style>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/164cfd8/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>MewX的账号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">账号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=itS8">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;82160871&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;82160871&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;82160871&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;82160871&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;82160871&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;82160871&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;82160871&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;82160871&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "82160871",
    UPLOAD_AUTH_TOKEN: "82160871:dc21e2b5320d9cb31a88bd4c16fabca3620337f0",
    SSE_TOKEN: "f705273f0b5cbeab639d38f10e62abf2f52f64cd",
    SSE_TIMESTAMP: "1702901420",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/164cfd8/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/164cfd8/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2022/?fullscreen=1&source=navigation"
     >2022年度榜单</a>
    </li>
    <li    ><a href="https://standbyme2022.douban.com/?autorotate=false&fullscreen=true&hidenav=true&source=web_navigation"
            target="_blank"
     >2022书影音报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2022/?fullscreen=1&source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/164cfd8/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="/people/mewcatcher/">
                <img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" />
            </a>
        </div>
        <div class="info">
            <h1>我想看的电影(588)</h1>
            <ul>
                    
        <li><a href="/people/mewcatcher/">电影主页</a></li>
    
                    
        <li><a href="/people/mewcatcher/reviews">影评</a></li>
    
                    
        <li><a href="/people/mewcatcher/question">问答</a></li>
    
                    
        <li><a href="/people/mewcatcher/do">在看</a></li>
    
                    
        <li><a href="/people/mewcatcher/wish">想看</a></li>
    
                    
        <li><a href="/people/mewcatcher/collect">看过</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/doulists">豆列</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/subject_doulists/movie">片单</a></li>
    
                    
        <li><a href="https://movie.douban.com/ticket/mine">电影票</a></li>
    
                    
        <li><a href="https://movie.douban.com/notifications">电影提醒</a></li>
    
                    
        <li><a href="/settings/">设置</a></li>
    
                    
        <li class="sep">|</li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a></li>
    
            </ul>
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按评分排序</a><span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url('https://img1.doubanio.com/f/movie/479b9d6dcc35cd548d9cd1a2d826f23213f5868c/pics/movie/icons/tongcheng_tab_down.gif') no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url('https://img1.doubanio.com/f/movie/0badd8bb59652acb2f2823388150bdf1c02502f8/pics/movie/icons/tongcheng_tab_up.gif') no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url('https://img1.doubanio.com/f/movie/479b9d6dcc35cd548d9cd1a2d826f23213f5868c/pics/movie/icons/tongcheng_tab_down.gif') no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url('https://img1.doubanio.com/f/movie/0badd8bb59652acb2f2823388150bdf1c02502f8/pics/movie/icons/tongcheng_tab_up.gif') no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;start=0&amp;amp;filter=schedule&amp;amp;mode=grid&amp;amp;tags_sort=count">正在热映</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;start=0&amp;amp;filter=video&amp;amp;mode=grid&amp;amp;tags_sort=count">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                31-45&nbsp;/&nbsp;588
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="/people/mewcatcher/wish?sort=time&amp;amp;start=30&amp;amp;filter=all&amp;amp;mode=list&amp;amp;tags_sort=count">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item comment-item" data-cid="3882275039" >
            <div class="pic">
                <a title="VIVANT" href="https://movie.douban.com/subject/36212784/" class="nbg">
                    <img alt="VIVANT" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2895886000.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36212784/" class="">
                            <em>别班 / VIVANT</em>
                             / 活着
                        </a>
                    </li>
                        <li class="intro">2023-07-16(日本) / 堺雅人 / 阿部宽 / 二阶堂富美 / 松坂桃李 / 役所广司 / 林遣都 / 龙星凉 / 高梨临 / 饭沼爱 / 迫田孝也 / 山中崇 / 小日向文世 / 桥本哲 / Barslkhagva Batbold / Tsaschikher Khatanzorig / Nandin-Erdene Khongorzul / 马丁·斯塔尔 / Erkhembayar Ganbold / 渡边邦斗 / 古屋吕敏 / 水谷果穗 / 真凛 / 富栄ドラム / 二宫和也 / 日本 / 福泽克雄 / 别班 / 剧情 / 福泽克雄 Katsuo Fukuzawa / 八津弘幸 Hiroyuki Yatsu / 李正美 Jeong-mi Lee / 宫本勇人 / 山本奈奈 / 日语 / 英语 / 蒙古语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-08-07</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36212784" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36212784:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3877793112" >
            <div class="pic">
                <a title="헌트" href="https://movie.douban.com/subject/35160926/" class="nbg">
                    <img alt="헌트" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2875472104.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35160926/" class="">
                            <em>狩猎 / 헌트</em>
                             / 猎首密令(台) / 猎战(港)
                        </a>
                    </li>
                        <li class="intro">2022-05-20(戛纳电影节) / 2022-08-10(韩国) / 李政宰 / 郑雨盛 / 全慧珍 / 许成泰 / 高允贞 / 黄政民 / 朱智勋 / 金南佶 / 朴成雄 / 赵祐镇 / 郑满植 / 金钟秀 / 车宇振 / 金灿亨 / 李星民 / 李家晴 / 林炯局 / 刘在明 / 韩国 / 李政宰 / 125分钟 / 狩猎 / 剧情 / 动作 / 李政宰 Jung-jae Lee / 赵承熙 / 韩语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-08-03</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35160926" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35160926:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3877771488" >
            <div class="pic">
                <a title="バイオハザード：デスアイランド" href="https://movie.douban.com/subject/36240739/" class="nbg">
                    <img alt="バイオハザード：デスアイランド" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2890534855.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36240739/" class="">
                            <em>生化危机：死亡岛 / バイオハザード：デスアイランド</em>
                             / 生化危机：夺命岛 / 生化危机: 死亡之岛(港)
                        </a>
                    </li>
                        <li class="intro">2023-06-21(菲律宾) / 2023-07-07(日本) / 艾琳·卡希尔 / 凯文·多曼 / 马修·默瑟 / 斯蒂芬妮·潘尼斯洛 / 妮科尔·汤普金斯 / 克里斯蒂娜·瓦伦苏埃拉 / Salli Saffioti / 弗兰克·托达罗 / 日本 / 羽住英一郎 / 87分钟 / 生化危机：死亡岛 / 动作 / 动画 / 奇幻 / 惊悚 / 冒险 / 恐怖 / 深见真 Makoto Fukami / 日语 / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-08-03</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36240739" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36240739:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3859763201" >
            <div class="pic">
                <a title="Borderlands" href="https://movie.douban.com/subject/30149834/" class="nbg">
                    <img alt="Borderlands" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2895814296.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30149834/" class="">
                            <em>无主之地 / Borderlands</em>
                            
                        </a>
                    </li>
                        <li class="intro">2024-08-09(美国) / 凯特·布兰切特 / 凯文·哈特 / 杰米·李·柯蒂斯 / 杰克·布莱克 / 阿丽亚娜·格林布拉特 / 奥利维尔·里希特斯 / 海莉·贝内特 / 吉娜·格申 / 鲍比·李 / 詹妮娜·加万卡 / 夏恩·杰克逊 / 埃德加·拉米雷兹 / 弗罗里安·穆特鲁 / 本·戴维斯 / 查尔斯·巴巴洛拉 / 史蒂文·博耶 / 贾斯汀·皮尔斯 / 瑞安·雷德蒙德 / 杰瑞米·惠勒 / 美国 / 伊莱·罗斯 / 蒂姆·米勒 / 无主之地 / 喜剧 / 动作 / 科幻 / 惊悚 / 冒险 / 亚伦·贝格 Aaron Berg / 克雷格·麦辛 Craig Mazin / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-07-22</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30149834" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30149834:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3851392981" >
            <div class="pic">
                <a title="NANA -ナナ-" href="https://movie.douban.com/subject/1794082/" class="nbg">
                    <img alt="NANA -ナナ-" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2326427793.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1794082/" class="">
                            <em>娜娜 / NANA -ナナ-</em>
                             / 世上的另一个我 / NANA
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2006-04-05(日本) / 朴璐美 / 川菜翠 / 木内秀信 / 川原庆久 / 关智一 / 石田彰 / 平野绫 / 森川智之 / 诹访部顺一 / 本田贵子 / 高桥广树 / 小岛惠 / 金井美香 / 胜杏里 / 周防玲子 / 千叶纱子 / 立木文彦 / 滨田贤二 / 藤井启辅 / 梯笃司 / 宫下荣治 / 小野坂昌也 / 荻野晴朗 / 古岛清孝 / 坂口候一 / 丰口惠美 / 高户靖广 / 千叶进步 / 川田绅司 / 上田耀司 / 阿部敦 / 黑田崇矢 / 山口真弓 / 木村亚希子 / 三户耕三 / 堀川仁 / 绪方贤一 / 日本 / www.ntv.co.jp/nana / 浅香守生 / 中村亮介 / 石塚敦子 / 谷田部胜义 / 钉宫洋 / 高桥亨 / 岛崎奈奈子 / 鹤冈耕次郎 / 广川和之 / 若林汉二 / 千叶大辅 / 池田重隆 / 渡边正彦 / 23分钟 / 娜娜 / 剧情 / 爱情 / 动画 / 音乐 / 矢泽爱 Ai Yazawa / 金春智子 Tomoko Konparu / 笔安一幸 Kazuyuki Fudeyasu / 浦畑达彦 Tatsuhiko Urahata / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-07-15</span>

                            
                    </li>
                    <li>
                        <span class="comment">马克一下</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1794082" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1794082:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3850705398" >
            <div class="pic">
                <a title="A ciegas" href="https://movie.douban.com/subject/35650123/" class="nbg">
                    <img alt="A ciegas" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2893798362.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35650123/" class="">
                            <em>蒙上你的眼：逃出巴塞罗那 / A ciegas</em>
                             / 蒙上眼 / 蒙上你的眼：逃出巴塞隆纳
                        </a>
                    </li>
                        <li class="intro">2023-07-14(西班牙网络) / 乔治娜·坎贝尔 / 马里奥·卡萨斯 / 迭戈·卡尔瓦 / 米歇尔·珍娜 / 莱昂纳多·斯巴拉格利亚 / 洛拉·杜埃尼亚斯 / 帕特里克·克里亚多 / 西莉亚·费杰罗 / 冈扎洛·德·卡斯特 / 米洛·塔波阿达 / 西班牙 / 大卫·帕斯特尔 / 亚历克斯·帕斯特尔 / 111分钟 / 蒙上你的眼：逃出巴塞罗那 / 科幻 / 恐怖 / 乔什·马勒曼 Josh Malerman / 大卫·帕斯特尔 David Pastor / 亚历克斯·帕斯特尔 Àlex Pastor / 西班牙语 / 英语 / 德语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-07-14</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35650123" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35650123:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3837002073" >
            <div class="pic">
                <a title="進撃の巨人 The Final Season 完結編（前編）" href="https://movie.douban.com/subject/35853587/" class="nbg">
                    <img alt="進撃の巨人 The Final Season 完結編（前編）" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2883720945.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35853587/" class="">
                            <em>进击的巨人 最终季 完结篇 前篇 / 進撃の巨人 The Final Season 完結編（前編）</em>
                             / Attack on Titan: The Final Season, The Final Chapters - Part 1 / 进击的巨人 最终季 Part 3
                        </a>
                    </li>
                        <li class="intro">2023-03-04(日本) / 梶裕贵 / 石川由依 / 井上麻里奈 / 神谷浩史 / 细谷佳正 / 下野纮 / 三上枝织 / 谷山纪章 / 朴璐美 / 子安武人 / 花江夏树 / 佐仓绫音 / 沼仓爱美 / 小野大辅 / 小野贤章 / 斋贺光希 / 高桥研二 / 星祐树 / 青山穰 / 土田大 / 日本 / 林祐一郎 / 61分钟 / 进击的巨人 最终季 完结篇 前篇 / 动作 / 动画 / 奇幻 / 濑古浩司 Hiroshi Seko / 谏山创 Hajime Isayama / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-07-02</span>

                            
                    </li>
                    <li>
                        <span class="comment">啥啊，咋最终季这么长。。。。。。。。。。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35853587" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35853587:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3825233768" >
            <div class="pic">
                <a title="鬼滅の刃 柱稽古編" href="https://movie.douban.com/subject/36449810/" class="nbg">
                    <img alt="鬼滅の刃 柱稽古編" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2893513840.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36449810/" class="">
                            <em>鬼灭之刃 柱训练篇 / 鬼滅の刃 柱稽古編</em>
                             / 鬼灭之刃 九柱集训篇 / 鬼灭之刃 第四季
                        </a>
                    </li>
                        <li class="intro">2024(日本) / 花江夏树 / 鬼头明里 / 下野纮 / 松冈祯丞 / 樱井孝宏 / 小西克幸 / 河西健吾 / 早见沙织 / 花泽香菜 / 铃村健一 / 关智一 / 杉田智和 / 日本 / 外崎春雄 / 鬼灭之刃 柱训练篇 / 动画 / 吾峠呼世晴 Koyoharu Gotouge / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-06-20</span>

                            
                    </li>
                    <li>
                        <span class="comment">豆瓣更新很快啊，早上媒体才放的消息，晚上就有条目了（上午看了确实没有）。又是有生之年了</span>
                        
                            <span class="pl">(6 有用)</span>
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36449810" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36449810:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3815076088" >
            <div class="pic">
                <a title="透明侠侣" href="https://movie.douban.com/subject/35322160/" class="nbg">
                    <img alt="透明侠侣" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2889182702.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35322160/" class="">
                            <em>透明侠侣</em>
                             / 透明人 / 看不见我们的世界
                        </a>
                    </li>
                        <li class="intro">史策 / 王皓 / 孙天宇 / 白凯南 / 王成思 / 焦刚 / 周晓鸥 / 宋木子 / 周楚濋 / 王耀庆 / 倪虹洁 / 刘迅 / 葛四 / 蒋诗萌 / 刘思维 / 强咚咚 / 郭大宝 / 王不染 / 杨烨儿 / 章皓添 / 中国大陆 / 章笛沙 / 99分钟 / 剧情 / 喜剧 / 爱情 / 章笛沙 Disha Zhang / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-06-10</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35322160" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35322160:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3812343007" >
            <div class="pic">
                <a title="Hypnotic" href="https://movie.douban.com/subject/30151567/" class="nbg">
                    <img alt="Hypnotic" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2890800938.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30151567/" class="">
                            <em>催眠 / Hypnotic</em>
                             / 潛眠叛變(港)
                        </a>
                    </li>
                        <li class="intro">2023-03-12(西南偏南电影节) / 2023-05-12(美国) / 2023-05-26(戛纳电影节) / 本·阿弗莱克 / 艾莉丝·布拉加 / J.D.普拉多 / 戴奥·奥柯奈伊 / 杰夫·法赫 / 杰基·厄尔·哈利 / 威廉·菲克纳 / 赞恩·霍尔茨 / 鲁本·哈维尔·卡巴雷诺 / 凯莉·弗莱 / 桑迪·阿维拉 / 瑞恩·留萨基 / 哈拉·芬利 / 爱奥妮·奥利维亚·尼维斯 / 科瑞娜·卡尔德隆 / 劳伦斯·瓦尔纳多 / 德里克·罗素 / 达娜·温·刘 / 罗纳德·乔·瓦斯奎兹 / 海尔斯·杨 / 美国 / 罗伯特·罗德里格兹 / 92分钟 / 催眠 / 动作 / 悬疑 / 惊悚 / 罗伯特·罗德里格兹 Robert Rodriguez / 麦克思·鲍伦斯坦 Max Borenstein / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-06-07</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30151567" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30151567:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3812336163" >
            <div class="pic">
                <a title="1秒先の彼" href="https://movie.douban.com/subject/35891428/" class="nbg">
                    <img alt="1秒先の彼" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2890509457.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35891428/" class="">
                            <em>消失的情人节 / 1秒先の彼</em>
                             / 消失的情人节 日本版 / 快一秒的他(港/台)
                        </a>
                    </li>
                        <li class="intro">2023-06-10(上海国际电影节) / 2023-07-07(日本) / 冈田将生 / 清原果耶 / 福室莉音 / 笑福亭笑瓶 / 松本妃代 / 柊木阳太 / 永濑柚凪 / 山内圭哉 / 朝井大智 / 羽野晶纪 / 加藤雅也 / 荒川良良 / 片山友希 / 清水健 / 伊势志摩 / 日本 / 山下敦弘 / 120分钟 / 消失的情人节 / 喜剧 / 爱情 / 奇幻 / 宫藤官九郎 Kankurô Kudô / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-06-07</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35891428" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35891428:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3809460967" >
            <div class="pic">
                <a title="The Continental: From the World of John Wick" href="https://movie.douban.com/subject/26967910/" class="nbg">
                    <img alt="The Continental: From the World of John Wick" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2898417708.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26967910/" class="">
                            <em>大陆酒店 / The Continental: From the World of John Wick</em>
                             / 疾速追杀衍生剧 / 刺客旅馆
                        </a>
                    </li>
                        <li class="intro">2023-09-22(美国) / 科林·伍德尔 / 梅尔·吉布森 / 彼得·格林纳 / 本·罗伯森 / 阿约梅德·阿德根 / 凯特·绒 / 凯蒂·麦克格雷斯 / 杰西卡·阿莱恩 / 杰里米·博布 / 亚当·沙皮罗 / 萨莱·加内特 / 雷·迈克金农 / 玛丽娜·马泽帕 / 维拉格·巴拉尼 / 米歇尔·普拉达 / 克莱尔·库珀 / 李丹 / 西蒙·万 / 纳奥米·维尔特纳 / 杰瑞米·惠勒 / 休伯特·珀恩特·杜鲁尔 / 克里斯·雷曼 / 马特·布鲁尔 / 马克布·穆萨什 / 美国 / 艾尔伯特·休斯 / 夏洛特·布伦斯特伦 / 查德·斯塔赫斯基 /  / 90分钟 / 大陆酒店 / 动作 / 犯罪 / 惊悚 / 格雷格·库利奇 Greg Coolidge / 德里克·科尔斯塔 Derek Kolstad / 肖恩·西蒙斯 Shawn Simmons / 柯克·沃德 / 克里斯·柯林斯 Chris Collins / 肯·克里斯滕森 Ken Kristensen / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-06-04</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26967910" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26967910:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3809460717" >
            <div class="pic">
                <a title="Ballerina" href="https://movie.douban.com/subject/34807062/" class="nbg">
                    <img alt="Ballerina" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2884219955.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/34807062/" class="">
                            <em>芭蕾女杀手 / Ballerina</em>
                             / 芭蕾杀手 / 芭蕾猎杀
                        </a>
                    </li>
                        <li class="intro">2024-06-07(美国) / 安娜·德·阿玛斯 / 基努·里维斯 / 兰斯·莱迪克 / 伊恩·麦柯肖恩 / 诺曼·瑞杜斯 / 安杰丽卡·休斯顿 / 卡塔琳娜·桑地诺·莫雷诺 / 加布里埃尔·伯恩 / 安娜·帕里约 / 亚伯拉罕·波波拉 / 凯莱布·斯比尔亚兹 / 马克·克拉姆 / 珍妮·艾加特 / 美国 / 伦·怀斯曼 / 芭蕾女杀手 / 动作 / 惊悚 / 埃默拉尔德·芬内尔 Emerald Fennell / 谢伊·哈顿 Shay Hatten / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-06-04</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34807062" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34807062:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3804298822" >
            <div class="pic">
                <a title="不良執念清除師" href="https://movie.douban.com/subject/35839999/" class="nbg">
                    <img alt="不良執念清除師" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2885470890.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35839999/" class="">
                            <em>不良执念清除师 / 不良執念清除師</em>
                             / Oh No! Here Comes Trouble
                        </a>
                    </li>
                        <li class="intro">2023-04-15(中国台湾) / 曾敬骅 / 宋芸桦 / 彭千祐 / 杨谨华 / 孙情 / 窦智孔 / 马力欧 / 吕雪凤 / 王满娇 / 姚淳耀 / 沈孟生 / 郑人硕 / 郑元畅 / 钟欣凌 / 黑嘉嘉 / 范少勋 / 林鹤轩 / 张轩睿 / 季芹 / 李沐 / 初孟轩 / 吴志庆 / 胡释安 / 钟思羽 / 马玮伶 / 查侬·散顶腾古 / 颜郁澄 / 高英轩 / 侯彦西 / 张永正 / 陈沂以 / 陈沂加  / 丁春诚 / 戴昆宪 / 中国台湾 / 林冠慧 / 51分钟 / 不良执念清除师 / 喜剧 / 奇幻 / 林冠慧 Kuan Hui Lin / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-05-30</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35839999" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35839999:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3802175902" >
            <div class="pic">
                <a title="Kill Bill: Vol. 1" href="https://movie.douban.com/subject/1291580/" class="nbg">
                    <img alt="Kill Bill: Vol. 1" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2454638445.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1291580/" class="">
                            <em>杀死比尔 / Kill Bill: Vol. 1</em>
                             / 标杀令(港) / 追杀比尔(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2003-09-29(好莱坞首映) / 2003-10-10(美国) / 乌玛·瑟曼 / 刘玉玲 / 薇薇卡·福克斯 / 达丽尔·汉纳 / 大卫·卡拉丁 / 迈克尔·马德森 / 朱莉·德赖弗斯 / 栗山千明 / 千叶真一 / 刘家辉 / 迈克尔·帕克斯 / 迈克尔·鲍文 / 国村隼 / 大叶健二 / 风祭由纪 / 高桥一生 / 真濑树里 / 张伸 / 田中要次 / 佐藤佐吉 / 森下能幸 / 北村一辉 / Ambrosia Kelley / 美国 / 昆汀·塔伦蒂诺 / 111分钟 / 杀死比尔 / 动作 / 犯罪 / 惊悚 / 昆汀·塔伦蒂诺 Quentin Tarantino / 乌玛·瑟曼 Uma Thurman / 英语 / 日语 / 法语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-05-28</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1291580" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1291580:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/mewcatcher/wish?start=15&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid"/>
            <a href="/people/mewcatcher/wish?start=15&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >&lt;前页</a>
        </span>
        
        

                
            <a href="/people/mewcatcher/wish?start=0&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >1</a>
        
                
            <a href="/people/mewcatcher/wish?start=15&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >2</a>
        
                <span class="thispage" data-total-page="40">3</span>
                
            <a href="/people/mewcatcher/wish?start=45&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >4</a>
        
                
            <a href="/people/mewcatcher/wish?start=60&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >5</a>
        
                
            <a href="/people/mewcatcher/wish?start=75&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >6</a>
        
                
            <a href="/people/mewcatcher/wish?start=90&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >7</a>
        
                
            <a href="/people/mewcatcher/wish?start=105&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >8</a>
        
                
            <a href="/people/mewcatcher/wish?start=120&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >9</a>
        
            <span class="break">...</span>
                
            <a href="/people/mewcatcher/wish?start=570&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >39</a>
        
            <a href="/people/mewcatcher/wish?start=585&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >40</a>
        
        <span class="next">
            <link rel="next" href="/people/mewcatcher/wish?start=45&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid"/>
            <a href="/people/mewcatcher/wish?start=45&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                

    <!-- 加载 raikiri.js -->

    
    


<div class="side-info">
    <a href="https://www.douban.com/people/mewcatcher/" class="side-info-avatar"><img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" /></a>
    <div class="side-info-txt">
        <h3>MewX</h3>
        &gt;&nbsp;<a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="/people/mewcatcher/">我的电影主页</a>
        </p>
    </div>
            
    <h2>
        想看的标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

        
        
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=time&amp;start=30&amp;filter=all&amp;mode=grid&amp;tags_sort=name">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">


    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E7%A7%91%E5%B9%BB&amp;mode=grid" title="科幻">科幻</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E5%8A%A8%E7%94%BB&amp;mode=grid" title="动画">动画</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=2018&amp;mode=grid" title="2018">2018</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E6%97%A5%E6%9C%AC&amp;mode=grid" title="日本">日本</a>
        <span>1</span>
    </li>
</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"count","filter":"all","tag":"日本","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/mewcatcher/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "wish"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/mewcatcher/wish?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2023 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-5fcb8c6bf8-w95wx-->

  <script>_SPLITTEST=''</script>
</body>

</html>


