<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    我想看的电影(588)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img1.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/02814fbb5bee25484516bd0a642af695f7ec5a83/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/movie/cb1cb6aaa244dff6a281d103ff26d445debd130a/dist/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/aa9559674f2476cdc16f755b3cdc4ebc478db669/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img1.doubanio.com/f/vendors/e83b5821d4d376b18130d73c7bffc8a78fe82947/css/ui/mypage.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <style type="text/css">
        #db-usr-profile .info ul li { margin-right: 10px;}
    
    .side-info {
        overflow: hidden;
        *zoom: 1;
        margin-bottom: 20px;
        padding: 16px;
        background: #F0F3F5;
    }
    .side-info-avatar {
        float: left;
        margin-right: 14px;
    }
    .side-info-txt {
        word-wrap: break-word;
        overflow: hidden;
        *zoom: 1;
    }
    .side-info .user-content{
        margin-top:15px;
    }
    .side-info-txt h3 {
        margin: 0;
        font-size: 16px;
        background: none;
        color: #111;
    }
</style>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/164cfd8/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>MewX的账号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">账号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=itS8">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;82160871&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;82160871&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;82160871&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;82160871&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;82160871&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;82160871&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;82160871&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;82160871&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "82160871",
    UPLOAD_AUTH_TOKEN: "82160871:dc21e2b5320d9cb31a88bd4c16fabca3620337f0",
    SSE_TOKEN: "1140740bbc1315dda883cd7a9ca39ae792a65d86",
    SSE_TIMESTAMP: "1702901564",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/164cfd8/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/164cfd8/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2022/?fullscreen=1&source=navigation"
     >2022年度榜单</a>
    </li>
    <li    ><a href="https://standbyme2022.douban.com/?autorotate=false&fullscreen=true&hidenav=true&source=web_navigation"
            target="_blank"
     >2022书影音报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2022/?fullscreen=1&source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/164cfd8/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="/people/mewcatcher/">
                <img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" />
            </a>
        </div>
        <div class="info">
            <h1>我想看的电影(588)</h1>
            <ul>
                    
        <li><a href="/people/mewcatcher/">电影主页</a></li>
    
                    
        <li><a href="/people/mewcatcher/reviews">影评</a></li>
    
                    
        <li><a href="/people/mewcatcher/question">问答</a></li>
    
                    
        <li><a href="/people/mewcatcher/do">在看</a></li>
    
                    
        <li><a href="/people/mewcatcher/wish">想看</a></li>
    
                    
        <li><a href="/people/mewcatcher/collect">看过</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/doulists">豆列</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/subject_doulists/movie">片单</a></li>
    
                    
        <li><a href="https://movie.douban.com/ticket/mine">电影票</a></li>
    
                    
        <li><a href="https://movie.douban.com/notifications">电影提醒</a></li>
    
                    
        <li><a href="/settings/">设置</a></li>
    
                    
        <li class="sep">|</li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a></li>
    
            </ul>
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按评分排序</a><span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:38px; position: relative; top:3px}
            .tabs-more .gray {color:#999}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url('https://img1.doubanio.com/f/movie/479b9d6dcc35cd548d9cd1a2d826f23213f5868c/pics/movie/icons/tongcheng_tab_down.gif') no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url('https://img1.doubanio.com/f/movie/0badd8bb59652acb2f2823388150bdf1c02502f8/pics/movie/icons/tongcheng_tab_up.gif') no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url('https://img1.doubanio.com/f/movie/479b9d6dcc35cd548d9cd1a2d826f23213f5868c/pics/movie/icons/tongcheng_tab_down.gif') no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url('https://img1.doubanio.com/f/movie/0badd8bb59652acb2f2823388150bdf1c02502f8/pics/movie/icons/tongcheng_tab_up.gif') no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;start=0&amp;amp;filter=schedule&amp;amp;mode=grid&amp;amp;tags_sort=count">正在热映</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;start=0&amp;amp;filter=video&amp;amp;mode=grid&amp;amp;tags_sort=count">在线观看</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                571-585&nbsp;/&nbsp;588
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="/people/mewcatcher/wish?sort=time&amp;amp;start=570&amp;amp;filter=all&amp;amp;mode=list&amp;amp;tags_sort=count">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item comment-item" data-cid="1133295796" >
            <div class="pic">
                <a title="龙岭迷窟" href="https://movie.douban.com/subject/26705592/" class="nbg">
                    <img alt="龙岭迷窟" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2874660791.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26705592/" class="">
                            <em>龙岭迷窟</em>
                             / 鬼吹灯之龙岭迷窟
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2022-06-17(中国大陆网络) / 蔡珩 / 顾璇 / 于恒 / 陈雨锶 / 马浴柯 / 中国大陆 / 非行 / 90分钟 / 剧情 / 悬疑 / 奇幻 / 天下霸唱 Muye Zhang / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2017-01-07</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26705592" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26705592:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1133295265" >
            <div class="pic">
                <a title="The Crowded Room" href="https://movie.douban.com/subject/2263061/" class="nbg">
                    <img alt="The Crowded Room" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2251159789.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/2263061/" class="">
                            <em>拥挤的房间 / The Crowded Room</em>
                             / 24个比利
                        </a>
                    </li>
                        <li class="intro">莱昂纳多·迪卡普里奥 / 美国 / 拥挤的房间 / 剧情 / 托德·卡茨伯格 Todd Katzberg / 丹尼尔·凯斯 Daniel Keyes / 杰森·史米洛维克 Jason Smilovic / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2017-01-07</span>

                            
                    </li>
                    <li>
                        <span class="comment">24重人格，沃的天，只看过两仪式双重人格的路过</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-2263061" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="2263061:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1133294518" >
            <div class="pic">
                <a title="Source Code 2" href="https://movie.douban.com/subject/26275567/" class="nbg">
                    <img alt="Source Code 2" src="https://img1.doubanio.com/f/movie/b6dc761f5e4cf04032faa969826986efbecd54bb/pics/movie/movie_default_small.png" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26275567/" class="">
                            <em>源代码2 / Source Code 2</em>
                            
                        </a>
                    </li>
                        <li class="intro">美国 / 安娜·福斯特 / 源代码2 / 动作 / 科幻 / 惊悚 / 本·雷普利 Ben Ripley / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2017-01-07</span>

                            
                    </li>
                    <li>
                        <span class="comment">脑洞大开的电影必看！</span>
                        
                            <span class="pl">(6 有用)</span>
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26275567" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26275567:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1130828263" >
            <div class="pic">
                <a title="プロフェッショナル 仕事の流儀「希望を灯す、魂の映画～アニメーション映画監督・細田守～」" href="https://movie.douban.com/subject/26602379/" class="nbg">
                    <img alt="プロフェッショナル 仕事の流儀「希望を灯す、魂の映画～アニメーション映画監督・細田守～」" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2536799170.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26602379/" class="">
                            <em>职业人的作风 动画导演细田守 / プロフェッショナル 仕事の流儀「希望を灯す、魂の映画～アニメーション映画監督・細田守～」</em>
                             / Professional 行家本色：点燃希望的灵魂电影～动画电影导演细田守～
                        </a>
                    </li>
                        <li class="intro">2015-08-03(日本) / 细田守 / 役所广司 / 宫崎葵 / 染谷将太 / 日本 / 48分钟 / 职业人的作风 动画导演细田守 / 纪录片 / NHK / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2017-01-02</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26602379" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26602379:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1126455400" >
            <div class="pic">
                <a title="この世界の片隅に" href="https://movie.douban.com/subject/11611021/" class="nbg">
                    <img alt="この世界の片隅に" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2384601603.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/11611021/" class="">
                            <em>在这世界的角落 / この世界の片隅に</em>
                             / 谢谢你，在世界角落中找到我(港) / 谢谢你，在世界的角落找到我(台)
                        </a>
                    </li>
                        <li class="intro">2016-11-12(日本) / 2023(中国大陆) / 能年玲奈 / 细谷佳正 / 尾身美词 / 稻叶菜月 / 牛山茂 / 新谷真弓 / 小野大辅 / 岩井七世 / 潘惠美 / 京田尚子 / 涩谷天外 / 佐佐木望 / 巴奎依 / 日本 / www.konosekai.jp / 片渊须直 / 129分钟 / 在这世界的角落 / 剧情 / 战争 / 动画 / 片渊须直 Sunao Katabuchi / 河野史代 Fumiyo Kono / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2016-12-26</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-11611021" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="11611021:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1102923503" >
            <div class="pic">
                <a title="The Thinning" href="https://movie.douban.com/subject/26853690/" class="nbg">
                    <img alt="The Thinning" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2452260175.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26853690/" class="">
                            <em>人类削减计划 / The Thinning</em>
                             / 消减
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-10-12(美国) / 罗根·保罗 / 佩顿·李斯特 / 莉亚·玛瑞·约翰逊 / 卡勒姆·沃西 / 瑞恩·纽曼 / 迈克尔·特拉诺尔 / 斯黛西·达什 / 马修·格拉夫 / 罗伯特·甘特 / 绮尔斯腾·瓦伦 / 贾纳·温特尼茨 / 帕特里克·奥沙利文 / 艾米·帕夫拉特 / 杰夫·科贝特 / 劳拉·哈灵 / 戴维·A·库珀 / 库尔特·卡塞雷斯 / 艾莉亚·莱蕊克·勒布 / 迈尔斯·艾略特 / 苏克里奇·巴拉 / Laura Covelli / 美国 / www.legendary.com/digital/the-thinning/ / 迈克尔·J·格拉赫 / 81分钟 / 人类削减计划 / 科幻 / 惊悚 / 迈克尔·J·格拉赫 Michael J. Gallagher / 史提夫·格林尼 Steve Greene / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2016-10-28</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26853690" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26853690:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1082876144" >
            <div class="pic">
                <a title="僕だけがいない街" href="https://movie.douban.com/subject/26427106/" class="nbg">
                    <img alt="僕だけがいない街" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2326879831.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26427106/" class="">
                            <em>只有我不在的街道 / 僕だけがいない街</em>
                             / 只有我不存在的城市 / The Town Where Only I Am Missing
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-01-08(日本) / 土屋太凤 / 满岛真之介 / 悠木碧 / 赤崎千夏 / 大地叶 / 水岛大宙 / 高山南 / 宫本充 / 田丸笃志 / 竹内荣治 / 高桥伸也 / 山本兼平 / 朝井彩加 / 日本 / bokumachi-anime.com / 伊藤智彦 / 石井俊匡 / 绵田慎也 / 鹿间贵裕 / 森大贵 / 星野真 / 23分钟 / 只有我不在的街道 / 动画 / 悬疑 / 岸本卓 Taku Kishimoto / 安永丰 Yasunaga Yutaka / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2016-09-09</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26427106" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26427106:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1082876036" >
            <div class="pic">
                <a title="SHIROBAKO" href="https://movie.douban.com/subject/25955381/" class="nbg">
                    <img alt="SHIROBAKO" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2618179080.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/25955381/" class="">
                            <em>白箱 / SHIROBAKO</em>
                            
                        </a>
                    </li>
                        <li class="intro">2014-10-09(日本) / 木村珠莉 / 佳村遥 / 千菅春香 / 高野麻美 / 大和田仁美 / 吉野裕行 / 山冈百合 / 松冈祯丞 / 松风雅也 / 茅野爱衣 / 中原麻衣 / 高木涉 / 桧山修之 / 滨田贤二 / 沼仓爱美 / 松本忍 / 山川琴美 / 间岛淳司 / 高梨谦吾 / 伊藤静 / 日野麻里 / 小伏伸之 / 叶山郁美 / 米泽圆 / 井泽诗织 / 小林裕介 / 樫井笙人 / 福岛润 / 樱井孝宏 / 高桥李依 / 菅原雅芳 / 岩田光央 / 高桥伸也 / 横尾麻里 / 野濑育二 / 小西克幸 / 兴津和幸 / 森谷里美 / 青山穰 / 田村由香里 / 保村真 / 宫田幸季 / 手冢宏通 / 子安武人 / 樱井浩美 / 滨野大辉 / 齐藤次郎 / 山本格 / 江越彬纪 / 村田太志 / 桥本千波 / 岸本百惠 / 川田绅司 / 日本 / www.shirobako-anime.com / 水岛努 / 今泉贤一 / 菱川直树 / 湖山祯崇 / 畑博之 / 守冈博 / 平牧大辅 / 太田知章 / 高岛大辅 / 小森香织 / 仓川英扬 / 熨斗谷充孝 / 菅沼芙实彦 / 23分钟 / 白箱 / 喜剧 / 动画 / 横手美智子 Michiko Yokote / 吉田玲子 Reiko Yoshida / 浦畑达彦 Tatsuhiko Urahata / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2016-09-09</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25955381" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25955381:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1082876007" >
            <div class="pic">
                <a title="月刊少女野崎くん" href="https://movie.douban.com/subject/25850705/" class="nbg">
                    <img alt="月刊少女野崎くん" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2191065569.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/25850705/" class="">
                            <em>月刊少女野崎君 / 月刊少女野崎くん</em>
                             / 月刊少女野崎同学(台) / 月刊少女野崎(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-07-06(日本) / 中村悠一 / 小泽亚李 / 冈本信彦 / 小野友树 / 中原麻衣 / 木村良平 / 泽城美雪 / 三宅健太 / 小野大辅 / 川澄绫子 / 三宅麻理惠 / 宫野真守 / 桥本千波 / 长妻树里 / 上坂堇 / 石谷春贵 / Lynn / 山本亚依 / 佐仓绫音 / 高森奈津美 / 北田理道 / 小林沙苗 / 柳田淳一 / 高桥伸也 / 铃木达央 / 荻野晴朗 / 日本 / 山崎光惠 / 竹下良平 / 渡部稳宽 / 守田艺成 / 野木森达哉 / 23分钟 / 月刊少女野崎君 / 喜剧 / 动画 / 中村能子 Yuko Nakamura / 椿泉水 / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2016-09-09</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25850705" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25850705:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1057938234" >
            <div class="pic">
                <a title="三体" href="https://movie.douban.com/subject/21335171/" class="nbg">
                    <img alt="三体" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2264149578.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/21335171/" class="">
                            <em>三体</em>
                             / 三体1 / The Three-Body Problem: I
                        </a>
                    </li>
                        <li class="intro">冯绍峰 / 张静初 / 吴刚 / 唐嫣 / 张翰 / 杜淳 / 杜志国 / 邢佳栋 / 张光北 / 胡明 / 程媛媛 / 胡海锋 / 李思函 / 大卫·伍德雷 / 达伦·格罗夫纳 / 兰道尔·洛威 / 马库斯·西尔比格 / 本·奥伦斯坦 / 克里斯托弗·托德·埃文斯 / 中国大陆 / 张番番 / 176分钟 / 剧情 / 科幻 / 宋春雨 Chunyu Song / 刘慈欣 Cixin Liu / 英语 / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2016-07-03</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-21335171" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="21335171:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1056707713" >
            <div class="pic">
                <a title="Who Am I - Kein System ist sicher" href="https://movie.douban.com/subject/25932086/" class="nbg">
                    <img alt="Who Am I - Kein System ist sicher" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2241265982.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/25932086/" class="">
                            <em>我是谁：没有绝对安全的系统 / Who Am I - Kein System ist sicher</em>
                             / 黑客搏击会(港) / Who Am I - No System Is Safe
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-09-25(德国) / 汤姆·希林 / 埃利亚斯·穆巴里克 / 沃坦·维尔克·默林 / 汉娜·赫茨施普龙 / 崔娜·蒂虹 / 李奥那多·卡劳 / 小安托万·莫诺特 / 利奥波德·霍尔农 / 卡塔琳娜·马茨 / 阿尔恩特·施韦林·索瑞 / 德国 / www.whoami-film.de/site/ / 巴伦·博·欧达尔 / 102分钟 / 我是谁：没有绝对安全的系统 / 犯罪 / 悬疑 / 惊悚 / Baran bo Odar / Jantje Friese / 德语 / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2016-06-29</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25932086" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25932086:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1034801299" >
            <div class="pic">
                <a title="Under the Dome" href="https://movie.douban.com/subject/4164106/" class="nbg">
                    <img alt="Under the Dome" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p1989694610.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/4164106/" class="">
                            <em>穹顶之下 第一季 / Under the Dome Season 1</em>
                             / 天幕围城(港) / 苍穹之下
                        </a>
                    </li>
                        <li class="intro">2013-06-24(美国) / 迈克·沃格尔 / 科林·福特 / 艾莎·辛德斯 / 亚历山大·柯克 / 蕾切尔·勒费夫尔 / 娜塔丽·马丁内斯 / 迪恩·诺里斯 / 茱莲妮·普迪 / 布丽特·罗伯森 / 娜塔莉·齐尔 / 凯蒂·加菲 / 麦肯兹·林茨 / 齐科·扎基 / Josh Carter / Lauren Henneberg / 美国 / www.cbs.com/shows/under-the-dome/ / 杰克·本德 / 涅尔斯·阿登·欧普勒夫 / 罗克珊·道森 / 米格尔·萨普什尼克 / 卡莉·斯考格兰德 / 保罗·A·爱德华兹 / 穹顶之下 / 43分钟 / 穹顶之下 / 科幻 / 恐怖 / 斯蒂芬·金 Stephen King / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2016-04-23</span>

                            
                    </li>
                    <li>
                        <span class="comment">被推荐</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-4164106" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="4164106:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1034799454" >
            <div class="pic">
                <a title="Lie to Me" href="https://movie.douban.com/subject/3103678/" class="nbg">
                    <img alt="Lie to Me" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p541283508.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/3103678/" class="">
                            <em>千谎百计 第一季 / Lie to Me Season 1</em>
                             / 别对我撒谎 第一季 / 你骗我试试 第一季
                        </a>
                    </li>
                        <li class="intro">2009-01-21(美国) / 蒂姆·罗斯 / 凯利·威廉姆斯 / 莫妮卡·雷蒙德 / 布伦丹·海因斯 / 梅奇·费法 / 西恩·帕特里克·汤玛斯 / 哈蕾·麦克法兰 / 詹妮弗·比尔斯 / 马赫沙拉·阿里 / 玛德琳·卡罗尔 / 克里·杜瓦尔 / 米瑞·伊诺丝 / 安娜丽丝·巴索 / 阿曼达·舒尔 / 杰克·约翰逊 / 谢伊·惠格姆 / 杰克·托马斯 / 里克·霍夫曼 / 杰西卡·帕克·肯尼迪 / 丹尼尔·逊亚塔 / 布莱恩·泰 / 大卫·安德斯 / 马吉纳·托娃 / 梅根·多兹 / 艾米莉·贝吉尔 / 葆拉·马尔科姆森 / 汤姆·维里卡 / 迪尔德丽·罗夫乔 / 佩吉·瓦哈达特 / 蒂姆·金尼 / D·B·伍德塞德 / 弗瑞德里克·林恩 / 库里·格拉汉姆 / 艾莉森·拉·普拉卡 / 罗伯特·维斯多姆 / 克里斯蒂尼·亚当斯 / 凯瑟琳·迈瑟尔 / Lena Ahn / 余朝汉 / 安德鲁·罗森博格 / 安东尼·阿吉吉 / 查尔斯·拉西·陈 / 马克·万恩 / 乔诺·罗伯茨 / 罗兰佐·卡伦德 / 斯科特·阿兰·史密斯 / 温迪·肯亚 / 凯文·泰德 / 艾默生·布鲁克斯 / 汤姆·蔡 / 卡里斯·坎贝尔 / 阿杰·梅赫塔 / 斯科特·阿特金森 / 克里克·B·R·沃勒尔 / 米歇尔·安妮·约翰逊 / 斯科特·霍斯比 / 吉姆·霍尔姆斯 / 美国 / 罗伯特·施文特克 / 亚当·戴维森 / 莱丝莉·琳卡·格拉特 / 克拉克·约翰森 / 蒂姆·亨特 / 米兰·赫伊洛夫 / 塞斯·曼恩 / 埃里克·拉纳维尔 / 阿文·布朗 / 千谎百计 / 40分钟 / 千谎百计 / 犯罪 / 剧情 / 悬疑 / 惊悚 / 乔希·辛格 Josh Singer / Samuel Baum / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2016-04-23</span>

                            
                    </li>
                    <li>
                        <span class="comment">设定蛮有趣</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-3103678" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="3103678:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1034797468" >
            <div class="pic">
                <a title="London Spy" href="https://movie.douban.com/subject/25986676/" class="nbg">
                    <img alt="London Spy" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2282546449.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/25986676/" class="">
                            <em>伦敦谍影 / London Spy</em>
                             / 伦敦间谍 / 伦敦特工
                        </a>
                    </li>
                        <li class="intro">2015-11-09(英国) / 本·卫肖 / 爱德华·霍尔克罗夫特 / 夏洛特·兰普林 / 吉姆·布劳德本特 / 保罗·布莱克维尔 / 安东尼娅·坎贝尔-休斯 / 泽琳卡·切维特西克 / 约瑟夫·阿尔京 / 艾德里安·莱斯特 / 里卡尔多·斯卡马奇奥 / 马克·加蒂斯 / 杰伊·本尼迪克特 / 马修·斯塔格 / 詹姆斯·福克斯 / 凯特·迪基 / 理查德·班克斯 / 英国 / 雅各布·维尔布鲁根 /  / 60分钟 / 伦敦谍影 / 剧情 / 惊悚 / 同性 / 汤姆·罗伯·史密斯 Tom Rob Smith / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2016-04-23</span>

                            
                    </li>
                    <li>
                        <span class="comment">考虑下GAY片儿</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25986676" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25986676:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1032409864" >
            <div class="pic">
                <a title="An Inspector Calls" href="https://movie.douban.com/subject/25955491/" class="nbg">
                    <img alt="An Inspector Calls" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2371533057.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/25955491/" class="">
                            <em>罪恶之家 / An Inspector Calls</em>
                             / 探长来访 / 神探驾到
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-09-13(英国) / 大卫·休里斯 / 米兰达·理查森 / 苏菲·兰朵 / 肯·斯托特 / 芬恩·科尔 / 克洛伊·皮里 / 凯尔·索列尔 / 弗洛拉·尼科尔森 / 加里·戴维斯 / 旺达·奥普琳斯卡 / 英国 / www.bbc.co.uk/programmes/p02z80kq / 艾斯林·沃什 / 87分钟 / 罪恶之家 / 剧情 / 悬疑 / 约翰·博因顿·普里斯特利 J.B. Priestley / 海伦·埃德蒙森 Helen Edmundson / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2016-04-16</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25955491" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25955491:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/mewcatcher/wish?start=555&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid"/>
            <a href="/people/mewcatcher/wish?start=555&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >&lt;前页</a>
        </span>
        
        
            
            <a href="/people/mewcatcher/wish?start=0&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >1</a>
        
            <a href="/people/mewcatcher/wish?start=15&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >2</a>
        <span class="break">...</span>

                
            <a href="/people/mewcatcher/wish?start=465&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >32</a>
        
                
            <a href="/people/mewcatcher/wish?start=480&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >33</a>
        
                
            <a href="/people/mewcatcher/wish?start=495&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >34</a>
        
                
            <a href="/people/mewcatcher/wish?start=510&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >35</a>
        
                
            <a href="/people/mewcatcher/wish?start=525&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >36</a>
        
                
            <a href="/people/mewcatcher/wish?start=540&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >37</a>
        
                
            <a href="/people/mewcatcher/wish?start=555&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >38</a>
        
                <span class="thispage" data-total-page="40">39</span>
                
            <a href="/people/mewcatcher/wish?start=585&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >40</a>
        
        <span class="next">
            <link rel="next" href="/people/mewcatcher/wish?start=585&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid"/>
            <a href="/people/mewcatcher/wish?start=585&amp;sort=time&amp;rating=all&amp;filter=all&amp;mode=grid" >后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                

    <!-- 加载 raikiri.js -->

    
    


<div class="side-info">
    <a href="https://www.douban.com/people/mewcatcher/" class="side-info-avatar"><img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" /></a>
    <div class="side-info-txt">
        <h3>MewX</h3>
        &gt;&nbsp;<a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="/people/mewcatcher/">我的电影主页</a>
        </p>
    </div>
            
    <h2>
        想看的标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

        
        
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=time&amp;start=570&amp;filter=all&amp;mode=grid&amp;tags_sort=name">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">


    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E7%A7%91%E5%B9%BB&amp;mode=grid" title="科幻">科幻</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E5%8A%A8%E7%94%BB&amp;mode=grid" title="动画">动画</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=2018&amp;mode=grid" title="2018">2018</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E6%97%A5%E6%9C%AC&amp;mode=grid" title="日本">日本</a>
        <span>1</span>
    </li>
</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"count","filter":"all","tag":"日本","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/mewcatcher/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "wish"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/mewcatcher/wish?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2023 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-5fcb8c6bf8-rtb5f-->

  <script>_SPLITTEST=''</script>
</body>

</html>


