<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    我想看的影视(627)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img1.doubanio.com/cuphead/movie-static/pics/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/e92483e5e4c9c60cc75cbd8b700a2fd5b5fdf7b0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/cuphead/movie-static/base/init.15f4b.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/e057439e70105417dffc6fab571688d52efeab23/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img1.doubanio.com/f/vendors/37e1cfca2d0e2d0a9a4bf05cc05072d69d27c975/css/ui/mypage.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <style type="text/css">
        #db-usr-profile .info ul li { margin-right: 10px;}
    
    .side-info {
        overflow: hidden;
        *zoom: 1;
        margin-bottom: 20px;
        padding: 16px;
        background: #F0F3F5;
    }
    .side-info-avatar {
        float: left;
        margin-right: 14px;
    }
    .side-info-txt {
        word-wrap: break-word;
        overflow: hidden;
        *zoom: 1;
    }
    .side-info .user-content{
        margin-top:15px;
    }
    .side-info-txt h3 {
        margin: 0;
        font-size: 16px;
        background: none;
        color: #111;
    }
</style>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>MewX的账号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">账号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=Us7b">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;82160871&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;82160871&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;82160871&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;82160871&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;82160871&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;82160871&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;82160871&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;82160871&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "82160871",
    UPLOAD_AUTH_TOKEN: "82160871:07d511706e5d764d8f30b32be4e9641c37e29b0b",
    SSE_TOKEN: "0c4760f18092172a8f4b0f9fdd161b14223e7ce8",
    SSE_TIMESTAMP: "1723344639",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=navigation"
     >2023年度榜单</a>
    </li>
    <li    ><a href="https://c9.douban.com/app/standbyme-2023/?autorotate=false&fullscreen=true&hidenav=true&monitor_screenshot=true&source=web_navigation"
            target="_blank"
     >2023年度报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="/people/mewcatcher/">
                <img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" />
            </a>
        </div>
        <div class="info">
            <h1>我想看的影视(627)</h1>
            <ul>
                    
        <li><a href="/people/mewcatcher/">电影主页</a></li>
    
                    
        <li><a href="/people/mewcatcher/reviews">影评</a></li>
    
                    
        <li><a href="/people/mewcatcher/question">问答</a></li>
    
                    
        <li><a href="/people/mewcatcher/do">在看</a></li>
    
                    
        <li><a href="/people/mewcatcher/wish">想看</a></li>
    
                    
        <li><a href="/people/mewcatcher/collect">看过</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/doulists">豆列</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/subject_doulists/movie">片单</a></li>
    
                    
        <li><a href="https://movie.douban.com/ticket/mine">电影票</a></li>
    
                    
        <li><a href="https://movie.douban.com/notifications">电影提醒</a></li>
    
                    
        <li><a href="/settings/">设置</a></li>
    
                    
        <li class="sep">|</li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a></li>
    
            </ul>
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按评分排序</a><span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:18px;position: relative; top:1px}
            .tabs-more .gray {color:#999}
            :first-of-type + .tabs-more {margin-left:38px}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=schedule&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">正在热映</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=video&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">在线观看</a></li>
            </ul>
        </div>
        <div class="tabs-more">
            
            <span class="gray">影片类型:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=movie">电影</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=tv">电视</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                346-360&nbsp;/&nbsp;627
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="/people/mewcatcher/wish?sort=time&amp;amp;start=345&amp;amp;filter=all&amp;amp;mode=list&amp;amp;tags_sort=count">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item comment-item" data-cid="2928964063" >
            <div class="pic">
                <a title="The Departed" href="https://movie.douban.com/subject/1315316/" class="nbg">
                    <img alt="The Departed" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p1471403480.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1315316/" class="">
                            <em>无间道风云 / The Departed</em>
                             / 无间行者 / 神鬼无间
                        </a>
                    </li>
                        <li class="intro">2006-09-26(纽约首映) / 2006-10-06(美国) / 2006-10-06(中国香港) / 莱昂纳多·迪卡普里奥 / 马特·达蒙 / 杰克·尼科尔森 / 马克·沃尔伯格 / 马丁·辛 / 雷·温斯顿 / 维拉·法米加 / 安东尼·安德森 / 亚历克·鲍德温 / 凯文·考利甘 / 詹姆斯·戴尔 / 大卫·奥哈拉 / 马克·罗斯顿 / 罗伯特·沃尔伯格 / 克里斯汀·达尔顿 / J·C·麦肯泽 / 约翰·塞纳迭姆博 / 比利·史密斯 / 莱曼·陈 / 布瑞恩·斯米吉 / 威廉·西弗斯 / 拉里·米切尔 / 安东尼·埃斯特拉 / 安德鲁·布雷文 / 特蕾西佩里尔 / 道格拉斯·克罗斯比 / 多罗蒂·林曼 / 奥德丽·尼南 / 康纳尔·多诺万 / 阿蔓德林奇 / 萨莉·图桑 / 米克·奥罗克 / 丹尼斯·林奇 / 迈克尔·拜伦 / 威廉·李 / 约翰·鲁 / 彼得·克拉夫茨 / 约瑟夫·莱迪 / 布莱恩·黑利 / 泰瑞·塞尔皮科 / 博·克利里 / 姬尔布朗 / 扎卡里·保利克斯 / 约翰尼·希科 / 蔡斯·凯利 / 谢伊·达芬 / 弗朗切丝卡·斯科塞斯 / 艾玛·特林格·科斯考夫 / 迪翁·拜亚 / 埃里克·布鲁诺·伯格曼 / 布伦丹·伯克 / 美国 / 中国香港 / 马丁·斯科塞斯 / 151分钟 / 无间道风云 / 剧情 / 犯罪 / 惊悚 / 威廉·莫纳汉 William Monahan / 麦兆辉 Alan Mak / 庄文强 Felix Chong / 英语 / 粤语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-06-25</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1315316" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1315316:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2925679539" >
            <div class="pic">
                <a title="冴えない彼女の育てかた" href="https://movie.douban.com/subject/25850625/" class="nbg">
                    <img alt="冴えない彼女の育てかた" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2212217488.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/25850625/" class="">
                            <em>路人女主的养成方法 / 冴えない彼女の育てかた</em>
                             / 不起眼女主角培育法 / Saenai Heroine No Sodatekata
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-01-08(日本) / 松冈祯丞 / 大西沙织 / 茅野爱衣 / 安野希世乃 / 矢作纱友里 / 赤崎千夏 / 柿原彻也 / 中原麻衣 / 铃木绘理 / 田边留依 / 大地叶 / 内田雄马 / 桑岛法子 / 丹下樱 / 奥野香耶 / 米泽圆 / 日本 / www.saenai.tv / 龟井干太 / 德本善信 / 小川优树 / 柴田彰久 / 高岛大辅 / 川越崇弘 / 高桥英俊 / 23分钟 / 路人女主的养成方法 / 动画 / 丸户史明 Fumiaki Maruto / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-06-23</span>

                            
                    </li>
                    <li>
                        <span class="comment">fine好像作画非常精良，bd已收</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25850625" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25850625:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2915826212" >
            <div class="pic">
                <a title="Miss Saigon: The 25th Anniversary Performance" href="https://movie.douban.com/subject/26914297/" class="nbg">
                    <img alt="Miss Saigon: The 25th Anniversary Performance" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2397434604.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26914297/" class="">
                            <em>西贡小姐：二十五周年表演 / Miss Saigon: The 25th Anniversary Performance</em>
                            
                        </a>
                    </li>
                        <li class="intro">2016-10-16(英国) / 2016-11-12(中国香港) / 阿利斯泰尔·布拉默 / 乔恩·琼·布里恩斯 / Rachelle Ann Go / 丽娅·萨隆加 / 伊娃·诺布勒札达 / 洪光浩 / 英国 / 布雷特·沙利文 / 200分钟 / 西贡小姐：二十五周年表演 / 音乐 / 歌舞 / 阿兰·布伯里勒 Alain Boublil / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-06-15</span>

                            
                    </li>
                    <li>
                        <span class="comment">不小心下了个蓝光原盘，那就看下吧</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26914297" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26914297:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2905890416" >
            <div class="pic">
                <a title="써니" href="https://movie.douban.com/subject/4917726/" class="nbg">
                    <img alt="써니" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p1374786017.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/4917726/" class="">
                            <em>阳光姐妹淘 / 써니</em>
                             / 阳光姊妹淘(港) / 桑尼
                        </a>
                    </li>
                        <li class="intro">2011-05-04(韩国) / 沈恩敬 / 闵孝琳 / 姜素拉 / 南宝拉 / 陈熙琼 / 金时厚 / 柳好贞 / 朴真珠 / 李妍京 / 金甫美 / 千玗嬉 / 李璟荣 / 金叡园 / 金玺碧 / 金元海 / 金惠玉 / 李俊赫 / 金宣敬 / 荷承里 / 高俊 / 成志娄 / 高素熙 / 杨姬琼 / 崔秀林 / 柳惠琳 / 洪真熙 / 朴赫民 / 楊朱虎 / 朴英徐 / 崔利善 / 黄春河 / 韩国 / 姜炯哲 / 124分钟 / 135分钟(导演剪辑版) / 阳光姐妹淘 / 剧情 / 喜剧 / 姜炯哲 Hyeong-Cheol Kang / 李炳宪 Byeong-Heon Lee / 韩语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-06-07</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-4917726" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="4917726:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2898817094" >
            <div class="pic">
                <a title="映像研には手を出すな！" href="https://movie.douban.com/subject/34851285/" class="nbg">
                    <img alt="映像研には手を出すな！" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2592746783.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/34851285/" class="">
                            <em>别对映像研出手！ / 映像研には手を出すな！</em>
                             / Eizouken ni wa Te wo Dasu na! / Keep Your Hands Off Eizouken!
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-09-25(日本) / 斋藤飞鸟 / 山下美月 / 梅泽美波 / 小西樱子 / 滨边美波 / 板垣瑞生 / 樱田日和 / 赤楚卫二 / 福本莉子 / 佳久创 / 龟田侑树 / 池田 アリス / 青岛心 / 日本 / eizouken-saikyo.com / 英勉 / 113分钟 / 别对映像研出手！ / 喜剧 / 英勉 Tsutomu Hanabusa / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-06-01</span>

                            
                    </li>
                    <li>
                        <span class="comment">cmct</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34851285" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34851285:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2898811085" >
            <div class="pic">
                <a title="映像研には手を出すな！" href="https://movie.douban.com/subject/33438250/" class="nbg">
                    <img alt="映像研には手を出すな！" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2584313356.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/33438250/" class="">
                            <em>别对映像研出手！ / 映像研には手を出すな！</em>
                             / Keep Your Hands Off Eizouken！
                        </a>
                    </li>
                        <li class="intro">2020-01-05(日本) / 伊藤沙莉 / 松冈美里 / 田村睦心 / 花守由美里 / 小松未可子 / 井上和彦 / 小野友树 / 小林裕介 / 井泽诗织 / 绵贯龙之介 / 一柳美留 / 三上哲 / 日本 / eizouken-anime.com / 汤浅政明 / 大雄男 / 山代风我 / 伊福觉志 / 井上圭介 / 藤仓拓也 / 野口花梨 / 本桥茉里 / 殿水敦子 / 佐佐木纯人 / 长屋诚志郎 / 五十岚祐贵 / 25分钟 / 别对映像研出手！ / 动画 / 木户雄一郎 Kido Yuuichirou / 大童澄瞳 Sumito Oowara / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-06-01</span>

                            
                    </li>
                    <li>
                        <span class="comment">这么高分，明明u2园里面很冷门的</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-33438250" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="33438250:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2898809322" >
            <div class="pic">
                <a title="イエスタデイをうたって" href="https://movie.douban.com/subject/33408089/" class="nbg">
                    <img alt="イエスタデイをうたって" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2581656193.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/33408089/" class="">
                            <em>昨日之歌 / イエスタデイをうたって</em>
                             / Sing &#34;Yesterday&#34; for Me
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-04-04(日本) / 小林亲弘 / 宫本侑芽 / 花泽香菜 / 花江夏树 / 小林千晃 / 小野友树 / 喜多村英梨 / 寺岛拓笃 / 铃木达央 / 坂本真绫 / 西山宏太朗 / 町山芹菜 / 柳田淳一 / 日本 / singyesterday.com / 藤原佳幸 / 24分钟 / 昨日之歌 / 剧情 / 爱情 / 动画 / 田中仁 Jin Tanaka / 藤原佳幸 Yoshiyuki Fujiwara / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-06-01</span>

                            
                    </li>
                    <li>
                        <span class="comment">我为什么要在二次元里寻求真实感？</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-33408089" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="33408089:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2898808115" >
            <div class="pic">
                <a title="ペット" href="https://movie.douban.com/subject/30174417/" class="nbg">
                    <img alt="ペット" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2623323650.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30174417/" class="">
                            <em>思维覆写 / ペット</em>
                             / Pet
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-01-06(日本) / 植田圭辅 / 谷山纪章 / 小野友树 / 加濑康之 / 朝井彩加 / 咲野俊介 / 市道真央 / 游佐浩二 / 飞田展男 / 刘婧荦 / 天崎滉平 / 相马康一 / 手冢宏通 / 山本兼平 / 日本 / pet-anime.com / 大森贵弘 / 大桥誉志光 / 铃木薰 / 菅沼荣治 / 中村近世 / 平向智子 / 鸟羽聪 / 佐藤光敏 / 小竹步 / 塚田拓郎 / 小野田雄亮 / 羽多野浩平 / 大城美幸 / 道解慎太郎 / 25分钟 / 思维覆写 / 科幻 / 犯罪 / 动画 / 悬疑 / 村井贞之 Sadayuki Murai / 安永丰 Yasunaga Yutaka / 三宅乱平 / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-06-01</span>

                            
                    </li>
                    <li>
                        <span class="comment">什么魔鬼画风 =，=</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30174417" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30174417:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2898806398" >
            <div class="pic">
                <a title="織田信奈の野望" href="https://movie.douban.com/subject/10527247/" class="nbg">
                    <img alt="織田信奈の野望" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2518125308.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/10527247/" class="">
                            <em>织田信奈的野望 / 織田信奈の野望</em>
                             / 织田信奈的野望 / 织田信奈的野望
                        </a>
                    </li>
                        <li class="intro">2012-07-08(日本) / 江口拓也 / 伊藤加奈惠 / 福圆美里 / 生天目仁美 / 松嵜丽 / 金田朋子 / 北方奈月 / 矢作纱友里 / 小仓唯 / 能登麻美子 / 三森铃子 / 麦人 / 樱井孝宏 / 加藤英美里 / 梁田清之 / 赤羽根健治 / 山本兼平 / 高森奈津美 / 四宫豪 / 相马康一 / 岩濑周平 / 高桥伸也 / 宫下荣治 / 荻野晴朗 / 松本忍 / 稻田彻 / 日本 / www.odanobuna.com / 熊泽祐嗣 / 岩崎太郎 / 津田义三 / 阿部雅司 / 上田繁 / 清水明 / 布施康之 / 久保山英一 / 24分钟 / 织田信奈的野望 / 剧情 / 动画 / 铃木雅词 Masashi Suzuki / 春日御影 / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-06-01</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-10527247" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="10527247:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2898802122" >
            <div class="pic">
                <a title="大図書館の羊飼い" href="https://movie.douban.com/subject/22278338/" class="nbg">
                    <img alt="大図書館の羊飼い" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2257395804.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/22278338/" class="">
                            <em>大图书馆的牧羊人 / 大図書館の羊飼い</em>
                            
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-10-09(日本) / 间岛淳司 / 米泽圆 / 齐藤佑圭 / 山本希望 / 种崎敦美 / 森久保祥太郎 / 中岛沙树 / 佐藤利奈 / 猪股慧士 / 大地叶 / 大和田仁美 / 柏木美优 / 日本 / www.daito-anime.com / 25分钟 / 大图书馆的牧羊人 / 剧情 / 动画 / 吉村清子 / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-06-01</span>

                            
                    </li>
                    <li>
                        <span class="comment">看gal改一定要在没玩过gal的情况下看</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-22278338" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="22278338:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2898797170" >
            <div class="pic">
                <a title="かくしごと" href="https://movie.douban.com/subject/34909367/" class="nbg">
                    <img alt="かくしごと" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2589361231.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/34909367/" class="">
                            <em>隐瞒之事 / かくしごと</em>
                             / Kakushigoto: My Dad&#39;s Secret Ambition
                        </a>
                    </li>
                        <li class="intro">2020-04-02(日本) / 神谷浩史 / 高桥李依 / 花江夏树 / 八代拓 / 安野希世乃 / 佐仓绫音 / 村濑步 / 内田真礼 / 加藤英美里 / 浪川大辅 / 小泽亚李 / 本渡枫 / 和气杏未 / 逢田梨香子 / 古城门志帆 / 原由实 / 小山力也 / 沼仓爱美 / 绿川光 / 能登麻美子 / 相马康一 / 河西健吾 / 小市真琴 / 岭内知美 / 坂田将吾 / 堀井茶渡 / 日本 / kakushigoto-anime.com / 村野佑太 / 24分钟 / 隐瞒之事 / 喜剧 / 动画 / 家庭 / 青岛崇 Aoshima Takashi / 久米田康治 Koji Kumeta / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-06-01</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34909367" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34909367:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2898795030" >
            <div class="pic">
                <a title="約束のネバーランド" href="https://movie.douban.com/subject/30206430/" class="nbg">
                    <img alt="約束のネバーランド" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2602324326.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30206430/" class="">
                            <em>约定的梦幻岛 / 約束のネバーランド</em>
                             / The Promised Neverland / Yakusoku no Neverland
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-01-10(日本) / 诸星堇 / 伊濑茉莉也 / 内田真礼 / 甲斐田裕子 / 藤田奈央 / 植木慎英 / Lynn / 河野日和 / 石上静香 / 茅野爱衣 / 日野麻里 / 森优子 / 小泽亚李 / 小山茉美 / 小林沙苗 / 山口清裕 / 松田修平 / 青山吉能 / Laura Megan Stahl / 安洁·冯·德·阿赫 / 杰姬·拉斯特拉 / 日本 / neverland-anime.com / 神户守 / 仓田绫子 / 原英和 / 原田孝宏 / 石井俊匡 / 河原龙太 / 23分钟 / 约定的梦幻岛 / 剧情 / 动画 / 悬疑 / 大野敏哉 Ono Toshiya / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-06-01</span>

                            
                    </li>
                    <li>
                        <span class="comment">看名字不知为啥想到了《重生萝莉岛》 =，=</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30206430" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30206430:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2898785823" >
            <div class="pic">
                <a title="かみちゅ" href="https://movie.douban.com/subject/1997643/" class="nbg">
                    <img alt="かみちゅ" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2509234132.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1997643/" class="">
                            <em>神是中学生 / かみちゅ</em>
                             / Kamichu
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2005-06-28 / 樱井真子 / 森永理科 / 峰香织 / 野中蓝 / 宫崎一成 / 冈野浩介 / 津村真琴 / 星野充昭 / 伊藤美纪 / 斋藤千和 / 福圆美里 / 前田幸惠 / 服部加奈子 / 岩尾万太郎 / 渡边明乃 / 广桥凉 / 神田朱未 / 松本大 / 甲斐田裕子 / 杉山纪彰 / 中博史 / 堀本等 / 稻田彻 / 日本 / www9.nhk.or.jp/anime/kamichu/ / 舛成孝二 / 小坂春女 / 畑博之 / 高岛大辅 / 浅野胜也 / 三瓶圣 / 23分钟 / 神是中学生 / 爱情 / 动画 / 奇幻 / 冒险 / 仓田英之 Hideyuki Kurata / 日语 / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-06-01</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1997643" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1997643:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2898779365" >
            <div class="pic">
                <a title="OVA planetarian ～雪圏球（スノーグローブ）～" href="https://movie.douban.com/subject/34925484/" class="nbg">
                    <img alt="OVA planetarian ～雪圏球（スノーグローブ）～" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2873575977.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/34925484/" class="">
                            <em>星之梦 雪圈球 / OVA planetarian ～雪圏球（スノーグローブ）～</em>
                             / 星之梦 外传 / Planetarian: Snow Globe
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-01-20(日本) / 铃木惠子 / 佐藤利奈 / 栉田泰道 / 石见舞菜香 / 五十岚裕美 / 泷知史 / 八代拓 / 菲鲁兹·蓝 / 日本 / planetarian-project.com / 36分钟 / 星之梦 雪圈球 / 科幻 / 动画 / 短片 / 安川正吾 Shogo Yasukawa / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-06-01</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34925484" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34925484:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2898777271" >
            <div class="pic">
                <a title="ぼくらの" href="https://movie.douban.com/subject/2330863/" class="nbg">
                    <img alt="ぼくらの" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p453793854.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/2330863/" class="">
                            <em>地球防卫少年 / ぼくらの</em>
                             / 我们的 / Bokurano
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2007-04-08(日本) / 皆川纯子 / 阿澄佳奈 / 野岛健儿 / 三瓶由布子 / 牧野由依 / 能登麻美子 / 浅沼晋太郎 / 比嘉久美子 / 宫田幸季 / 藤田圭宣 / 井口裕香 / 杉田智和 / 保志总一朗 / 阪口大助 / 东地宏树 / 石田彰 / 川岛得爱 / 川田绅司 / 大浦冬华 / 中村悠一 / 青山穰 / 丰崎爱生 / 近藤孝行 / 堀江由衣 / 梅津秀行 / 名冢佳织 / 日本 / 森田宏幸 / 川畑荣郎 / 林直孝 / 御厨恭辅 / 下司泰弘 / 小林孝志 / 柳沼和良 / 关野昌弘 / 三原武宪 / 冈村正弘 / 畠山茂树 / 粟井重纪 / 菊池胜也 / 信田祐 / 24分钟 / 地球防卫少年 / 科幻 / 动画 / 鬼头莫宏 / 川崎裕之 Hiroyuki Kawasaki / 大知庆一郎 Oochi Keiichirou / 日语 / 阿澄佳奈 / 皆川纯子 / 野岛健儿 / 三瓶由布子 / 比嘉久美子 / 能登麻美子 / 高梁碧 / 井口裕香 / 铃村健一 / 户松遥 / 保志总一朗 / 藤田圭师 / 浅沼晋太郎</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2021-06-01</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-2330863" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="2330863:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/mewcatcher/wish?start=330&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all"/>
            <a href="/people/mewcatcher/wish?start=330&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >&lt;前页</a>
        </span>
        
        
            
            <a href="/people/mewcatcher/wish?start=0&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >1</a>
        
            <a href="/people/mewcatcher/wish?start=15&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >2</a>
        <span class="break">...</span>

                
            <a href="/people/mewcatcher/wish?start=285&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >20</a>
        
                
            <a href="/people/mewcatcher/wish?start=300&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >21</a>
        
                
            <a href="/people/mewcatcher/wish?start=315&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >22</a>
        
                
            <a href="/people/mewcatcher/wish?start=330&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >23</a>
        
                <span class="thispage" data-total-page="42">24</span>
                
            <a href="/people/mewcatcher/wish?start=360&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >25</a>
        
                
            <a href="/people/mewcatcher/wish?start=375&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >26</a>
        
                
            <a href="/people/mewcatcher/wish?start=390&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >27</a>
        
                
            <a href="/people/mewcatcher/wish?start=405&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >28</a>
        
            <span class="break">...</span>
                
            <a href="/people/mewcatcher/wish?start=600&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >41</a>
        
            <a href="/people/mewcatcher/wish?start=615&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >42</a>
        
        <span class="next">
            <link rel="next" href="/people/mewcatcher/wish?start=360&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all"/>
            <a href="/people/mewcatcher/wish?start=360&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                

    <!-- 加载 raikiri.js -->

    
    


<div class="side-info">
    <a href="https://www.douban.com/people/mewcatcher/" class="side-info-avatar"><img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" /></a>
    <div class="side-info-txt">
        <h3>MewX</h3>
        &gt;&nbsp;<a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="/people/mewcatcher/">我的电影主页</a>
        </p>
    </div>
            
    <h2>
        想看的标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

        
        
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=time&amp;start=345&amp;filter=all&amp;mode=grid&amp;tags_sort=name">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">


    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E7%A7%91%E5%B9%BB&amp;mode=grid" title="科幻">科幻</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E5%8A%A8%E7%94%BB&amp;mode=grid" title="动画">动画</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=2018&amp;mode=grid" title="2018">2018</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E6%97%A5%E6%9C%AC&amp;mode=grid" title="日本">日本</a>
        <span>1</span>
    </li>
</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"count","filter":"all","tag":"日本","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/mewcatcher/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "wish"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/mewcatcher/wish?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2024 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-7ffdf7d56f-ctcmq-->

  <script>_SPLITTEST=''</script>
</body>

</html>


