<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    我想看的影视(627)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img1.doubanio.com/cuphead/movie-static/pics/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/e92483e5e4c9c60cc75cbd8b700a2fd5b5fdf7b0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/cuphead/movie-static/base/init.15f4b.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/e057439e70105417dffc6fab571688d52efeab23/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img1.doubanio.com/f/vendors/37e1cfca2d0e2d0a9a4bf05cc05072d69d27c975/css/ui/mypage.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <style type="text/css">
        #db-usr-profile .info ul li { margin-right: 10px;}
    
    .side-info {
        overflow: hidden;
        *zoom: 1;
        margin-bottom: 20px;
        padding: 16px;
        background: #F0F3F5;
    }
    .side-info-avatar {
        float: left;
        margin-right: 14px;
    }
    .side-info-txt {
        word-wrap: break-word;
        overflow: hidden;
        *zoom: 1;
    }
    .side-info .user-content{
        margin-top:15px;
    }
    .side-info-txt h3 {
        margin: 0;
        font-size: 16px;
        background: none;
        color: #111;
    }
</style>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>MewX的账号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">账号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=Us7b">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;82160871&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;82160871&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;82160871&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;82160871&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;82160871&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;82160871&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;82160871&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;82160871&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "82160871",
    UPLOAD_AUTH_TOKEN: "82160871:07d511706e5d764d8f30b32be4e9641c37e29b0b",
    SSE_TOKEN: "c069d00799fd6c5b6d8fc56ad51bdbb9a4ee5c6b",
    SSE_TIMESTAMP: "1723344660",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=navigation"
     >2023年度榜单</a>
    </li>
    <li    ><a href="https://c9.douban.com/app/standbyme-2023/?autorotate=false&fullscreen=true&hidenav=true&monitor_screenshot=true&source=web_navigation"
            target="_blank"
     >2023年度报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="/people/mewcatcher/">
                <img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" />
            </a>
        </div>
        <div class="info">
            <h1>我想看的影视(627)</h1>
            <ul>
                    
        <li><a href="/people/mewcatcher/">电影主页</a></li>
    
                    
        <li><a href="/people/mewcatcher/reviews">影评</a></li>
    
                    
        <li><a href="/people/mewcatcher/question">问答</a></li>
    
                    
        <li><a href="/people/mewcatcher/do">在看</a></li>
    
                    
        <li><a href="/people/mewcatcher/wish">想看</a></li>
    
                    
        <li><a href="/people/mewcatcher/collect">看过</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/doulists">豆列</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/subject_doulists/movie">片单</a></li>
    
                    
        <li><a href="https://movie.douban.com/ticket/mine">电影票</a></li>
    
                    
        <li><a href="https://movie.douban.com/notifications">电影提醒</a></li>
    
                    
        <li><a href="/settings/">设置</a></li>
    
                    
        <li class="sep">|</li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a></li>
    
            </ul>
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按评分排序</a><span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:18px;position: relative; top:1px}
            .tabs-more .gray {color:#999}
            :first-of-type + .tabs-more {margin-left:38px}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=schedule&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">正在热映</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=video&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">在线观看</a></li>
            </ul>
        </div>
        <div class="tabs-more">
            
            <span class="gray">影片类型:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=movie">电影</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=tv">电视</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                481-495&nbsp;/&nbsp;627
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="/people/mewcatcher/wish?sort=time&amp;amp;start=480&amp;amp;filter=all&amp;amp;mode=list&amp;amp;tags_sort=count">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item comment-item" data-cid="2344712604" >
            <div class="pic">
                <a title="Missing Link" href="https://movie.douban.com/subject/30216460/" class="nbg">
                    <img alt="Missing Link" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2539430875.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30216460/" class="">
                            <em>遗失的环节 / Missing Link</em>
                             / 大冒险家(台) / 缺少环节
                        </a>
                    </li>
                        <li class="intro">2019-04-12(美国) / 休·杰克曼 / 佐伊·索尔达娜 / 艾玛·汤普森 / 扎克·加利凡纳基斯 / 蒂莫西·奥利芬特 / 爱丽塔·阿察丽娅 / 马特·卢卡斯 / 斯蒂芬·弗雷 / 大卫·威廉姆斯 / 吉恩·吉尔平 / 布里奇特·霍夫曼 / 尼尔·迪克森 / 美国 / 克里斯·巴特勒 / 95分钟 / 遗失的环节 / 动画 / 冒险 / 克里斯·巴特勒 Chris Butler / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2020-04-16</span>

                            
                    </li>
                    <li>
                        <span class="comment">高帧率定格动画，简直酷到爆！</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30216460" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30216460:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2338546581" >
            <div class="pic">
                <a title="Soul" href="https://movie.douban.com/subject/24733428/" class="nbg">
                    <img alt="Soul" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2595591069.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/24733428/" class="">
                            <em>心灵奇旅 / Soul</em>
                             / 灵魂奇遇记(港) / 灵魂急转弯(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-10-11(伦敦电影节) / 2020-12-25(中国大陆/美国网络) / 杰米·福克斯 / 蒂娜·菲 / 菲利西亚·拉斯海德 / 阿米尔-卡利布·汤普森 / 戴维德·迪格斯 / 格拉汉姆·诺顿 / 瑞切尔·豪斯 / 艾莉丝·布拉加 / 理查德·艾欧阿德 / 唐尼尔·罗林斯 / 安吉拉·贝塞特 / 马戈·霍尔 / 罗德莎·琼斯 / 韦斯·斯塔迪 / 沙基纳·贾弗里 / 福琼·费姆斯特 / 卡鲁姆·格兰特 / 泽诺比娅·谢罗夫 / 朱恩·斯奎布 / 凯茜·卡瓦蒂妮 / 罗纳尔多·德尔·卡门 / 埃利萨皮·艾萨克 / 杰森·佩斯 / 科拉·尚波米耶 / 约翰·拉森贝格 / 珍妮·提拉多 / 美国 / 彼特·道格特 / 凯普·鲍尔斯 / 101分钟 / 心灵奇旅 / 动画 / 奇幻 / 音乐 / 彼特·道格特 Pete Docter / 麦克·琼斯 Mike Jones / 坎普·鲍尔斯 Kemp Powers / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2020-04-12</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-24733428" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="24733428:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2275282485" >
            <div class="pic">
                <a title="ソードアート・オンライン オルタナティブ ガンゲイル・オンライン" href="https://movie.douban.com/subject/27160681/" class="nbg">
                    <img alt="ソードアート・オンライン オルタナティブ ガンゲイル・オンライン" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2899554400.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/27160681/" class="">
                            <em>刀剑神域外传 暴风之铳 / ソードアート・オンライン オルタナティブ ガンゲイル・オンライン</em>
                             / 刀剑神域外传 Alternative GGO / Sword Art Online Alternative “Gun Gale Online”
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2018-04-07(日本) / 楠木灯 / 日笠阳子 / 兴津和幸 / 赤崎千夏 / 水中雅章 / 市川苍 / 托比亚斯·布雷克林豪斯 / 阿丽格拉·克拉克 / 江越彬纪 / 佐佐木义人 / 村田太志 / 朝井彩加 / 川田绅司 / 相马康一 / 木村珠莉 / 绵贯龙之介 / 深川和征 / 手冢宏通 / 野濑育二 / 柳田淳一 / 山本格 / 日本 / gungale-online.net / 迫井政行 / 24分钟 / 刀剑神域外传 暴风之铳 / 剧情 / 动作 / 动画 / 黑田洋介 Yôsuke Kuroda / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2020-03-09</span>

                            
                                <span class="tags">标签: 2018 动画 日本 科幻</span>
                    </li>
                    <li>
                        <span class="comment">不对啊，这个是啥番 完全想不起来 =。=</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27160681" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27160681:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2271821629" >
            <div class="pic">
                <a title="The Invisible Man" href="https://movie.douban.com/subject/2364086/" class="nbg">
                    <img alt="The Invisible Man" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2624945594.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/2364086/" class="">
                            <em>隐形人 / The Invisible Man</em>
                             / 隐身人 / 隐形客(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-02-28(美国) / 2020-12-04(中国大陆) / 伊丽莎白·莫斯 / 奥利弗·杰森-科恩 / 阿尔迪斯·霍吉 / 迈克尔·多曼 / 斯托姆·瑞德 / 本尼迪克·哈迪 / 哈丽特·戴尔 / 瑞妮·林 / 布莱恩·米根 / 薇薇安·格里尔 / 尼古拉斯·霍普 / 克利夫·威廉姆斯 / 萨姆·史密斯 / 扎拉·迈克尔斯 / 纳许·埃哲顿 / 安东尼·布兰登·黄 / 阿玛莉·沃德 / 迈克尔·诺特 / 保罗·彼得森 / 加拿大 / 澳大利亚 / 美国 / www.theinvisiblemanmovie.com / 雷·沃纳尔 / 124分钟 / 隐形人 / 科幻 / 惊悚 / 恐怖 / 雷·沃纳尔 Leigh Whannell / 赫伯特·乔治·威尔斯 H.G. Wells / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2020-03-08</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-2364086" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="2364086:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2266838253" >
            <div class="pic">
                <a title="スーパー・クルックス" href="https://movie.douban.com/subject/30490082/" class="nbg">
                    <img alt="スーパー・クルックス" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2686669455.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30490082/" class="">
                            <em>超级骗子 / スーパー・クルックス</em>
                             / 超能小偷(港/台) / 超能骗子
                        </a>
                    </li>
                        <li class="intro">2021-11-25(日本) / 津田健次郎 / 坂本真绫 / 诹访部顺一 / 稻田彻 / 木村昴 / 羽多野涉 / 泷正则 / 江川央生 / 大桥贤一郎 / 竹本英史 / 家中宏 / 日本 / 堀元宣 / 超能骗徒 / 30分钟 / 超级骗子 / 动作 / 动画 / 冒险 / 佐藤大 Dai Sato / 马克·米勒 Mark Millar / Leinil Yu Leinil Yu / 近藤司 Tsukasa Kondo / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2020-03-06</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30490082" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30490082:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2266836261" >
            <div class="pic">
                <a title="Onward" href="https://movie.douban.com/subject/30401849/" class="nbg">
                    <img alt="Onward" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2558274546.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30401849/" class="">
                            <em>1/2的魔法 / Onward</em>
                             / 二分之一的魔法 / 魔法环游记
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-02-21(柏林电影节) / 2020-03-06(美国) / 2020-08-19(中国大陆) / 汤姆·赫兰德 / 克里斯·帕拉特 / 茱莉亚·路易斯-德瑞弗斯 / 奥克塔维亚·斯宾瑟 / 梅尔·罗德里格斯 / 凯尔·柏海莫 / 丽娜·维特 / 黄阿丽 / 格蕾·德丽斯勒 / 崔茜·尤玛 / 维尔摩·瓦尔德拉玛 / 乔治·普萨拉 / 约翰·拉森贝格 / 张若昀 / 郭麒麟 / 艾德文·瑞丁 / 美国 / 丹·斯坎隆 / 102分钟 / 1/2的魔法 / 喜剧 / 动画 / 奇幻 / 冒险 / 丹·斯坎隆 Dan Scanlon / 基思·布宁 Keith Bunin / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2020-03-06</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30401849" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30401849:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2241023050" >
            <div class="pic">
                <a title="Memoirs of a Geisha" href="https://movie.douban.com/subject/1309059/" class="nbg">
                    <img alt="Memoirs of a Geisha" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p453716919.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1309059/" class="">
                            <em>艺伎回忆录 / Memoirs of a Geisha</em>
                             / 艺妓回忆录 / 艺伎回忆录
                        </a>
                    </li>
                        <li class="intro">2005-12-10(日本) / 章子怡 / 渡边谦 / 杨紫琼 / 巩俐 / 周采芹 / 大后寿寿花 / 桃井薰 / 役所广司 / 伊川东吾 / 工藤夕贵 / 田川洋行 / 水源士郎 / 祖儿·魏泽鲍姆 / 奈良桥阳子 / 孙芳 / Addie Yungmee / 卡尔·尹 / 原丽淇 / 曾江 / 松久幸信 / 兰德尔·杜克·金 / Lena Ahn / 美国 / 罗伯·马歇尔 / 145分钟 / 艺伎回忆录 / 剧情 / 爱情 / Robin Swicord / Arthur Golden / 英语 / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2020-02-27</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1309059" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1309059:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2227275890" >
            <div class="pic">
                <a title="そらのおとしもの" href="https://movie.douban.com/subject/4004949/" class="nbg">
                    <img alt="そらのおとしもの" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2509032388.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/4004949/" class="">
                            <em>天降之物 / そらのおとしもの</em>
                             / Sora no otoshimono
                        </a>
                    </li>
                        <li class="intro">2009-10 / 保志总一朗 / 早见沙织 / 野水伊织 / 美名 / 铃木达央 / 高垣彩阳 / 大龟明日香 / 三木真一郎 / 藤田咲 / 寿美菜子 / 名冢佳织 / 日本 / 斋藤久 / 五十岚达矢 / 后信治 / 柳泽哲也 / 桥本裕之 / 秋田谷典昭 / 植田洋一 / 东海林真一 / 奥野耕太 / 星野真 / 桥口洋介 / 24分钟 / 天降之物 / 动画 / 柿原优子 Yuuko Kakihara / 日语 / 保志总一朗 / 早见沙织 / 美名 / 铃木达央 / 高垣彩阳 / 野水伊織</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2020-02-22</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-4004949" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="4004949:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2226904454" >
            <div class="pic">
                <a title="Pandemic: How to Prevent an Outbreak" href="https://movie.douban.com/subject/34935806/" class="nbg">
                    <img alt="Pandemic: How to Prevent an Outbreak" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2581706709.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/34935806/" class="">
                            <em>流行病：如何预防流感大爆发 / Pandemic: How to Prevent an Outbreak</em>
                             / 流行病 / 流感大流行(港)
                        </a>
                    </li>
                        <li class="intro">2020-01-22(美国) / 希拉·马达德 / 美国 / 道格·舒尔茨 /  / 50分钟 / 流行病：如何预防流感大爆发 / 纪录片 / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2020-02-22</span>

                            
                    </li>
                    <li>
                        <span class="comment">等我回去了把奈菲续回来</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34935806" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34935806:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2216152586" >
            <div class="pic">
                <a title="You" href="https://movie.douban.com/subject/26955946/" class="nbg">
                    <img alt="You" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2527546112.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26955946/" class="">
                            <em>你 第一季 / You Season 1</em>
                             / 安眠书店(台) / 为你凶情
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2018-09-09(美国) / 佩恩·巴杰利 / 伊丽莎白·莱尔 / 卢卡·帕多凡 / 扎克·切利 / 薛·米契尔 / 妮科尔·康 / 凯思琳·加拉格尔 / 丹尼尔·科斯格罗夫 / 维多利亚·卡塔赫纳 / 哈莉·尼夫 / 卢·泰勒·普奇 / Gianni Ciardiello / 马克·布鲁姆 / 克里斯汀托伊约翰逊 / 瑞格·罗杰斯 / 安拜·柴尔德斯 / 麦可·麦兹 / 马尼尼·古普塔 / 约翰·斯塔莫斯 / 迈克尔·帕克 / 艾米莉·贝吉尔 / James DeFilippi / 卢克·大卫·扬 / 克利夫·莫伊伦 / Sean David Cooper / Mehdi Barakchian / Patrick K. Dooley / Shehzad / 法妮勒埃文斯 / 克里斯·班克斯 / 基莎巴尔 / 埃斯特班·贝尼托 / 黛安娜·博洛尼亚 / 哈里·L·塞登 / 列尼斯·德洛桑托斯 / Jennie Eps / Vic Estrella / Ron Maestri / 安妮·比萨比亚 / 赖恩·普雷姆斯伯格 / 安东尼·贝尔菲奥尔 / 美国 / 马科斯·西恩加 / 李·托兰·克里格 / 玛莎·米切尔 / 艾琳·菲利 / 凯莉·赛勒斯 / 你 / 60分钟 / 你 / 剧情 / 爱情 / 犯罪 / 惊悚 / 格里格·伯兰蒂 Greg Berlanti / 塞拉·甘布尔 Sera Gamble / 卡罗琳·凯内斯 Caroline Kepnes / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2020-02-18</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26955946" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26955946:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2216145416" >
            <div class="pic">
                <a title="Altered Carbon" href="https://movie.douban.com/subject/25814668/" class="nbg">
                    <img alt="Altered Carbon" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2509732403.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/25814668/" class="">
                            <em>副本 第一季 / Altered Carbon Season 1</em>
                             / 碳变(港/台) / 转变的碳元素
                        </a>
                    </li>
                        <li class="intro">2018-02-02(美国) / 乔尔·金纳曼 / 詹姆斯·鲍弗 / 玛莎·希加瑞达 / 克里斯·康纳 / 芮妮·戈兹贝里 / 安东尼奥·马尔齐亚莱 / 克里斯汀·莱曼 / 金川弘敦 / 瓦利德·祖伊特 / 玛琳娜·福特 / 蒂奇·格兰特 / 海莉·洛 / 扎夫·帕鲁 / 艾丽嘉·奥特雷恩 / 塔玛拉·泰勒 / 亚当·布斯奇 / 莱昂内尔·玛丽 / 迪辰·拉克曼 / 丽莎·钱德勒 / 奥托·艾森度 / 文峰 / 李威尹 / 蒂姆·佩雷斯 / 沃尔夫冈·克拉森 / 斯凯勒·莫瓦特 / 马特·比德尔 / 娜拉妮·瓦吉塔 / 尾崎英二郎 / 美国 / 乌塔·布里兹维茨 / 彼得·霍尔 / 尼克·赫伦 / 安迪·戈达德 / 艾利克斯·格雷夫斯 / 米格尔·萨普什尼克 / 副本 / 60分钟 / 副本 / 剧情 / 科幻 / 惊悚 / 史蒂夫·布莱克曼 Steve Blackman / 布莱恩·尼尔森 Brian Nelson / 莱塔·卡罗格里迪斯 Laeta Kalogridis / 理查德·摩根 Richard Morgan / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2020-02-18</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25814668" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25814668:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2207217414" >
            <div class="pic">
                <a title="Succession" href="https://movie.douban.com/subject/26813224/" class="nbg">
                    <img alt="Succession" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2522419119.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26813224/" class="">
                            <em>继承之战 第一季 / Succession Season 1</em>
                             / 继承 / 传承帝国
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2018-06-03(美国) / 西娅姆·阿巴斯 / 布莱恩·考克斯 / 基南·卡尔金 / 阿兰·卢克 / 莎拉·斯努克 / 杰瑞米·斯特朗 / 凯莉·P·威廉姆斯 / 尼可拉斯·博朗 / 达格玛拉·多敏齐克 / 娜塔莉·戈尔德 / 阿什利·祖克曼 / 马修·麦克费登 / 帕克·索耶 / 皮特·弗雷德曼 / 文·奈特 / 杨罗布 / 阿里安·穆阿耶德 / 霍利·亨特 / 娜塔莎·罗曼诺娃 / 詹姆斯·克伦威尔 / 美国 / 马克·米罗 / 亚当·阿金 / 亚当·麦凯 / 安德里杰·帕瑞克 / 米盖尔·阿尔特塔 / S·J·克拉克森 / 继承之战 / 57–67分钟 / 继承之战 / 剧情 / 杰西·阿姆斯特朗 Jesse Armstrong / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2020-02-15</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26813224" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26813224:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2207215643" >
            <div class="pic">
                <a title="Skin" href="https://movie.douban.com/subject/27624787/" class="nbg">
                    <img alt="Skin" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2568369895.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/27624787/" class="">
                            <em>肤色 / Skin</em>
                             / 皮肤
                        </a>
                    </li>
                        <li class="intro">2018-08-14(好莱坞短片电影节) / 乔纳森·塔克 / 杰克逊·罗伯特·斯科特 / 丹妮尔·麦克唐纳 / 朗尼·查维斯 / 贾里德·戴 / 山姆·狄龙 / 迈克尔·维拉尔 / 美国 / 盖·纳蒂弗 / 21分钟 / 肤色 / 剧情 / 短片 / 沙龙·迈蒙 Sharon Maymon / 盖·纳蒂弗 Guy Nattiv / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2020-02-15</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27624787" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27624787:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2135394447" >
            <div class="pic">
                <a title="慎重勇者～この勇者が俺TUEEEくせに慎重すぎる～ 2期" href="https://movie.douban.com/subject/34937890/" class="nbg">
                    <img alt="慎重勇者～この勇者が俺TUEEEくせに慎重すぎる～ 2期" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2874010224.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/34937890/" class="">
                            <em>这个勇者明明超强却过分慎重 第二季 / 慎重勇者～この勇者が俺TUEEEくせに慎重すぎる～ 2期</em>
                             / 慎重勇者～这个勇者明明超TUEEE却过度谨慎！～ 第2季 / Cautious Hero: The Hero Is Overpowered but Overly Cautious - Season 2
                        </a>
                    </li>
                        <li class="intro">日本 / 24分钟 / 这个勇者明明超强却过分慎重 第二季 / 喜剧 / 动画 / 奇幻 / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2020-01-14</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34937890" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34937890:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2135349649" >
            <div class="pic">
                <a title="Homeland " href="https://movie.douban.com/subject/5413527/" class="nbg">
                    <img alt="Homeland " src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1284979564.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/5413527/" class="">
                            <em>国土安全  第一季 / Homeland Season 1</em>
                             / 国土 第一季 / 国土安全 第一季
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2011-10-02(美国) / 克莱尔·丹尼斯 / 戴米恩·路易斯 / 曼迪·帕廷金 / 莫蕾娜·巴卡琳 / 大卫·哈雷伍德 / 迪亚哥·克莱特霍夫 / 摩根·塞勒 / 杰克逊·佩斯 / 大卫·马尔西亚诺 / 莫瑞·史特林 / 梅莉莎·班诺伊 / 布兰娜·布朗 / 詹姆斯·瑞布霍恩 / 艾米·哈格里夫斯 / 詹姆斯·艾伦·麦克卡尼 / 奥米德·阿布塔西 / 马琳·爱尔兰 / 乔什·塞加拉 / 杰米·谢尔丹 / 纳维德·内加班 / 琳达·珀儿 / 萨莉塔·乔德霍里 / 阿米尔·阿里森 / 克里斯·乔克 / 杰西卡·理查兹 / 拉里·派恩 / 萨米·谢伊克 / 内斯特·塞拉诺 / 丽萨·瓦加 / 约塞夫·斯威德 / 阿芙顿·威廉姆森 / 马克·门查卡 / 赫拉奇·蒂蒂赞 / 罗翰·昌德 / 詹姆斯·乌尔班尼亚克 / 安东尼·雷诺兹 / 贾登·哈蒙 / 伊戈尔·萨斯兹 / 斯科特·布莱斯 / 泰勒·科瓦尔斯基 / 迈克尔·麦基恩 / 杰里米·哈里森 / 美国 / www.sho.com/sho/homeland/home / 迈克尔·科斯塔 / 丹尼尔·艾提奥斯 / 杰弗利·纳赫马诺夫 / 克拉克·约翰森 / 布拉德·特纳 / 塔克·盖茨 / 盖·费尔兰德 / 国土安全 / 55 分钟 / 国土安全  / 剧情 / 悬疑 / 惊悚 / 阿莱克斯·甘萨 Alex Gansa / 霍华德·戈登 Howard Gordon / 英语 / 阿拉伯语 / 西班牙语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2020-01-14</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-5413527" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="5413527:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/mewcatcher/wish?start=465&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all"/>
            <a href="/people/mewcatcher/wish?start=465&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >&lt;前页</a>
        </span>
        
        
            
            <a href="/people/mewcatcher/wish?start=0&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >1</a>
        
            <a href="/people/mewcatcher/wish?start=15&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >2</a>
        <span class="break">...</span>

                
            <a href="/people/mewcatcher/wish?start=420&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >29</a>
        
                
            <a href="/people/mewcatcher/wish?start=435&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >30</a>
        
                
            <a href="/people/mewcatcher/wish?start=450&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >31</a>
        
                
            <a href="/people/mewcatcher/wish?start=465&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >32</a>
        
                <span class="thispage" data-total-page="42">33</span>
                
            <a href="/people/mewcatcher/wish?start=495&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >34</a>
        
                
            <a href="/people/mewcatcher/wish?start=510&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >35</a>
        
                
            <a href="/people/mewcatcher/wish?start=525&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >36</a>
        
                
            <a href="/people/mewcatcher/wish?start=540&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >37</a>
        
                
            <a href="/people/mewcatcher/wish?start=555&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >38</a>
        
                
            <a href="/people/mewcatcher/wish?start=570&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >39</a>
        
                
            <a href="/people/mewcatcher/wish?start=585&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >40</a>
        
                
            <a href="/people/mewcatcher/wish?start=600&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >41</a>
        
                
            <a href="/people/mewcatcher/wish?start=615&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >42</a>
        
        <span class="next">
            <link rel="next" href="/people/mewcatcher/wish?start=495&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all"/>
            <a href="/people/mewcatcher/wish?start=495&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                

    <!-- 加载 raikiri.js -->

    
    


<div class="side-info">
    <a href="https://www.douban.com/people/mewcatcher/" class="side-info-avatar"><img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" /></a>
    <div class="side-info-txt">
        <h3>MewX</h3>
        &gt;&nbsp;<a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="/people/mewcatcher/">我的电影主页</a>
        </p>
    </div>
            
    <h2>
        想看的标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

        
        
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=time&amp;start=480&amp;filter=all&amp;mode=grid&amp;tags_sort=name">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">


    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E7%A7%91%E5%B9%BB&amp;mode=grid" title="科幻">科幻</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E5%8A%A8%E7%94%BB&amp;mode=grid" title="动画">动画</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=2018&amp;mode=grid" title="2018">2018</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E6%97%A5%E6%9C%AC&amp;mode=grid" title="日本">日本</a>
        <span>1</span>
    </li>
</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"count","filter":"all","tag":"日本","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/mewcatcher/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "wish"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/mewcatcher/wish?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2024 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-7ffdf7d56f-bsqqc-->

  <script>_SPLITTEST=''</script>
</body>

</html>


