<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    我想看的影视(627)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img1.doubanio.com/cuphead/movie-static/pics/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/e92483e5e4c9c60cc75cbd8b700a2fd5b5fdf7b0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/cuphead/movie-static/base/init.15f4b.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/e057439e70105417dffc6fab571688d52efeab23/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img1.doubanio.com/f/vendors/37e1cfca2d0e2d0a9a4bf05cc05072d69d27c975/css/ui/mypage.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <style type="text/css">
        #db-usr-profile .info ul li { margin-right: 10px;}
    
    .side-info {
        overflow: hidden;
        *zoom: 1;
        margin-bottom: 20px;
        padding: 16px;
        background: #F0F3F5;
    }
    .side-info-avatar {
        float: left;
        margin-right: 14px;
    }
    .side-info-txt {
        word-wrap: break-word;
        overflow: hidden;
        *zoom: 1;
    }
    .side-info .user-content{
        margin-top:15px;
    }
    .side-info-txt h3 {
        margin: 0;
        font-size: 16px;
        background: none;
        color: #111;
    }
</style>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>MewX的账号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">账号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=Us7b">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;82160871&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;82160871&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;82160871&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;82160871&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;82160871&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;82160871&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;82160871&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;82160871&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "82160871",
    UPLOAD_AUTH_TOKEN: "82160871:07d511706e5d764d8f30b32be4e9641c37e29b0b",
    SSE_TOKEN: "6dd4ed393f1d118b94bd01d0e1caaf9859bc14a0",
    SSE_TIMESTAMP: "1723344594",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=navigation"
     >2023年度榜单</a>
    </li>
    <li    ><a href="https://c9.douban.com/app/standbyme-2023/?autorotate=false&fullscreen=true&hidenav=true&monitor_screenshot=true&source=web_navigation"
            target="_blank"
     >2023年度报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="/people/mewcatcher/">
                <img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" />
            </a>
        </div>
        <div class="info">
            <h1>我想看的影视(627)</h1>
            <ul>
                    
        <li><a href="/people/mewcatcher/">电影主页</a></li>
    
                    
        <li><a href="/people/mewcatcher/reviews">影评</a></li>
    
                    
        <li><a href="/people/mewcatcher/question">问答</a></li>
    
                    
        <li><a href="/people/mewcatcher/do">在看</a></li>
    
                    
        <li><a href="/people/mewcatcher/wish">想看</a></li>
    
                    
        <li><a href="/people/mewcatcher/collect">看过</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/doulists">豆列</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/subject_doulists/movie">片单</a></li>
    
                    
        <li><a href="https://movie.douban.com/ticket/mine">电影票</a></li>
    
                    
        <li><a href="https://movie.douban.com/notifications">电影提醒</a></li>
    
                    
        <li><a href="/settings/">设置</a></li>
    
                    
        <li class="sep">|</li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a></li>
    
            </ul>
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按评分排序</a><span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:18px;position: relative; top:1px}
            .tabs-more .gray {color:#999}
            :first-of-type + .tabs-more {margin-left:38px}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=schedule&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">正在热映</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=video&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">在线观看</a></li>
            </ul>
        </div>
        <div class="tabs-more">
            
            <span class="gray">影片类型:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=movie">电影</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=tv">电视</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                61-75&nbsp;/&nbsp;627
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="/people/mewcatcher/wish?sort=time&amp;amp;start=60&amp;amp;filter=all&amp;amp;mode=list&amp;amp;tags_sort=count">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item comment-item" data-cid="4037211887" >
            <div class="pic">
                <a title="薬屋のひとりごと" href="https://movie.douban.com/subject/35256419/" class="nbg">
                    <img alt="薬屋のひとりごと" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2902506313.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35256419/" class="">
                            <em>药屋少女的呢喃 / 薬屋のひとりごと</em>
                             / 药师少女的独语 / The Apothecary Diaries
                        </a>
                    </li>
                        <li class="intro">2023-10-21(日本) / 悠木碧 / 大塚刚央 / 小西克幸 / 种崎敦美 / 石川由依 / 木野日菜 / 甲斐田裕子 / 潘惠美 / 小清水亚美 / 齐藤贵美子 / 家中宏 / 赤羽根健治 / 久野美咲 / 岛本须美 / 七海弘希 / 鹿糠光明 / 日本 / kusuriyanohitorigoto.jp / 长沼范裕 / 23分钟 / 药屋少女的呢喃 / 动画 / 古装 / 长沼范裕 Naganuma Norihiro / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-12-28</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35256419" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35256419:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4036546242" >
            <div class="pic">
                <a title="失孤" href="https://movie.douban.com/subject/25835293/" class="nbg">
                    <img alt="失孤" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2231791943.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/25835293/" class="">
                            <em>失孤</em>
                             / Lost and Love
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-03-20(中国大陆) / 2015-03-20(中国台湾) / 2015-03-26(中国香港) / 刘德华 / 井柏然 / 吴君如 / 梁家辉 / 倪景阳 / 孙海英 / 许娣 / 刘雅瑟 / 邱运鹄 / 辛鹏 / 田东霖 / 中国大陆 / 中国香港 / 彭三源 / 108分钟 / 剧情 / 彭三源 Sanyuan Peng / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-12-28</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25835293" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25835293:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4032433907" >
            <div class="pic">
                <a title="鬼滅の刃 絆の奇跡、そして柱稽古へ" href="https://movie.douban.com/subject/36680624/" class="nbg">
                    <img alt="鬼滅の刃 絆の奇跡、そして柱稽古へ" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2901830036.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36680624/" class="">
                            <em>鬼灭之刃：羁绊的奇迹以及柱训练 / 鬼滅の刃 絆の奇跡、そして柱稽古へ</em>
                             / 锻刀村篇最后一集 柱训练篇第一集 / Demon Slayer: Kimetsu No Yaiba - To the Hashira Training
                        </a>
                    </li>
                        <li class="intro">2024-02-02(日本) / 花江夏树 / 鬼头明里 / 下野纮 / 松冈祯丞 / 河西健吾 / 日本 / 外崎春雄 / 104分钟 / 鬼灭之刃：羁绊的奇迹以及柱训练 / 动画 / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-12-24</span>

                            
                    </li>
                    <li>
                        <span class="comment">oh 原来是你夹在中间</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36680624" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36680624:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4023228676" >
            <div class="pic">
                <a title="Elio" href="https://movie.douban.com/subject/36090458/" class="nbg">
                    <img alt="Elio" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2893257438.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36090458/" class="">
                            <em>地球特派员 / Elio</em>
                             / 埃利奥 / 艾立欧：第三星公关(台)
                        </a>
                    </li>
                        <li class="intro">2025-06-13(美国) / 约纳斯·基布雷亚布 / 亚美莉卡·费雷拉 / 布拉德·加内特 / 贾米拉·贾米尔 / 美国 / 阿德里安·莫利纳 / 地球特派员 / 剧情 / 喜剧 / 科幻 / 动画 / 奇幻 / 冒险 / 家庭 / 阿德里安·莫利纳 Adrian Molina / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-12-15</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36090458" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36090458:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4016175961" >
            <div class="pic">
                <a title="Foundation" href="https://movie.douban.com/subject/36160375/" class="nbg">
                    <img alt="Foundation" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2903768928.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36160375/" class="">
                            <em>基地 第三季 / Foundation Season 3</em>
                            
                        </a>
                    </li>
                        <li class="intro">2025(美国) / 李·佩斯 / 杰瑞德·哈里斯 / 卢洛·贝尔 / 劳拉·布林 / 泰伦斯·曼 / 金宝·张 / 阿尔弗雷德·伊诺奇 / 艾略特·科万 / Sasha Behar / 克拉克·彼得斯 / 卡罗莱娜·美恩 / 布莱恩·博维尔 / 里斯·谢尔史密斯 / 库珀·卡特 / 金·阿迪斯 / 乔格·尼可洛夫 / 阿卜杜勒·阿尔沙瑞夫 / 特洛伊·科特苏尔 / 卡西安·比尔顿 / 美国 / 蒂姆·索瑟姆 / 基地 / 基地 / 剧情 / 科幻 / 大卫·S·高耶 David S. Goyer / 乔什·弗莱德曼 Josh Friedman / 奥利维亚·珀内尔 / 莎拉·诺伦 Sarah Nolen / 艾萨克·阿西莫夫 Isaac Asimov / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-12-08</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36160375" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36160375:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4010689217" >
            <div class="pic">
                <a title="Wicked: Part One" href="https://movie.douban.com/subject/3148694/" class="nbg">
                    <img alt="Wicked: Part One" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2904361829.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/3148694/" class="">
                            <em>魔法坏女巫 / Wicked: Part One</em>
                             / 魔法坏女巫(上) / 魔法坏女巫1
                        </a>
                    </li>
                        <li class="intro">2024-11-22(美国) / 辛西娅·埃里沃 / 爱莉安娜·格兰德 / 乔纳森·贝利 / 杨紫琼 / 杰夫·高布伦 / 伊桑·斯莱特 / Marissa Bode / 杨伯文 / 基拉·塞特尔 / 布朗温·詹姆斯 / Aaron Teoh Guan Ti / 亚当·詹姆斯 / 科林·迈克尔·卡迈克尔 / 格雷西亚·德拉巴斯 / 阿尔弗雷多·塔瓦雷斯 / Ricardo Ludgero Souza / 乔纳森·斯帕罗 / Callum Bowyer / 美国 / 朱浩伟 / 148分钟 / 魔法坏女巫 / 爱情 / 奇幻 / 歌舞 / 莱曼·弗兰克·鲍姆 L. Frank Baum / 温妮·霍尔兹曼 Winnie Holzman / Gregory Maguire / 斯蒂芬·施瓦茨 Stephen Schwartz / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-12-03</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-3148694" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="3148694:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4010527828" >
            <div class="pic">
                <a title="Black Swan" href="https://movie.douban.com/subject/1978709/" class="nbg">
                    <img alt="Black Swan" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2549648344.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1978709/" class="">
                            <em>黑天鹅 / Black Swan</em>
                             / 夺命黑天鹅 / 霸王别鹅(豆友译名)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2010-09-01(威尼斯电影节) / 2010-12-17(美国) / 娜塔莉·波特曼 / 米拉·库尼斯 / 文森特·卡塞尔 / 芭芭拉·赫希 / 薇诺娜·瑞德 / 本杰明·米派德 / 克塞尼亚·索罗 / 克里斯汀娜·安娜波 / 詹妮特·蒙哥马利 / 塞巴斯蒂安·斯坦 / 托比·海明威 / 塞尔吉奥·托拉多 / 马克·马戈利斯 / 蒂娜·斯隆 / 亚伯拉罕·阿罗诺夫斯基 / 夏洛特·阿罗诺夫斯基 / 玛西娅·让·库尔茨 / 肖恩·奥哈根 / 克里斯托弗·加廷 / 黛博拉·奥夫纳 / 斯坦利·B·赫尔曼 / 库尔特·弗勒曼 / 帕特里克·赫辛格 / 莎拉·海伊 / 坂本真绫 / 布拉德·雅各布维茨 / 美国 / 达伦·阿伦诺夫斯基 / 108分钟 / 103分钟(威尼斯电影节) / 黑天鹅 / 剧情 / 惊悚 / 安德雷斯·海因斯 Andres Heinz / 马克·海曼 Mark Heyman / 约翰·J·麦克劳克林 John J. McLaughlin / 英语 / 法语 / 意大利语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-12-03</span>

                            
                    </li>
                    <li>
                        <span class="comment">From &lt;May December&gt;</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1978709" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1978709:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4002971062" >
            <div class="pic">
                <a title="Argylle" href="https://movie.douban.com/subject/35520056/" class="nbg">
                    <img alt="Argylle" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2902244780.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35520056/" class="">
                            <em>阿盖尔：神秘特工 / Argylle</em>
                             / 机密特务：阿盖尔(台) / 特工亚皆老(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2024-01-31(法国) / 2024-02-02(美国) / 2024-02-23(中国大陆) / 布莱丝·达拉斯·霍华德 / 山姆·洛克威尔 / 亨利·卡维尔 / 塞缪尔·杰克逊 / 布莱恩·克兰斯顿 / 凯瑟琳·欧哈拉 / 奇普 / 阿丽亚娜·德博斯 / 杜阿·利帕 / 约翰·塞纳 / 索菲亚·波多拉 / 理查德·E·格兰特 / 罗伯·德兰尼 / 陆思敬 / 路易斯·帕特里奇 / 本·丹尼尔斯 / 斯坦利·摩根 / 托米瓦·埃敦 / 托马斯·帕雷德斯 / 贾森·福克斯 / 格雷西亚·德拉巴斯 / 阿拉·哈比卜 / 菲奥娜·马尔 / 鲍比·霍兰德·汉顿 / 阿尔弗雷多·塔瓦雷斯 / 丹尼尔·辛格 / 康提·罗曼 / Greg Townley / Clementine Vaughn / Raagni Sharma / Chip / Diljohn Singh / 英国 / 美国 / 马修·沃恩 / 139分钟 / 阿盖尔：神秘特工 / 动作 / 惊悚 / 贾森·福克斯 Jason Fuchs / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-11-26</span>

                            
                    </li>
                    <li>
                        <span class="comment">怎么越看越像暗杀小说家</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35520056" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35520056:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4002965304" >
            <div class="pic">
                <a title="Damsel" href="https://movie.douban.com/subject/35251159/" class="nbg">
                    <img alt="Damsel" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2900407770.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35251159/" class="">
                            <em>少女斗恶龙 / Damsel</em>
                             / 落难女子 / 未婚女子
                        </a>
                    </li>
                        <li class="intro">2024-03-08(美国网络) / 米莉·波比·布朗 / 索瑞·安达斯鲁 / 罗宾·怀特 / 安吉拉·贝塞特 / 尼克·罗宾森 / 雷·温斯顿 / 布鲁克·卡特 / Ulli Ackermann / Mens-Sana Tamakloe / Manon Stieglitz / 埃尔马诺·桑丘 / Rui M Tomas / Rina Martin / Ricky Guillart / Nicole Joseph / Ricarda Clay / Sonya Nisa / Esther Odumade / Brogan Mcfarlane / Sam Sharma / 美国 / 胡安·卡洛斯·弗雷斯纳迪罗 / 110分钟 / 少女斗恶龙 / 动作 / 奇幻 / 冒险 / 丹·马泽 Dan Mazeau / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-11-26</span>

                            
                    </li>
                    <li>
                        <span class="comment">被油管投喂了</span>
                        
                            <span class="pl">(2 有用)</span>
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35251159" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35251159:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4001672877" >
            <div class="pic">
                <a title="Rebel Moon: A Child of Fire" href="https://movie.douban.com/subject/35517441/" class="nbg">
                    <img alt="Rebel Moon: A Child of Fire" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2893453291.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35517441/" class="">
                            <em>月球叛军：火之女 / Rebel Moon: A Child of Fire</em>
                             / Rebel Moon—第1部：火之女 / 卫星叛军：火之女
                        </a>
                    </li>
                        <li class="intro">2023-12-15(美国点映) / 2023-12-21(美国网络) / 索菲亚·波多拉 / 艾德·斯克林 / 克利欧佩特拉·科尔曼 / 加利·艾尔维斯 / 安东尼·霍普金斯 / 查理·汉纳姆 / 吉娜·马隆 / 米希尔·赫伊斯曼 / 寇瑞·斯托尔 / 杰曼·翰苏 / 斯图尔特·马丁 / 裴斗娜 / 多米尼克·伯吉斯 / 里安·里斯 / 阿方索·埃雷拉 / 雷·费舍尔 / 弗拉·菲 / 斯塔兹·奈尔 / 丹尼埃尔·布鲁吉奥 / 雷·波特 / E·达菲 / 英格瓦·埃盖特·西古德松 / 金斯顿·福斯特 / 贾斯汀·皮尔斯 / 艾伦·李·哈弗 / 格雷格·克列克 / 克里斯托弗·马修·库克 / 乔凡尼·洛佩斯 / Sisse Søby / 马克·斯达格 / John Orr / 马特·诺兰 / 马克斯·迪肯 / 加里·诺希利 / 朱利安·杜尔西·维达 / 山姆巴斯 / 肯德尔·威尔斯 / 汤姆·沃斯 / 特莉萨娜 / Yu Beng Lim / 埃文·沙夫兰 / 托尔·科耐 / 薇拉·迈尔斯 / 费尔·米凯拉·格里芬 / 香农·本斯顿 / Brian Machleit / 戴维·阿斯通 / 杰·哈科特 / 夏洛特·麦基 / 斯凯·杨 / 美国 / 匈牙利 / 瑞典 / 丹麦 / 英国 / 扎克·施奈德 / 136分钟 / 204分钟(导演剪辑版) / 月球叛军：火之女 / 剧情 / 动作 / 科幻 / 奇幻 / 冒险 / 扎克·施奈德 Zack Snyder / 库尔特·约恩斯塔德 Kurt Johnstad / 谢伊·哈顿 Shay Hatten / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-11-25</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35517441" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35517441:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3995102493" >
            <div class="pic">
                <a title="원더랜드" href="https://movie.douban.com/subject/34453198/" class="nbg">
                    <img alt="원더랜드" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2910694617.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/34453198/" class="">
                            <em>梦境 / 원더랜드</em>
                             / 仙境 / Wonderland
                        </a>
                    </li>
                        <li class="intro">2024-06-05(韩国) / 汤唯 / 裴秀智 / 朴宝剑 / 郑有美 / 崔宇植 / 孔刘 / 鲍起静 / 崔武成 / 全秀芝 / 韩国 / 金泰勇 / 113分钟 / 梦境 / 剧情 / 爱情 / 科幻 / 金泰勇 Tae-Yong Kim / 韩语 / 英语 / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-11-18</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34453198" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34453198:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3994910287" >
            <div class="pic">
                <a title="경성크리처" href="https://movie.douban.com/subject/35465700/" class="nbg">
                    <img alt="경성크리처" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2900608781.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35465700/" class="">
                            <em>京城怪物 / 경성크리처</em>
                             / 京城生物 / 경성 크리처
                        </a>
                    </li>
                        <li class="intro">2023-12-22(韩国) / 朴叙俊 / 韩韶禧 / 金秀贤 / 金海淑 / 赵汉哲 / 魏嘏隽 / 金律豪 / 智友 / 朴智焕 / 崔英俊 / 赵载龙 / 延济旭 / 任哲秀 / 安智浩 / 韩国 / 郑东允 / 70分钟 / 京城怪物 / 剧情 / 动作 / 历史 / 悬疑 / 惊悚 / 恐怖 / 姜银庆 Eun-kyung Kang / 韩语 / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-11-18</span>

                            
                    </li>
                    <li>
                        <span class="comment">被小红书投喂</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35465700" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35465700:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3970275677" >
            <div class="pic">
                <a title="Zootopia 2: Rise of the Non-Mammalians" href="https://movie.douban.com/subject/26817136/" class="nbg">
                    <img alt="Zootopia 2: Rise of the Non-Mammalians" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2566292103.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26817136/" class="">
                            <em>疯狂动物城2 / Zootopia 2: Rise of the Non-Mammalians</em>
                             / 动物乌托邦2
                        </a>
                    </li>
                        <li class="intro">2025-11-26(美国) / 杰森·贝特曼 / 金妮弗·古德温 / 关继威 / 罗兰多·达维拉-贝尔特兰 / 美国 / 拜伦·霍华德 / 瑞奇·摩尔 / 疯狂动物城2 / 喜剧 / 犯罪 / 动画 / 悬疑 / 冒险 / 杰拉德·布什 Jared Bush / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-10-22</span>

                            
                    </li>
                    <li>
                        <span class="comment">厚礼谢，激励我只身闯澳洲的电影要出续作了，电影院买爆</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26817136" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26817136:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3969859533" >
            <div class="pic">
                <a title="Pantheon" href="https://movie.douban.com/subject/36067160/" class="nbg">
                    <img alt="Pantheon" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2899610681.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36067160/" class="">
                            <em>万神殿 第二季 / Pantheon Season 2</em>
                            
                        </a>
                    </li>
                        <li class="intro">2023-10-15(美国) / 凯蒂·张 / 保罗·达诺 / 艾伦·艾克哈特 / 罗丝玛丽·德薇特 / 克里斯·迪亚曼托普洛斯 / 拉扎·杰夫里 / 托马辛·麦肯齐 / 金大贤 / 朗·里维斯顿 / 泰勒·席林 / 滕德·艾德比佩 / 茉德·阿帕图 / 凯文·杜兰 / 尼玛·芬克 / 格蕾·德丽斯勒 / 迈克尔·凯利 / 克莱德·草津 / 朱利安·勒纳 / 梁振邦 / 希瑟·林德 / 斯科特·麦克纳里 / 马克·伊瓦涅 / 阿什·布林克夫 / 本·施耐泽 / 艾德·奥克森博尔德 / 托克斯·奥拉贡多耶 / 凯瑞·华格伦 / 李升熙 / 美国 / David Dwooman Woo / 朱诺·李 / 梅尔·祖耶 / 埃德·塔德姆 / 马利·杨 / 金在洪 / 万神殿 / 42分钟 / 万神殿 / 剧情 / 动作 / 科幻 / 动画 / 安迪·帕克 Andy Parker / 克雷格·西尔弗斯坦 Craig Silverstein / 迈克尔·泰勒 Michael Taylor / 斯科特·甘尼森·米勒 Scott Gunnison Miller / 泰伊·K·奥斯汀 Taii K. Austin / Yasemin Yilmaz / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-10-22</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36067160" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36067160:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3969584918" >
            <div class="pic">
                <a title="Deep Sky" href="https://movie.douban.com/subject/36538860/" class="nbg">
                    <img alt="Deep Sky" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2897557308.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36538860/" class="">
                            <em>深空 / Deep Sky</em>
                            
                        </a>
                    </li>
                        <li class="intro">2023-10-20(美国) / 2023-11-01(加拿大) / 米歇尔·威廉姆斯 / 美国 / 纳撒尼尔·康 / 40分钟 / 深空 / 纪录片 / 纳撒尼尔·康 Nathaniel Kahn / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-10-22</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36538860" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36538860:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/mewcatcher/wish?start=45&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all"/>
            <a href="/people/mewcatcher/wish?start=45&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >&lt;前页</a>
        </span>
        
        

                
            <a href="/people/mewcatcher/wish?start=0&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >1</a>
        
                
            <a href="/people/mewcatcher/wish?start=15&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >2</a>
        
                
            <a href="/people/mewcatcher/wish?start=30&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >3</a>
        
                
            <a href="/people/mewcatcher/wish?start=45&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >4</a>
        
                <span class="thispage" data-total-page="42">5</span>
                
            <a href="/people/mewcatcher/wish?start=75&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >6</a>
        
                
            <a href="/people/mewcatcher/wish?start=90&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >7</a>
        
                
            <a href="/people/mewcatcher/wish?start=105&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >8</a>
        
                
            <a href="/people/mewcatcher/wish?start=120&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >9</a>
        
            <span class="break">...</span>
                
            <a href="/people/mewcatcher/wish?start=600&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >41</a>
        
            <a href="/people/mewcatcher/wish?start=615&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >42</a>
        
        <span class="next">
            <link rel="next" href="/people/mewcatcher/wish?start=75&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all"/>
            <a href="/people/mewcatcher/wish?start=75&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                

    <!-- 加载 raikiri.js -->

    
    


<div class="side-info">
    <a href="https://www.douban.com/people/mewcatcher/" class="side-info-avatar"><img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" /></a>
    <div class="side-info-txt">
        <h3>MewX</h3>
        &gt;&nbsp;<a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="/people/mewcatcher/">我的电影主页</a>
        </p>
    </div>
            
    <h2>
        想看的标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

        
        
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=time&amp;start=60&amp;filter=all&amp;mode=grid&amp;tags_sort=name">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">


    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E7%A7%91%E5%B9%BB&amp;mode=grid" title="科幻">科幻</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E5%8A%A8%E7%94%BB&amp;mode=grid" title="动画">动画</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=2018&amp;mode=grid" title="2018">2018</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E6%97%A5%E6%9C%AC&amp;mode=grid" title="日本">日本</a>
        <span>1</span>
    </li>
</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"count","filter":"all","tag":"日本","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/mewcatcher/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "wish"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/mewcatcher/wish?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2024 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-7ffdf7d56f-2rntd-->

  <script>_SPLITTEST=''</script>
</body>

</html>


