<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    我想看的影视(627)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img1.doubanio.com/cuphead/movie-static/pics/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/e92483e5e4c9c60cc75cbd8b700a2fd5b5fdf7b0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/cuphead/movie-static/base/init.15f4b.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/e057439e70105417dffc6fab571688d52efeab23/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img1.doubanio.com/f/vendors/37e1cfca2d0e2d0a9a4bf05cc05072d69d27c975/css/ui/mypage.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <style type="text/css">
        #db-usr-profile .info ul li { margin-right: 10px;}
    
    .side-info {
        overflow: hidden;
        *zoom: 1;
        margin-bottom: 20px;
        padding: 16px;
        background: #F0F3F5;
    }
    .side-info-avatar {
        float: left;
        margin-right: 14px;
    }
    .side-info-txt {
        word-wrap: break-word;
        overflow: hidden;
        *zoom: 1;
    }
    .side-info .user-content{
        margin-top:15px;
    }
    .side-info-txt h3 {
        margin: 0;
        font-size: 16px;
        background: none;
        color: #111;
    }
</style>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>MewX的账号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">账号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=Us7b">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;82160871&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;82160871&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;82160871&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;82160871&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;82160871&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;82160871&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;82160871&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;82160871&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "82160871",
    UPLOAD_AUTH_TOKEN: "82160871:07d511706e5d764d8f30b32be4e9641c37e29b0b",
    SSE_TOKEN: "473f1ba1ae049d99bdfc0b36c7b6a04b609bb4db",
    SSE_TIMESTAMP: "1723344585",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=navigation"
     >2023年度榜单</a>
    </li>
    <li    ><a href="https://c9.douban.com/app/standbyme-2023/?autorotate=false&fullscreen=true&hidenav=true&monitor_screenshot=true&source=web_navigation"
            target="_blank"
     >2023年度报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="/people/mewcatcher/">
                <img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" />
            </a>
        </div>
        <div class="info">
            <h1>我想看的影视(627)</h1>
            <ul>
                    
        <li><a href="/people/mewcatcher/">电影主页</a></li>
    
                    
        <li><a href="/people/mewcatcher/reviews">影评</a></li>
    
                    
        <li><a href="/people/mewcatcher/question">问答</a></li>
    
                    
        <li><a href="/people/mewcatcher/do">在看</a></li>
    
                    
        <li><a href="/people/mewcatcher/wish">想看</a></li>
    
                    
        <li><a href="/people/mewcatcher/collect">看过</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/doulists">豆列</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/subject_doulists/movie">片单</a></li>
    
                    
        <li><a href="https://movie.douban.com/ticket/mine">电影票</a></li>
    
                    
        <li><a href="https://movie.douban.com/notifications">电影提醒</a></li>
    
                    
        <li><a href="/settings/">设置</a></li>
    
                    
        <li class="sep">|</li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a></li>
    
            </ul>
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按评分排序</a><span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:18px;position: relative; top:1px}
            .tabs-more .gray {color:#999}
            :first-of-type + .tabs-more {margin-left:38px}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=schedule&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">正在热映</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=video&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">在线观看</a></li>
            </ul>
        </div>
        <div class="tabs-more">
            
            <span class="gray">影片类型:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=movie">电影</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=tv">电视</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                1-15&nbsp;/&nbsp;627
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="/people/mewcatcher/wish?sort=time&amp;amp;start=0&amp;amp;filter=all&amp;amp;mode=list&amp;amp;tags_sort=count">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item comment-item" data-cid="4268822434" >
            <div class="pic">
                <a title="地面師たち" href="https://movie.douban.com/subject/36779737/" class="nbg">
                    <img alt="地面師たち" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2910640092.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36779737/" class="">
                            <em>地面师 / 地面師たち</em>
                             / Tokyo Swindlers / 东京诈骗犯
                        </a>
                    </li>
                        <li class="intro">2024-07-25(日本) / 绫野刚 / 丰川悦司 / 北村一辉 / 小池荣子 / 泷正则 / 染谷将太 / 堀田世纪 / 松冈依都美 / 吉村界人 / 松尾谕 / 槙田雄司 / 骏河太郎 / 山本耕史 / 池田依来沙 / 中川雅也 / 日本 / 大根仁 / 地面师 / 剧情 / 犯罪 / 惊悚 / 大根仁 Hitoshi Ohne / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-08-11</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36779737" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36779737:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4266446031" >
            <div class="pic">
                <a title="抓娃娃" href="https://movie.douban.com/subject/36653918/" class="nbg">
                    <img alt="抓娃娃" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2910105262.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36653918/" class="">
                            <em>抓娃娃</em>
                             / Successor
                        </a>
                    </li>
                        <li class="intro">2024-07-13(大规模点映) / 2024-07-16(中国大陆) / 沈腾 / 马丽 / 史彭元 / 萨日娜 / 肖帛辰 / 张子栋 / 李嘉琦 / 魏翔 / 贾冰 / 于洋 / 李宗恒 / 赵凤霞 / 马文波 / 孙贵权 / 杨文哲 / 骆佳 / 陈冰 / 屈爽 / 刘鉴 / 丁柳元 / 王成思 / 张一鸣 / 陶亮 / 周庆昀 / 蔡明凯 / 罗娜 / 杨山 / 关文净 / 牛十一 / 路迪 / 陈昊明 / 贾舒涵 / 芮丹尼 / 于健 / 龙美杉 / 闫剑波 / 魏巍 / 于健 / 康启轩 / 郜玄铭 / 李尚 / 张猛 / 李松岳 / 雷阳 / 薛媛媛 / 杨兆超 / 王硕 / 谭玉龙 / 马驰 / 中国大陆 / 闫非 / 彭大魔 / 133分钟 / 喜剧 / 彭大魔 Damo Peng / 闫非 Fei Yan / 林炳宝 Bingbao Lin / 汉语普通话 / 英语</li>
                    <div class="movieInfo">
                        
                            <a href="https://movie.douban.com/subject/36653918/cinema/">查看影讯</a>
                    </div>
                    <li>
                        <span class="date">2024-08-08</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36653918" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36653918:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4262159145" >
            <div class="pic">
                <a title="解密" href="https://movie.douban.com/subject/26370387/" class="nbg">
                    <img alt="解密" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2911118127.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26370387/" class="">
                            <em>解密</em>
                             / Decoded
                        </a>
                    </li>
                        <li class="intro">2024-07-27(大规模点映) / 2024-08-03(中国大陆) / 刘昊然 / 约翰·库萨克 / 陈道明 / 吴彦祖 / 俞飞鸿 / 陈思诚 / 任璐遥 / 陈雨锶 / 王雨甜 / 周游 / 朱珠 / 曹翠芬 / 吴彦姝 / 许还山 / 王宝强 / 肖央 / 潘粤明 / 沙宝亮 / 欧阳娜娜 / 谷嘉诚 / 邱心志 / 王龙正 / 袁近辉 / 冯雪雅 / 周野芒 / 刘劲 / 安地 / 中国大陆 / 陈思诚 / 2024-07-25 21:30 / 156分钟 / 剧情 / 历史 / 陈思诚 Sicheng Chen / 克里斯托弗·麦克布莱德 Christopher MacBride / 汉语普通话 / 英语</li>
                    <div class="movieInfo">
                        
                            <a href="https://movie.douban.com/subject/26370387/cinema/">查看影讯</a>
                    </div>
                    <li>
                        <span class="date">2024-08-03</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26370387" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26370387:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4244148377" >
            <div class="pic">
                <a title="The Office Superfan Episodes" href="https://movie.douban.com/subject/36941320/" class="nbg">
                    <img alt="The Office Superfan Episodes" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2909840637.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36941320/" class="">
                            <em>办公室超级粉丝加长版 第七季 / The Office Superfan Episodes Season 7</em>
                            
                        </a>
                    </li>
                        <li class="intro">2021-04-26(美国) / 史蒂夫·卡瑞尔 / 约翰·卡拉辛斯基 / 珍娜·费舍 / 艾米·莱安 / 艾米·亚当斯 / 梅罗拉·哈丁 / 凯特·弗兰纳里 / 克瑞德·布拉顿 / 奥斯卡·努内斯 / 莱斯利·大卫·贝克 / 美国 / 格雷格·丹尼尔斯 / 办公室超级粉丝加长版 / 30分钟 / 办公室超级粉丝加长版 / 瑞奇·热维斯 Ricky Gervais / 斯戴芬·莫昌特 Stephen Merchant / 格雷格·丹尼尔斯 Greg Daniels / 敏迪·卡灵 Mindy Kaling / B·J·诺瓦克 B.J. Novak / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-07-15</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36941320" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36941320:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4244145527" >
            <div class="pic">
                <a title="A Quiet Place: Day One" href="https://movie.douban.com/subject/34996971/" class="nbg">
                    <img alt="A Quiet Place: Day One" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2909263868.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/34996971/" class="">
                            <em>寂静之地：入侵日 / A Quiet Place: Day One</em>
                             / 噤界：入侵日(台) / 无声绝境外传：首袭日(港)
                        </a>
                    </li>
                        <li class="intro">2024-06-26(法国) / 2024-06-28(美国/中国大陆) / 露皮塔·尼永奥 / 约瑟夫·奎恩 / 亚历克斯·沃尔夫 / 杰曼·翰苏 / 小肉排 / 尼可 / 蒂希·巴特勒 / 阿尔菲·托德 / 以利亚·昂格瓦里 / 扎伊·多莫 / 塔拉·希洪 / 埃利亚纳·乌姆夏尔 / 亚历山大·约翰 / 塔坤达·库马洛 / 万彩玲 / 罗尼·勒·德鲁 / 本杰明·王 / 艾薇·贝里 / 嘉文·弗雷明 / 迈克尔·罗伯茨 / 凯恩·艾登 / 尼克·戴维森 / 凯特·芬尼 / 詹妮弗·伍德沃德 / 乔纳森·斯帕罗 / Mark Khan / 美国 / 英国 / 迈克尔·萨诺斯基 / 100分钟 / 寂静之地：入侵日 / 剧情 / 科幻 / 惊悚 / 恐怖 / 迈克尔·萨诺斯基 Michael Sarnoski / 约翰·卡拉辛斯基 John Krasinski / 布莱恩·伍兹 Bryan Woods / 斯科特·贝克 Scott Beck / 美国手语 / 英语</li>
                    <div class="movieInfo">
                        
                            <a href="https://movie.douban.com/subject/34996971/cinema/">查看影讯</a>
                    </div>
                    <li>
                        <span class="date">2024-07-15</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34996971" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34996971:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4230929095" >
            <div class="pic">
                <a title="劇場版 鬼滅の刃 無限城編" href="https://movie.douban.com/subject/36524559/" class="nbg">
                    <img alt="劇場版 鬼滅の刃 無限城編" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2910054382.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36524559/" class="">
                            <em>鬼灭之刃 剧场版 无限城篇 / 劇場版 鬼滅の刃 無限城編</em>
                            
                        </a>
                    </li>
                        <li class="intro">2025(日本) / 日本 / 外崎春雄 / 鬼灭之刃 剧场版 无限城篇 / 剧情 / 动作 / 动画 / 吾峠呼世晴 Koyoharu Gotouge / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-07-01</span>

                            
                    </li>
                    <li>
                        <span class="comment">活着真好！但是怎么是个三部作剧场版啊啊啊啊啊啊啊，比哈利波特还长</span>
                        
                            <span class="pl">(5 有用)</span>
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36524559" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36524559:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4223468430" >
            <div class="pic">
                <a title="差馆Ⅱ" href="https://movie.douban.com/subject/11528245/" class="nbg">
                    <img alt="差馆Ⅱ" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2217703497.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/11528245/" class="">
                            <em>差馆Ⅱ</em>
                             / 差馆2 / Cop Shop 2
                        </a>
                    </li>
                        <li class="intro">中国大陆 / 周浩 / 70分钟 / 纪录片 / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-06-23</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-11528245" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="11528245:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4223467469" >
            <div class="pic">
                <a title="差馆" href="https://movie.douban.com/subject/5343752/" class="nbg">
                    <img alt="差馆" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2217703550.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/5343752/" class="">
                            <em>差馆</em>
                             / 记录者之差馆 / Cop Shop
                        </a>
                    </li>
                        <li class="intro">中国大陆 / 周浩 / 郑晓蕾 / 56分钟 / 纪录片 / 周浩 Hao Zhou / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-06-23</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-5343752" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="5343752:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4222937861" >
            <div class="pic">
                <a title="铁西区第一部分：工厂" href="https://movie.douban.com/subject/1309215/" class="nbg">
                    <img alt="铁西区第一部分：工厂" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p1754097788.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1309215/" class="">
                            <em>铁西区第一部分：工厂</em>
                             / Tie Xi Qu: West of the Tracks - Part 1: Rust
                        </a>
                    </li>
                        <li class="intro">2003-01(鹿特丹电影节) / 中国大陆 / 240分钟(法国版) / 纪录片 / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-06-23</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1309215" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1309215:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4216247670" >
            <div class="pic">
                <a title="Furiosa: A Mad Max Saga" href="https://movie.douban.com/subject/34996127/" class="nbg">
                    <img alt="Furiosa: A Mad Max Saga" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2908300510.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/34996127/" class="">
                            <em>疯狂的麦克斯：狂暴女神 / Furiosa: A Mad Max Saga</em>
                             / 疯狂的麦克斯：弗瑞奥萨 / 芙莉欧莎：疯狂麦斯传奇篇章(台)
                        </a>
                    </li>
                        <li class="intro">2024-05-15(戛纳电影节) / 2024-05-24(美国) / 2024-06-07(中国大陆) / 安雅·泰勒-乔伊 / 克里斯·海姆斯沃斯 / 汤姆·伯克 / 艾莉拉·布朗 / 乔治·谢夫佐夫 / 拉黑·休姆 / 约翰·霍华德 / 安格斯·桑普森 /  查理·弗雷泽 / 埃尔莎·帕塔奇 / 内森·琼斯 / 乔什·赫尔曼 / 大卫·菲尔德 / 拉赫尔·罗曼 / 戴维·科林斯 / 戈兰·D·克鲁特 / CJ·布隆菲尔德 / 马图斯 / 伊恩·罗伯茨 / 丹尼尔·韦伯 / 奎登·贝勒斯 / 罗伯特·麦克法兰 / 马雷卡·加斯巴里 / 弗洛伦丝·梅扎拉 / 亚历克斯·泰姆 / 桑西娅·马里内利 / 叶叶·周 / 马特·代·苏沙 / 迪兰·阿朵尼斯 / 斯蒂芬·阿玛达孙 / 安妮·艾米莉·佩罗尔 / 盖·斯宾斯 / 内里·柯林斯 / 本·史密斯-彼得森 / 马修·范·里夫 / 雷普利·沃腾 / 卡尔·范·莫塞尔 / 理查德·诺顿 / 宁·塞勒斯 / 杰登·伊尔文 / 哈里森·诺里斯 / 杰西·特纳 / 托比·福勒 / 张崇巍 / 澳大利亚 / 美国 / 乔治·米勒 / 148分钟 / 疯狂的麦克斯：狂暴女神 / 动作 / 科幻 / 惊悚 / 冒险 / 乔治·米勒 George Miller / 尼克·拉图里 Nick Lathouris / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-06-15</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34996127" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34996127:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4212983815" >
            <div class="pic">
                <a title="山岸ですがなにか" href="https://movie.douban.com/subject/27075197/" class="nbg">
                    <img alt="山岸ですがなにか" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2471053809.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/27075197/" class="">
                            <em>我是山岸，有何贵干 / 山岸ですがなにか</em>
                            
                        </a>
                    </li>
                        <li class="intro">2017-07-02(日本) / 仲野太贺 / 佐津川爱美 / 猫背椿 / 中山佑一朗 / 伊达晓 / 冈田将生 / 松坂桃李 / 柳乐优弥 / 少路勇介 / 矢本悠马 / 绪方义博 / 日本 / www.ntv.co.jp/yutori/special2017/spinoff/ / 15分钟 / 我是山岸，有何贵干 / 剧情 / 喜剧 / 宫藤官九郎 Kankurô Kudô / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-06-11</span>

                            
                    </li>
                    <li>
                        <span class="comment">还真有啊！我以为是模仿在下坂本有何贵干的</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27075197" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27075197:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4209420890" >
            <div class="pic">
                <a title="ブラッシュアップライフ アナザーストーリー" href="https://movie.douban.com/subject/36299873/" class="nbg">
                    <img alt="ブラッシュアップライフ アナザーストーリー" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2889296459.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36299873/" class="">
                            <em>重启人生 番外篇 / ブラッシュアップライフ アナザーストーリー</em>
                             / 重启人生 Another Story
                        </a>
                    </li>
                        <li class="intro">2023-03-05(日本) / 夏帆 / 木南晴夏 / 野吕佳代 / 永尾柚乃 / 水川麻美 / 臼田麻美 / 近藤春菜 / 和田爱海 / 板垣树 / 宫下雄也 / 染谷将太 / 笨蛋节奏 / 安藤樱 / 日本 / 2-7分钟 / 重启人生 番外篇 / 剧情 / 喜剧 / 奇幻 / 笨蛋节奏 Bakarhythm / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-06-07</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36299873" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36299873:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4196981036" >
            <div class="pic">
                <a title="坚如磐石" href="https://movie.douban.com/subject/33447633/" class="nbg">
                    <img alt="坚如磐石" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2896319483.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/33447633/" class="">
                            <em>坚如磐石</em>
                             / 黑洞 / Under the Light
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2023-09-28(中国大陆) / 雷佳音 / 张国立 / 于和伟 / 周冬雨 / 孙艺洲 / 李乃文 / 许亚军 / 田雨 / 何政军 / 徐子力 / 林博洋 / 陈童 / 陈道明 / 陈冲 / 王迅 / 赵亮 / 焦刚 / 楚布花羯 / 中国大陆 / 张艺谋 / 127分钟 / 剧情 / 动作 / 犯罪 / 陈宇 Yu Chen / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-05-24</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-33447633" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="33447633:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4192306510" >
            <div class="pic">
                <a title="少女は卒業しない" href="https://movie.douban.com/subject/36070858/" class="nbg">
                    <img alt="少女は卒業しない" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2880305130.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36070858/" class="">
                            <em>少女不毕业 / 少女は卒業しない</em>
                             / Sayonara, Girls.
                        </a>
                    </li>
                        <li class="intro">2022-10-26(东京国际电影节) / 2023-02-23(日本) / 河合优实 / 小野莉奈 / 小宫山莉渚 / 中井友望 / 洼冢爱流 / 佐藤绯美 / 宇佐卓真 / 藤原季节 / 日本 / 中川骏 / 120分钟 / 少女不毕业 / 剧情 / 中川骏 Shun Nakagawa / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-05-18</span>

                            
                    </li>
                    <li>
                        <span class="comment">看了评论，感觉主题有点Angel Beats的感觉</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36070858" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36070858:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4190414936" >
            <div class="pic">
                <a title="Dune: Prophecy" href="https://movie.douban.com/subject/34428979/" class="nbg">
                    <img alt="Dune: Prophecy" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2908235164.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/34428979/" class="">
                            <em>沙丘：预言 / Dune: Prophecy</em>
                             / 沙丘：姐妹会 / Dune: The Prophecy
                        </a>
                    </li>
                        <li class="intro">2024-11(美国) / 艾米丽·沃森 / 奥莉维亚·威廉姆斯 / 卡米拉·比普特 / 崔维斯·费米尔 / 莎拉·林 / 乔迪·梅 / 马克·斯特朗 / 杰德·阿努克 / 莎拉-索菲·波斯妮娜 / 克里斯·梅森 / 杰西卡·巴登 /  约什·赫斯顿 / 克洛伊·利亚 / Faoileann Cunningham / 爱德华·戴维斯 / 伊芙·海因德 / 莎罗姆·布龙-富兰克 / 金智海 / 塔布 / 查瑞莎·钱德兰 / 艾玛·坎宁 / 叶林·韩 / 芙萝拉·蒙戈马利 / 泰莎·波纳姆·琼斯 / 劳拉·霍沃德 / 夏洛特·兰普林 / 韦恩·布雷特 / 美国 / 安娜·福斯特 / 约翰·卡梅伦 / 理查德·J·刘易斯 / 沙丘：预言 / 沙丘：预言 / 剧情 / 动作 / 科幻 / 冒险 / 布莱恩·赫伯特 Byron Merritt / 凯文·J·安德森 Kevin J. Anderson / 戴安·阿德穆·约翰 Diane Ademu-John / 乔丹·戈登伯格 Jordan Goldberg / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-05-16</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34428979" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34428979:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            &lt;前页
        </span>
        
        

                <span class="thispage" data-total-page="42">1</span>
                
            <a href="/people/mewcatcher/wish?start=15&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >2</a>
        
                
            <a href="/people/mewcatcher/wish?start=30&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >3</a>
        
                
            <a href="/people/mewcatcher/wish?start=45&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >4</a>
        
                
            <a href="/people/mewcatcher/wish?start=60&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >5</a>
        
                
            <a href="/people/mewcatcher/wish?start=75&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >6</a>
        
                
            <a href="/people/mewcatcher/wish?start=90&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >7</a>
        
                
            <a href="/people/mewcatcher/wish?start=105&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >8</a>
        
                
            <a href="/people/mewcatcher/wish?start=120&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >9</a>
        
            <span class="break">...</span>
                
            <a href="/people/mewcatcher/wish?start=600&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >41</a>
        
            <a href="/people/mewcatcher/wish?start=615&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >42</a>
        
        <span class="next">
            <link rel="next" href="/people/mewcatcher/wish?start=15&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all"/>
            <a href="/people/mewcatcher/wish?start=15&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                

    <!-- 加载 raikiri.js -->

    
    


<div class="side-info">
    <a href="https://www.douban.com/people/mewcatcher/" class="side-info-avatar"><img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" /></a>
    <div class="side-info-txt">
        <h3>MewX</h3>
        &gt;&nbsp;<a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="/people/mewcatcher/">我的电影主页</a>
        </p>
    </div>
            
    <h2>
        想看的标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

        
        
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=time&amp;start=0&amp;filter=all&amp;mode=grid&amp;tags_sort=name">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">


    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E7%A7%91%E5%B9%BB&amp;mode=grid" title="科幻">科幻</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E5%8A%A8%E7%94%BB&amp;mode=grid" title="动画">动画</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=2018&amp;mode=grid" title="2018">2018</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E6%97%A5%E6%9C%AC&amp;mode=grid" title="日本">日本</a>
        <span>1</span>
    </li>
</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"count","filter":"all","tag":"日本","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/mewcatcher/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "wish"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/mewcatcher/wish?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2024 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-7ffdf7d56f-5scrv-->

  <script>_SPLITTEST=''</script>
</body>

</html>


