<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    我想看的影视(627)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img1.doubanio.com/cuphead/movie-static/pics/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/e92483e5e4c9c60cc75cbd8b700a2fd5b5fdf7b0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/cuphead/movie-static/base/init.15f4b.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/e057439e70105417dffc6fab571688d52efeab23/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img1.doubanio.com/f/vendors/37e1cfca2d0e2d0a9a4bf05cc05072d69d27c975/css/ui/mypage.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <style type="text/css">
        #db-usr-profile .info ul li { margin-right: 10px;}
    
    .side-info {
        overflow: hidden;
        *zoom: 1;
        margin-bottom: 20px;
        padding: 16px;
        background: #F0F3F5;
    }
    .side-info-avatar {
        float: left;
        margin-right: 14px;
    }
    .side-info-txt {
        word-wrap: break-word;
        overflow: hidden;
        *zoom: 1;
    }
    .side-info .user-content{
        margin-top:15px;
    }
    .side-info-txt h3 {
        margin: 0;
        font-size: 16px;
        background: none;
        color: #111;
    }
</style>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>MewX的账号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">账号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=Us7b">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;82160871&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;82160871&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;82160871&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;82160871&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;82160871&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;82160871&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;82160871&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;82160871&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "82160871",
    UPLOAD_AUTH_TOKEN: "82160871:07d511706e5d764d8f30b32be4e9641c37e29b0b",
    SSE_TOKEN: "36741e726871f9f0314954375ea2a0e00babbbde",
    SSE_TIMESTAMP: "1723344671",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=navigation"
     >2023年度榜单</a>
    </li>
    <li    ><a href="https://c9.douban.com/app/standbyme-2023/?autorotate=false&fullscreen=true&hidenav=true&monitor_screenshot=true&source=web_navigation"
            target="_blank"
     >2023年度报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="/people/mewcatcher/">
                <img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" />
            </a>
        </div>
        <div class="info">
            <h1>我想看的影视(627)</h1>
            <ul>
                    
        <li><a href="/people/mewcatcher/">电影主页</a></li>
    
                    
        <li><a href="/people/mewcatcher/reviews">影评</a></li>
    
                    
        <li><a href="/people/mewcatcher/question">问答</a></li>
    
                    
        <li><a href="/people/mewcatcher/do">在看</a></li>
    
                    
        <li><a href="/people/mewcatcher/wish">想看</a></li>
    
                    
        <li><a href="/people/mewcatcher/collect">看过</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/doulists">豆列</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/subject_doulists/movie">片单</a></li>
    
                    
        <li><a href="https://movie.douban.com/ticket/mine">电影票</a></li>
    
                    
        <li><a href="https://movie.douban.com/notifications">电影提醒</a></li>
    
                    
        <li><a href="/settings/">设置</a></li>
    
                    
        <li class="sep">|</li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a></li>
    
            </ul>
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按评分排序</a><span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:18px;position: relative; top:1px}
            .tabs-more .gray {color:#999}
            :first-of-type + .tabs-more {margin-left:38px}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=schedule&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">正在热映</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=video&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">在线观看</a></li>
            </ul>
        </div>
        <div class="tabs-more">
            
            <span class="gray">影片类型:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=movie">电影</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=tv">电视</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                556-570&nbsp;/&nbsp;627
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="/people/mewcatcher/wish?sort=time&amp;amp;start=555&amp;amp;filter=all&amp;amp;mode=list&amp;amp;tags_sort=count">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item comment-item" data-cid="1375357716" >
            <div class="pic">
                <a title="Sense8 Finale Special" href="https://movie.douban.com/subject/27040774/" class="nbg">
                    <img alt="Sense8 Finale Special" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2520264840.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/27040774/" class="">
                            <em>超感猎杀：完结特别篇 / Sense8 Finale Special</em>
                             / 超感八人组 / 超感8人组
                        </a>
                    </li>
                        <li class="intro">2018-06-08(美国) / 裴斗娜 / 杰米·克莱顿 / 蒂娜·德赛 / 塔彭丝·米德尔顿 / 马克思·雷迈特 / 米格尔·安赫尔·西尔维斯特 / 布莱恩·J·史密斯 / 托比·奥伍梅尔 / 弗莉玛·阿吉曼 / 帕鲁布·科里 / 阿方索·埃雷拉 / 泰伦斯·曼 / 达丽尔·汉纳 / 纳威恩·安德利维斯 / 奈斯鲍提斯塔 / 斯蒂芬·鲍克思 / 阿米拉·加扎拉 / 约书亚·格罗斯 / 埃伦迪拉·伊瓦拉 / 雅丽·乔维尔 / 西尔维斯特·迈可伊 / Annie Munch / 埃文特·斯特朗 / 马克斯·毛夫 / Vincent Bouillon / 孙锡久 / 瓦莱丽亚·比莱洛 / 朴秀珠 / 拉娜·沃卓斯基 / 美国 / 拉娜·沃卓斯基 /  / 151分钟 / 超感猎杀：完结特别篇 / 剧情 / 科幻 / 同性 / 莉莉·沃卓斯基 Lilly Wachowski / 拉娜·沃卓斯基 Lana Wachowski / J·迈克尔·斯特拉辛斯基 J. Michael Straczynski / Alexander Hemon / David Mitchell / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2018-05-18</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27040774" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27040774:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1375353629" >
            <div class="pic">
                <a title="The Love Letter" href="https://movie.douban.com/subject/1296852/" class="nbg">
                    <img alt="The Love Letter" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2534824007.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1296852/" class="">
                            <em>情书 / The Love Letter</em>
                             / 情书
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1998-02-01 / 坎贝尔·斯科特 / 詹妮弗·杰森·李 / Richard Woods / 凯利·罗查 / 艾尔玛·霍尔 / 大卫·杜克斯 / Mark Joy / 格里特·格雷厄姆 / 达芙妮·阿斯布鲁克 / Myra Carter / Laurie Kennedy / 埃斯特尔·帕森斯 / 美国 / 丹·柯蒂斯 / 99分钟 / 情书 / 爱情 / 奇幻 / Jack Finney / James S. Henerson / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2018-05-18</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1296852" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1296852:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1374544825" >
            <div class="pic">
                <a title="올드보이" href="https://movie.douban.com/subject/1308865/" class="nbg">
                    <img alt="올드보이" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2166892850.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1308865/" class="">
                            <em>老男孩 / 올드보이</em>
                             / 原罪犯(港/台) / Oldeuboi
                        </a>
                    </li>
                        <li class="intro">2003-11-21(韩国) / 崔岷植 / 刘智泰 / 姜惠贞 / 金秉玉 / 吴达洙 / 李胜欣 / 尹珍序 / 池大汉 / 吴泰景 / 柳演锡 / 李代延 / 吴光禄 / 朴明申 / 龙伊 / 玛丽·德文 / 克里斯平·弗里曼 / 史蒂夫·克莱默 / 雪莉·琳恩 / 迈克尔·麦康诺希 / 斯蒂芬妮·社 / 柯克·桑顿 / 凯瑞·华格伦 / 刘日汉 / 李洪杓 / 尹振毓 / 全宇材 / 韩载德 / 赵常景 / 韩国 / 朴赞郁 / 120分钟 / 老男孩 / 剧情 / 动作 / 悬疑 / 惊悚 / 黄肇允 Jo-yoon Hwang / Chun-hyeong Lim / 朴赞郁 Chan-wook Park / 土屋加仑 Garon Tsuchiya / 岭岸信明 Nobuaki Minegishi / 韩语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2018-05-16</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1308865" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1308865:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1367545554" >
            <div class="pic">
                <a title="Untitled Pirates of the Caribbean Project" href="https://movie.douban.com/subject/6311305/" class="nbg">
                    <img alt="Untitled Pirates of the Caribbean Project" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2462023207.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/6311305/" class="">
                            <em>加勒比海盗(重启版) / Untitled Pirates of the Caribbean Project</em>
                             / 加勒比海盗6：四海之怒 / 神鬼奇航6：海洋狂怒(台)
                        </a>
                    </li>
                        <li class="intro">2028(美国) / 奥斯汀·巴特勒 / 美国 / 120分钟 / 加勒比海盗(重启版) / 动作 / 奇幻 / 冒险 / 克雷格·麦辛 Craig Mazin / 泰德·艾略特 Ted Elliott / 特里·鲁西奥 Terry Rossio / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2018-05-02</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-6311305" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="6311305:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1362069645" >
            <div class="pic">
                <a title="The Division" href="https://movie.douban.com/subject/26808542/" class="nbg">
                    <img alt="The Division" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2897836414.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26808542/" class="">
                            <em>全境封锁 / The Division</em>
                             / The Division
                        </a>
                    </li>
                        <li class="intro">杰西卡·查斯坦 / 杰克·吉伦哈尔 / 美国 / 罗森·马歇尔·瑟伯 / 大卫·雷奇 / 全境封锁 / 剧情 / 动作 / 科幻 / 雷夫·贾金斯 Rafe Judkins / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2018-04-22</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26808542" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26808542:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1359839366" >
            <div class="pic">
                <a title="Notting Hill" href="https://movie.douban.com/subject/1298038/" class="nbg">
                    <img alt="Notting Hill" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p480943589.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1298038/" class="">
                            <em>诺丁山 / Notting Hill</em>
                             / 摘星奇缘(港) / 新娘百分百(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1999-05-21(英国) / 朱莉娅·罗伯茨 / 休·格兰特 / 理查德·麦凯布 / 瑞斯·伊凡斯 / 詹姆斯·德雷福斯 / 迪兰·莫兰 / 亨利·古德曼 / 朱利安·林希德-图特 / 罗蕾莱·金 / 约翰·斯拉普内尔 / 克拉克·彼得斯 / 尤兰达·瓦兹奎兹 / 米莎·巴顿 / 蒂姆·麦克纳尼 / 吉娜·麦基 / 艾玛·钱伯斯 / 休·博纳维尔 / 多里斯·洛夫 / 桑吉夫·巴哈斯卡 / 保罗·查希迪 / 艾米莉·莫迪默 / 萨缪尔·韦斯特 / 帕特里克·巴罗 / 安迪·德拉图尔 / 鲁伯特·普格特 / 安·比奇 / 莎莉·菲利普斯 / 亚历克·鲍德温 / 伊恩·博霍 / 西蒙·卡洛 / 乔·考尼什 / 肖恩·克罗宁 / 欧米德·吉亚李利 / 迈克尔·希格斯 / 若昂·科斯塔·梅内塞斯 / 马修·莫迪恩 / 童自荣 / 户田惠子 / 沈晓谦 / 阿图罗·韦尼加斯 / 安东尼·玛达莱娜 / 英国 / 美国 / 罗杰·米歇尔 / 124分钟 / 诺丁山 / 喜剧 / 爱情 / 理查德·柯蒂斯 Richard Curtis / 英语 / 西班牙语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2018-04-17</span>

                            
                    </li>
                    <li>
                        <span class="comment">听歌圈粉</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1298038" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1298038:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1357979966" >
            <div class="pic">
                <a title="Buffalo &#39;66" href="https://movie.douban.com/subject/1297311/" class="nbg">
                    <img alt="Buffalo &#39;66" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p453576673.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1297311/" class="">
                            <em>水牛城66 / Buffalo &#39;66</em>
                             / 流氓本色 / 超级杯复仇计划
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1998-06-26 / 文森特·加洛 / 克里斯蒂娜·里奇 / 本·戈扎那 / 米基·洛克 / 罗姗娜·阿奎特 / 冉-迈克尔·文森特 / 安杰丽卡·休斯顿 / 凯文·波拉克 / 亚历克斯·卡拉斯 / John Sansone / 凯文·考利甘 / 美国 / 加拿大 / 文森特·加洛 / 110 分钟 / 水牛城66 / 喜剧 / 犯罪 / 剧情 / 爱情 / 文森特·加洛 Vincent Gallo / 艾莉森·巴格纳尔 Alison Bagnall / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2018-04-14</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1297311" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1297311:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1352855034" >
            <div class="pic">
                <a title="フルメタル・パニック!" href="https://movie.douban.com/subject/1459767/" class="nbg">
                    <img alt="フルメタル・パニック!" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2257359929.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1459767/" class="">
                            <em>全金属狂潮 / フルメタル・パニック!</em>
                             / 惊爆危机 / Full Metal Panic!
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2002-01-08 / 关智一 / 雪野五月 / 野上尤加奈 / 根谷美智子 / 三木真一郎 / 大塚明夫 / 西村知道 / 田中正彦 / 木村郁绘 / 能登麻美子 / 田村由香里 / 福山润 / 今井麻美 / 高桥智秋 / 中田和宏 / 田中大文 / 河合义雄 / 高田裕司 / 宗矢树赖 / 千叶进步 / 中博史 / 松本大 / 内田直哉 / 小西克幸 / 子安武人 / 稻田彻 / 日本 / 千明孝一 / 冈村天斋 / 神户洋行 / 铃木薰 / 土屋浩幸 / 黑田康弘 / 浦田保则 / 松尾慎 / 西山明树彦 / 23分钟 / 全金属狂潮 / 动作 / 喜剧 / 爱情 / 科幻 / 动画 / 贺东招二 Gatō Shōji / 志茂文彦 Fumihiko Shimo / 千明孝一 Kôichi Chigira / 十川诚志 Masashi Sogo / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2018-04-05</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1459767" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1459767:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1349119886" >
            <div class="pic">
                <a title="人间世 第一季" href="https://movie.douban.com/subject/26815163/" class="nbg">
                    <img alt="人间世 第一季" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2369039272.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26815163/" class="">
                            <em>人间世 第一季</em>
                             / 人间百态
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2016-06-11(中国大陆) / 中国大陆 / www.kankanews.com/z/renjianshi/index.shtml / 周全 / 秦博 / 45分钟 / 纪录片 / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2018-03-29</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26815163" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26815163:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1346252132" >
            <div class="pic">
                <a title="Le grand bleu" href="https://movie.douban.com/subject/1300960/" class="nbg">
                    <img alt="Le grand bleu" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p455724599.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1300960/" class="">
                            <em>碧海蓝天 / Le grand bleu</em>
                             / 碧海情深 / 夜海倾情
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1988-05-11(法国) / 让-马克·巴尔 / 让·雷诺 / 罗姗娜·阿奎特 / 保罗·希纳尔 / 赛尔乔·卡斯特利托 / 让·布伊兹 / 马克·迪莱特 / 格里芬·邓恩 / 安德烈亚斯·武齐纳斯 / 瓦伦提娜·瓦格斯 / 金伯莉·贝克 / Patrick Fontana / 杰弗里·凯里 / 皮尔·塞姆勒 / 弗兰科·第欧根尼 / 保罗·赫尔曼 / 吕克·贝松 / 克里斯蒂安·加奇奥 / Patricia Pierangeli / 康斯坦丁·亚历山德罗夫 / 法国 / 意大利 / 吕克·贝松 / 132分钟(法国) / 168分钟(导演剪辑版) / 碧海蓝天 / 剧情 / 爱情 / 吕克·贝松 Luc Besson / 玛丽莲‧戈登 Marilyn Goldin / 雅克·梅欧 Jacques Mayol / 法语 / 英语 / 意大利语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2018-03-24</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1300960" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1300960:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1339959130" >
            <div class="pic">
                <a title="Minuscule 2 -  Les mandibules du bout du monde" href="https://movie.douban.com/subject/26729867/" class="nbg">
                    <img alt="Minuscule 2 -  Les mandibules du bout du monde" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2566206786.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26729867/" class="">
                            <em>昆虫总动员2——来自远方的后援军 / Minuscule 2 -  Les mandibules du bout du monde</em>
                             / 昆虫总动员2：来自远方的后援军 / 小甲虫历险记(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2018-09-09(多伦多电影节) / 2019-01-30(法国) / 2019-08-23(中国大陆) / 布鲁诺·萨拉曼 / 蒂埃里·弗雷蒙 / 斯特凡·库隆 / 让·南加 / 萨拉·科恩-阿德里亚 / 让-保罗·居永 / 博·高缇耶·代·克莫尔 / 弗兰克·贝内克 / 吕克·莫文 / 法国 / 中国大陆 / 海琳·吉罗 / 托马斯·绍博 / 91分钟 / 昆虫总动员2——来自远方的后援军 / 动画 / 海琳·吉罗 Hélène Giraud / 托马斯·绍博 Thomas Szabo / 无对白</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2018-03-12</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26729867" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26729867:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1339957433" >
            <div class="pic">
                <a title="Minuscule: la Vallée des Fourmis Perdues" href="https://movie.douban.com/subject/23048775/" class="nbg">
                    <img alt="Minuscule: la Vallée des Fourmis Perdues" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2195566148.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/23048775/" class="">
                            <em>昆虫总动员 / Minuscule: la Vallée des Fourmis Perdues</em>
                             / 微观小世界：失落的蚂蚁谷 / 虫虫大联盟：方糖争霸战(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2013-11-17(塔林黑夜电影节) / 2014-01-29(法国) / 2014-08-22(中国大陆) / 法国 / 比利时 / www.minuscule-blog.com / 海琳·吉罗 / 托马斯·绍博 / 89分钟 / 昆虫总动员 / 动画 / 冒险 / 托马斯·绍博 Thomas Szabo / 海琳·吉罗 Hélène Giraud / 无对白</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2018-03-12</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-23048775" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="23048775:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1336258109" >
            <div class="pic">
                <a title="The Magnificent Seven" href="https://movie.douban.com/subject/1303373/" class="nbg">
                    <img alt="The Magnificent Seven" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2206757754.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1303373/" class="">
                            <em>豪勇七蛟龙 / The Magnificent Seven</em>
                             / 七侠荡寇志(港) / 荡寇七侠传
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1960-11-23(美国) / 尤·伯连纳 / 伊莱·瓦拉赫 / 史蒂夫·麦奎因 / 查尔斯·布朗森 / 罗伯特·沃恩 / 布拉德·德克斯特 / 詹姆斯·柯本 / 霍斯特·布赫霍尔茨 / 恩里克·卢塞罗 / 豪尔赫·马丁内斯·德奥约斯 / Alex Montoya / 约瑟夫·拉斯金 / Natividad Vacío / 弗拉迪米尔·索科洛夫 / 罗伯特·J·威尔克 / 罗森达·蒙特罗斯 / Larry Duran / Danny Bravo / 约翰·A·阿朗索 / 维克托·弗伦奇 / 宾·拉塞尔 / 怀特·毕塞尔 / Henry Amargo / 瓦尔·埃弗里 / Roberto Contreras / 何塞·查韦斯 / 美国 / 约翰·斯特奇斯 / 128 分钟 / 豪勇七蛟龙 / 动作 / 西部 / William Roberts / 英语 / 西班牙语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2018-03-05</span>

                            
                    </li>
                    <li>
                        <span class="comment">被片头曲《七侠荡寇》圈粉了！！！</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1303373" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1303373:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1336247532" >
            <div class="pic">
                <a title="Get Out" href="https://movie.douban.com/subject/26688480/" class="nbg">
                    <img alt="Get Out" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2508604641.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26688480/" class="">
                            <em>逃出绝命镇 / Get Out</em>
                             / 访‧吓(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-01-23(圣丹斯电影节) / 2017-02-24(美国) / 丹尼尔·卡卢亚 / 艾莉森·威廉姆斯 / 凯瑟琳·基纳 / 布莱德利·惠特福德 / 卡莱伯·兰德里·琼斯 / 马库斯·亨德森 / 贝蒂·加布里埃尔 / 勒凯斯·斯坦菲尔德 / 斯蒂芬·鲁特 / 里尔·莱尔·哈瓦瑞 / 艾希礼·勒孔特·坎贝尔 / 卡伦·L·拉基 / 朱莉·安·多恩 / 杰拉尔丁·辛格 / 理查德·赫德 / 埃里卡·亚历山大 / 杰克·蒂格 / 伊恩·卡塞尔伯里 / 肖恩·保罗·布劳德 / 宰兰德·亚当斯 / 杰洛米诺·斯芬克斯 / 马修·麦克罗克林 / 莱尔·布罗卡托 / 美国 / www.getoutfilm.com / 乔丹·皮尔 / 104分钟 / 逃出绝命镇 / 悬疑 / 惊悚 / 恐怖 / 乔丹·皮尔 Jordan Peele / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2018-03-05</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26688480" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26688480:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1333223114" >
            <div class="pic">
                <a title="Counterpart" href="https://movie.douban.com/subject/26474254/" class="nbg">
                    <img alt="Counterpart" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2506488961.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26474254/" class="">
                            <em>相对宇宙 第一季 / Counterpart Season 1</em>
                             / 相对世界 / 副本
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-12-10(美国) / J·K·西蒙斯 / 奥莉维亚·威廉姆斯 / 萨拉·萨里约科 / 乌尔里奇·汤姆森 / 纳赞宁·波妮阿蒂 / 哈里·劳埃德 / 伯恩哈德·福克 / 肯尼斯·崔 / 诺兰·杰拉德·冯克 / 裘斯 B.詹哈迪 / 尼古拉斯·平诺克 / 彼得·亚当奇克 / 麦斯·布莱克 / 弗卢拉·博格 / 马克·可汗 / 蒂娜·马萨弗雷特 / 伊莲·阿尔马格尔 / 盖·布耐特 / 米多·哈马达 / 斯蒂芬·瑞 / 理查德·希夫 / 莎妮·阿蒂亚斯 / 莎拉·伯格 / 丽芙·丽莎·弗赖斯 / 克里斯蒂安娜·保罗 / 洛特·弗贝克 / 莉奥妮·贝尼希 / 吴嘉星 / 拉腊·德坎罗 / 克劳迪娅·海因茨 / 米雷拉·伯克 / 卡迪亚·萨拉夫 / 杰奎琳·安塔拉米安 / 丽莎·哈格迈斯特 / 瑞采塔·维刘 / 林恩·比约兰 / 马修卢腊特 / 都铎·蒙特亚努 / Lea Faßbender / 卡迪亚·萨拉夫 / 雅各布·迪尔 / 贾斯丁·马科斯 / 李·黄 / 美国 / 埃里克·萨哈罗夫 / 莫滕·泰杜姆 / 相对宇宙 / 60分钟 / 相对宇宙 / 剧情 / 科幻 / 惊悚 / 贾斯丁·马科斯 Justin Marks / 艾米·伯格 Amy Berg / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2018-02-28</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26474254" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26474254:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/mewcatcher/wish?start=540&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all"/>
            <a href="/people/mewcatcher/wish?start=540&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >&lt;前页</a>
        </span>
        
        
            
            <a href="/people/mewcatcher/wish?start=0&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >1</a>
        
            <a href="/people/mewcatcher/wish?start=15&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >2</a>
        <span class="break">...</span>

                
            <a href="/people/mewcatcher/wish?start=495&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >34</a>
        
                
            <a href="/people/mewcatcher/wish?start=510&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >35</a>
        
                
            <a href="/people/mewcatcher/wish?start=525&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >36</a>
        
                
            <a href="/people/mewcatcher/wish?start=540&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >37</a>
        
                <span class="thispage" data-total-page="42">38</span>
                
            <a href="/people/mewcatcher/wish?start=570&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >39</a>
        
                
            <a href="/people/mewcatcher/wish?start=585&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >40</a>
        
                
            <a href="/people/mewcatcher/wish?start=600&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >41</a>
        
                
            <a href="/people/mewcatcher/wish?start=615&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >42</a>
        
        <span class="next">
            <link rel="next" href="/people/mewcatcher/wish?start=570&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all"/>
            <a href="/people/mewcatcher/wish?start=570&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                

    <!-- 加载 raikiri.js -->

    
    


<div class="side-info">
    <a href="https://www.douban.com/people/mewcatcher/" class="side-info-avatar"><img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" /></a>
    <div class="side-info-txt">
        <h3>MewX</h3>
        &gt;&nbsp;<a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="/people/mewcatcher/">我的电影主页</a>
        </p>
    </div>
            
    <h2>
        想看的标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

        
        
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=time&amp;start=555&amp;filter=all&amp;mode=grid&amp;tags_sort=name">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">


    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E7%A7%91%E5%B9%BB&amp;mode=grid" title="科幻">科幻</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E5%8A%A8%E7%94%BB&amp;mode=grid" title="动画">动画</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=2018&amp;mode=grid" title="2018">2018</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E6%97%A5%E6%9C%AC&amp;mode=grid" title="日本">日本</a>
        <span>1</span>
    </li>
</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"count","filter":"all","tag":"日本","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/mewcatcher/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "wish"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/mewcatcher/wish?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2024 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-7ffdf7d56f-2rntd-->

  <script>_SPLITTEST=''</script>
</body>

</html>


