<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    我想看的影视(627)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img1.doubanio.com/cuphead/movie-static/pics/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/e92483e5e4c9c60cc75cbd8b700a2fd5b5fdf7b0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/cuphead/movie-static/base/init.15f4b.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/e057439e70105417dffc6fab571688d52efeab23/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img1.doubanio.com/f/vendors/37e1cfca2d0e2d0a9a4bf05cc05072d69d27c975/css/ui/mypage.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <style type="text/css">
        #db-usr-profile .info ul li { margin-right: 10px;}
    
    .side-info {
        overflow: hidden;
        *zoom: 1;
        margin-bottom: 20px;
        padding: 16px;
        background: #F0F3F5;
    }
    .side-info-avatar {
        float: left;
        margin-right: 14px;
    }
    .side-info-txt {
        word-wrap: break-word;
        overflow: hidden;
        *zoom: 1;
    }
    .side-info .user-content{
        margin-top:15px;
    }
    .side-info-txt h3 {
        margin: 0;
        font-size: 16px;
        background: none;
        color: #111;
    }
</style>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>MewX的账号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">账号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=Us7b">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;82160871&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;82160871&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;82160871&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;82160871&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;82160871&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;82160871&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;82160871&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;82160871&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "82160871",
    UPLOAD_AUTH_TOKEN: "82160871:07d511706e5d764d8f30b32be4e9641c37e29b0b",
    SSE_TOKEN: "10acad599cb3dfd0b759a2c48e4c51dfe1b6d06b",
    SSE_TIMESTAMP: "1723344587",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=navigation"
     >2023年度榜单</a>
    </li>
    <li    ><a href="https://c9.douban.com/app/standbyme-2023/?autorotate=false&fullscreen=true&hidenav=true&monitor_screenshot=true&source=web_navigation"
            target="_blank"
     >2023年度报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="/people/mewcatcher/">
                <img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" />
            </a>
        </div>
        <div class="info">
            <h1>我想看的影视(627)</h1>
            <ul>
                    
        <li><a href="/people/mewcatcher/">电影主页</a></li>
    
                    
        <li><a href="/people/mewcatcher/reviews">影评</a></li>
    
                    
        <li><a href="/people/mewcatcher/question">问答</a></li>
    
                    
        <li><a href="/people/mewcatcher/do">在看</a></li>
    
                    
        <li><a href="/people/mewcatcher/wish">想看</a></li>
    
                    
        <li><a href="/people/mewcatcher/collect">看过</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/doulists">豆列</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/subject_doulists/movie">片单</a></li>
    
                    
        <li><a href="https://movie.douban.com/ticket/mine">电影票</a></li>
    
                    
        <li><a href="https://movie.douban.com/notifications">电影提醒</a></li>
    
                    
        <li><a href="/settings/">设置</a></li>
    
                    
        <li class="sep">|</li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a></li>
    
            </ul>
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按评分排序</a><span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:18px;position: relative; top:1px}
            .tabs-more .gray {color:#999}
            :first-of-type + .tabs-more {margin-left:38px}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=schedule&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">正在热映</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=video&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">在线观看</a></li>
            </ul>
        </div>
        <div class="tabs-more">
            
            <span class="gray">影片类型:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=movie">电影</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=tv">电视</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                16-30&nbsp;/&nbsp;627
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="/people/mewcatcher/wish?sort=time&amp;amp;start=15&amp;amp;filter=all&amp;amp;mode=list&amp;amp;tags_sort=count">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item comment-item" data-cid="4186932109" >
            <div class="pic">
                <a title="And Then There Were None" href="https://movie.douban.com/subject/26629021/" class="nbg">
                    <img alt="And Then There Were None" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2282697712.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26629021/" class="">
                            <em>无人生还 / And Then There Were None</em>
                             / 无人生还电影版
                        </a>
                    </li>
                        <li class="intro">美国 / 莫滕·泰杜姆 / 无人生还 / 悬疑 / 惊悚 / 阿加莎·克里斯蒂 Agatha Christie / 乔·施雷普内尔 Joe Shrapnel / 安娜·沃特豪斯 Anna Waterhouse / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-05-12</span>

                            
                    </li>
                    <li>
                        <span class="comment">竟然出电影版了</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26629021" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26629021:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4186313547" >
            <div class="pic">
                <a title="The Days" href="https://movie.douban.com/subject/36094209/" class="nbg">
                    <img alt="The Days" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2888042640.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36094209/" class="">
                            <em>核灾日月 / The Days</em>
                            
                        </a>
                    </li>
                        <li class="intro">2023-06-01(日本) / 役所广司 / Nobi Nakanishi / 竹野内丰 / 小日向文世 / 小林薰 / 音尾琢真 / 光石研 / 远藤宪一 / 石田百合子 / 泉泽祐希 / 丸山智己 / 六平直政 / 小木茂光 / 铃鹿央士 / 渊上泰史 / 高桥和也 / 永冈佑 / 入江甚仪 / 小仓一郎 / 田中聪元 / 山时聪真 / 永濑莉子 / 细井学 / 绪方义博 / 吹越满 / 酒向芳 / 山中崇 / 井上肇 / 日本 / 西浦正记 / 中田秀夫 / 60分钟 / 核灾日月 / 剧情 / 灾难 / 増本淳 / 門田隆将 Ryûshô Kadota / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-05-12</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36094209" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36094209:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4182565771" >
            <div class="pic">
                <a title="Hackers" href="https://movie.douban.com/subject/1297647/" class="nbg">
                    <img alt="Hackers" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1102510035.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1297647/" class="">
                            <em>黑客 / Hackers</em>
                             / 黑客 / 忽然夺网（港）
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1995-09-15 / 约翰尼·李·米勒 / 安吉丽娜·朱莉 / 杰西·布拉德福特 / 马修·里沃德 / 费舍·史蒂芬斯 / 阿尔贝塔·瓦特森 / 拉维尔·伊斯亚诺夫 / Rawleigh Moreland / John D. Bair / 利亚姆·费格森 / 安玛丽·劳莱丝 / 菲丽西提·霍夫曼 / 拉尔夫·温特 / Liza Walker / Kimbra Standish / 詹妮弗·巴杰 / 马克·安东尼 / 约翰托宾 / 大卫·A·斯图瓦特 / Denise George / 佩恩·吉列特 / 洛兰·布拉科 / Walter Lewis / 乔·贝哈 / 伊桑·布朗 / 南茜·蒂科汀 / 里科·罗斯 / 雷诺里·圣地亚哥 / 森尚子 / 维德尔·皮尔斯 / Raquel Mondin / Darren Lee / Gary Howard Klar / 保罗·克雷门托威茨 / 迈克尔·加斯顿 / 奥莱加·费多罗 / Mike Cicchetti / 美国 / 伊恩·索夫特雷 / 105分钟 / 黑客 / 动作 / 犯罪 / 剧情 / 惊悚 / Rafael Moreu / 英语 / 意大利语 / 日语 / 俄语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-05-08</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1297647" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1297647:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4182039656" >
            <div class="pic">
                <a title="ATRI -My Dear Moments-" href="https://movie.douban.com/subject/36055781/" class="nbg">
                    <img alt="ATRI -My Dear Moments-" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2909884081.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36055781/" class="">
                            <em>亚托莉 -我挚爱的时光- / ATRI -My Dear Moments-</em>
                            
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2024-07-13(日本) / 赤尾光 / 小野贤章 / 高桥未奈美 / 细谷佳正 / 日笠阳子 / 春野杏 / 日本 / 加藤诚 / 24分钟 / 亚托莉 -我挚爱的时光- / 爱情 / 科幻 / 动画 / 花田十辉 Jukki Hanada / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-05-07</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36055781" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36055781:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4145107018" >
            <div class="pic">
                <a title="Godzilla x Kong: The New Empire" href="https://movie.douban.com/subject/35453251/" class="nbg">
                    <img alt="Godzilla x Kong: The New Empire" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2904477111.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35453251/" class="">
                            <em>哥斯拉大战金刚2：帝国崛起 / Godzilla x Kong: The New Empire</em>
                             / 哥斯拉×金刚：新帝国(港) / 哥吉拉与金刚：新帝国(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2024-03-27(中国台湾) / 2024-03-29(美国/中国大陆) / 丽贝卡·豪尔 / 布莱恩·泰里·亨利 / 丹·史蒂文斯 / 凯莉·霍特尔 / 亚历克斯·费恩斯 / 陈法拉 / 瑞切尔·豪斯 / 朗·斯迈克 / 尚特尔·贾米森 / 格雷格·哈顿 / 凯文·科普兰 / 泰丝·多布雷 / 蒂姆·卡罗尔 / 安东尼·布兰登·黄 / 索菲亚·恩博森-贝恩 / 奇卡·伊科维 / 文森特·B·戈尔斯 / 叶叶·周 / 贾马利亚·欧斯曼 / 尼克·劳勒 / 梅西·康沃尔 / 卡西·莱利 / 乔迪·坎贝尔 / 妮可拉·克里萨 / Stephanie Puggioni / Angie Adler-Koops / Olivia Simatovic / Drew Matthews / Kyle Clark / 亚历克斯·泰姆 / Jacob Hohua / Riley McCarthy / 美国 / 亚当·温加德 / 115分钟 / 哥斯拉大战金刚2：帝国崛起 / 动作 / 科幻 / 冒险 / 特里·鲁西奥 Terry Rossio / 西蒙·巴雷特 Simon Barrett / 杰瑞米·斯莱特 Jeremy Slater / 亚当·温加德 Adam Wingard / 英语 / 美国手语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-04-01</span>

                            
                    </li>
                    <li>
                        <span class="comment">最近在上映</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35453251" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35453251:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4134747658" >
            <div class="pic">
                <a title="シャングリラ・フロンティア ~クソゲーハンター、神ゲーに挑まんとす~" href="https://movie.douban.com/subject/35983137/" class="nbg">
                    <img alt="シャングリラ・フロンティア ~クソゲーハンター、神ゲーに挑まんとす~" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2876035623.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35983137/" class="">
                            <em>香格里拉·开拓异境～粪作猎手挑战神作～ / シャングリラ・フロンティア ~クソゲーハンター、神ゲーに挑まんとす~</em>
                             / 香格里拉·弗陇提亚~屎作猎人向神作发起挑战~ / Shangri-La Frontier: Kusoge Hunter, Kamige ni Idoman to su
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2023-10-01(日本) / 内田雄马 / 和气杏未 / 日笠阳子 / 小市真琴 / 日高里菜 / 大塚明夫 / 佐藤聪美 / 潘惠美 / 永冢拓马 / 白砂沙帆 / 千本木彩花 / 中岛卓也 / 庄司宇芽香 / 结川麻希 / 富田美忧 / 日本 / 洼冈俊之 / 25分钟 / 香格里拉·开拓异境～粪作猎手挑战神作～ / 动画 / 冒险 / 笔安一幸 Kazuyuki Fudeyasu / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-03-22</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35983137" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35983137:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4124540251" >
            <div class="pic">
                <a title="SPY×FAMILY Season 3" href="https://movie.douban.com/subject/36700483/" class="nbg">
                    <img alt="SPY×FAMILY Season 3" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2909188277.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36700483/" class="">
                            <em>间谍过家家 第三季 / SPY×FAMILY Season 3</em>
                             / SPY×FAMILY间谍家家酒Season 3(港/台) / Spy × Family Season 3
                        </a>
                    </li>
                        <li class="intro">2024(日本) / 江口拓也 / 早见沙织 / 种崎敦美 / 日本 / 24分钟 / 间谍过家家 第三季 / 喜剧 / 爱情 / 动画 / 冒险 / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-03-12</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36700483" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36700483:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4113314671" >
            <div class="pic">
                <a title="百円の恋" href="https://movie.douban.com/subject/25761178/" class="nbg">
                    <img alt="百円の恋" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2205471169.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/25761178/" class="">
                            <em>百元之恋 / 百円の恋</em>
                             / 100円的爱(港) / 百圆之恋
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2014-10-25(东京电影节) / 2014-12-20(日本) / 安藤樱 / 新井浩文 / 稻川实代子 / 早织 / 宇野祥平 / 坂田聪 / 吉村界人 / 松浦慎一郎 / 伊藤洋三郎 / 重松収 / 根岸季衣 / 藤本沙纪 / 日本 / 100yen-koi.jp / 武正晴 / 113分钟 / 百元之恋 / 剧情 / 运动 / 足立绅 Shin Adachi / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-03-03</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25761178" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25761178:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4101883540" >
            <div class="pic">
                <a title="不適切にもほどがある！" href="https://movie.douban.com/subject/36621364/" class="nbg">
                    <img alt="不適切にもほどがある！" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2902779420.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36621364/" class="">
                            <em>不合适也要有个限度！ / 不適切にもほどがある！</em>
                             / 极度不妥！
                        </a>
                    </li>
                        <li class="intro">2024-01-26(日本) / 阿部隆史 / 仲里依纱 / 矶村勇斗 / 吉田羊 / 河合优实 / 坂元爱登 / 山本耕史 / 古田新太 / 三宅弘城 / 袴田吉彦 / 中岛步 / 冈田将生 / 锦户亮 / 特林德尔·玲奈 / 小关裕太 / 小泉今日子 / 泽口爱华 / 绀野真昼 / 和田光沙 / 远山景织子 / 八岛智人 / 初夏 / 安藤圣 / 咲妃美悠 / 圆井湾 / 中村靖日 / 池田铁洋 / 守屋丽奈 / 矢作兼 / 对比地杏奈 / 池田成志 / 柿泽勇人 / 赤堀雅秋 / 秋山龙次 / 马场园梓 / 福室莉音 / 池谷伸枝 / 木下晴香 / 荒川知佳 / 永野宗典 / 宫崎吐梦 / 松村雄基 / 彦摩吕 / 樱井健人 / 浜田信也 / 前田织音 / 板仓俊之 /  中井千圣 / 日比茉铃 / 大野泰广 / 沼田爆 / 中田理智 / 管勇毅 / 澄田绫乃 / 成田昭次 / 宍户开 / 小野武彦 / 日本 / 金子文纪 / 坂上卓哉 / 古林淳太郎 / 井村太一 / 60分钟 / 不合适也要有个限度！ / 喜剧 / 奇幻 / 宫藤官九郎 Kankurô Kudô / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-02-22</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36621364" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36621364:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4095086272" >
            <div class="pic">
                <a title="White Chicks" href="https://movie.douban.com/subject/1309120/" class="nbg">
                    <img alt="White Chicks" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p915897391.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1309120/" class="">
                            <em>小姐好白 / White Chicks</em>
                             / 白净密探 / 雏鸟小白
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2004-06-23(美国) / 肖恩·韦恩斯 / 马龙·韦恩斯 / 杰米·金 / 弗兰基·费森 / 洛奇林·莫罗 / 约翰·赫德 / 贝茜·菲利普斯 / 泰瑞·克鲁斯 / 布兰特妮·丹尼尔 / Eddie Velez / 杰西卡·卡普肖 / 梅特兰·沃德 / 安妮·达德克 / 罗谢尔·阿耶斯 / 詹妮弗·卡朋特 / 芳妮·A·钱勃丝 / John Moore / 德鲁·西德拉 / 阿汀内·布朗 / 珍妮弗·奥拉克西克 / 麦克·瓦尔迪 / Zoltan Barabas / 克里斯汀安格斯 / 约翰·里尔登 / 弗雷泽·艾奇逊 / Michael Shore / Melissa Panton / Holly Eglington / Shaina Tianne Unger / 露西亚娜·卡罗 / 托德·惠伦 / Heather Robertson / Brad Loree / 塔拉斯·库斯托伊克 / 史蒂文·格拉汉姆 / Michel Cook / Kevin Blatch / Jennifer Berry / 伊万杰琳·莉莉 / 美国 / 基伦·埃弗瑞·韦恩斯 / 109 分钟 / 小姐好白 / 犯罪 / 喜剧 / Andrew McElfresh / Keenen Ivory Wayans / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-02-17</span>

                            
                    </li>
                    <li>
                        <span class="comment">xhs推荐</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1309120" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1309120:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4081611156" >
            <div class="pic">
                <a title="人间世·抗疫特别节目" href="https://movie.douban.com/subject/35075054/" class="nbg">
                    <img alt="人间世·抗疫特别节目" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2603781382.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35075054/" class="">
                            <em>人间世·抗疫特别节目</em>
                             / Life Matters
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2020-05-21(中国大陆) / 中国大陆 / 范士广 / 李闻 / 金翔 / 刘振宇 / 谢抒豪 / 刘跃 / 丁璨 / 任一 / 40分钟 / 纪录片 / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-02-05</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35075054" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35075054:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4064963043" >
            <div class="pic">
                <a title="喜劇之王" href="https://movie.douban.com/subject/1302425/" class="nbg">
                    <img alt="喜劇之王" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2579932167.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1302425/" class="">
                            <em>喜剧之王 / 喜劇之王</em>
                             / King of Comedy
                        </a>
                    </li>
                        <li class="intro">1999-02-13(中国香港) / 周星驰 / 张柏芝 / 莫文蔚 / 吴孟达 / 林子善 / 田启文 / 李兆基 / 成龙 / 李思捷 / 郑文辉 / 明德丰 / 戚务振 / 戴龙 / 詹小玲 / 陈宝骏 / 冯勉恒 / 叶竞生 / 徐志雄 / 侯焕玲 / 胡立成 / 袁富华 / 郑祖 / 中国香港 / 周星驰 / 李力持 / 89分钟 / 喜剧之王 / 喜剧 / 剧情 / 爱情 / 曾谨昌 Kan-Cheung Tsang / 周星驰 Stephen Chow / 李敏 Erica Lee / 郑文辉 Man-Fai Cheng / 冯勉恒 Min Hun Fung / 梁嘉杰 Ka-Kit Leung / 粤语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-01-21</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1302425" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1302425:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4064962711" >
            <div class="pic">
                <a title="新喜剧之王" href="https://movie.douban.com/subject/4840388/" class="nbg">
                    <img alt="新喜剧之王" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2555440969.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/4840388/" class="">
                            <em>新喜剧之王</em>
                             / 喜剧之王2 / D计划
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-02-05(中国大陆) / 王宝强 / 鄂靖文 / 张全蛋 / 景如洋 / 张琪 / 袁兴哲 / 田启文 / 黄骁鹏 / 蔡哲睿 / 苗溢伦 / 大卫·托罗克 / 郭泱 / 勃小龙 / 潘玉成 / 郭子恒 / 庄其迁 / 张柏芝 / 杨喻文 / 肖鹤 / 邵老五 / 罗心妍 / 王昕岚 / 龙思雨 / 伍国宝 / 马汉毅 / 周云淑 / 方志明 / 赵芳华 / 单涛 / 田惺 / 黎荣森 / 黄洲龙 / 梅达池 / 汤荞嘉 / 李发光 / 中国大陆 / 中国香港 / 周星驰 / 邱礼涛 / 肖鹤 / 黄骁鹏 / 91分钟 / 剧情 / 喜剧 / 周星驰 Stephen Chow / 江玉仪 Ivy Kong / 李思臻 Kelvin Lee / 赵博君 Bojun Zhao / 汉语普通话 / 粤语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-01-21</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-4840388" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="4840388:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4063767243" >
            <div class="pic">
                <a title="繁花" href="https://movie.douban.com/subject/34874646/" class="nbg">
                    <img alt="繁花" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2902705337.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/34874646/" class="">
                            <em>繁花</em>
                             / 繁花(剧版) / Blossoms
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2023-12-27(中国大陆) / 胡歌 / 马伊琍 / 唐嫣 / 辛芷蕾 / 游本昌 / 郑恺 / 陈龙 / 董勇 / 吴越 / 陈国庆 / 姜逸磊 / 黄觉 / 范湉湉 / 戴军 / 曾美慧孜 / 佟晨洁 / 王菊 / 喻恩泰 / 陈冠甯 / 杨皓宇 / 邵峰 / 张建亚 / 林熙蕾 / 金宇澄 / 郑静茹 / 程亮 / 王乙 / 张羽霖 / 孙强 / 易照博 / 袁文康 / 三浦研一 / 沈晓海 / 张芝华 / 朱琳 / 徐玉兰 / 谢承颖 / 邱必昌 / 曹毅 / 陈锐 / 朱茵 / 周瑾 / 黄龄 / 温兆伦 / 钟镇涛 / 孔祥东 / 陈逸鸣 / 史依弘 / 杜鹃 / 范志毅 / 严晓频 / 郑希怡 / 麦长青 / 钱漪 / 黄铄淇 / 王志勤 / 吴爱艺 / 司雯嘉 / 骆文莲 / 王侃 / 陆忠 / 邵逸凡 / 张道伟 / 汤畅 / 严丰 / 梅妮莎 / 杨奕佳 / 宗晓军 / 杨岚 / 孙欣磊 / 王雅琴 / 周杰 / 张露 / 何易 / 黄筱雨 / 陈溱 / 朱苏洁 / 沈诗淇 / 施剑平 / 向川 / 李玲 / 孙楠 / 冯奕哲 / 宗伟 / 唐剑威 / 潘剑 / 曹玉庆 / 王颖 / 金珊 / 姜云强 / 闵晴睦 / 杨艺苓 / 王怡 / 嵇伊 / 张能兴 / 李倩 / 沈悦 / 应健中 / 黄曦宁 / 王权 / 江约诚 / 印海蓉 / 张洪铭 / 黄雅静 / 柴源 / 凌征辉 / 徐幸 / 冯雅钦 / 姜依秋 / 邱立红 / 范明琪 / 周国宾 / 庞洁 / 章涵毅 / 郭紫涵 / 黄维恺 / 董仲民 / 仇庆芳 / 中国大陆 / 王家卫 / 李爽 / 程亮 / 徐梓竣 / 46分钟 / 剧情 / 爱情 / 秦雯 Wen Qin / 汉语普通话 / 沪语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-01-20</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34874646" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34874646:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="4062756634" >
            <div class="pic">
                <a title="Downsizing" href="https://movie.douban.com/subject/3578939/" class="nbg">
                    <img alt="Downsizing" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2505684182.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/3578939/" class="">
                            <em>缩小人生 / Downsizing</em>
                             / 缩身 / 缩水人间(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-08-30(威尼斯电影节) / 2017-12-22(美国) / 马特·达蒙 / 克里斯托弗·瓦尔兹 / 周洪 / 克里斯汀·韦格 / 罗夫·拉斯加德 / 英洁德·埃格伯格 / 乌多·基尔 / 索伦·比尔马克 / 杰妮·霍蒂谢尔 / 杰森·苏戴奇斯 / 玛莉贝丝·梦露 / 菲尔·里夫斯 / 布里盖特·伦迪·佩恩 / 詹姆斯·范德比克 / 艾丽森·J·帕尔默 / 蒂姆·德里斯科尔 / 凯文·孔克尔 / 派崔克·盖勒 / 安娜·玛丽·考克斯 / 罗兰·马丁 / 尼尔·帕特里克·哈里斯 / 劳拉·邓恩 / 南希·纳什 / 玛格·马丁戴尔 / 凯瑞·肯妮 / 唐·雷克 / 玛丽·凯·普莱斯 / 沃伦·贝尔 / 萝丝·比安科 / 乔昆姆·德·阿尔梅达 / 帕皮·塞尔纳 / 美国 / 亚历山大·佩恩 / 135分钟 / 缩小人生 / 剧情 / 喜剧 / 科幻 / 亚历山大·佩恩 Alexander Payne / 吉姆·泰勒 Jim Taylor / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2024-01-19</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-3578939" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="3578939:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/mewcatcher/wish?start=0&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all"/>
            <a href="/people/mewcatcher/wish?start=0&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >&lt;前页</a>
        </span>
        
        

                
            <a href="/people/mewcatcher/wish?start=0&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >1</a>
        
                <span class="thispage" data-total-page="42">2</span>
                
            <a href="/people/mewcatcher/wish?start=30&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >3</a>
        
                
            <a href="/people/mewcatcher/wish?start=45&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >4</a>
        
                
            <a href="/people/mewcatcher/wish?start=60&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >5</a>
        
                
            <a href="/people/mewcatcher/wish?start=75&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >6</a>
        
                
            <a href="/people/mewcatcher/wish?start=90&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >7</a>
        
                
            <a href="/people/mewcatcher/wish?start=105&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >8</a>
        
                
            <a href="/people/mewcatcher/wish?start=120&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >9</a>
        
            <span class="break">...</span>
                
            <a href="/people/mewcatcher/wish?start=600&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >41</a>
        
            <a href="/people/mewcatcher/wish?start=615&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >42</a>
        
        <span class="next">
            <link rel="next" href="/people/mewcatcher/wish?start=30&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all"/>
            <a href="/people/mewcatcher/wish?start=30&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                

    <!-- 加载 raikiri.js -->

    
    


<div class="side-info">
    <a href="https://www.douban.com/people/mewcatcher/" class="side-info-avatar"><img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" /></a>
    <div class="side-info-txt">
        <h3>MewX</h3>
        &gt;&nbsp;<a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="/people/mewcatcher/">我的电影主页</a>
        </p>
    </div>
            
    <h2>
        想看的标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

        
        
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=time&amp;start=15&amp;filter=all&amp;mode=grid&amp;tags_sort=name">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">


    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E7%A7%91%E5%B9%BB&amp;mode=grid" title="科幻">科幻</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E5%8A%A8%E7%94%BB&amp;mode=grid" title="动画">动画</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=2018&amp;mode=grid" title="2018">2018</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E6%97%A5%E6%9C%AC&amp;mode=grid" title="日本">日本</a>
        <span>1</span>
    </li>
</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"count","filter":"all","tag":"日本","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/mewcatcher/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "wish"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/mewcatcher/wish?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2024 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-7ffdf7d56f-w2nnx-->

  <script>_SPLITTEST=''</script>
</body>

</html>


