<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    我想看的影视(627)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img1.doubanio.com/cuphead/movie-static/pics/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/e92483e5e4c9c60cc75cbd8b700a2fd5b5fdf7b0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/cuphead/movie-static/base/init.15f4b.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/e057439e70105417dffc6fab571688d52efeab23/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img1.doubanio.com/f/vendors/37e1cfca2d0e2d0a9a4bf05cc05072d69d27c975/css/ui/mypage.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <style type="text/css">
        #db-usr-profile .info ul li { margin-right: 10px;}
    
    .side-info {
        overflow: hidden;
        *zoom: 1;
        margin-bottom: 20px;
        padding: 16px;
        background: #F0F3F5;
    }
    .side-info-avatar {
        float: left;
        margin-right: 14px;
    }
    .side-info-txt {
        word-wrap: break-word;
        overflow: hidden;
        *zoom: 1;
    }
    .side-info .user-content{
        margin-top:15px;
    }
    .side-info-txt h3 {
        margin: 0;
        font-size: 16px;
        background: none;
        color: #111;
    }
</style>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>MewX的账号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">账号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=Us7b">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;82160871&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;82160871&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;82160871&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;82160871&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;82160871&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;82160871&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;82160871&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;82160871&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "82160871",
    UPLOAD_AUTH_TOKEN: "82160871:07d511706e5d764d8f30b32be4e9641c37e29b0b",
    SSE_TOKEN: "a0f0f022985722ff95edc37755249e48fd48ba94",
    SSE_TIMESTAMP: "1723344626",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=navigation"
     >2023年度榜单</a>
    </li>
    <li    ><a href="https://c9.douban.com/app/standbyme-2023/?autorotate=false&fullscreen=true&hidenav=true&monitor_screenshot=true&source=web_navigation"
            target="_blank"
     >2023年度报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="/people/mewcatcher/">
                <img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" />
            </a>
        </div>
        <div class="info">
            <h1>我想看的影视(627)</h1>
            <ul>
                    
        <li><a href="/people/mewcatcher/">电影主页</a></li>
    
                    
        <li><a href="/people/mewcatcher/reviews">影评</a></li>
    
                    
        <li><a href="/people/mewcatcher/question">问答</a></li>
    
                    
        <li><a href="/people/mewcatcher/do">在看</a></li>
    
                    
        <li><a href="/people/mewcatcher/wish">想看</a></li>
    
                    
        <li><a href="/people/mewcatcher/collect">看过</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/doulists">豆列</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/subject_doulists/movie">片单</a></li>
    
                    
        <li><a href="https://movie.douban.com/ticket/mine">电影票</a></li>
    
                    
        <li><a href="https://movie.douban.com/notifications">电影提醒</a></li>
    
                    
        <li><a href="/settings/">设置</a></li>
    
                    
        <li class="sep">|</li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a></li>
    
            </ul>
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按评分排序</a><span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:18px;position: relative; top:1px}
            .tabs-more .gray {color:#999}
            :first-of-type + .tabs-more {margin-left:38px}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=schedule&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">正在热映</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=video&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">在线观看</a></li>
            </ul>
        </div>
        <div class="tabs-more">
            
            <span class="gray">影片类型:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=movie">电影</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=tv">电视</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                256-270&nbsp;/&nbsp;627
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="/people/mewcatcher/wish?sort=time&amp;amp;start=255&amp;amp;filter=all&amp;amp;mode=list&amp;amp;tags_sort=count">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item comment-item" data-cid="3219243526" >
            <div class="pic">
                <a title="Navalny" href="https://movie.douban.com/subject/35751590/" class="nbg">
                    <img alt="Navalny" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2867195909.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35751590/" class="">
                            <em>纳瓦尔尼 / Navalny</em>
                             / 逆权斗士纳瓦尔尼 / 纳瓦尼事件簿(台)
                        </a>
                    </li>
                        <li class="intro">2022-01-25(圣丹斯电影节) / 2022-04-11(美国) / 阿列克谢·纳瓦利内 / 安格拉·默克尔 / 弗拉基米尔·普京 / 美国 / 丹尼尔·罗赫 / 98分钟 / 纳瓦尔尼 / 传记 / 纪录片 / 俄语 / 英语 / 德语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-02-03</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35751590" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35751590:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3213285752" >
            <div class="pic">
                <a title="The Ice Age Adventures of Buck Wild" href="https://movie.douban.com/subject/35284564/" class="nbg">
                    <img alt="The Ice Age Adventures of Buck Wild" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2825185131.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35284564/" class="">
                            <em>冰川时代：巴克·怀尔德的冒险之旅 / The Ice Age Adventures of Buck Wild</em>
                             / 冰川时代：巴克大冒险 / 冰川时代：巴克的冒险
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2022-01-28(美国网络) / 乌特卡什·安邦德卡尔 / 杰克·格林 / 艾伦·哈里斯 / 多米妮克·詹宁斯 / 贾斯蒂娜·马查多 / 西蒙·佩吉 / 斯凯勒·斯通 / 文森·童 / 西奥多·博尔德雷斯 / 夏奇拉·贾奈·帕耶 / 加拿大 / 美国 / 约翰·C·唐金 / 马歇尔·费尔斯·埃利奥特 / 82分钟 / 冰川时代：巴克·怀尔德的冒险之旅 / 喜剧 / 动画 / 冒险 / 家庭 / 吉姆·赫克特 Jim Hecht / Ray DeLaurentis / William Schifrin / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-01-30</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35284564" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35284564:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3209245848" >
            <div class="pic">
                <a title="Ghostbusters" href="https://movie.douban.com/subject/3212398/" class="nbg">
                    <img alt="Ghostbusters" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2358684311.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/3212398/" class="">
                            <em>超能敢死队 / Ghostbusters</em>
                             / 捉鬼敢死队3(港) / 魔鬼克星：麻辣异攻队(台)
                        </a>
                    </li>
                        <li class="intro">2016-07-15(美国) / 克里斯汀·韦格 / 梅丽莎·麦卡西 / 凯特·麦克金农 / 莱斯莉·琼斯 / 克里斯·海姆斯沃斯 / 比尔·默瑞 / 西格妮·韦弗 / 塞西莉·斯特朗 / 迈克尔·肯尼斯·威廉姆斯 / 丹·艾克罗伊德 / 安迪·加西亚 / 内森·科德里 / 马特·沃尔什 / 托比·哈斯 / 埃涅·赫德森 / 艾丽莎·杜什库 / 戴夫·艾伦 / 拉里·尤登 / 西奥多·沙皮洛 / 贾斯汀·柯克 / 伊丽莎白·帕金斯 / 哈罗德·雷米斯 / 扎克·伍兹 / 安妮·波茨 / 美国 / www.ghostbusters.com/ghostbusters-2016/ / 保罗·费格 / 116分钟 / 134分钟(加长版) / 超能敢死队 / 动作 / 喜剧 / 科幻 / 丹·艾克罗伊德 Dan Aykroyd / 凯迪.迪波德 Katie Dippold / 保罗·费格 Paul Feig / 哈罗德·雷米斯 Harold Ramis / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-01-27</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-3212398" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="3212398:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3209245760" >
            <div class="pic">
                <a title="Ghostbusters II" href="https://movie.douban.com/subject/1297946/" class="nbg">
                    <img alt="Ghostbusters II" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p785323639.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1297946/" class="">
                            <em>捉鬼敢死队2 / Ghostbusters II</em>
                             / 魔鬼克星2(台) / 捉鬼敢死队2
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1989-06-19 / 比尔·默瑞 / 丹·艾克罗伊德 / 西格妮·韦弗 / 哈罗德·雷米斯 / 里克·莫拉尼斯 / 尤金·列维 / 彼特·麦尼科 / 凯文·杜恩 / 乔治·P·威尔伯 / 贾森·雷特曼 / 佩姬·梁 / George G. Colucci / 威赫姆·冯·霍姆伯格 / 柯特·富勒 / 菲利普·贝克·霍尔 / 马克斯·冯·叙多夫 / 伊万·雷特曼 / 布赖恩·道尔 / 安妮·波茨 / 埃涅·赫德森 / 珍妮特·玛戈林 / 切奇·马林 / 科洛·韦伯 / Robert Alan Beuth / 鲍比·布朗 / Walter Flanagan / 哈里斯·于林 / 玛丽·艾伦·特雷纳 / 本·斯坦 / 路易丝·特洛伊 / Kariim Ratcliff / Douglas Seale / 凯瑟琳·瑞特曼 / 克里斯托弗·尼姆 / 迈克尔·P·莫兰 / 大卫·马古利斯 / 阿隆·鲁斯汀 / John Hammil / 理查德·弗让吉 / 戴夫·弗洛雷克 / 美国 / 伊万·雷特曼 / 108 分钟 / 捉鬼敢死队2 / 喜剧 / 科幻 / 奇幻 / Dan Aykroyd / Harold Ramis / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-01-27</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1297946" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1297946:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3203410320" >
            <div class="pic">
                <a title="Peacemaker" href="https://movie.douban.com/subject/35209701/" class="nbg">
                    <img alt="Peacemaker" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2759888858.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35209701/" class="">
                            <em>和平使者 第一季 / Peacemaker Season 1</em>
                            
                        </a>
                    </li>
                        <li class="intro">2022-01-13(美国) / 约翰·塞纳 / 丹妮尔·布鲁克斯 / 弗雷迪·史卓玛 / 楚克武迪·武吉 / 詹尼佛·霍兰德 / 史蒂夫·阿吉 / 罗伯特·帕特里克 / 杰森·莫玛 / 埃兹拉·米勒 / 维奥拉·戴维斯 / 安妮·张 / 洛奇林·莫罗 / 迪·布拉雷·贝克尔 / 伊丽莎白·勒德洛 / 罗谢尔·格林伍德 / 扎克·圣蒂亚戈 / 凯文·欧格雷迪 / 内尔·韦伯 / 恩胡特·勒 / 克里斯托弗·海尔达尔 / 梅尔·塔克 / 里兹万·曼吉 / 艾丽森·阿拉亚 / 柯丝特·穆德利 / 蓝尼·雅各布森  / 安东尼奥·库普 / 娜塔莉·萨福兰 / 塞奇·布洛克班克 / 伊丽莎白·麦卡蒂 / 张彤华 / 薇娜·苏德 / 史蒂芬·布莱克哈特 / 克里斯·康拉德 / 珍·扎克 / Troy Mundle / 肖恩·科恩克 / 美国 / 詹姆斯·古恩 / 罗斯玛丽·罗德里格兹 / 布拉德·安德森 / 和平使者 / 50分钟 / 和平使者 / 喜剧 / 动作 / 科幻 / 犯罪 / 奇幻 / 冒险 / 詹姆斯·古恩 James Gunn / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-01-23</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35209701" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35209701:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3199368075" >
            <div class="pic">
                <a title="火花" href="https://movie.douban.com/subject/26635329/" class="nbg">
                    <img alt="火花" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2329051227.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26635329/" class="">
                            <em>火花</em>
                             / Sparks / Hibana
                        </a>
                    </li>
                        <li class="intro">2016-06-03(日本) / 林遣都 / 波冈一喜 / 门胁麦 / 菜叶菜 / 山本彩 / 染谷将太 / 田口智朗 / 小林薰 / 北浦爱 / 渡边哲 / 奥田惠梨华 / 德永绘里 / 村田秀亮 / 好井まさお / 渡边大知 / 小野花梨 / 阿信 / 高桥玛莉润 / 梅舟惟永 / 三浦诚己 / 榎木纱里奈 / 竹财辉之助 / 逢见亮太 / 松永拓野 / 井下昌城 / 草野伊尼 / 日本 / hibana-netflix.jp / 广木隆一 / 白石和弥 / 冲田修一 / 久万真路 / 毛利安孝 / 50分钟 / 剧情 / 又吉直树 Naoki Matayoshi / 加藤正人 Masato Kato / 高桥美幸 Miyuki Takahashi / 加藤结子 Yuiko Kato / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-01-20</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26635329" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26635329:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3199343729" >
            <div class="pic">
                <a title="勇者ヨシヒコと魔王の城" href="https://movie.douban.com/subject/6402151/" class="nbg">
                    <img alt="勇者ヨシヒコと魔王の城" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p1765393623.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/6402151/" class="">
                            <em>勇者义彦与魔王城 / 勇者ヨシヒコと魔王の城</em>
                             / 勇士闯魔城 / 勇士吉彦与魔王之城
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2011-07-08(日本) / 山田孝之 / 木南晴夏 / 室毅 / 冈本梓 / 佐藤二朗 / 山田真步 / 今野浩喜 / 铃木拓 / 青木和代 / 卜字高雄 / 长江英和 / 矢崎广 / 池谷伸枝 / 中村伦也 / 白石奈绪美 / 中尾隆圣 / 镰仓太郎 / 三上市朗 / 福田雄一 / 黑坂真美 / 八十田勇一 / 今井悠贵 / 齐木茂 / 吉布·奈月·玛格丽特 / 儿岛雄一 / 上地春奈 / 桥本润 / 若木萌 / 川久保拓司 / 大河内浩 / 许诺迪 / 山田明乡 / 绫野刚 / 冈田义德 / 音尾琢真 / 泽村一树 / 小栗旬 / 加藤晴彦 / 古田新太 / 小池荣子 / 古关安广 / 池田成志 / 猪塚健太 / 渡边直美 / 中村静香 / 野间口彻 / 岸井雪乃 / 小松利昌 / 宅麻伸 / 与座嘉秋 / 安田显 / 原史奈 / 贺来贤人 / 志贺广太郎 / 日本 / www.tv-tokyo.co.jp/yoshihiko/ / 福田雄一 / 28分钟 / 勇者义彦与魔王城 / 剧情 / 奇幻 / 冒险 / 福田雄一 / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-01-20</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-6402151" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="6402151:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3198537338" >
            <div class="pic">
                <a title="Moon Knight" href="https://movie.douban.com/subject/26358318/" class="nbg">
                    <img alt="Moon Knight" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2872584772.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26358318/" class="">
                            <em>月光骑士 / Moon Knight</em>
                            
                        </a>
                    </li>
                        <li class="intro">2022-03-30(美国) / 奥斯卡·伊萨克 / 梅·卡拉美维 / 伊桑·霍克 / 迈克尔·本杰明·埃尔南德斯 / F·默里·亚伯拉罕 / 安·阿克因 / 卡里姆·埃尔·哈基姆 / 大卫·甘利 / 安东尼娅·萨利布 / 赫立德·阿卜杜拉 / 肖恩·斯科特 / 露西·萨克雷 / 戴安娜·贝穆德斯 / 亚历山大·科布 / 德克兰·汉宁根 / 海莉·科纳多 / 洛伊克·马班扎 / 森本渚 / 加斯帕德·尤利尔 / 莎芙蓉·霍金 / 萨巴·穆巴拉克 / 费尔南达·安德拉德 / 达尔文·肖 / 雷·卢卡斯 / 阿努克·克里斯蒂安森 / 特里克·贾莱特 / 克劳迪奥·法比安·孔特雷拉斯 / 卡洛斯·S·桑切斯 / 米里亚姆·尼亚科 / 约瑟夫·米尔森 / 安德拉斯·科克斯马斯 / 加布里埃拉·西兹马迪亚 / 索菲亚·达努 / 艾哈迈德·达什 / 埃里克·科尔文 / 安妮·卡瓦纳 / 佩万·萨德吉安 / 美国 / 穆罕默德·迪亚卜 / 艾伦·穆尔黑德 / 贾斯汀·本森 /  / 45分钟 / 月光骑士 / 动作 / 奇幻 / 冒险 / 杰瑞米·斯莱特 Jeremy Slater / 迈克尔·沙特莱恩 Michael Kastelein / 道格·蒙克 Doug Moench / 博·德马约 / 亚历克斯·米尼汉 / 彼特·卡梅隆 Peter Cameron / 萨比尔·皮尔扎达 / 丽贝卡·基尔什 / 马修·奥尔顿 Matthew Orton / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-01-19</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26358318" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26358318:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3185726698" >
            <div class="pic">
                <a title="あの夏で待ってる" href="https://movie.douban.com/subject/6808696/" class="nbg">
                    <img alt="あの夏で待ってる" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2169234859.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/6808696/" class="">
                            <em>在盛夏等待 / あの夏で待ってる</em>
                             / Ano Natsu de Matteru
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2012-01-09(日本) / 岛崎信长 / 户松遥 / 石原夏织 / 荻原秀树 / 阿澄佳奈 / 田村由香里 / 日高里菜 / 堀江由衣 / 茅野爱衣 / 井口裕香 / 大浦冬华 / 进藤尚美 / 久川绫 / 高森奈津美 / 川田绅司 / 野水伊织 / 前田玲奈 / 内匠靖明 / 小堀友里绘 / 日本 / www.ichika-ichika.com / 长井龙雪 / 锦织敦史 / 樱美胜志 / 樱井亲良 / 铃木健太郎 / 高岛大辅 / 铃木薰 / 24分钟 / 在盛夏等待 / 动画 / 黑田洋介 Yôsuke Kuroda / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-01-10</span>

                            
                    </li>
                    <li>
                        <span class="comment">这校服你确定不是科学超电磁炮？</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-6808696" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="6808696:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3185725126" >
            <div class="pic">
                <a title="かんなぎ" href="https://movie.douban.com/subject/3103429/" class="nbg">
                    <img alt="かんなぎ" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2428617825.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/3103429/" class="">
                            <em>神薙 / かんなぎ</em>
                             / Crazy Shrine Maidens
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2008-10-04 / 户松遥 / 下野纮 / 泽城美雪 / 柿原彻也 / 早水理沙 / 中原麻衣 / 花泽香菜 / 明坂聪美 / 福原香织 / 樱井真子 / 三宅健太 / 小野凉子 / 佐藤拓也 / 若本规夫 / 上田祐司 / 神田朱未 / 立木文彦 / 松本和香子 / 胜沼纪义 / 宫川美保 / 八奈见乘儿 / 大塚芳忠 / 岛本须美 / 浅仓杏美 / 德本恭敏 / 藤田圭宣 / 井口祐一 / 高桥研二 / 小野友树 / 疋田高志 / 星野贵纪 / 四宫豪 / 古原奈奈 / 日本 / 山本宽 / 吉冈忍 / 平向智子 / 镰仓由实 / 森义博 / 山内东生雄 / 土屋浩幸 / 高岛大辅 / 日色如夏 / 23分钟 / 神薙 / 动画 / 仓田英之 Hideyuki Kurata / 高桥龙也 Tatsuya Takahashi / 本田透 / 日语 / 戸松遥 / 下野紘 / 沢城みゆき / 花澤香菜 / 星野貴紀 / 柿原徹也 / 早水リサ / 中原麻衣</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-01-10</span>

                            
                    </li>
                    <li>
                        <span class="comment">好耳熟，补了就是</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-3103429" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="3103429:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3185610191" >
            <div class="pic">
                <a title="のんのんびより" href="https://movie.douban.com/subject/21371652/" class="nbg">
                    <img alt="のんのんびより" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2140626484.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/21371652/" class="">
                            <em>悠哉日常大王 / のんのんびより</em>
                             / 悠悠哉哉少女日和 / 哝哝日和
                        </a>
                    </li>
                        <li class="intro">2013-10-07(日本) / 小岩井小鸟 / 村川梨衣 / 佐仓绫音 / 阿澄佳奈 / 名冢佳织 / 佐藤利奈 / 福圆美里 / 新谷良子 / 平松晶子 / 高垣彩阳 / 松圣花 / 上田丽奈 / 日本 / www.nonnontv.com / 川面真也 / 泽井幸次 / 小柴纯弥 / 浅见松雄 / 玉村仁 / 福多润 / 荻原露光 / 23分钟 / 悠哉日常大王 / 剧情 / 动画 / 吉田玲子 Reiko Yoshida / 志茂文彦 Fumihiko Shimo / 山田由香 Yuka Yamada / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-01-10</span>

                            
                    </li>
                    <li>
                        <span class="comment">老番补完计划</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-21371652" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="21371652:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3184428322" >
            <div class="pic">
                <a title="Kick-Ass" href="https://movie.douban.com/subject/3148748/" class="nbg">
                    <img alt="Kick-Ass" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2166633101.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/3148748/" class="">
                            <em>海扁王 / Kick-Ass</em>
                             / 劲揪侠(港) / 特攻联盟(台)
                        </a>
                    </li>
                        <li class="intro">2010-04-16 / 亚伦·泰勒-约翰逊 / 科洛·葛蕾丝·莫瑞兹 / 尼古拉斯·凯奇 / 克里斯托夫·梅兹-普莱瑟 / 马克·斯特朗 / 琳德西·冯塞卡 / 埃文·彼得斯 / 克拉克·杜克 / 黛博拉·特维斯 / 苏菲·吴 / 加勒特·布朗 / 欧玛瑞·哈德威克 / 克里斯托弗·麦奎尔 / 克雷格·费格森 / 蒂姆· 普莱斯特 / 塔梅尔·哈桑 / Max White / Kirk Tingblad / 杰森·弗莱明 / 兰道尔·巴蒂尼科夫 / 克里·约翰逊 / 迈克尔·里斯波利 / 斯图·莱利 / 伊丽莎白·麦戈文 / 山德·贝克利 / 德克斯特·弗莱彻 / 杨茜·巴特勒 / 美国 / 英国 / 马修·沃恩 / 117 分钟 / 海扁王 / 喜剧 / 动作 / 犯罪 / 简·古德曼 Jane Goldman / 马修·沃恩 Matthew Vaughn / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-01-09</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-3148748" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="3148748:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3182501213" >
            <div class="pic">
                <a title="BLUE REFLECTION RAY/澪" href="https://movie.douban.com/subject/35366197/" class="nbg">
                    <img alt="BLUE REFLECTION RAY/澪" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2668778102.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35366197/" class="">
                            <em>蔚蓝反射：澪 / BLUE REFLECTION RAY/澪</em>
                             / 蓝色反射：澪
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2021-04-10(日本) / 石见舞菜香 / 千菅春香 / 大和田仁美 / 高仓有加 / 上田丽奈 / 田边留依 / 井泽诗织 / 真野步 / 高柳知叶 / 高野麻里佳 / 秦佐和子 / 佐仓绫音 / 山根绮 / 日本 / www.bluereflection-ray.com / 吉田理纱子 / 石山贵明 / 原田奈奈 / 则座诚 / 田中瑛 / 所俊克 / 岩本保雄 / 上野史博 / 堀内勇冶 / 海宝兴藏 / 小野田雄亮 / 羽多野浩平 / 石田美由纪 / 24分钟 / 蔚蓝反射：澪 / 动画 / 和场明子 Waba Akiko / 水上清资 Seishi Minakami / 菅原雪绘 Yukie Sugawara / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-01-08</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35366197" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35366197:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3182452955" >
            <div class="pic">
                <a title="のんたれ" href="https://movie.douban.com/subject/34835780/" class="nbg">
                    <img alt="のんたれ" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2569115985.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/34835780/" class="">
                            <em>我是NON / のんたれ</em>
                             / I AM NON
                        </a>
                    </li>
                        <li class="intro">2019-10-02(日本) / 能年玲奈 / 是枝裕和 / 桃井薰 / 片渊须直 / 蔵下穂波 / 兼重淳 / 日本 / 中里龙造 / 26分钟 / 我是NON / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-01-08</span>

                            
                    </li>
                    <li>
                        <span class="comment">油管给我推幕后纪录片了，那我看看这是啥片吧</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-34835780" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="34835780:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3180602736" >
            <div class="pic">
                <a title="Arcane" href="https://movie.douban.com/subject/35669844/" class="nbg">
                    <img alt="Arcane" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2911628937.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35669844/" class="">
                            <em>英雄联盟：双城之战 第二季 / Arcane Season 2</em>
                             / 奥肯 / 奥术
                        </a>
                    </li>
                        <li class="intro">2024-11(美国) / 艾拉·珀内尔 / 海莉·斯坦菲尔德 / 布雷特·塔克 / 梁佩诗 / 美国 / 帕斯卡尔·沙吕 / 英雄联盟：双城之战 / 英雄联盟：双城之战 / 剧情 / 动作 / 科幻 / 动画 / 奇幻 / 冒险 / 亚历克斯·伊 Alex Yee / 克里斯蒂安·林克 Christian Linke / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2022-01-06</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35669844" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35669844:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/mewcatcher/wish?start=240&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all"/>
            <a href="/people/mewcatcher/wish?start=240&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >&lt;前页</a>
        </span>
        
        
            
            <a href="/people/mewcatcher/wish?start=0&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >1</a>
        
            <a href="/people/mewcatcher/wish?start=15&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >2</a>
        <span class="break">...</span>

                
            <a href="/people/mewcatcher/wish?start=195&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >14</a>
        
                
            <a href="/people/mewcatcher/wish?start=210&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >15</a>
        
                
            <a href="/people/mewcatcher/wish?start=225&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >16</a>
        
                
            <a href="/people/mewcatcher/wish?start=240&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >17</a>
        
                <span class="thispage" data-total-page="42">18</span>
                
            <a href="/people/mewcatcher/wish?start=270&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >19</a>
        
                
            <a href="/people/mewcatcher/wish?start=285&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >20</a>
        
                
            <a href="/people/mewcatcher/wish?start=300&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >21</a>
        
                
            <a href="/people/mewcatcher/wish?start=315&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >22</a>
        
            <span class="break">...</span>
                
            <a href="/people/mewcatcher/wish?start=600&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >41</a>
        
            <a href="/people/mewcatcher/wish?start=615&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >42</a>
        
        <span class="next">
            <link rel="next" href="/people/mewcatcher/wish?start=270&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all"/>
            <a href="/people/mewcatcher/wish?start=270&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                

    <!-- 加载 raikiri.js -->

    
    


<div class="side-info">
    <a href="https://www.douban.com/people/mewcatcher/" class="side-info-avatar"><img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" /></a>
    <div class="side-info-txt">
        <h3>MewX</h3>
        &gt;&nbsp;<a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="/people/mewcatcher/">我的电影主页</a>
        </p>
    </div>
            
    <h2>
        想看的标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

        
        
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=time&amp;start=255&amp;filter=all&amp;mode=grid&amp;tags_sort=name">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">


    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E7%A7%91%E5%B9%BB&amp;mode=grid" title="科幻">科幻</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E5%8A%A8%E7%94%BB&amp;mode=grid" title="动画">动画</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=2018&amp;mode=grid" title="2018">2018</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E6%97%A5%E6%9C%AC&amp;mode=grid" title="日本">日本</a>
        <span>1</span>
    </li>
</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"count","filter":"all","tag":"日本","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/mewcatcher/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "wish"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/mewcatcher/wish?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2024 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-7ffdf7d56f-r722p-->

  <script>_SPLITTEST=''</script>
</body>

</html>


