<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    我想看的影视(627)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img1.doubanio.com/cuphead/movie-static/pics/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/e92483e5e4c9c60cc75cbd8b700a2fd5b5fdf7b0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/cuphead/movie-static/base/init.15f4b.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/e057439e70105417dffc6fab571688d52efeab23/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img1.doubanio.com/f/vendors/37e1cfca2d0e2d0a9a4bf05cc05072d69d27c975/css/ui/mypage.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <style type="text/css">
        #db-usr-profile .info ul li { margin-right: 10px;}
    
    .side-info {
        overflow: hidden;
        *zoom: 1;
        margin-bottom: 20px;
        padding: 16px;
        background: #F0F3F5;
    }
    .side-info-avatar {
        float: left;
        margin-right: 14px;
    }
    .side-info-txt {
        word-wrap: break-word;
        overflow: hidden;
        *zoom: 1;
    }
    .side-info .user-content{
        margin-top:15px;
    }
    .side-info-txt h3 {
        margin: 0;
        font-size: 16px;
        background: none;
        color: #111;
    }
</style>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>MewX的账号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">账号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=Us7b">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;82160871&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;82160871&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;82160871&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;82160871&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;82160871&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;82160871&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;82160871&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;82160871&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "82160871",
    UPLOAD_AUTH_TOKEN: "82160871:07d511706e5d764d8f30b32be4e9641c37e29b0b",
    SSE_TOKEN: "4bd382938b2298265cd12e24806283a124e30d95",
    SSE_TIMESTAMP: "1723344664",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=navigation"
     >2023年度榜单</a>
    </li>
    <li    ><a href="https://c9.douban.com/app/standbyme-2023/?autorotate=false&fullscreen=true&hidenav=true&monitor_screenshot=true&source=web_navigation"
            target="_blank"
     >2023年度报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="/people/mewcatcher/">
                <img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" />
            </a>
        </div>
        <div class="info">
            <h1>我想看的影视(627)</h1>
            <ul>
                    
        <li><a href="/people/mewcatcher/">电影主页</a></li>
    
                    
        <li><a href="/people/mewcatcher/reviews">影评</a></li>
    
                    
        <li><a href="/people/mewcatcher/question">问答</a></li>
    
                    
        <li><a href="/people/mewcatcher/do">在看</a></li>
    
                    
        <li><a href="/people/mewcatcher/wish">想看</a></li>
    
                    
        <li><a href="/people/mewcatcher/collect">看过</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/doulists">豆列</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/subject_doulists/movie">片单</a></li>
    
                    
        <li><a href="https://movie.douban.com/ticket/mine">电影票</a></li>
    
                    
        <li><a href="https://movie.douban.com/notifications">电影提醒</a></li>
    
                    
        <li><a href="/settings/">设置</a></li>
    
                    
        <li class="sep">|</li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a></li>
    
            </ul>
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按评分排序</a><span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:18px;position: relative; top:1px}
            .tabs-more .gray {color:#999}
            :first-of-type + .tabs-more {margin-left:38px}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=schedule&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">正在热映</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=video&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">在线观看</a></li>
            </ul>
        </div>
        <div class="tabs-more">
            
            <span class="gray">影片类型:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=movie">电影</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=tv">电视</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                511-525&nbsp;/&nbsp;627
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="/people/mewcatcher/wish?sort=time&amp;amp;start=510&amp;amp;filter=all&amp;amp;mode=list&amp;amp;tags_sort=count">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item comment-item" data-cid="1871572275" >
            <div class="pic">
                <a title="HELLO WORLD" href="https://movie.douban.com/subject/30401194/" class="nbg">
                    <img alt="HELLO WORLD" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2654818960.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30401194/" class="">
                            <em>你好世界 / HELLO WORLD</em>
                             / ハロー・ワールド
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-09-20(日本) / 2021-06-11(中国大陆) / 北村匠海 / 松坂桃李 / 滨边美波 / 子安武人 / 寿美菜子 / 福原遥 / 钉宫理惠 / 德本英一郎 / 大塚刚央 / 杨昕燃 / 朝井彩加 / 日本 / 伊藤智彦 / 97分钟 / 你好世界 / 爱情 / 动画 / 奇幻 / 野崎窗 Mado Nozaki / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-07-23</span>

                            
                    </li>
                    <li>
                        <span class="comment">程序猿臂看</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30401194" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30401194:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1823618742" >
            <div class="pic">
                <a title="地久天长" href="https://movie.douban.com/subject/26715636/" class="nbg">
                    <img alt="地久天长" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2547486747.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26715636/" class="">
                            <em>地久天长</em>
                             / So Long, My Son
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-02-14(柏林电影节) / 2019-03-22(中国大陆) / 王景春 / 咏梅 / 齐溪 / 王源 / 杜江 / 艾丽娅 / 徐程 / 李菁菁 / 赵燕国彰 / 鲍振江 / 吴双 / 王子子 / 张新园 / 吴佳宸 / 王亚军 / 刘芮麟 / 袁利坚 / 于彭 / 中国大陆 / 王小帅 / 175分钟 / 185分钟(国际版) / 剧情 / 家庭 / 阿美 A Mei / 王小帅 Xiaoshuai Wang / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-06-16</span>

                            
                    </li>
                    <li>
                        <span class="comment">被快餐电影埋没的作品？</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26715636" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26715636:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1815409708" >
            <div class="pic">
                <a title="快乐星球之三十六号" href="https://movie.douban.com/subject/26775743/" class="nbg">
                    <img alt="快乐星球之三十六号" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2521694269.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26775743/" class="">
                            <em>快乐星球之三十六号</em>
                             / 快乐星球大营救 / 快乐星球电影版
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2018-06-30(中国大陆) / 赵克明 / 张子扬 / 马嘉祺 / 张惠民 / 王天发 / 孙苏雅 / 张兆艺 / 和瑞金 / 牛东文 / 中国大陆 / 张惠民 / 90分钟 / 儿童 / 科幻 / 张惠民 Huimin Zhang / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-06-08</span>

                            
                    </li>
                    <li>
                        <span class="comment">记得出国前就说要出了 还在跳票啊</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26775743" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26775743:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1808003010" >
            <div class="pic">
                <a title="Game of Thrones" href="https://movie.douban.com/subject/3016187/" class="nbg">
                    <img alt="Game of Thrones" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p896064368.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/3016187/" class="">
                            <em>权力的游戏 第一季 / Game of Thrones Season 1</em>
                             / 冰与火之歌：权力的游戏 第一季 / 王座游戏 第一季
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2011-04-17(美国) / 肖恩·宾 / 米歇尔·费尔利 / 琳娜·海蒂 / 彼特·丁拉基 / 艾米莉亚·克拉克 / 基特·哈灵顿 / 苏菲·特纳 / 麦茜·威廉姆斯 / 尼古拉·科斯特-瓦尔道 / 伊恩·格雷 / 约翰·布莱德利 / 史蒂夫·布朗特 / 大卫·布拉德利 / 约瑟夫·阿尔京 / 杰克·格里森 / 杰森·莫玛 / 马克·斯坦利 / 埃罗斯·维拉霍斯 / 伊莱耶斯·加贝尔 / 阿特·帕金森 / 爱丽塔·阿察丽娅 / 卡鲁姆·瓦尔里 / 海蒂·罗曼诺娃 / 杰佛逊·豪尔 / Brendan McCormack / 阿米拉·加扎拉 / Rob Ostlere / 米尔托斯·耶罗勒曼 / 伊恩·比蒂 / 艾米·理查森 / 利诺·法希奥利 / 欧文·蒂尔 / 马克·路易斯·琼斯 / 侬索·阿诺斯 / 伊恩·怀特 / 马克·阿蒂 / 詹姆斯·科兹莫 / 娜塔丽·特纳 / 埃斯梅·比安科 / 格辛·安东尼 / 理查德·麦登 / 查尔斯·丹斯 / 罗恩·多纳基 / 伊萨克·亨普斯特德-怀特 / 哈里·劳埃德 / 艾丹·吉伦 / 阿尔菲·艾伦 / 杰米·西弗斯 / 罗伊·麦克凯恩 / 杰罗姆·弗林 / 朱利安·格洛弗 / 皮特·沃恩 / 康勒斯·希尔 / 凯特·迪基 / 柯南·史蒂文斯 / 伊恩·麦克尔希尼 / 罗姗妮·麦琪 / 菲恩·琼斯 / 约瑟夫·戴浦西 / 埃蒙·埃利奥特 / 约瑟夫·马勒 / 西贝尔·凯基莉 / 唐纳德·桑普特 / 克莱夫·曼特尔 / 尤金·西蒙 / 美国 / 英国 / www.hbo.com/game-of-thrones / 蒂莫西·范·帕腾 / 布莱恩·柯克 / 丹尼尔·米纳汉 / 阿兰·泰勒 / 权力的游戏 / 60分钟 / 权力的游戏 / 剧情 / 奇幻 / 冒险 / 戴维·贝尼奥夫 David Benioff / D·B·威斯 D.B. Weiss / George R.R. Martin (novel) / 英语 / 多斯拉克语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-06-02</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-3016187" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="3016187:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1801930735" >
            <div class="pic">
                <a title="National Treasure" href="https://movie.douban.com/subject/1308848/" class="nbg">
                    <img alt="National Treasure" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p664164947.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1308848/" class="">
                            <em>国家宝藏 / National Treasure</em>
                             / 惊天夺宝(港) / 国家财宝
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2004-11-19(美国) / 尼古拉斯·凯奇 / 黛安·克鲁格 / 贾斯汀·巴萨 / 肖恩·宾 / 强·沃特 / 哈威·凯特尔 / 克里斯托弗·普卢默 / 大卫·达耶·费舍尔 / 斯图华特·芬雷-麦克勒兰 / 欧勒格·塔克塔罗夫 / 斯蒂芬·A·波普 / 安妮·帕里西 / 马克·佩雷格里诺 / 阿曼德·里斯科 / 埃里克·金 / 亨特·戈麦斯 / 杰森·厄尔斯 / 托尼·德文 / Antony Alda / 小托尼·卢克 / 亚历山大·埃默特 / 托尼·斯威夫特 / Michael Russo / 张磊 / Gavin Black / 詹姆斯·比贝里 / Jonathon Ruckman / Terrence Currier / Ryan Tygh / 路易斯·森坦尼 / Jenni Lileikis / 罗恩·坎纳达 / Deborah Yates / 阿拉贝拉·菲尔德 / 托尼·萨加斯蒂多一世 / 罗德尼·J·霍布斯 / 罗德·麦克拉兰 / Jackson Bolt / 约书亚·比顿 / Joe Rampino / Suzanne Dengel / Colleen Dengel / Keyon Smith / Blaze Kelly Coyle / Sheila Thomas / 克里斯·麦克马林 / 尼克·本森 / 尼尔·奥里翁 / 丹尼尔·费罗 / Chrismandu / Kym Cohen / Yoshi Jenkins / 美国 / 乔·德特杜巴 / 131 分钟 / 国家宝藏 / 动作 / 悬疑 / 冒险 / 吉姆·科夫 Jim Kouf / 科马克·韦伯利 Cormac Wibberley / 玛丽安·韦伯利 Marianne Wibberley / 奥伦·艾维夫 Oren Aviv / 查尔斯·西格斯 Charles Segars / 英语 / 西班牙语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-05-28</span>

                            
                    </li>
                    <li>
                        <span class="comment">按道理说几部我都看了，高三上xdf的时候吧，但是当时好像还没有开始玩豆瓣，然后只记得凯奇最后一部一直迟迟没有上映，可惨了，回头重温一下好了，但是记得是超级喜欢</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1308848" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1308848:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1791618028" >
            <div class="pic">
                <a title="Margin Call" href="https://movie.douban.com/subject/4888853/" class="nbg">
                    <img alt="Margin Call" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p1119800463.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/4888853/" class="">
                            <em>商海通牒 / Margin Call</em>
                             / 孖展风云(港) / 黑心交易员的告白(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2011-01-25(圣丹斯电影节) / 2011-10-21(美国) / 凯文·史派西 / 保罗·贝坦尼 / 斯坦利·图齐 / 扎克瑞·昆图 / 黛米·摩尔 / 西蒙·贝克 / 杰瑞米·艾恩斯 / 佩恩·巴杰利 / 玛丽·麦克唐纳 / 阿西夫·曼德维 / 阿什利·威廉姆斯 / 艾尔·斯帕恩扎 / 苏珊·布莱克威尔 / 玛丽亚·迪齐亚 / 吉米·帕伦博 / 彼得·Y·金 / 奥伯伦·K·A·阿杰庞 / 格蕾丝·古默 / 史蒂文·韦斯 / 美国 / J·C·尚多尔 / 107分钟 / 商海通牒 / 剧情 / J·C·陈多尔 J.C. Chandor / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-05-19</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-4888853" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="4888853:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1791276224" >
            <div class="pic">
                <a title="白夜行" href="https://movie.douban.com/subject/4822829/" class="nbg">
                    <img alt="白夜行" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p889409962.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/4822829/" class="">
                            <em>白夜行</em>
                             / Into The White Night / Byakuyakô
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2011-01-29(日本) / 堀北真希 / 高良健吾 / 船越英一郎 / 户田惠子 / 姜畅雄 / 山下容莉枝 / 佐藤宽子 / 宫川一朗太 / 筱田三郎 / 并木史郎 / 粟田丽 / 喜多阳子 / 黑部进 / 绿友利惠 / 今井悠贵 / 田中哲司 / 小池彩梦 / 长尾奈奈 / 宇贺那健一 / 日本 / 深川荣洋 / 149分钟 / 白夜行 / 剧情 / 悬疑 / 深川荣洋 Yoshihiro Fukagawa / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-05-19</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-4822829" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="4822829:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1784667447" >
            <div class="pic">
                <a title="Chernobyl" href="https://movie.douban.com/subject/27098632/" class="nbg">
                    <img alt="Chernobyl" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2555445285.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/27098632/" class="">
                            <em>切尔诺贝利 / Chernobyl</em>
                             / 切尔诺贝尔：伤心的儿童(港) / 核爆家园(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-05-06(美国) / 杰瑞德·哈里斯 / 斯特兰·斯卡斯加德 / 艾米丽·沃森 / 杰西·巴克利 / 亚当·那加提斯 / 山姆·特劳顿 / 罗伯特·埃姆斯 / 詹姆斯·科兹莫 / 卡尔·戴维斯 / 大卫·丹席克 / 巴里·基奥恩 / 法瑞斯·法瑞斯 / 亚历克斯·费恩斯 / 彼得·吉尼斯 / 拉尔夫·伊内森 / 马克·路易斯·琼斯 / 杰拉德·基恩斯 / 希尔顿·麦克雷 / 迪尔梅德·默塔 / 基兰·奥布莱恩 / 康·奥尼尔 / 伊恩·皮里 / 阿德里安·劳林斯 / 保罗·里特 / 露西·拉塞尔 / 迈克尔·谢弗 / 杰伊·辛普森 / 杰米·西弗斯 / 迈克尔·索恰 / 露西·斯皮德 / 劳伦斯·斯佩尔曼 / 山姆·斯特莱克 / 菲利普·巴兰蒂尼 / 考尔菲昂·邓恩 / 迈克尔·麦克埃尔哈顿 / 劳拉·埃尔芬斯通 / 罗恩·库克 / 萨米·海曼 / 道格·麦克梅金 / 比利·波斯特莱斯韦特 / 亚当·隆格伦 / 唐纳德·桑普特 / 考兰·伯恩 / 马修·尼达姆 / 安德鲁·谢里丹 / 卡德罗莎·奥娜·卡罗尔 / 米哈伊尔·谢尔盖耶维奇·戈尔巴乔夫 / 亚力克桑杰·麦沃洛夫 / 约瑟夫·阿尔京 / 朱恩·沃森 / 潘多拉·科林 / 彼得·詹宁斯 / 艾斯特·格拉曼泰特 / 维克多·麦奎尔 / 艾莉森帕奥杰特 / 艾伦·威廉姆斯 / 英国 / 美国 / www.hbo.com/chernobyl / 约翰·伦克 / 切尔诺贝利 / 60分钟 / 切尔诺贝利 / 剧情 / 历史 / 克雷格·麦辛 Craig Mazin / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-05-13</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27098632" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27098632:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1783860605" >
            <div class="pic">
                <a title="Im Schatten der Netzwelt" href="https://movie.douban.com/subject/27621580/" class="nbg">
                    <img alt="Im Schatten der Netzwelt" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2566604060.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/27621580/" class="">
                            <em>网络审查员 / Im Schatten der Netzwelt</em>
                             / 网络清道夫 / 清道夫
                        </a>
                    </li>
                        <li class="intro">2018-01-19(圣丹斯电影节) / 2018-05-17(德国) / 德国 / 巴西 / 荷兰 / 意大利 / 美国 / 日本 / 英国 / 瑞典 / 奥地利 / 瑞士 / 丹麦 / 加拿大 / 汉斯·布洛克 / 莫里茨·里瑟维克 / 85分钟 / 网络审查员 / 纪录片 / 汉斯·布洛克 Hans Block / 莫里茨·里瑟维克 Moritz Riesewieck / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-05-12</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27621580" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27621580:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1762922595" >
            <div class="pic">
                <a title="思い出のマーニー" href="https://movie.douban.com/subject/25790555/" class="nbg">
                    <img alt="思い出のマーニー" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2189907988.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/25790555/" class="">
                            <em>记忆中的玛妮 / 思い出のマーニー</em>
                             / 回忆中的玛妮(台) / Omoide no Marnie
                        </a>
                    </li>
                        <li class="intro">2014-07-19(日本) / 高月彩良 / 有村架纯 / 松岛菜菜子 / 寺岛进 / 根岸季衣 / 森山良子 / 吉行和子 / 黑木瞳 / 杉咲花 / 森崎博之 / 安田显 / 户次重幸 / 大泉洋 / 音尾琢真 / 凯瑟琳·欧哈拉 / 甲斐田裕子 / 稻川英里 / 海莉·斯坦菲尔德 / 琪兰·席普卡 / 约翰·C·赖利 / 凡妮莎·威廉斯 / 吉娜·戴维斯 / 凯西·贝茨 / 艾伦·伯斯汀 / 日本 / marnie.jp / 米林宏昌 / 103分钟 / 记忆中的玛妮 / 剧情 / 动画 / 奇幻 / 丹羽圭子 Keiko Niwa / 安藤雅司 Andō Masashi / 米林宏昌 Hiromasa Yonebayashi / 琼·G·罗宾逊 Joan G. Robinson / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-04-24</span>

                            
                    </li>
                    <li>
                        <span class="comment">听到主题曲 太感人了</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25790555" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25790555:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1760907981" >
            <div class="pic">
                <a title="공작" href="https://movie.douban.com/subject/26683421/" class="nbg">
                    <img alt="공작" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2528281606.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26683421/" class="">
                            <em>特工 / 공작</em>
                             / 北风(台) / 北寒谍战(港)
                        </a>
                    </li>
                        <li class="intro">2018-05-11(戛纳电影节) / 2018-08-08(韩国) / 黄政民 / 李星民 / 赵震雄 / 朱智勋 / 朴成雄 / 李孝利 / 金素辰 / 奇周峯 / 郑素利 / 金弘波 / 金应洙 / 琴赛璐 / 崔秉默 / 金钟秀 / 金仁宇 / 白承哲 / 金智娜 / 郑基燮 / 朴民洙 / 车智宪 / 姜德宗 / 南文哲 / 梁玄敏 / 韩昌贤 / 郑载宪 / 全相珍 / 崔英民 / 朴敬贞 / 金贤玉 / 郭振锡 / 韩成天 / 孙成灿 / 权爀 / 郑钟宇 / 徐东锡 / 李正烈 / 朴镇洙 / 康俊熙 / 李艾秀 / 金松日 / 姜在恩 / 孙贤俊 / 金奎南 / 朴英雄 / 尹大烈 / 崔贞仁 / 金秀妍 / 闵武济 / 郭镇 / 薛昌熙 / 金光炫 / 杨志洙 / 柳圣贤 / 严志满 / 朴赫民 / 郭子亨 / 权范泽 / 白承益 / 蔡勇 / 李胜浚 / 崔允彬 / 李东熙 / 李庆勋 / 朴佑宰 / 郑汉斌 / 朱宝英 / 吴庆华 / 黄仁俊 / 金圭白 / 韩国 / 尹钟彬 / 137分钟 / 特工 / 剧情 / 尹钟彬 Jong-bin Yoon / 韩语 / 汉语普通话 / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-04-22</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26683421" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26683421:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1753373882" >
            <div class="pic">
                <a title="異国迷路のクロワーゼ" href="https://movie.douban.com/subject/5387002/" class="nbg">
                    <img alt="異国迷路のクロワーゼ" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2904318850.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/5387002/" class="">
                            <em>异国迷宫的十字路口 / 異国迷路のクロワーゼ</em>
                             / Ikoku Meiro no Croisée / La croisée dans un labyrinthe étranger
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2011-07-04 / 东山奈央 / 近藤隆 / 田中秀幸 / 悠木碧 / 矢作纱友里 / 佐藤利奈 / 仪武祐子 / 能登麻美子 / 铃木清信 / 中岛爱 / 内匠靖明 / 宫坂俊藏 / 山口奈奈 / 粕谷雄太 / 赤羽根健治 / 日本 / www.ikokumeiro.com / 安田贤司 / 后藤圭二 / 筑紫大介 / 小高义规 / 室谷靖 / 玉川达文 / 24分钟 / 异国迷宫的十字路口 / 动画 / 佐藤顺一 Junichi Sato / 池田真美子 Mamiko Ikeda / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-04-15</span>

                            
                    </li>
                    <li>
                        <span class="comment">今天生病work from home，云村听到了很舒缓的BGM，找到是这部动画，发现很久以前就想看的，一直就忘了补，有必要mark一下。</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-5387002" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="5387002:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1743511979" >
            <div class="pic">
                <a title="千年女優" href="https://movie.douban.com/subject/1307394/" class="nbg">
                    <img alt="千年女優" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2215102596.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1307394/" class="">
                            <em>千年女优 / 千年女優</em>
                             / Millennium Actress
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2001-07-28(加拿大奇幻电影节) / 2002-09-14(日本) / 庄司美代子 / 小山茉美 / 折笠富美子 / 饭塚昭三 / 小野坂昌也 / 津田匠子 / 铃置洋孝 / 京田尚子 / 德丸完 / 片冈富枝 / 石森达幸 / 佐藤政道 / 小形满 / 麻生智久 / 游佐浩二 / 肥后诚 / 坂口候一 / 志村知幸 / 木村亚希子 / 佐伯志 / 野岛裕史 / 浅野琉璃 / 园部好德 / 山寺宏一 / 津嘉山正种 / 日本 / 今敏 / 87 分钟 / 千年女优 / 动画 / 剧情 / 爱情 / 今敏 Satoshi Kon / 村井贞之 Sadayuki Murai / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-04-06</span>

                            
                    </li>
                    <li>
                        <span class="comment">今敏的作品还是要补一下</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1307394" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1307394:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1743494265" >
            <div class="pic">
                <a title="Shazam!" href="https://movie.douban.com/subject/2244426/" class="nbg">
                    <img alt="Shazam!" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2551249211.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/2244426/" class="">
                            <em>雷霆沙赞！ / Shazam!</em>
                             / 沙赞！神力集结(港) / 沙赞！(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-04-05(美国) / 2019-04-05(中国大陆) / 扎克瑞·莱维 / 马克·斯特朗 / 亚瑟·安其 / 杰克·迪伦·格雷泽 / 杰曼·翰苏 / 费滋·赫尔曼 / 约万·阿曼德 / 陈琦烨 / 格雷斯·卡罗琳·柯里 / 亚当·布罗迪 / 梅根·古德 / 米歇尔·博斯 / 罗斯·巴特勒 / D·J·科特罗纳 / 玛尔塔·米兰斯 / 库珀·安德鲁斯 / 罗维娜·亚瓦里 / 埃文·马什 / 娜塔莉·萨福兰 / 艾娃·普雷斯顿 / 安迪·奥修 / 卡尔森·迈克马克 / 莎伊娜·瑞恩 / 莎拉·贝纳尼 / 安吉莉卡·利斯克 / 辛迪·戴 / 洛塔·洛斯滕 / 西蒙·诺斯伍德 / 戴维·科赫史密斯 / 卢·卢·萨夫兰 / 亚当·罗德内斯 / 杰夫·桑卡 / 阿里·巴德沙阿 / 大卫·J·麦克尼尔 / 达娜·雷兹尼克 / 迪索·拉莫斯 / 大卫·F·桑德伯格 / 斯蒂芬妮·霍金斯 / 蜜特拉·苏里 / 伊森·普焦托 / Ieisha Auyeung / 希瑟·卡普阿诺 / 美国 / 加拿大 / www.shazam-movie.net / 大卫·F·桑德伯格 / 132分钟 / 雷霆沙赞！ / 动作 / 奇幻 / 冒险 / 亨利·盖登 Henry Gayden / 达伦·莱姆克 Darren Lemke / 比尔·帕克 Bill Parker / C·C·贝克 C.C. Beck / 英语 / 西班牙语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-04-06</span>

                            
                    </li>
                    <li>
                        <span class="comment">不明觉厉</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-2244426" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="2244426:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1743486581" >
            <div class="pic">
                <a title="心が叫びたがってるんだ。" href="https://movie.douban.com/subject/25975249/" class="nbg">
                    <img alt="心が叫びたがってるんだ。" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2258854364.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/25975249/" class="">
                            <em>心灵想要大声呼喊 / 心が叫びたがってるんだ。</em>
                             / 好想大声说出心底话。(港) / 好想大声说出心底的话。(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2015-09-19(日本) / 水濑祈 / 内山昂辉 / 雨宫天 / 细谷佳正 / 村田太志 / 高桥李依 / 石上静香 / 大山镐则 / 古川慎 / 藤原启治 / 吉田羊 / 津田英三 / 宫泽清子 / 野岛裕史 / 河西健吾 / 柳田淳一 / 诹访彩花 / 手冢宏通 / 东内真理子 / 叶山郁美 / 木村珠莉 / 加隈亚衣 / 榎木淳弥 / 天崎滉平 / 木岛隆一 / 田泽茉纯 / 久保由利香 / 西谷修一 / 前川凉子 / 山下诚一郎 / 石谷春贵 / 芳野由奈 / 三宅麻理惠 / 滨野大辉 / 水原薰 / 牧野由依 / 日本 / kokosake.jp / 长井龙雪 / 119分钟 / 心灵想要大声呼喊 / 剧情 / 动画 / 冈田麿里 Mari Okada / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-04-06</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-25975249" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="25975249:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/mewcatcher/wish?start=495&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all"/>
            <a href="/people/mewcatcher/wish?start=495&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >&lt;前页</a>
        </span>
        
        
            
            <a href="/people/mewcatcher/wish?start=0&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >1</a>
        
            <a href="/people/mewcatcher/wish?start=15&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >2</a>
        <span class="break">...</span>

                
            <a href="/people/mewcatcher/wish?start=450&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >31</a>
        
                
            <a href="/people/mewcatcher/wish?start=465&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >32</a>
        
                
            <a href="/people/mewcatcher/wish?start=480&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >33</a>
        
                
            <a href="/people/mewcatcher/wish?start=495&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >34</a>
        
                <span class="thispage" data-total-page="42">35</span>
                
            <a href="/people/mewcatcher/wish?start=525&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >36</a>
        
                
            <a href="/people/mewcatcher/wish?start=540&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >37</a>
        
                
            <a href="/people/mewcatcher/wish?start=555&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >38</a>
        
                
            <a href="/people/mewcatcher/wish?start=570&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >39</a>
        
                
            <a href="/people/mewcatcher/wish?start=585&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >40</a>
        
                
            <a href="/people/mewcatcher/wish?start=600&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >41</a>
        
                
            <a href="/people/mewcatcher/wish?start=615&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >42</a>
        
        <span class="next">
            <link rel="next" href="/people/mewcatcher/wish?start=525&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all"/>
            <a href="/people/mewcatcher/wish?start=525&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                

    <!-- 加载 raikiri.js -->

    
    


<div class="side-info">
    <a href="https://www.douban.com/people/mewcatcher/" class="side-info-avatar"><img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" /></a>
    <div class="side-info-txt">
        <h3>MewX</h3>
        &gt;&nbsp;<a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="/people/mewcatcher/">我的电影主页</a>
        </p>
    </div>
            
    <h2>
        想看的标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

        
        
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=time&amp;start=510&amp;filter=all&amp;mode=grid&amp;tags_sort=name">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">


    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E7%A7%91%E5%B9%BB&amp;mode=grid" title="科幻">科幻</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E5%8A%A8%E7%94%BB&amp;mode=grid" title="动画">动画</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=2018&amp;mode=grid" title="2018">2018</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E6%97%A5%E6%9C%AC&amp;mode=grid" title="日本">日本</a>
        <span>1</span>
    </li>
</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"count","filter":"all","tag":"日本","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/mewcatcher/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "wish"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/mewcatcher/wish?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2024 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-7ffdf7d56f-dm78z-->

  <script>_SPLITTEST=''</script>
</body>

</html>


