<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    我想看的影视(627)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img1.doubanio.com/cuphead/movie-static/pics/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/e92483e5e4c9c60cc75cbd8b700a2fd5b5fdf7b0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/cuphead/movie-static/base/init.15f4b.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/e057439e70105417dffc6fab571688d52efeab23/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img1.doubanio.com/f/vendors/37e1cfca2d0e2d0a9a4bf05cc05072d69d27c975/css/ui/mypage.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <style type="text/css">
        #db-usr-profile .info ul li { margin-right: 10px;}
    
    .side-info {
        overflow: hidden;
        *zoom: 1;
        margin-bottom: 20px;
        padding: 16px;
        background: #F0F3F5;
    }
    .side-info-avatar {
        float: left;
        margin-right: 14px;
    }
    .side-info-txt {
        word-wrap: break-word;
        overflow: hidden;
        *zoom: 1;
    }
    .side-info .user-content{
        margin-top:15px;
    }
    .side-info-txt h3 {
        margin: 0;
        font-size: 16px;
        background: none;
        color: #111;
    }
</style>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>MewX的账号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">账号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=Us7b">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;82160871&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;82160871&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;82160871&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;82160871&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;82160871&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;82160871&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;82160871&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;82160871&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "82160871",
    UPLOAD_AUTH_TOKEN: "82160871:07d511706e5d764d8f30b32be4e9641c37e29b0b",
    SSE_TOKEN: "b1801e6756920cac58188eb24f83807f215d44c2",
    SSE_TIMESTAMP: "1723344662",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=navigation"
     >2023年度榜单</a>
    </li>
    <li    ><a href="https://c9.douban.com/app/standbyme-2023/?autorotate=false&fullscreen=true&hidenav=true&monitor_screenshot=true&source=web_navigation"
            target="_blank"
     >2023年度报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="/people/mewcatcher/">
                <img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" />
            </a>
        </div>
        <div class="info">
            <h1>我想看的影视(627)</h1>
            <ul>
                    
        <li><a href="/people/mewcatcher/">电影主页</a></li>
    
                    
        <li><a href="/people/mewcatcher/reviews">影评</a></li>
    
                    
        <li><a href="/people/mewcatcher/question">问答</a></li>
    
                    
        <li><a href="/people/mewcatcher/do">在看</a></li>
    
                    
        <li><a href="/people/mewcatcher/wish">想看</a></li>
    
                    
        <li><a href="/people/mewcatcher/collect">看过</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/doulists">豆列</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/subject_doulists/movie">片单</a></li>
    
                    
        <li><a href="https://movie.douban.com/ticket/mine">电影票</a></li>
    
                    
        <li><a href="https://movie.douban.com/notifications">电影提醒</a></li>
    
                    
        <li><a href="/settings/">设置</a></li>
    
                    
        <li class="sep">|</li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a></li>
    
            </ul>
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按评分排序</a><span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:18px;position: relative; top:1px}
            .tabs-more .gray {color:#999}
            :first-of-type + .tabs-more {margin-left:38px}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=schedule&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">正在热映</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=video&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">在线观看</a></li>
            </ul>
        </div>
        <div class="tabs-more">
            
            <span class="gray">影片类型:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=movie">电影</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=tv">电视</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                496-510&nbsp;/&nbsp;627
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="/people/mewcatcher/wish?sort=time&amp;amp;start=495&amp;amp;filter=all&amp;amp;mode=list&amp;amp;tags_sort=count">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item comment-item" data-cid="2135344655" >
            <div class="pic">
                <a title="Border Security: Australia&#39;s Front Line" href="https://movie.douban.com/subject/30187254/" class="nbg">
                    <img alt="Border Security: Australia&#39;s Front Line" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2572404678.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30187254/" class="">
                            <em>边境安全：澳洲 / Border Security: Australia&#39;s Front Line</em>
                             / 澳洲边防安全部队
                        </a>
                    </li>
                        <li class="intro">2004-10-13(澳大利亚) / 澳大利亚 / 边境安全：澳洲 / 犯罪 / 纪录片 / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2020-01-14</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30187254" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30187254:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2082718184" >
            <div class="pic">
                <a title="Nostalgia de la luz" href="https://movie.douban.com/subject/4307515/" class="nbg">
                    <img alt="Nostalgia de la luz" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p1221341227.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/4307515/" class="">
                            <em>故乡之光 / Nostalgia de la luz</em>
                             / 星空尘土(台) / 怀念星光
                        </a>
                    </li>
                        <li class="intro">2010-05-14(戛纳电影节) / 2010-10-27(法国) / 法国 / 德国 / 智利 / 西班牙 / 帕特里西奥·古斯曼 / 90分钟(法国) / 故乡之光 / 纪录片 / 剧情 / 帕特里西奥·古斯曼 Patricio Guzmán / 西班牙语 / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-12-14</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-4307515" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="4307515:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2082717828" >
            <div class="pic">
                <a title="שומרי הסף" href="https://movie.douban.com/subject/11601048/" class="nbg">
                    <img alt="שומרי הסף" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2034096098.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/11601048/" class="">
                            <em>守门人 / שומרי הסף</em>
                             / 看门人 / The Gatekeepers
                        </a>
                    </li>
                        <li class="intro">2012-07-10(耶路撒冷国际电影节) / 2012-12-27(以色列) / Ami Ayalon  / Avi Dichter  / Yuval Diskin   / Carmi Gillon  / Yaakov Peri   / Avraham Shalom  / 以色列 / 法国 / 德国 / 比利时 / www.sonyclassics.com/thegatekeepers / 德罗尔·莫雷赫 / 101分钟 / 守门人 / 纪录片 / 伊扎克·拉宾 Yitzhak Rabin / 比尔·克林顿 Bill Clinton / 亚西尔·阿拉法特 Yasser Arafat / 西蒙·佩雷斯 Shimon Peres / 希伯来语 / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-12-14</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-11601048" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="11601048:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2042605282" >
            <div class="pic">
                <a title="Ghostbusters" href="https://movie.douban.com/subject/1293760/" class="nbg">
                    <img alt="Ghostbusters" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2250091060.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1293760/" class="">
                            <em>捉鬼敢死队 / Ghostbusters</em>
                             / 魔鬼克星(台) / Ghost Busters
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">1984-06-08 / 比尔·默瑞 / 丹·艾克罗伊德 / 西格妮·韦弗 / 哈罗德·雷米斯 / 里克·莫拉尼斯 / 安妮·波茨 / 威廉·阿瑟东 / 埃涅·赫德森 / 大卫·马古利斯 / 詹妮弗·鲁尼恩 / 迈克尔·英塞恩 / 爱丽丝·德拉蒙德 / 乔丹·查尼 / 蒂莫西·卡哈特 / 约翰·罗斯曼 / 罗恩·杰里米 / 伊万·雷特曼 / 拉里·金 / 詹妮弗·鲁宾 / 雷金纳德·维尔约翰逊 / 黛伯拉·吉布森 / 比尔·沃尔顿 / Ruth Oliver / Frantz Turner / Stanley Grover / 里克·曼奇尼。 / Eda Reiss Merin / Tommy Hollis / Winston May / Christopher Wynkoop / Frances E. Nealy / 金伯利·赫林 / Matteo Cafiso / Peter Costanza / 马里奥·托迪斯科 / Harrison Ray / 乔伊·麦迪贾克 / Joseph Marzano / 威洛·黑尔 / 帕迪·爱德华兹 / Larry Dilg / Rhoda Gemignani / Casey Kasem / Joe Franklin / 罗杰·格里姆斯比 / Tom McDermott / 卡德罗莎·奥娜·卡罗尔 / 美国 / 伊万·雷特曼 / 105 分钟 / 捉鬼敢死队 / 喜剧 / 科幻 / 奇幻 / Dan Aykroyd / Harold Ramis / Rick Moranis / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-11-16</span>

                            
                    </li>
                    <li>
                        <span class="comment">聂胖推荐</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1293760" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1293760:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2028197135" >
            <div class="pic">
                <a title="Terminator Salvation" href="https://movie.douban.com/subject/1410556/" class="nbg">
                    <img alt="Terminator Salvation" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p1769708758.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1410556/" class="">
                            <em>终结者2018 / Terminator Salvation</em>
                             / 未来战士2018(港) / 魔鬼终结者：未来救赎(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2009-05-21(美国) / 2009-06-09(中国大陆) / 克里斯蒂安·贝尔 / 萨姆·沃辛顿 / 穆恩·布拉得古德 / 海伦娜·伯翰·卡特 / 安东·叶利钦 / 布莱丝·达拉斯·霍华德 / 科曼 / 简·亚历山大 / 迈克尔·艾恩塞德 / 克里斯·勃朗宁 / 贝丝·贝利 / 巴斯特·雷维斯 / 格雷格·塞拉诺 / 布鲁斯·麦金托什 / 特雷瓦·埃迪内 / 迪兰·科宁 / 迈克尔·帕帕约翰 / 克里斯·阿斯沃思 / 格雷格·普利特 / 泰瑞·克鲁斯 / 扎克·麦克格温 / 艾萨克·卡皮 / 布兹·萨瑟兰德 / 大卫·米德桑德 / 安居尔·尼加姆 / 罗兰佐·卡伦德 / 乔·巴齐尔 / 罗兰德·基金格 / 布莱恩·斯蒂尔 / 琳达·汉密尔顿 / 保罗·J·珀尔特 / 弗兰克·鲍沃斯 / 伊万·格维拉 / Neil Harbisson / Luke Kearney / Gregory Leiker / Mark Rayner / 埃索迪·盖格 / 艾默生·布鲁克斯 / 美国 / 德国 / 英国 / 意大利 / 约瑟夫·麦克金提·尼彻 / 115分钟 / 118分钟(导演剪辑版) / 终结者2018 / 动作 / 冒险 / 科幻 / 惊悚 / 约翰·布兰卡托 John Brancato / 迈克尔·费里斯 Michael Ferris / 英语 / 意大利语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-11-04</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1410556" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1410556:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="2028197070" >
            <div class="pic">
                <a title="Terminator 3: Rise of the Machines" href="https://movie.douban.com/subject/1305333/" class="nbg">
                    <img alt="Terminator 3: Rise of the Machines" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p818710721.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1305333/" class="">
                            <em>终结者3 / Terminator 3: Rise of the Machines</em>
                             / 未来战士3：歼灭者TX(港) / 魔鬼终结者3(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2003-07-02(美国) / 2003-08-29(中国大陆) / 阿诺·施瓦辛格 / 尼克·斯塔尔 / 克莱尔·丹尼斯 / 克里斯塔娜·洛肯 / 大卫·安德鲁 / 马克·法姆吉列蒂 / 阿尔·伯恩 / 茉拉哈瑞斯 / 克里斯多福·劳福德 / 卡罗琳·赫尼塞 / 杰·阿克沃内 / 迈克·康纳·盖尼 / 布莱恩·斯特斯 / 阿兰娜·库瑞 / 罗伯特·阿隆佐 / 迈克尔·帕帕约翰 / 蒂莫斯·道灵 / 乔恩·福斯特 / 马克·希克斯 / 马特·杰拉德 / 威廉姆·奥利莱里 / 丽贝卡·蒂尔尼 / 克里斯·哈德维克 / 埃里克·里特尔 / Susan Merson / 比利·D·卢卡斯 /  拉里·麦考密克 / George A. Sack Jr. / 大卫·安德鲁斯 / 美国 / 德国 / 英国 / 乔纳森·莫斯托 / 109 分钟 / 终结者3 / 动作 / 科幻 / 惊悚 / 约翰·布兰卡托 John Brancato / 迈克尔·费里斯 Michael Ferris / 詹姆斯·卡梅隆 James Cameron / 盖尔·安妮·赫德 Gale Anne Hurd / Tedi Sarafian / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-11-04</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1305333" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1305333:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1962528668" >
            <div class="pic">
                <a title="Fate/Apocrypha" href="https://movie.douban.com/subject/26946626/" class="nbg">
                    <img alt="Fate/Apocrypha" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2473372810.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26946626/" class="">
                            <em>命运/外典 / Fate/Apocrypha</em>
                             / 超壮大圣杯战 / フェイト/アポクリファ
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2017-07-01(日本) / 花江夏树 / 坂本真绫 / 内山昂辉 / 泽城美雪 / 早见沙织 / 游佐浩二 / 古川慎 / 稻田彻 / 鹤冈聪 / 真堂圭 / 诹访部顺一 / 武内骏辅 / 置鲇龙太郎 / 大久保瑠美 / 宫本充 / 野中蓝 / 丹下樱 / 桧山修之 / 大川透 / 赤崎千夏 / 石上静香 / 加藤英美里 / 小林裕介 / 乃村健次 / 中原麻衣 / 青山玲菜 / 川澄绫子 / 亚历山德拉·卡波芙 / 马西莫·迪·本尼迪托 / 马西米利安诺·罗蒂 / 赛尔乔·罗曼诺 / 鲁杰罗·安德烈奥兹 / 阿丽格拉·克拉克 / 日本 / 浅井义之 / 仲野良 / 森大贵 / 24分钟 / 命运/外典 / 动作 / 动画 / 奇幻 / 东出祐一郎 Yuichirou Higashide / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-09-20</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26946626" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26946626:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1941969478" >
            <div class="pic">
                <a title="Sherlock Holmes" href="https://movie.douban.com/subject/2998270/" class="nbg">
                    <img alt="Sherlock Holmes" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p1003142210.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/2998270/" class="">
                            <em>大侦探福尔摩斯 / Sherlock Holmes</em>
                             / 神探福尔摩斯(港) / 福尔摩斯(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2009-12-25(美国) / 2010-02-25(中国大陆) / 小罗伯特·唐尼 / 裘德·洛 / 瑞秋·麦克亚当斯 / 马克·斯特朗 / 埃迪·马森 / 罗伯特·梅耶 / 杰拉丁妮·詹姆斯 / 凯利·蕾莉 / 威廉·休斯顿 / 汉斯·麦瑟逊 / 詹姆斯·福克斯 / 威廉·霍普 / 克里夫·罗素 / 凯·迪斯卡拉 / 汤姆·瓦特 / 布罗娜·加拉赫 / 杰佛逊·豪尔 / 迈尔斯·贾普 / 马恩·戴维斯 / 奈德·丹内利 / 詹姆斯·格林尼 / 本·卡特赖特 / 迈克尔·吉恩 / 盖·威廉姆斯 / 彼得·迈尔斯 / 安德鲁·戈德法布 / Thomas Kadman / Brendan McCoy / 罗可·里奇 / James A. Stephens / 美国 / 德国 / 英国 / 澳大利亚 / 盖·里奇 / 128分钟 / 大侦探福尔摩斯 / 动作 / 犯罪 / 悬疑 / 迈克尔·罗伯特·约翰逊 Michael Robert Johnson / 安东尼·佩卡姆 Anthony Peckham / 西蒙·金伯格 Simon Kinberg / 英语 / 法语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-09-06</span>

                            
                    </li>
                    <li>
                        <span class="comment">我竟然没看过这部嘛？我当时记的好清楚看的影评说这部电影的福尔摩斯颠覆以往的形象，善于格斗</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-2998270" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="2998270:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1936583780" >
            <div class="pic">
                <a title="罗小黑战记" href="https://movie.douban.com/subject/26709258/" class="nbg">
                    <img alt="罗小黑战记" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2568288336.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26709258/" class="">
                            <em>罗小黑战记</em>
                             / 罗小黑战记大电影 / The Legend of Hei
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-08-27(大规模点映) / 2019-09-07(中国大陆) / 山新 / 郝祥海 / 刘明月 / 曹云图 / 叮当 / 图特哈蒙 / 杨凝 / 陈思宇 / 李璐 / 邢凯新 / 李铫 / 高枫 / 沈念如 / 瞳音 / 李兰陵 / 林帽帽 / 叶知秋 / 张恩泽 / 闫夜桥 / 李轻扬 / 赵小双 / 艾索 / 木头 / 花泽香菜 / 宫野真守 / 樱井孝宏 / 大塚芳忠 / 长岛雄一 / 丰崎爱生 / 齐藤壮马 / 杉田智和 / 松冈祯丞 / 水濑祈 / 石见舞菜香 / 三宅麻理惠 / 川崎芽衣子 / 刘婧荦 / 宇垣美里 / 相马康一 / 石狩勇气 / 室元气 / 坂泰斗 / 佐佐木义人 / 王世豪 / 佐原诚 / 中国大陆 / 木头 / 皇贞季 / 顾杰 / 101分钟 / 动作 / 动画 / 奇幻 / 木头 MTJJ / 彭可欣 Kexin Peng / 风息神泪 Fengxi Shen / 李冠萱 Guanxuan Li / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-09-02</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26709258" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26709258:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1930558877" >
            <div class="pic">
                <a title="Jurassic Park III" href="https://movie.douban.com/subject/1304643/" class="nbg">
                    <img alt="Jurassic Park III" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2249341027.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1304643/" class="">
                            <em>侏罗纪公园3 / Jurassic Park III</em>
                             / Jurassic Park 3
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2001-07-18(美国) / 2002-01-23(中国大陆) / 山姆·尼尔 / 威廉姆·H·梅西 / 蒂娅·里欧妮 / 亚历桑德罗·尼沃拉 / 特拉沃·摩根 / 迈克尔·杰特 / 约翰·迪尔 / 劳拉·邓恩 / 泰勒·尼科斯 / 马克·哈雷利克 / 胡里奥·奥斯卡·门乔索 / 布莱克·迈克尔·布莱恩 / 萨拉·丹尼尔·马迪森 / 琳达·朴 / 布鲁斯·A·扬 / 童自荣 / 詹姆斯·霍纳 / 伯纳德·兹林斯卡斯 / Edward C. Gillow / 布鲁斯·弗兰奇 / Karin M. Gaarder / 美国 / 乔·庄斯顿 / 92分钟 / 侏罗纪公园3 / 动作 / 冒险 / 科幻 / 惊悚 / 彼得·布奇曼 Peter Buchman / 亚历山大·佩恩 Alexander Payne / 迈克尔·克莱顿 Michael Crichton / 吉姆·泰勒 Jim Taylor / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-08-29</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1304643" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1304643:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1900734216" >
            <div class="pic">
                <a title="ピアノの森 第2シリーズ" href="https://movie.douban.com/subject/30282400/" class="nbg">
                    <img alt="ピアノの森 第2シリーズ" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2545015945.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30282400/" class="">
                            <em>钢琴之森 第二季 / ピアノの森 第2シリーズ</em>
                             / 琴之森2
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-01-27(日本) / 齐藤壮马 / 诹访部顺一 / 花江夏树 / 中村悠一 / 大桥贤一郎 / 悠木碧 / 伊濑茉莉也 / 小西克幸 / 丰永利行 / 家中宏 / 白石凉子 / 大地叶 / 三宅麻理惠 / 广桥凉 / 熊井统子 / 坂本真绫 / 田中秀幸 / 岛田敏 / 小林千晃 / 日本 / 山贺博之 / 中谷学 / 钢琴之森 第二季 / 动画 / 音乐 / 阿部美佳 Mika Abe / 一色真人 Makoto Isshiki / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-08-10</span>

                            
                    </li>
                    <li>
                        <span class="comment">音乐动画，奈飞</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30282400" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30282400:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1900733734" >
            <div class="pic">
                <a title="ピアノの森" href="https://movie.douban.com/subject/27178675/" class="nbg">
                    <img alt="ピアノの森" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2512605626.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/27178675/" class="">
                            <em>钢琴之森 / ピアノの森</em>
                             / 钢琴之森 TV动画版 / 琴之声
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2018-04-08(日本) / 齐藤壮马 / 诹访部顺一 / 花江夏树 / 中村悠一 / 大桥贤一郎 / 悠木碧 / 伊濑茉莉也 / 小西克幸 / 丰永利行 / 游佐浩二 / 家中宏 / 白石凉子 / 大地叶 / 三宅麻理惠 / 广桥凉 / 熊井统子 / 坂本真绫 / 田中秀幸 / 岛田敏 / 克里斯蒂娜·瓦伦苏埃拉 / 山北早纪 / 绵贯龙之介 / 山本兼平 / 石狩勇气 / 德本英一郎 / 滨野大辉 / 财满健太 / 日本 / piano-anime.jp / 中谷学 / 藤井隆文 / 前园文夫 / 铃木吉男 / 吉田彻 / 佐佐木纯人 / 25分钟 / 钢琴之森 / 动画 / 音乐 / 伊丹秋 Aki Itami / 阿部美佳 Mika Abe / 一色真人 Makoto Isshiki / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-08-10</span>

                            
                    </li>
                    <li>
                        <span class="comment">奈飞上竟然有这个！印象里是看过电影版的，翻了下豆瓣，果然是看过电影版，但是电视剧版出了第二季，音乐动画我一般都不会错过的</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27178675" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27178675:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1900637293" >
            <div class="pic">
                <a title="空の青さを知る人よ" href="https://movie.douban.com/subject/33218345/" class="nbg">
                    <img alt="空の青さを知る人よ" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2571473945.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/33218345/" class="">
                            <em>知晓天空之蓝的人啊 / 空の青さを知る人よ</em>
                             / 知道天空有多蓝的人啊(台) / Her Blue Sky
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-10-11(日本) / 吉泽亮 / 吉冈里帆 / 若山诗音 / 松平健 / 落合福嗣 / 大地叶 / 种崎敦美 / 日本 / 长井龙雪 / 108分钟 / 知晓天空之蓝的人啊 / 动画 / 冈田麿里 Mari Okada / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-08-10</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-33218345" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="33218345:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1885702630" >
            <div class="pic">
                <a title="Now You See Me 3" href="https://movie.douban.com/subject/26404869/" class="nbg">
                    <img alt="Now You See Me 3" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2881141855.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/26404869/" class="">
                            <em>惊天魔盗团3 / Now You See Me 3</em>
                            
                        </a>
                    </li>
                        <li class="intro">2025-11-14(美国) / 杰西·艾森伯格 / 伍迪·哈里森 / 艾拉·菲舍尔 / 摩根·弗里曼 / 裴淳华 / 马克·鲁弗洛 / 戴夫·弗兰科 / 阿丽亚娜·格林布拉特 / 贾斯蒂斯·史密斯 / 多米尼克·塞萨 / 美国 / 鲁本·弗雷斯彻 / 惊天魔盗团3 / 犯罪 / 惊悚 / 赛斯·格雷厄姆-史密斯 Seth Grahame-Smith / 加文·詹姆斯 Gavin James / 迈克尔·莱斯利 Michael Lesslie / 埃里克·辛格尔 Eric Singer / 艾德·索罗门 Ed Solomon / 尼尔·韦德纳 Neil Widener / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-08-01</span>

                            
                    </li>
                    <li>
                        <span class="comment">mark</span>
                        
                            <span class="pl">(1 有用)</span>
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-26404869" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="26404869:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="1880585924" >
            <div class="pic">
                <a title="手术两百年" href="https://movie.douban.com/subject/27182719/" class="nbg">
                    <img alt="手术两百年" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2560515269.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/27182719/" class="">
                            <em>手术两百年</em>
                             / 手术200年 / 无影灯下
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2019-06-22(中国大陆) / 姜广涛 / 中国大陆 / 陈子隽 / 柯敏 / 石岚 / 沈华 / 陈东 / 刘稳 / 褚金萍 / 50分钟 / 纪录片 / 陈瑶 Yao Chen / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2019-07-29</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27182719" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27182719:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/mewcatcher/wish?start=480&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all"/>
            <a href="/people/mewcatcher/wish?start=480&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >&lt;前页</a>
        </span>
        
        
            
            <a href="/people/mewcatcher/wish?start=0&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >1</a>
        
            <a href="/people/mewcatcher/wish?start=15&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >2</a>
        <span class="break">...</span>

                
            <a href="/people/mewcatcher/wish?start=435&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >30</a>
        
                
            <a href="/people/mewcatcher/wish?start=450&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >31</a>
        
                
            <a href="/people/mewcatcher/wish?start=465&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >32</a>
        
                
            <a href="/people/mewcatcher/wish?start=480&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >33</a>
        
                <span class="thispage" data-total-page="42">34</span>
                
            <a href="/people/mewcatcher/wish?start=510&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >35</a>
        
                
            <a href="/people/mewcatcher/wish?start=525&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >36</a>
        
                
            <a href="/people/mewcatcher/wish?start=540&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >37</a>
        
                
            <a href="/people/mewcatcher/wish?start=555&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >38</a>
        
                
            <a href="/people/mewcatcher/wish?start=570&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >39</a>
        
                
            <a href="/people/mewcatcher/wish?start=585&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >40</a>
        
                
            <a href="/people/mewcatcher/wish?start=600&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >41</a>
        
                
            <a href="/people/mewcatcher/wish?start=615&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >42</a>
        
        <span class="next">
            <link rel="next" href="/people/mewcatcher/wish?start=510&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all"/>
            <a href="/people/mewcatcher/wish?start=510&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                

    <!-- 加载 raikiri.js -->

    
    


<div class="side-info">
    <a href="https://www.douban.com/people/mewcatcher/" class="side-info-avatar"><img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" /></a>
    <div class="side-info-txt">
        <h3>MewX</h3>
        &gt;&nbsp;<a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="/people/mewcatcher/">我的电影主页</a>
        </p>
    </div>
            
    <h2>
        想看的标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

        
        
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=time&amp;start=495&amp;filter=all&amp;mode=grid&amp;tags_sort=name">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">


    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E7%A7%91%E5%B9%BB&amp;mode=grid" title="科幻">科幻</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E5%8A%A8%E7%94%BB&amp;mode=grid" title="动画">动画</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=2018&amp;mode=grid" title="2018">2018</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E6%97%A5%E6%9C%AC&amp;mode=grid" title="日本">日本</a>
        <span>1</span>
    </li>
</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"count","filter":"all","tag":"日本","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/mewcatcher/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "wish"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/mewcatcher/wish?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2024 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-7ffdf7d56f-5gg7s-->

  <script>_SPLITTEST=''</script>
</body>

</html>


