<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    我想看的影视(627)
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
    <link rel="apple-touch-icon" href="https://img1.doubanio.com/cuphead/movie-static/pics/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/e92483e5e4c9c60cc75cbd8b700a2fd5b5fdf7b0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/cuphead/movie-static/base/init.15f4b.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/e057439e70105417dffc6fab571688d52efeab23/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link href="https://img1.doubanio.com/f/vendors/37e1cfca2d0e2d0a9a4bf05cc05072d69d27c975/css/ui/mypage.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
    .item .title {background:none #f2f4f6;}
    .list-view .highlight, .list-view .expanded{background:#f2f4f6 none;}
</style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <style type="text/css">
        #db-usr-profile .info ul li { margin-right: 10px;}
    
    .side-info {
        overflow: hidden;
        *zoom: 1;
        margin-bottom: 20px;
        padding: 16px;
        background: #F0F3F5;
    }
    .side-info-avatar {
        float: left;
        margin-right: 14px;
    }
    .side-info-txt {
        word-wrap: break-word;
        overflow: hidden;
        *zoom: 1;
    }
    .side-info .user-content{
        margin-top:15px;
    }
    .side-info-txt h3 {
        margin: 0;
        font-size: 16px;
        background: none;
        color: #111;
    }
</style>

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://accounts.douban.com/passport/setting/" class="bn-more">
        <span>MewX的账号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://accounts.douban.com/passport/setting/">账号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=Us7b">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;82160871&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;82160871&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;82160871&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;82160871&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;82160871&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;82160871&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;82160871&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;82160871&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;82160871&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "82160871",
    UPLOAD_AUTH_TOKEN: "82160871:07d511706e5d764d8f30b32be4e9641c37e29b0b",
    SSE_TOKEN: "019e0c2ca1a85f9cc827a214731fc5f93ffb93c0",
    SSE_TIMESTAMP: "1723344596",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=navigation"
     >2023年度榜单</a>
    </li>
    <li    ><a href="https://c9.douban.com/app/standbyme-2023/?autorotate=false&fullscreen=true&hidenav=true&monitor_screenshot=true&source=web_navigation"
            target="_blank"
     >2023年度报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    
        

    

    

    

    

    
    <div id="db-usr-profile">
        <div class="pic">
            <a href="/people/mewcatcher/">
                <img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" />
            </a>
        </div>
        <div class="info">
            <h1>我想看的影视(627)</h1>
            <ul>
                    
        <li><a href="/people/mewcatcher/">电影主页</a></li>
    
                    
        <li><a href="/people/mewcatcher/reviews">影评</a></li>
    
                    
        <li><a href="/people/mewcatcher/question">问答</a></li>
    
                    
        <li><a href="/people/mewcatcher/do">在看</a></li>
    
                    
        <li><a href="/people/mewcatcher/wish">想看</a></li>
    
                    
        <li><a href="/people/mewcatcher/collect">看过</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/doulists">豆列</a></li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/subject_doulists/movie">片单</a></li>
    
                    
        <li><a href="https://movie.douban.com/ticket/mine">电影票</a></li>
    
                    
        <li><a href="https://movie.douban.com/notifications">电影提醒</a></li>
    
                    
        <li><a href="/settings/">设置</a></li>
    
                    
        <li class="sep">|</li>
    
                    
        <li><a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a></li>
    
            </ul>
        </div>
    </div>


        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    

    <div class="opt-bar mb30 clearfix">
        <div class="sort">
            
                按时间排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=rating&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按评分排序</a><span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=title&amp;start=0&amp;mode=grid&amp;tags_sort=count" class="ck-option" target="_self">按标题排序</a>
        </div>
        <style>
            .tabs-more {zoom:1; float:left; margin-left:18px;position: relative; top:1px}
            .tabs-more .gray {color:#999}
            :first-of-type + .tabs-more {margin-left:38px}
            .tabs-more .lnk-tab-more{padding-right:5px;background:#fff;}
            .tabs-more .lnk-tab-more:hover{background:#369;}
            .tabs-more .lnk-tab-more span{background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right 3px;padding-right:10px;display:inline-block}
            .tabs-more .lnk-tab-more span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right 3px;padding-right:10px;}
            .tabs-more .lnk-tab-more:hover span{color:#fff;background: url('https://img1.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_down.gif') no-repeat right -8px;}
            .tabs-more .lnk-tab-more:hover span.up{background: url('https://img3.doubanio.com/cuphead/movie-static/pics/icons/tongcheng_tab_up.gif') no-repeat right -8px;}
            .tabs-more ul {display:none;position:absolute; background:#fff; border:1px solid #aaa; padding:5px 0; left:55px;_left:53px;_top:19px; top:18px; width:70px}
            .tabs-more ul li a {display:block;text-align:center; padding:3px 5px;margin:0}
            .tabs-more ul li{margin:0; zoom:1}
            .tabs-more ul li a:hover {background:#369; color:#fff; }

            .item .info li {clear: both;}
            .item .info li.intro {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
            .item .title .playable {font-size: 13px; padding-left: 3px; color: #00A65F;}

            .grid-view .item {overflow:auto; display:table; width: 100%; zoom:1}
            .grid-view .item > .pic, .grid-view .item > .info {display: table-cell;vertical-align: top;float:initial;}
            .grid-view .item .tabs-more {margin-left:0;}
            .grid-view .item .tabs-more span {color:#369;}
            .grid-view .item .lnk-tab-more:hover span {color:#fff;}
            .grid-view .item .clearDiv {clear:both}
            .grid-view .item .tabs-more ul{left:0;margin-left:0}
            .grid-view .item .comment {color:#000;}

            .list-view .item {overflow:auto;display:table;width:100%; zoom:1}
            .list-view .item .tabs-more{margin-left:0; margin-top:4px}
            .list-view .item .tags{display:block;clear:both}
            .list-view .item .tabs-more ul{left:0}
            .list-view .item-show{height:17px;overflow:hidden}
            .list-view .opt-ln {clear:both;margin-left:3px}
            .list-view .comment {clear:both;}
            .list-view .movieInfo {margin-top:4px;*margin-top:3px}

        </style>
        <script>
            $(function(){
                $(".lnk-tab-more").click(function(){
                    $(this).next(".tabs-more-list").show();
                    $("span",this).addClass("up");
                    return false;
                })
                $(document.body).click(function(e){
                    if($(e.target).parent().attr("class")!=="lnk-tab-more"){
                        $(".tabs-more-list").hide();
                        $("span.up").removeClass("up");
                    }
                })
            })
        </script>
        <div class="tabs-more">
            
            <span class="gray">筛选影片:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=schedule&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">正在热映</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=video&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=all">在线观看</a></li>
            </ul>
        </div>
        <div class="tabs-more">
            
            <span class="gray">影片类型:</span>
            <a class="lnk-tab-more" href="#">
                <span>全部</span>
            </a>
            <ul class="tabs-more-list">
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=movie">电影</a></li>
                <li><a href="/people/mewcatcher/wish?sort=time&amp;amp;tags_sort=count&amp;amp;filter=all&amp;amp;start=0&amp;amp;mode=grid&amp;amp;type=tv">电视</a></li>
            </ul>
        </div>
        <div class="mode">
            <span class="subject-num">
                76-90&nbsp;/&nbsp;627
            </span>
            <ul class="grid-list-bar">
                
                    <li class="grid-on">grid</li>
                    <li class="list">
                        <a href="/people/mewcatcher/wish?sort=time&amp;amp;start=75&amp;amp;filter=all&amp;amp;mode=list&amp;amp;tags_sort=count">list</a>
                    </li>
            </ul>
        </div>
    </div>

        

<script type="text/javascript">
$(function() {
    $('.d_link').click(function() {
        $(this).parents("div.item").hide();
        var url = "/j/mine/j_cat_ui";
        if (/\/location\//.test(location.href)) {
            url = "/location" + url;
        }
        $.post_withck(url, {sid: this.rel},
            function(sjson) {
                var ret = eval("(" + sjson + ")");
                if (!ret.result) {
                    alert("出错了，请稍后重试!");
                }
        });
    });
})
</script>


<div class="grid-view">
        

        <div class="item comment-item" data-cid="3961167992" >
            <div class="pic">
                <a title="Before Midnight" href="https://movie.douban.com/subject/10808442/" class="nbg">
                    <img alt="Before Midnight" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2074715729.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/10808442/" class="">
                            <em>爱在午夜降临前 / Before Midnight</em>
                             / 情约半生(港) / 爱在午夜希腊时(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2013-06-14(美国) / 伊桑·霍克 / 朱莉·德尔佩 / 肖姆斯·戴维-菲茨帕特里克 / 詹妮弗·普里尔 / 夏洛特·普里尔 / 仙尼娅·卡洛格罗普卢 / 沃尔特·拉萨利 / 亚里安妮·拉贝德 / 雅尼斯·帕帕多普洛斯 / 阿赛娜·拉海尔·灿加里 / 帕诺斯·科罗尼斯 / 约塔·阿吉罗普卢 / 约翰·斯洛斯 / 美国 / 希腊 / www.sonyclassics.com/beforemidnight/ / 理查德·林克莱特 / 109分钟 / 爱在午夜降临前 / 剧情 / 爱情 / 理查德·林克莱特 Richard Linklater / 朱莉·德尔佩 Julie Delpy / 伊桑·霍克 Ethan Hawke / 金·克里桑 Kim Krizan / 英语 / 希腊语 / 法语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-10-13</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-10808442" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="10808442:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3961167905" >
            <div class="pic">
                <a title="Before Sunset" href="https://movie.douban.com/subject/1291990/" class="nbg">
                    <img alt="Before Sunset" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2561542458.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1291990/" class="">
                            <em>爱在日落黄昏时 / Before Sunset</em>
                             / 日落巴黎(港) / 爱在日落巴黎时(台)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2004-02-10(柏林电影节) / 2004-07-30(美国) / 伊桑·霍克 / 朱莉·德尔佩 / 弗农·多布切夫 / 路易丝·勒莫瓦纳·托雷斯 / 罗多尔·保利 / 玛丽安·普莱施泰格 / 迪亚博洛 / 丹尼·弗拉 / 艾伯特·德尔佩 / 玛丽·佩里 / 美国 / 法国 / 理查德·林克莱特 / 80 分钟 / 爱在日落黄昏时 / 剧情 / 爱情 / 理查德·林克莱特 Richard Linklater / 朱莉·德尔佩 Julie Delpy / 伊桑·霍克 Ethan Hawke / 金·克里桑 Kim Krizan / 英语 / 法语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-10-13</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1291990" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1291990:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3950955420" >
            <div class="pic">
                <a title="封神第三部" href="https://movie.douban.com/subject/30181251/" class="nbg">
                    <img alt="封神第三部" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2564556082.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30181251/" class="">
                            <em>封神第三部</em>
                             / 封神三部曲之封神天下 / 封神三部曲3
                        </a>
                    </li>
                        <li class="intro">2027(未定) / 于适 / 陈牧驰 / 费翔 / 黄渤 / 娜然  / 陈坤 / 此沙 / 武亚凡 / 冯绍峰 / 李雪健 / 杨玏 / 侯雯元 / 黄曦彦 / 李昀锐 / 单敬尧  / 韩鹏翼 / 那尔那茜 / 中国大陆 / 乌尔善 / 战争 / 奇幻 / 古装 / 冉平 Ping Ran / 冉甲男 Jia-nan Ran / 乌尔善 Wuershan / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-10-03</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30181251" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30181251:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3950954954" >
            <div class="pic">
                <a title="三体II：黑暗森林" href="https://movie.douban.com/subject/36231281/" class="nbg">
                    <img alt="三体II：黑暗森林" src="https://img2.doubanio.com/view/photo/s_ratio_poster/public/p2893473411.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36231281/" class="">
                            <em>三体II：黑暗森林</em>
                             / 三体2：黑暗森林
                        </a>
                    </li>
                        <li class="intro">2028(未定) / 中国大陆 / 杨磊 / 剧情 / 科幻 / 田良良 Liangliang Tian / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-10-03</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36231281" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36231281:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3950954236" >
            <div class="pic">
                <a title="封神第二部" href="https://movie.douban.com/subject/30181250/" class="nbg">
                    <img alt="封神第二部" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2564556049.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30181250/" class="">
                            <em>封神第二部</em>
                             / 封神三部曲之魔道争锋 / 封神三部曲2
                        </a>
                    </li>
                        <li class="intro">2025-01(中国大陆) / 费翔 / 黄渤 / 于适 / 陈牧驰 / 李雪健 / 娜然  / 那尔那茜 / 吴兴国 / 夏雨 / 此沙 / 武亚凡 / 黄曦彦 / 李昀锐 / 韩鹏翼 / 陈坤 / 冯绍峰 / 僧格仁钦 / 张艺泷 / 孙煌辰 / 艾力江·库尔班 / 刘潮 / 春晓 / 其勒木格 / 张雪菡 / 钱波 / 图门巴雅尔 / 李泽宇 / 杨大鹏 / 中国大陆 / 乌尔善 / 战争 / 奇幻 / 古装 / 冉平 Ping Ran / 冉甲男 Jia-nan Ran / 乌尔善 Wuershan / 汉语普通话</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-10-03</span>

                            
                    </li>
                    <li>
                        <span class="comment">一年一部效率可以啊，三体要是有这个效率就好了</span>
                        
                            <span class="pl">(1 有用)</span>
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30181250" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30181250:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3948084150" >
            <div class="pic">
                <a title="Saw X" href="https://movie.douban.com/subject/36116844/" class="nbg">
                    <img alt="Saw X" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2896065153.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36116844/" class="">
                            <em>电锯惊魂10 / Saw X</em>
                             / 恐惧斗室X(港) / 夺魂锯X (台)
                        </a>
                    </li>
                        <li class="intro">2023-09-25(比利时) / 2023-09-29(美国) / 托宾·贝尔 / 肖妮·史密斯 / 西诺薇·玛考迪·伦德 / 史蒂文·布兰德 / 蕾内塔·瓦卡 / 约书亚·奧卡莫托 / 奥克塔维奥·伊诺埃萨 / 波莱特·埃尔南德斯 / 豪尔赫·布里塞诺 / 科斯塔斯·曼迪勒 / 迈克尔·比奇 / 伊森·李 / 大卫·阿尔法诺 / 凯蒂·巴贝里 / 露西娅·戈麦斯-罗夫莱多 / 多纳·戈登 / 塞巴斯蒂安·托雷斯 / 克里斯特·鲁伊斯 / 巴尔的摩·贝尔特兰 / 克里·阿德拉 / 詹姆斯·伯格 / 娜塔莎·戈斯 / 克雷格·赫利 / 塞巴斯蒂安·托里斯 / 贝利·吉德里 / 美国 / 墨西哥 / 加拿大 / 凯文·格劳特 / 118分钟 / 电锯惊魂10 / 悬疑 / 惊悚 / 恐怖 / 乔什·斯托博格 Josh Stolberg / 皮特·古德芬格 Pete Goldfinger / 英语 / 西班牙语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-10-01</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36116844" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36116844:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3933848723" >
            <div class="pic">
                <a title="One Piece" href="https://movie.douban.com/subject/36559697/" class="nbg">
                    <img alt="One Piece" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2910129886.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36559697/" class="">
                            <em>海贼王 真人版 第二季 / One Piece Season 2</em>
                             / 航海王 / 海盗王
                        </a>
                    </li>
                        <li class="intro">2025(美国) / 伊纳基·戈多伊 / 新田真剑佑 / 埃米莉·拉德 / 雅各布·吉布森 / 塔兹·斯盖拉 / 大卫·达斯马齐连 / 摩根·戴维斯 / 贾扎拉·贾斯林 / 维纳·科泽尔 / 布兰登·莫瑞 / 克里夫·罗素 / 卡姆鲁斯·约翰逊 / Daniel Lasker / Nick Mendoza III / 美国 / 海贼王 真人版 / 海贼王 真人版 / 剧情 / 动作 / 奇幻 / 冒险 / 马特·欧文斯 Matt Owens / 史蒂文·前田 Steven Maeda / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-09-16</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36559697" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36559697:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3902628156" >
            <div class="pic">
                <a title="かぞくいろ RAILWAYS わたしたちの出発" href="https://movie.douban.com/subject/27594852/" class="nbg">
                    <img alt="かぞくいろ RAILWAYS わたしたちの出発" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2532581080.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/27594852/" class="">
                            <em>铁道：家色 / かぞくいろ RAILWAYS わたしたちの出発</em>
                             / 铁道家族(港) / 铁道：家族的色彩
                        </a>
                    </li>
                        <li class="intro">2018-11-30(日本) / 有村架纯 / 国村隼 / 樱庭奈奈美 / 归山龙成 / 筒井真理子 / 木下凤华 / 板尾创路 / 青木崇高 / 日本 / railwaysmovie.jp / 吉田康弘 / 120分钟 / 铁道：家色 / 剧情 / 吉田康弘 Yasuhiro Yoshida / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-08-21</span>

                            
                    </li>
                    <li>
                        <span class="comment">fed by mt new uploads</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-27594852" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="27594852:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3897103100" >
            <div class="pic">
                <a title="Dark Waters" href="https://movie.douban.com/subject/30331959/" class="nbg">
                    <img alt="Dark Waters" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2569450232.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30331959/" class="">
                            <em>黑水 / Dark Waters</em>
                             / 追击黑水真相(港) / 黑水风暴(台)
                        </a>
                    </li>
                        <li class="intro">2019-11-22(美国点映) / 2019-12-06(美国) / 马克·鲁弗洛 / 安妮·海瑟薇 / 蒂姆·罗宾斯 / 比尔·坎普 / 维克多·加博 / 比尔·普尔曼 / 梅尔·温宁汉姆 / 威廉·杰克森·哈珀 / 路易莎·克劳瑟 / 凯文·克劳利 / 丹尼尔·R·希尔 / 王明 / 西尼·迈尔斯 / 马克·霍克尔 / 考特尼·德科斯基 / 斯嘉丽·希克斯 / 布莱恩·加拉格尔 / 约翰·纽伯格 / 莱曼·陈 / 丹妮丝·达·维拉 / 杰弗里·格罗弗 / 泰里·克拉克 / 杰夫·福尔克 / 温·赖克特 / 乔恩·奥斯贝克 / 理查德·杜恩 / 迈克尔·海尼 / 大卫·皮廷格 / 巴基·贝利 / 罗伯·比洛特 / 美国 / 托德·海因斯 / 126分钟 / 黑水 / 剧情 / 纳撒尼尔·里奇 Nathaniel Rich / 马里奥·科雷亚 Mario Correa / 马修·迈克尔·卡纳汉 Matthew Michael Carnahan / 英语 / 韩语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-08-16</span>

                            
                    </li>
                    <li>
                        <span class="comment">海瑟薇</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30331959" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30331959:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3882275039" >
            <div class="pic">
                <a title="VIVANT" href="https://movie.douban.com/subject/36212784/" class="nbg">
                    <img alt="VIVANT" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2895886000.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36212784/" class="">
                            <em>别班 / VIVANT</em>
                             / 活着
                        </a>
                    </li>
                        <li class="intro">2023-07-16(日本) / 堺雅人 / 阿部宽 / 二阶堂富美 / 松坂桃李 / 役所广司 / 林遣都 / 龙星凉 / 高梨临 / 饭沼爱 / 迫田孝也 / 山中崇 / 小日向文世 / 桥本哲 / Barslkhagva Batbold / Tsaschikher Khatanzorig / Nandin-Erdene Khongorzul / 马丁·斯塔尔 / Erkhembayar Ganbold / 渡边邦斗 / 古屋吕敏 / 水谷果穗 / 真凛 / 富栄ドラム / 二宫和也 / 日本 / 福泽克雄 / 别班 / 剧情 / 福泽克雄 Katsuo Fukuzawa / 八津弘幸 Hiroyuki Yatsu / 李正美 Jeong-mi Lee / 宫本勇人 / 山本奈奈 / 日语 / 英语 / 蒙古语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-08-07</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36212784" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36212784:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3877793112" >
            <div class="pic">
                <a title="헌트" href="https://movie.douban.com/subject/35160926/" class="nbg">
                    <img alt="헌트" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2875472104.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35160926/" class="">
                            <em>狩猎 / 헌트</em>
                             / 猎首密令(台) / 猎战(港)
                        </a>
                    </li>
                        <li class="intro">2022-05-20(戛纳电影节) / 2022-08-10(韩国) / 李政宰 / 郑雨盛 / 全慧珍 / 许成泰 / 高允贞 / 黄政民 / 朱智勋 / 金南佶 / 朴成雄 / 赵祐镇 / 郑满植 / 金钟秀 / 车宇振 / 金灿亨 / 赵永美 / 李家晴 / 林炯局 / 李星民 / 刘在明 / 韩国 / 李政宰 / 125分钟 / 狩猎 / 剧情 / 动作 / 李政宰 Jung-jae Lee / 赵承熙 / 韩语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-08-03</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35160926" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35160926:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3877771488" >
            <div class="pic">
                <a title="バイオハザード：デスアイランド" href="https://movie.douban.com/subject/36240739/" class="nbg">
                    <img alt="バイオハザード：デスアイランド" src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2890534855.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/36240739/" class="">
                            <em>生化危机：死亡岛 / バイオハザード：デスアイランド</em>
                             / 生化危机：夺命岛 / 生化危机: 死亡之岛(港)
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2023-06-21(菲律宾) / 2023-07-07(日本) / 艾琳·卡希尔 / 凯文·多曼 / 马修·默瑟 / 斯蒂芬妮·潘尼斯洛 / 妮科尔·汤普金斯 / 克里斯蒂娜·瓦伦苏埃拉 / Salli Saffioti / 弗兰克·托达罗 / 日本 / 羽住英一郎 / 87分钟 / 生化危机：死亡岛 / 动作 / 动画 / 奇幻 / 惊悚 / 冒险 / 恐怖 / 深见真 Makoto Fukami / 日语 / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-08-03</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-36240739" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="36240739:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3859763201" >
            <div class="pic">
                <a title="Borderlands" href="https://movie.douban.com/subject/30149834/" class="nbg">
                    <img alt="Borderlands" src="https://img1.doubanio.com/view/photo/s_ratio_poster/public/p2907738338.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/30149834/" class="">
                            <em>无主之地 / Borderlands</em>
                             / 边缘禁地：沙丘丧战(港) / 边缘禁地(台)
                        </a>
                    </li>
                        <li class="intro">2024-08-07(法国) / 2024-08-09(美国) / 凯特·布兰切特 / 凯文·哈特 / 杰克·布莱克 / 阿丽亚娜·格林布拉特 / 弗罗里安·穆特鲁 / 杰米·李·柯蒂斯 / 埃德加·拉米雷兹 / 吉娜·格申 / 海莉·贝内特 / 詹妮娜·加万卡 / 奥利维尔·里希特斯 / 鲍比·李 / 夏恩·杰克逊 / 本·戴维斯 / 查尔斯·巴巴洛拉 / 史蒂文·博耶 / 瑞安·雷德蒙德 / Paula Andrea Placido / 哈利·福特 / 贾斯汀·皮尔斯 / 杰瑞米·惠勒 / 美国 / 伊莱·罗斯 / 102分钟 / 无主之地 / 喜剧 / 动作 / 科幻 / 惊悚 / 冒险 / 伊莱·罗斯 Eli Roth / 克雷格·麦辛 Craig Mazin / 英语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-07-22</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-30149834" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="30149834:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3851392981" >
            <div class="pic">
                <a title="NANA -ナナ-" href="https://movie.douban.com/subject/1794082/" class="nbg">
                    <img alt="NANA -ナナ-" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2326427793.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/1794082/" class="">
                            <em>娜娜 / NANA -ナナ-</em>
                             / 世上的另一个我 / NANA
                        </a>
                            <span class="playable">[可播放]</span>
                    </li>
                        <li class="intro">2006-04-05(日本) / 朴璐美 / 川菜翠 / 木内秀信 / 川原庆久 / 关智一 / 石田彰 / 平野绫 / 森川智之 / 诹访部顺一 / 本田贵子 / 高桥广树 / 小岛惠 / 金井美香 / 胜杏里 / 周防玲子 / 千叶纱子 / 立木文彦 / 滨田贤二 / 藤井启辅 / 玛莉克·亨德里克瑟 / 川田绅司 / 田中秀幸 / 小野坂昌也 / 荻野晴朗 / 古岛清孝 / 坂口候一 / 丰口惠美 / 宫下荣治 / 高户靖广 / 千叶进步 / 上田耀司 / 阿部敦 / 山口真弓 / 木村亚希子 / 三户耕三 / 黑田崇矢 / 梯笃司 / 堀川仁 / 绪方贤一 / 日本 / www.ntv.co.jp/nana / 浅香守生 / 中村亮介 / 石塚敦子 / 谷田部胜义 / 钉宫洋 / 高桥亨 / 岛崎奈奈子 / 鹤冈耕次郎 / 广川和之 / 若林汉二 / 千叶大辅 / 池田重隆 / 渡边正彦 / 23分钟 / 娜娜 / 剧情 / 爱情 / 动画 / 音乐 / 矢泽爱 Ai Yazawa / 金春智子 Tomoko Konparu / 笔安一幸 Kazuyuki Fudeyasu / 浦畑达彦 Tatsuhiko Urahata / 日语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-07-15</span>

                            
                    </li>
                    <li>
                        <span class="comment">马克一下</span>
                        
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-1794082" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="1794082:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
        

        <div class="item comment-item" data-cid="3850705398" >
            <div class="pic">
                <a title="A ciegas" href="https://movie.douban.com/subject/35650123/" class="nbg">
                    <img alt="A ciegas" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2893798362.webp" class="">
                </a>
            </div>
            <div class="info">
                <ul>
                    <li class="title">
                        <a href="https://movie.douban.com/subject/35650123/" class="">
                            <em>蒙上你的眼：逃出巴塞罗那 / A ciegas</em>
                             / 蒙上眼 / 蒙上你的眼：逃出巴塞隆纳
                        </a>
                    </li>
                        <li class="intro">2023-07-14(西班牙网络) / 马里奥·卡萨斯 / 乔治娜·坎贝尔 / 迭戈·卡尔瓦 / 奈拉·舒伯特 / Alejandra Howard / 帕特里克·克里亚多 / 西莉亚·费杰罗 / 洛拉·杜埃尼亚斯 / 冈扎洛·德·卡斯特 / 米歇尔·珍娜 / 莱昂纳多·斯巴拉格利亚 / Jorge Asin / 阿卜杜勒拉蒂夫·哈威达尔 / Manel Llunell / Aina Quiñones / 西协琴美 / 米洛·塔波阿达 / Carolina Meijer / Catalina Fernández / Jorge Kent / 杰拉德·欧姆斯 / 埃里克·巴尔瓦斯 / 西班牙 / 大卫·帕斯特尔 / 亚历克斯·帕斯特尔 / 111分钟 / 蒙上你的眼：逃出巴塞罗那 / 科幻 / 恐怖 / 亚历克斯·帕斯特尔 Àlex Pastor / 大卫·帕斯特尔 David Pastor / 西班牙语 / 英语 / 德语</li>
                    <div class="movieInfo">
                        
                    </div>
                    <li>
                        <span class="date">2023-07-14</span>

                            
                    </li>
                        <li class="clearfix opt-ln">
                            <div class="opt-l gact">
                                <a class="j a_collect_btn" rel="nofollow" name="pbtn-35650123" href="javascript:;">修改</a>&nbsp;&nbsp;
                            <a class="d_link " rel="35650123:F" href="javascript:;">删除</a>
                            </div>
                        </li>
                </ul>
            </div>
        </div>
</div>

    
    
    

    
        <div class="paginator">
        <span class="prev">
            <link rel="prev" href="/people/mewcatcher/wish?start=60&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all"/>
            <a href="/people/mewcatcher/wish?start=60&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >&lt;前页</a>
        </span>
        
        

                
            <a href="/people/mewcatcher/wish?start=0&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >1</a>
        
                
            <a href="/people/mewcatcher/wish?start=15&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >2</a>
        
                
            <a href="/people/mewcatcher/wish?start=30&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >3</a>
        
                
            <a href="/people/mewcatcher/wish?start=45&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >4</a>
        
                
            <a href="/people/mewcatcher/wish?start=60&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >5</a>
        
                <span class="thispage" data-total-page="42">6</span>
                
            <a href="/people/mewcatcher/wish?start=90&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >7</a>
        
                
            <a href="/people/mewcatcher/wish?start=105&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >8</a>
        
                
            <a href="/people/mewcatcher/wish?start=120&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >9</a>
        
                
            <a href="/people/mewcatcher/wish?start=135&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >10</a>
        
            <span class="break">...</span>
                
            <a href="/people/mewcatcher/wish?start=600&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >41</a>
        
            <a href="/people/mewcatcher/wish?start=615&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >42</a>
        
        <span class="next">
            <link rel="next" href="/people/mewcatcher/wish?start=90&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all"/>
            <a href="/people/mewcatcher/wish?start=90&amp;sort=time&amp;rating=all&amp;mode=grid&amp;type=all&amp;filter=all" >后页&gt;</a>
        </span>

        </div>



            </div>
            <div class="aside">
                

    <!-- 加载 raikiri.js -->

    
    


<div class="side-info">
    <a href="https://www.douban.com/people/mewcatcher/" class="side-info-avatar"><img height="48" width="48" alt="MewX" src="https://img3.doubanio.com/icon/u82160871-12.jpg" /></a>
    <div class="side-info-txt">
        <h3>MewX</h3>
        &gt;&nbsp;<a href="https://www.douban.com/people/mewcatcher/">豆瓣主页</a>
    </div>
</div>

    <div class="mod">
        <p class="pl2 m0">
            &gt; <a href="/people/mewcatcher/">我的电影主页</a>
        </p>
    </div>
            
    <h2>
        想看的标签
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

        
        
<div class="opt-bar mb15 clearfix">
    <div class="sort">
        
        按标签量排序<span class="gray-dot">·</span><a href="/people/mewcatcher/wish?sort=time&amp;start=75&amp;filter=all&amp;mode=grid&amp;tags_sort=name">按首字母排序</a>
    </div>
</div>
<ul class="tag-list mb10">


    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E7%A7%91%E5%B9%BB&amp;mode=grid" title="科幻">科幻</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E5%8A%A8%E7%94%BB&amp;mode=grid" title="动画">动画</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=2018&amp;mode=grid" title="2018">2018</a>
        <span>1</span>
    </li>

    <li class=" clearfix">
        <a href="/people/mewcatcher/wish?sort=time&amp;tags_sort=count&amp;filter=all&amp;tag=%E6%97%A5%E6%9C%AC&amp;mode=grid" title="日本">日本</a>
        <span>1</span>
    </li>
</ul>


<script>
$(function () {
    var TAG_URL_PARAMS = {"sort":"time","tags_sort":"count","filter":"all","tag":"日本","mode":"grid"};
    $('#open_tags').click(function() {
        var $btn = $(this);
        var $container = $("ul.tag-list");
        var $tmpl = $container.find("li").first();

        $.get("/j/people/mewcatcher/get_collection_tags", {
            offset: 90,
            tags_sort: "count",
            cat_id: "1002",
            action: "wish"
        }, function (res) {
            var tagUrl, newEl;

            $(res).each(function (i, tagInfo) {
                TAG_URL_PARAMS["tag"] = tagInfo.tag;
                tagUrl = "/people/mewcatcher/wish?" + $.param(TAG_URL_PARAMS);
                newEl = $tmpl.clone();
                if (tagInfo.tag === "None") {
                    newEl.addClass("on");
                }
                newEl.find('a').attr("href", tagUrl)
                                .attr("title", tagInfo.tag)
                                .html(tagInfo.tag)
                     .end()
                     .find("span").html(tagInfo.count)
                     .end().appendTo($container);
            });
            $btn.remove();
        }, "json");
    });
});
</script>


            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2024 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-7ffdf7d56f-b89qh-->

  <script>_SPLITTEST=''</script>
</body>

</html>


